<div [ngSwitch]="data.type" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">

    <div class="message" *ngSwitchCase="'notes'">
        <p class="title">{{ 'TITLES.PAYMENT_NOTE' | translate}}</p>
        <div>
            <p>{{ 'TEXT.ADD_NOTE_PAYMENT_ID' | translate}} {{data.paymentId}}</p>
            <textarea class="textarea-input" maxlength="250" name="textarea" rows="10" cols="50" [(ngModel)]="data.note" (ngModelChange)="actualiza()"></textarea>
        </div>
        <div class="btnContainer" style="display: block; text-align: end;">
            <label style="float: left;">{{lengthReal}} / {{length}}</label>
            <button class="btn cancel" (click)="onNoClick()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
            <button class="btn accept" [mat-dialog-close]="data.note">{{ 'BUTTON_OPTION_INFO.SAVE' | translate}}</button>
        </div>
    </div>

    <div class="message" *ngSwitchCase="'reason'">
        <p class="title">{{titleTrauctor}} {{'ERROR_MESSAGES.PAYMENT' | translate}} </p>
        <div class="message">
            <p>{{ 'REPORTS_MESSAGES.ADD_STATUS_REASON_TO' | translate}} {{ reasonTypeTraductor }} {{ 'REPORTS_MESSAGES.PAYMENT_ID' | translate}} <strong>{{data.paymentId}}</strong> </p>
            <textarea class="textarea-input"  maxlength="250" name="textarea" rows="5" cols="50" [(ngModel)]="data.paymentStatusReason"></textarea>
        </div>
        <div class="btnContainer">
            <button class="btn cancel" (click)="onNoClick()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
            <button class="btn accept" [mat-dialog-close]="data.paymentStatusReason" [disabled]="data.paymentStatusReason.length === 0 && data.reasonType !== 'Accept'">{{ 'BUTTON_OPTION_INFO.SAVE' | translate}}</button>
        </div>
    </div>

    <div class="message" *ngSwitchCase="'notification_note'">
        <p class="title">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.ISSUE_NOTE' | translate}} </p>
        <div class="message">
            <p>{{ 'PROFILE.EDIT_NOTE_ISSUE' | translate}} <strong>'{{data.notificationIssue.subject}}'</strong></p>
            <textarea class="textarea-input" name="textarea" rows="5" cols="50" [(ngModel)]="data.note"></textarea>
        </div>
        <div class="btnContainer">
            <button class="btn cancel" (click)="onNoClick()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
            <button class="btn accept" (click)="updateNotificationNote()">Update note</button>
        </div>
    </div>
<!-- FUND REASON -->
    <div class="message" *ngSwitchCase="'fund_reason'">
        <p class="title">{{ reasonTypeTraductor }} {{ 'TEXT.FUND' | translate}} </p>
        <div class="message">
            <p *ngIf="data.reasonType !== 'Cancel'">{{ 'REPORTS_MESSAGES.ADD_STATUS_REASON_TO' | translate}}</p>
            <p *ngIf="data.reasonType === 'Cancel'">{{ 'TEXT.REASON_TO_CANCEL_OPTIONAL' | translate}} {{data.paymentId}}</p>
            <textarea class="textarea-input"  maxlength="250" name="textarea" rows="5" cols="50" [(ngModel)]="data.fundReason"></textarea>
        </div>
        <div class="btnContainer">
            <button class="btn cancel" (click)="cancelRequestMoneyMovement()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
            <button class="btn accept" (click)="saveRequestFund()" [disabled]="data.fundReason.length === 0">{{ 'BUTTON_OPTION_INFO.SAVE' | translate}}</button>
        </div>
    </div>

    <div class="message" *ngSwitchCase="'withdrawal_reason'">
        <p class="title">{{ reasonTypeTraductor }} {{ 'TEXT.WITHDRAWAL' | translate}} </p>
        <div class="message">
            <p>{{ 'REPORTS_MESSAGES.ADD_STATUS_REASON_TO' | translate}}</p>
            <textarea class="textarea-input"  maxlength="250" name="textarea" rows="5" cols="50" [(ngModel)]="data.withdrawalReason"></textarea>
        </div>
        <div class="btnContainer">
            <button class="btn cancel" (click)="cancelRequestMoneyMovement()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
            <button class="btn accept" (click)="saveRequestWithdrawal()" [disabled]="data.withdrawalReason.length === 0 && data.reasonType === 'Reject'">{{ 'BUTTON_OPTION_INFO.SAVE' | translate}}</button>
        </div>
    </div>
</div>