.bg-pm {
  .cancel {
    background-color: #777!important;
    color: #ffffff!important;

  }
  .accept {
    background-color: #4782d3!important;
    color: #ffffff!important;
  }
}
.btnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
        .btn{
            padding: 8px;
            margin-top: 8px;
            border-radius: 12px;
            background-color: #ffffff;
            border: 1px solid transparent;
            margin-left: 16px;
        }

        .accept{
            width: 106px;
            height: 44px;
            background: #215361;
            box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.14);
            border-radius: 41px;
            color: #ffffff;
        }

        .cancel{
            width: 124px;
            height: 44px;
            background: #FFFFFF;
            box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.14);
            border-radius: 41px;
        }
}

.title{
    font-size: 22px;
    border-bottom: 1px solid #C4C4C4;
}
.subtitle{
   font-size: 16px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;

  &:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.textarea-input {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width:8px;
  }
}
