.masterContainer {
    display: flex;
  }
  
  .body-container {
    display: flex;
    flex: 1;
    flex-direction: column;
  
    .content-wrapper {
      display: flex;
      flex: 1;
      height: 100vh;
    }
  }
  
@media (max-width: 820px) {
  .masterContainer {
    padding-top: 56px;
  }
}