<app-message-notification #MessagesComp></app-message-notification>
<div class="masterContainer">
  <app-side-bar></app-side-bar>
  <div class="body-container">
    <div class="fullWidth">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
