<app-message-notification #MessagesComp></app-message-notification>
<div class="flex">
  <div class="pageTitleModal" *ngIf="extendedUserRole === roles.MERCHANT">{{'NOTIFICATION_TRADUCTIONS.PAYEES_ASSOCIATED_WITH' | translate}} {{extendedUser?.fullName}}</div>
  <div class="pageTitleModal" *ngIf="extendedUserRole === roles.PAYEE">{{'NOTIFICATION_TRADUCTIONS.MERCHANTS_ASSOCIATED_WITH' | translate}} {{extendedUser?.fullName}}</div>
  <div class="pageTitleModal" *ngIf="extendedUserRole === roles.RESELLER">{{'NOTIFICATION_TRADUCTIONS.RESELLER_ASSOCIATED_WITH' | translate}} {{extendedUser?.fullName}}</div>
  <div class="closeBtn"><i-feather name="x-circle" class="big" (click)="closeModal()" ></i-feather></div>
</div>

<!-- FILTROS -->
<div [ngClass]="{'filterMasterContainer': collapse}">
  <div class="filterHeader" [ngClass]="(changeClass==1)?'bg-pm':''">
    <div style="padding: 0" (click)="handleClickFilterToggle()">
      <i-feather class="filterIcon" name="filter"></i-feather>
    </div>
    <button class="btn2" (click)="cleanFilter()"
            *ngIf="countryFilter.length > 0 || idNumberArr.length > 0 || userName.length > 0 || nameStatus.length > 0 || emailArr.length > 0">
      {{'BUTTON_OPTION_INFO.CLEAN' | translate}}
    </button>
    <button class="btn2 btn3" (click)="applyFilter()" *ngIf="showApplyFilter">{{'BUTTON_OPTION_INFO.APPLY' | translate}}</button>
  </div>

  <div class="filterContainer" *ngIf="collapse">

    <select id="filters" name="filters" (change)="addFilter($event)">
      <option disabled selected>{{'BUTTON_OPTION_INFO.SELECT_FILTER' | translate}}</option>
      <option value="country">{{'TEXT.COUNTRY' | translate}}</option>
      <option value="status">{{'TEXT.STATUS' | translate}}</option>
      <option value="name">{{'TEXT.NAME' | translate}}</option>
      <option value="email">{{'TEXT.EMAIL' | translate}}</option>
      <option value="idNumber">ID</option>
    </select>

    <!-- NG-SWITCH -->


    <div class="filterName" [ngSwitch]="filterName" [ngClass]="(changeClass==1)?'bg-pm':''">

      <div id="country" *ngSwitchCase="'country'">
        <form [formGroup]="countryForm">
          <label for="countryFilter">{{'TEXT.COUNTRY' | translate}}</label>
          <input type="text"
                 maxlength="30"
                 id="countryFilter"
                 formControlName="country"
                 [matAutocomplete]="postalP"
                 [placeholder]="'BUTTON_OPTION_INFO.START_TYPING_COUNTR' | translate">
          <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry" (optionSelected)="onChangeCountry()">
            <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>

      <div id="status" *ngSwitchCase="'status'">
        <label for="statusFilter">{{'TEXT.STATUS' | translate}}</label>
        <select id="statusFilter" name="statusFilter" [(ngModel)]="statusId">
          <option selected disabled value="">{{'STATUS.ALL_STATUSES' | translate}}</option>
          <option *ngFor="let value of keys(statuses)" [value]="value">{{statuses[value]}}</option>
        </select>
      </div>

      <div id="name" *ngSwitchCase="'name'">
        <label for="nameInput">{{'TEXT.FULL_NAME' | translate}}</label>dsf
        <input id="nameInput" type="text" name="nameInput" value="" [(ngModel)]="nameInput" maxlength="30">
      </div>

      <div id="idNumber" *ngSwitchCase="'idNumber'">
        <label for="idNumberInput">Id</label>
        <input id="idNumberInput" type="text" name="idNumberInput" value="" [(ngModel)]="idNumberInput" maxlength="30">
      </div>

      <div id="email" *ngSwitchCase="'email'">
        <label for="emailInput">{{'TEXT.EMAIL' | translate}}</label>
        <input id="emailInput" type="text" name="emailInput" value="" [(ngModel)]="emailInput"  maxlength="30">
      </div>

    </div>
  </div>
  <div class="tagWrapper" *ngIf="collapse" [ngClass]="(changeClass==1)?'bg-pm':''">

    <div class="tagContainer" *ngIf="countryFilter.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('country')">x</p>
        <p>{{'TEXT.COUNTRY' | translate}}</p>
      </div>
      <div class="tag childTag" *ngFor="let count of countryFilter">
        <p class="cancel" (click)="deleteFilter('country',count)">x</p>
        <p>{{count.name}}</p>
      </div>
    </div>

    <div class="tagContainer" *ngIf="userName.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('payee')">x</p>
        <p>{{'REPORTS_MESSAGES.NAME' | translate}}</p>
      </div>
      <div class="tag childTag" *ngFor="let name of userName">
        <p class="cancel" (click)="deleteFilter('userName',name)">x</p>
        <p>{{name}} </p>
      </div>
    </div>

    <div class="tagContainer" *ngIf="nameStatus.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('status')">x</p>
        <p>{{'TEXT.STATUS' | translate}}</p>
      </div>
      <div class="tag childTag" *ngFor="let name of nameStatus">
        <p class="cancel" (click)="deleteFilter('status',name)">x</p>
        <p>{{statuses[name]}}</p>
      </div>
    </div>

    <div class="tagContainer" *ngIf="idNumberArr.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('idNumber')">x</p>
        <p>Id</p>
      </div>
      <div class="tag childTag" *ngFor="let id of idNumberArr">
        <p class="cancel" (click)="deleteFilter('idNumber',id)">x</p>
        <p>{{id}}</p>
      </div>
    </div>

    <div class="tagContainer" *ngIf="emailArr.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('email')">x</p>
        <p>{{'TEXT.EMAIL' | translate}}</p>
      </div>
      <div class="tag childTag" *ngFor="let email of emailArr">
        <p class="cancel" (click)="deleteFilter('email',email)">x</p>
        <p>{{email}}</p>
      </div>
    </div>

  </div>
</div>

<div class="example-container mat-elevation-z8" [ngClass]="(changeClass==1)?'bg-pm':''">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="tableData" matSort matSortDisableClear multiTemplateDataRows
           matSortActive="extendedUser.lastUpdated" matSortDirection="desc" class="mat-elevation-z8"
           style="width: 1100px">

      <!-- FullName Column -->
      <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.fullName}}</th>
        <td mat-cell *matCellDef="let row">
          <i-feather *ngIf="canSeeIconForPayee(row)"
                     [matTooltip]="row?.extendedUser?.user?.payeeAsCompany ? 'Business Accounts' : 'Payee'"
                     [matTooltipPosition]="positionOptions"
                     class="icon-style"
                     [name]="row?.extendedUser?.user?.payeeAsCompany ? 'home' : 'user'">
          </i-feather>&nbsp;
          {{row?.extendedUser?.user?.payeeAsCompany
            ? (row?.extendedUser?.company ? row?.extendedUser?.company : 'Profile not confirmed')
            : row?.extendedUser?.fullName}}
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.id}}</th>
        <td mat-cell *matCellDef="let row">
          {{row?.extendedUser?.user?.payeeAsCompany? row?.extendedUser?.taxId : row?.extendedUser?.idNumber}}
        </td>
      </ng-container>

      <!-- LoginName Column -->
      <ng-container matColumnDef="loginName" *ngIf="columns.indexOf('loginName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.loginName}}</th>
        <td mat-cell *matCellDef="let row">
          <a (click)="openRelatedUserProfile(row?.extendedUser)">
            {{row?.extendedUser?.email}}
          </a>
        </td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country" *ngIf="columns.indexOf('country') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.country}}</th>
        <td mat-cell *matCellDef="let row">
          {{row?.extendedUser?.postalCountry?.name}}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.status}}</th>
        <td class="table-status" mat-cell *matCellDef="let row"
            [style.color]="statusesColor[row?.extendedUser?.status]">
            <p [matTooltip]="extendedUserRole === this.roles.ADMIN ? row?.statusReason : row?.extendedUser?.statusReason" [matTooltipPosition]="positionOptions">{{statuses[extendedUserRole === this.roles.ADMIN ? row?.status : row?.extendedUser?.status]}}</p>
        </td>
      </ng-container>

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="mobileNumber" *ngIf="columns.indexOf('mobileNumber') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.mobileNumber}}</th>
        <td class="table-status" mat-cell *matCellDef="let row">{{row?.extendedUser?.mobileNumber}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action" *ngIf="columns.indexOf('action') !== -1">
        <th class="table-action" mat-header-cell style="width: 140px !important;" *matHeaderCellDef>{{columnNames.action}}</th>
        <td class="table-action" mat-cell *matCellDef="let row">
          <i-feather name="user-x"
                     class="big"
                     [matTooltip]="'REPORTS_MESSAGES.UNLINK_MERCHANT' | translate"
                     [matTooltipPosition]="positionOptions"
                     (click)="openRemoveAssociationConfirmationModal(row)"></i-feather>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row">
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>

