

/* Structure */
P{
  margin: 0px;
}
table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */

tr.example-element-row:hover {
  background: #dcdcdc;
}

.filterContainer {
  padding: 16px 0px;
  display: flex;
  align-items: center;

  select,
  input{
    box-sizing: border-box;
    height: 36px;
    padding-left: 8px;
    width: 210px;
    margin-left: 24px;
    margin-right: 32px;
  }
}

.tableContainer {
  margin-bottom: 100px;
}

.tagWrapper {
  width: 100%;
  display: flex;

  .tag {
    z-index: 1000;
    color: #ffffff;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    margin: 4px 4px 4px;
    border-radius: 5px;

    p {
      font-size: 12px;
      height: 40px;
      display: flex;
      align-items: center;
      line-height: 0px;
      margin: 0 0 4px;
    }

    .cancel{
      margin-right: 3px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }

    :first-of-type {
      margin-left: 0px;
    }

    :last-of-type {
      margin-right: 0px;
    }
  }
  .fatherTag{
    background-color: #45acc9;
    color: #ffffff;
    margin-left: 24px;
  }

  .childTag{
    border: 1px solid #45acc9;
    color: rgb(117, 117, 117);
  }
}

.tagContainer {
  display: flex;
}

.flex {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.btn{
  color: #0C3A47;
  border: 2px solid #0C3A47;
  border-radius: 24px;
  padding: 0px 16px;
  line-height: 0;
  height: 48px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.24);

  &:hover{
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.68);

  }
}

.dateBox{
  display: flex;
  align-items: center;
}

.btn2{
  height: 2em;
  color: #0C3A47;
  border: 1px solid #0C3A47;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0px 8px;
  font-size: 14px;
  font-weight: 300 !important;
  margin: 0px 16px;
  line-height: 0;
  transition: all 200ms ease-in-out;

  &:hover{
    -webkit-box-shadow: 0px 0px 7px -2px rgba(112,112,112,1);
    -moz-box-shadow: 0px 0px 7px -2px rgba(112,112,112,1);
    box-shadow: 0px 0px 7px -2px rgba(112,112,112,1);
  }
}

.btn3{
  background-color: #0C3A47;
  color: #ffffff;
}
.filterHeader{
  display: flex;
  align-items: center;
}

.filterName{
  label{
    margin: 0px;
    margin-right: 8px;
  }
}

.filterMasterContainer{
  -webkit-box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.24);
  box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.24);
  margin-bottom: 16px;
}

.fullwidth{
  padding: 24px 56px;
}

.mat-column-expandedDetail{
  background: #FBF4EE;
}

.example-expanded-row{
  background: #FBF4EE;
}

.detail-card {
  flex: 1 1 auto;
  width: 858px;
  left: 454px;
  top: 381px;
  background: #EFE9E4;
  border-radius: 4px;
  border: solid 1px #B4B4B4;
  margin-bottom: 27px;
}

.detail-container {
  margin: 25px;

  .detail-row {
    margin-bottom: 3px;
  }
  .note-textarea{
    border-radius: 4px;
    resize: none;
    height: 75px;
    width: 100%;

    &:focus{
      outline: none;
    }
  }
}

.historical-table{
  margin-top: 6px;
  padding: 6px 0px;
  border-radius: 4px;
  border: solid 1px #B4B4B4;
}



.cancelCreated{
  font-family: roboto;
  border-radius: 20px;
  border: none;
  background-color: #E57373;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: rgb(201, 80, 80);
  }

  &:focus {
    outline:none;
  }
}

.acceptCreated{
  font-family: roboto;
  border-radius: 20px;
  border: none;
  background-color: #37a96e;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: #30925f;
  }

  &:focus {
    outline:none;
  }
}

.text-paddingLeft{
  padding-left: 70px;
}

.mat-column-action{
  width: 100px;
}

.example-section {
  margin-bottom: 16px;
  margin-left: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  height: 45px;
  font-size: 15px;
}

.example-margin {
  margin: 10px;
}

.sliderBut {
  display: inline-flex;
}

td {
  a {
    cursor: pointer;
    color: #0C3A47;
    text-decoration: underline;

    &:hover {
      color: #0C3A47;
      text-decoration: underline;
    }
  }
}


.pageTitleModal {
  font-size: 22px !important;
  margin-bottom: 8px !important;
}

.closeBtn {
  cursor: pointer;

  .big {
    height: 32px;
    width: 32px;

    &:hover{
      color: rgb(201, 80, 80);
    }
  }

}

.big {
  color: #9E9E9E;
  height: 20px;
  width: 20px;
  cursor: pointer;

  &:hover{
    color: rgb(201, 80, 80);
  }
}


.icon-style{
  height: 15px;
  width: 15px;
  color: #9E9E9E;
}
.bg-pm {
  .btn3 {
    background-color: #4782d3 !important;
    color: #ffffff;
  }
  .btn {
    background-color: #4782d3 !important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }
  .btn2 {
    background-color: #4782d3 !important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }
  .cancelCreated {
    background-color: #777;
    color: #ffffff;

    &:hover{
      background-color:#777;
    }
  }
  .acceptCreated {
    background-color: #4782d3;
    color: #ffffff;
    &:hover{
      background-color: #4782d3;
    }
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) { select { -webkit-appearance: menulist-button !important; line-height:36px !important; } }
