<div class="container">
  <mat-tab-group>
    <mat-tab [label]="'PROFILE.DATA_CUSTOMER' | translate">
      <form [formGroup]="formData">
        <!-- NOMBRE, APELLIDO MATERNO, APELLIDO PATERNO -->
        <div class="row">
          <div class="col-md-3">
            <label for="clabe" class="label-form">*{{ 'REPORTS_MESSAGES.NAME' | translate }}</label>
            <input type="text" id="name" formControlName="nombres" maxlength="35" class="form-control height38 clabe">
          </div>
          <div class="col-md-3">
            <label for="clabe" class="label-form">*{{ 'PROFILE.FIRST_LAST_NAME' |
              translate }}</label>
            <input type="text" id="apellidoPaterno" maxlength="35" class="form-control height38 clabe" formControlName="apellidoPaterno" (keypress)="validacionInput($event, 'numerosYLetras')">
          </div>
          <div class="col-md-3">
            <label for="clabe" class="label-form">*{{ 'PROFILE.SECOND_LAST_NAME' | translate }}</label>
            <input type="text" id="apellidoMaterno" maxlength="35" class="form-control height38 clabe" (keypress)="validacionInput($event, 'numerosYLetras')"
              formControlName="apellidoMaterno">
          </div>
        </div>
        <!-- LUGAR DE NACIMIENTO, FECHA DE NACIMIENTO , GNERO -->
        <div class="row">
          <div class="col-md-4" (click)="setFecha('fechaNacimiento')">
            <label for="fechaNacimiento" class="label-form">*{{ 'PROFILE.DATE_OF_BIRTH' | translate }}</label>
            <div class="row row-date">
              <div class="col-md-3">
                <select id="fechaNacimiento" class="form-control fechaNacimiento" formControlName="dia">
                  <option *ngFor="let item of day" [value]="item">{{item}}</option>
                </select>
              </div>
              <div class="col-md-5">
                <select id="fechaNacimiento" class="form-control" formControlName="mes">
                  <option value="1">{{'TEXT.JANUARY'|translate}}</option>
                  <option value="2">{{'TEXT.FEBRUARY'|translate}}</option>
                  <option value="3">{{'TEXT.MARCH'|translate}}</option>
                  <option value="4">{{'TEXT.APRIL'|translate}}</option>
                  <option value="5">{{'TEXT.MAY'|translate}}</option>
                  <option value="6">{{'TEXT.JUNE'|translate}}</option>
                  <option value="7">{{'TEXT.JULY'|translate}}</option>
                  <option value="8">{{'TEXT.AUGUST'|translate}}</option>
                  <option value="9">{{'TEXT.SEPTEMBER'|translate}}</option>
                  <option value="10">{{'TEXT.OCTOBER'|translate}}</option>
                  <option value="11">{{'TEXT.NOVEMBER'|translate}}</option>
                  <option value="12">{{'TEXT.DECEMBER'|translate}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <select id="fechaNacimiento"  style="min-width: 59px;" class="form-control anioNacimiento" formControlName="año">
                  <option *ngFor="let year of yearArray" [value]="year">{{year}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="lugarNacimiento" class="label-form">*{{ 'PROFILE.PLACE_BIRTH' | translate }}</label>
            <select id="lugarNacimiento" class="form-control height38 clabe" formControlName="lugarNacimiento">
              <option [value]="item.valor" *ngFor="let item of estadosReplucia">{{item.nombre}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="sexo" class="label-form">*{{ 'PROFILE.GENER' | translate }}</label>
            <select id="sexo" class="form-control" formControlName="sexo">
              <option value="M">{{'TEXT.MALE'|translate}}</option>
              <option value="F">{{'TEXT.FEMALE'|translate}}</option>
            </select>
          </div>
        </div>
        <!-- CURP. NUMERO DE CELULAR, CORREO ELECTRONICO -->
        <div class="row">
          <div class="col-md-3">
            <label for="clabe" class="label-form">CURP</label>
            <input [ngClass]="{'errorInput': formData.get('CURP').hasError('minlength') }" type="text" id="CURP"  formControlName="CURP" minlength="18" maxlength="18" class="form-control height38 clabe">
            <span  [ngStyle]="{'color': formData.get('CURP').hasError('minlength') ? 'red' : 'gray' }"
            *ngIf="formData.get('CURP').hasError('minlength')">*{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.CLABE_18_NUMBERS' | translate }}</span>
          </div>
          <div class="col-md-3">
            <label for="noCelular" class="label-form">*{{ 'TEXT.MOBILE_NUMBER' | translate }}</label>
            <input  [ngClass]="{'errorInput': formData.get('noCelular').hasError('minlength') }" type="tel" id="noCelular"  minlength="10" maxlength="10" class="form-control height38 clabe" formControlName="noCelular"
            (keypress)="validacionInput($event, 'numeros')">
            <span  [ngStyle]="{'color': formData.get('noCelular').hasError('minlength') ? 'red' : 'gray' }"
            *ngIf="formData.get('noCelular').hasError('minlength')">*{{ 'BUTTON_OPTION_INFO.PHONE_SIZE' | translate }}</span>
          </div>
          <div class="col-md-3">
            <label for="clabe" class="label-form">*{{ 'PROFILE.EMAIL' | translate }}</label>
            <input type="correoElectronico" id="email" maxlength="50" class="form-control height38 clabe"
              formControlName="correoElectronico">
          </div>
        </div>
        <!-- CALLE, NUMERO DE ETERIOR, CODIGO POSTAL -->
        <div class="row">
          <div class="col-md-3">
            <label for="calle" class="label-form">*{{ 'PROFILE.STREET' | translate }}</label>
            <input type="text" id="calle" formControlName="calle" maxlength="35" class="form-control height38 clabe" (keypress)="validacionInput($event, 'numerosYLetras')">
          </div>
          <div class="col-md-2">
            <label for="noInteriorxterior" class="label-form">*{{ 'PROFILE.NO_EXT' |translate }}</label>
            <input type="text" id="noInteriorxterior" maxlength="6" class="form-control height38" formControlName="noInteriorxterior">
          </div>
          <div class="col-md-2">
            <label for="noExterior" class="label-form">*{{ 'PROFILE.INT_EXT' | translate }}</label>
            <input type="text" id="noExterior" maxlength="6" class="form-control height38 clabe"
              formControlName="noExterior">
          </div>
          <div class="col-md-3">
            <label for="codigoPostal" class="label-form">*{{ 'PROFILE.CP' |translate }}</label>
            <input type="text" id="codigoPostal" maxlength="5" class="form-control height38" formControlName="codigoPostal">
          </div>
        </div>
        <!-- COLONIA, NO. IDENTIFIAICON, -->
        <div class="row">
          <div class="col-md-5">
            <label for="colonia" class="label-form">*{{ 'PROFILE.SUBURB' | translate }}</label>
            <input type="text" id="colonia" formControlName="colonia" maxlength="15" class="form-control height38 clabe">
          </div>
          <div class="col-md-4">
            <label for="noIdentificacion" class="label-form">*{{ 'PROFILE.NO_ID' | translate }}</label>
            <input id="noIdentificacion" type="text" class="form-control height38" formControlName="noIdentificacion">
          </div>
        </div>
        <!--  FEHCA DE EXPEDICION DE LA IDENFICACION, FECHA DE VENCIMIENTO E LA IDENTIFICAICON -->
        <div class="row">
          <div class="col-md-4">
            <label for="fechaExpedicionID" class="label-form">*{{ 'PROFILE.IDENTIFICATION_ISSUE_DATE' | translate }}</label>
            <div class="row row-date">
              <div class="col-md-3">
                <select id="fechaNacimiento" class="form-control fechaNacimiento" formControlName="diaFechaExpedicionID" (click)="setFecha('fechaExpedicionIdentificacion')">
                  <option *ngFor="let item of day" [value]="item">{{item}}</option>
                </select>
              </div>
              <div class="col-md-5">
                <select id="fechaExpedicionID" class="form-control" formControlName="mesFechaExpedicionID" (click)="setFecha('fechaVenciientoIdentificacion')">
                  <option value="1">{{'TEXT.JANUARY'|translate}}</option>
                  <option value="2">{{'TEXT.FEBRUARY'|translate}}</option>
                  <option value="3">{{'TEXT.MARCH'|translate}}</option>
                  <option value="4">{{'TEXT.APRIL'|translate}}</option>
                  <option value="5">{{'TEXT.MAY'|translate}}</option>
                  <option value="6">{{'TEXT.JUNE'|translate}}</option>
                  <option value="7">{{'TEXT.JULY'|translate}}</option>
                  <option value="8">{{'TEXT.AUGUST'|translate}}</option>
                  <option value="9">{{'TEXT.SEPTEMBER'|translate}}</option>
                  <option value="10">{{'TEXT.OCTOBER'|translate}}</option>
                  <option value="11">{{'TEXT.NOVEMBER'|translate}}</option>
                  <option value="12">{{'TEXT.DECEMBER'|translate}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <select id="fechaExpedicionID" style="padding: 0px 0px;" class="form-control anioNacimiento" formControlName="anioFechaExpedicionID" (click)="setFecha('fechaVenciientoIdentificacion')">
                  <option *ngFor="let year of yearArray" [value]="year">{{year}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="fechaVencimientoID" class="label-form">*{{ 'PROFILE.IDENTIFICACITOON_EXPIRATION_DATE' | translate }}</label>
            <div class="col-md-3">
              <select id="fechaVencimientoID" class="form-control fechaNacimiento" formControlName="diaVencimientoID" (click)="setFecha('fechaVenciientoIdentificacion')">
                <option *ngFor="let item of day" [value]="item">{{item}}</option>
              </select>
            </div>
            <div class="col-md-5">
              <select id="fechaVencimientoID" class="form-control" formControlName="mesVencimientoID" (click)="setFecha('fechaExpedicionIdentificacion')">
                <option value="1">{{'TEXT.JANUARY'|translate}}</option>
                <option value="2">{{'TEXT.FEBRUARY'|translate}}</option>
                <option value="3">{{'TEXT.MARCH'|translate}}</option>
                <option value="4">{{'TEXT.APRIL'|translate}}</option>
                <option value="5">{{'TEXT.MAY'|translate}}</option>
                <option value="6">{{'TEXT.JUNE'|translate}}</option>
                <option value="7">{{'TEXT.JULY'|translate}}</option>
                <option value="8">{{'TEXT.AUGUST'|translate}}</option>
                <option value="9">{{'TEXT.SEPTEMBER'|translate}}</option>
                <option value="10">{{'TEXT.OCTOBER'|translate}}</option>
                <option value="11">{{'TEXT.NOVEMBER'|translate}}</option>
                <option value="12">{{'TEXT.DECEMBER'|translate}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <select id="fechaVencimientoID"  class="form-control anioNacimiento" formControlName="anioVencimientoID" (click)="setFecha('fechaExpedicionIdentificacion')">
                <option *ngFor="let year of yearArray" [value]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- RFC, REFERENCIA RENAPO, REFERENCIA LISTAS -->
        <div class="row">
          <div class="col-md-3">
            <label for="RFC" class="label-form">RFC (Opcional)</label>
            <input type="text" id="RFC" maxlength="12" maxlength="13" class="form-control height38" formControlName="RFC">
            <span  [ngStyle]="{'color': formData.get('RFC').hasError('minlength') ? 'red' : 'gray' }"
            *ngIf="formData.get('RFC').hasError('minlength')">{{ 'BUTTON_OPTION_INFO.RFC_SIZE' | translate }}</span>
          </div>
          <div class="col-md-3">
            <label for="refereRENAPO" class="label-form">{{ 'PROFILE.REFERENCE_RENAPO' | translate }} (Opcional)</label>
            <input type="text" id="refereRENAPO" maxlength="17" class="form-control height38"
              formControlName="referenciaRENAPO">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="referenciaLISTAS" class="label-form">{{ 'PROFILE.REFERENCE_LISTS' | translate }} (Opcional)</label>
            <input type="text" id="referenciaLISTAS" maxlength="17" class="form-control height38"
              formControlName="referenciaLISTAS">
          </div>
          <div class="col-md-3">
            <button class="btn" (click)="generateCode()" [disabled]="formData.invalid">{{ 'BUTTON_OPTION_INFO.SEND' | translate}}</button>
          </div>
        </div>
        <!-- [ngClass]="(changeClass==1)?'bg-pm':''" -->
      </form>
    </mat-tab>
    <!-- AQUI VAN LOS DOCUMENTOS -->
    <!-- <mat-tab [label]="'PROFILE.DOCUMENTS' | translate"> -->
      <!-- [formGroup]="formImages" -->
      <!-- <form> -->
        <!-- IDENTIFICACION OFICIAL -->
          <!-- <div class="row" style="width: 50%">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <label for="identifiacionOficial">{{ 'BUTTON_OPTION_INFO.OFFICIAL_IDENTIFICACION' | translate}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                 <input type="file" name="" id="identifiacionOficial" (change)="fileEvent($event,'identificacion')">
                </div>
              </div>
            </div>
          </div> -->
          <!-- COMPROBANTE DE DOMICILOP -->
          <!-- <div class="row" style="width: 50%">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <label for="comprobanteDomicilio">{{ 'BUTTON_OPTION_INFO.PROOF_ADDRESS' | translate}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                 <input type="file" name="" id="comprobanteDomicilio" maxlength="80" (change)="fileEvent($event, 'address')">
                </div>
              </div>
            </div>
          </div> -->
          <!-- lIFE TEST -->
          <!-- <div class="row" style="width: 50%">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <label for="testLife">{{ 'BUTTON_OPTION_INFO.LIFE_TEST' | translate}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                 <input type="file" name="" id="testLife" (change)="fileEvent($event, 'testLife')">
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="row"  style="width: 50%">
            <div class="col-md-3">
              <button class="btn" disabled>{{ 'BUTTON_OPTION_INFO.SEND' | translate}}</button>
            </div>
          </div>
      </form>
    </mat-tab> -->
  </mat-tab-group>
</div>
