input {
  width: 100%;
}

.row-date {
  width: 100%;
}

select {
  padding: 6px 3px;
}

.btn {
   border-radius: 25px;
  font-size: 14px;
  padding: 10px 24px;
  color: #ffffff;
  background-color: #0C3A47;
  border: none;
  transition: all 200ms ease-in-out;
  margin-top: 23px;
  &:hover {
    background-color: rgb(8, 42, 51);

  }

}
.bg-pm {
  .btn {
    background-color: #4782d3 !important;
    color: #ffffff;
  }
}

.errorInput {
  outline-style: auto !important;
  outline: red;
}

input, select {
  padding-left: 10px;
}

.fechaNacimiento {
  min-width: 48px!important;
}

.anioNacimiento {
  min-width: 59px!important;
}

