.opa {
    opacity: 0.8;
    background-color: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
        color: #cf955e;
        margin-left: 35%;
        margin-top: 10px;
    }
}

.logo {
    height: 80px;
    width: 100%;
}

.animation {
    -webkit-animation: logo 4s linear infinite;
    -moz-animation: logo 4s linear infinite;
    -ms-animation: logo 4s linear infinite;
    -o-animation: logo 4s linear infinite;
    animation: logo 4s linear infinite;
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        -webkit-transform: rotateX(0deg) rotateY(180deg);
    }
    50% {
        -webkit-transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: rotateX(180deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
}

@keyframes logo {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: rotateX(180deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

@-moz-keyframes logo {
    0% {
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        -moz-transform: rotateX(0deg) rotateY(180deg);
    }
    50% {
        -moz-transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
        -moz-transform: rotateX(180deg) rotateY(0deg);
    }
    100% {
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
}

@-ms-keyframes logo {
    0% {
        -ms-transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        -ms-transform: rotateX(0deg) rotateY(180deg);
    }
    50% {
        -ms-transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
        -ms-transform: rotateX(180deg) rotateY(0deg);
    }
    100% {
        -ms-transform: rotateX(0deg) rotateY(0deg);
    }
}

@-o-keyframes logo {
    0% {
        -o-transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        -o-transform: rotateX(0deg) rotateY(180deg);
    }
    50% {
        -o-transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
        -o-transform: rotateX(180deg) rotateY(0deg);
    }
    100% {
        -o-transform: rotateX(0deg) rotateY(0deg);
    }
}