<!-- <div class="opa" *ngIf="show"> -->
<div class="opa" *ngIf="isLoading | async">
  <div>
    <img id="logo" class="logo animation" src="assets/img/logo.svg">
    <h5>Processing information...</h5>
  </div>
</div>
