<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="pageTitle">{{ 'SIDEBAR.WITHDRAWAL' | translate}}</div>

  <!-- FILTROS -->
  <div [ngClass]="{'filterMasterContainer': collapse}" *ngIf="selectedIndex.value === 1">
    <div class="filterHeader" [ngClass]="(changeClass==1)?'bg-pm':''">
      <div class="filterTitle" (click)="handleClickFilterToggle()">
        <i-feather class="filterIcon" name="filter"></i-feather>
        {{ 'BUTTON_OPTION_INFO.FILTER' | translate}}
      </div>
      <button class="btn2" (click)="cleanFilter()"
              *ngIf="nameReSeller.length > 0 || nameStatus.length > 0">
              {{ 'BUTTON_OPTION_INFO.CLEAR' | translate}}
      </button>
      <button class="btn2 btn3" (click)="applyFilter()" *ngIf="showApplyFilter">{{ 'BUTTON_OPTION_INFO.APPLY' | translate}}</button>
    </div>

    <div class="filterContainer" *ngIf="collapse">

      <select id="filters" name="filters" (change)="addFilter($event)">
        <option disabled selected>{{ 'BUTTON_OPTION_INFO.SELECT_FILTER' | translate}}</option>
        <option value="status">{{ 'TEXT.STATUS' | translate}}</option>
        <option value="name">{{ 'TEXT.NAME' | translate}}</option>
      </select>

      <!-- NG-SWITCH -->
      <div class="filterName" [ngSwitch]="filterName">

        <div id="status" *ngSwitchCase="'status'">
          <label for="statusFilter">{{ 'TEXT.STATUS' | translate}}</label>
          <select id="statusFilter" name="statusFilter" [(ngModel)]="statusId">
            <option value="" disabled>{{ 'STATUS.ALL_STATUSES' | translate}}</option>
            <option *ngFor="let value of keys(statuses)" [value]="value">{{statuses[value]}}</option>
          </select>
        </div>

        <div id="name" *ngSwitchCase="'name'">
          <label for="nameInput">{{ 'TEXT.RESELLER' | translate}}</label>
          <input id="nameInput" type="text" name="nameInput" value="" [(ngModel)]="nameInput">
        </div>

      </div>
    </div>

    <div class="tagWrapper" *ngIf="collapse">

      <div class="tagContainer" *ngIf="nameReSeller.length > 0">
        <div class="tag fatherTag">
          <p class="cancel" (click)="resetFilter('reseller')">x</p>
          <p>{{ 'TEXT.RESELLER' | translate}}</p>
        </div>
        <div class="tag childTag" *ngFor="let name of nameReSeller">
          <p class="cancel" (click)="deleteFilter('reseller', name)">x</p>
          <p>{{name}} </p>
        </div>
      </div>

      <div class="tagContainer" *ngIf="nameStatus.length > 0">
        <div class="tag fatherTag">
          <p class="cancel" (click)="resetFilter('status')">x</p>
          <p>{{ 'TEXT.STATUS' | translate}}</p>
        </div>
        <div class="tag childTag" *ngFor="let name of nameStatus">
          <p class="cancel" (click)="deleteFilter('status',name)">x</p>
          <p>{{statuses[name]}}</p>
        </div>
      </div>

    </div>
  </div>
  <!-- END FILTROS -->

  <div class="fullWidth tableShadow">
    <mat-tab-group animationDuration="0ms" style="height: 100%"
                   [selectedIndex]="selectedIndex.value"
                   (selectedIndexChange)="changeTab($event)">
      <mat-tab [label]="'BUTTON_OPTION_INFO.FUNDS' | translate">
        <ng-template mat-tab-label>
          {{ 'ERROR_MESSAGES.WITHDRAWAL' | translate}}
        </ng-template>
        <app-table-withdrawal #TableWithdrawal
                              [extendedUser]="extendedUser"
                              [role]="role"
                              [historical]="false"
                              (openActionWithdrawalModal)="openActionWithdrawalModal($event)">
        </app-table-withdrawal>
      </mat-tab>

      <mat-tab label="Fund history" id="fund_history" *ngIf="userSessionService.isSuperAdmin()">
        <ng-template mat-tab-label>
          {{ 'BUTTON_OPTION_INFO.WITHDRAWAL_HISTORY' | translate}}
        </ng-template>

        <app-table-withdrawal #TableWithdrawalHistorical
                              [extendedUser]="extendedUser"
                              [role]="role"
                              [filter]="queryFilter"
                              [historical]="true">
        </app-table-withdrawal>
      </mat-tab>

    </mat-tab-group>
  </div>

</div>


<footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
  <div class="btn-container">
    <button (click)="openWithdrawalModal()"
            *ngIf="userSessionService.isReSeller()">
            <!-- [disabled]="accountBalance.value < 500 || extendedUser.status !== status.ACCEPTED" -->
            {{ 'BUTTON_OPTION_INFO.NEW_WITHDRAWAL' | translate}}
    </button>
  </div>
</footer>
