<div class="smallBox">
    <form class="form" [formGroup]="passwordGroup">

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>{{'ERROR_MESSAGES.ENTER_YOUR_ACTUAL_PASSWORD' | translate}}</mat-label>
        <input matInput
                type="password"
                required
                formControlName="oldPassword"
                placeholder="Old password"
                maxlength="40"
                onCopy="return false"
                onDrag="return false"
                onDrop="return false"
                onPaste="return false"
                autocomplete=off>
        <mat-error *ngIf="oldPassword.hasError('required')">{{'ERROR_MESSAGES.OLD_PASSWORD_REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="oldPassword.hasError('pattern')">{{'ERROR_MESSAGES.ENTER_VALID_PASSWOR_FORMAT' | translate}}</mat-error>
      </mat-form-field>

      <mat-error *ngIf="showErrorMsg">{{errorMessage}}</mat-error>
      <mat-slide-toggle (change)="showDetails = !showDetails">{{'ERROR_MESSAGES.SHOW_PASSWORD_DETAILS' | translate}}</mat-slide-toggle>


      <mat-password-strength-info *ngIf="showDetails" [passwordComponent]="passwordComponent"
      [lowerCaseCriteriaMsg]="'LOGIN.CONTAINS_LEAST_LOWER' | translate"
      [upperCaseCriteriaMsg]="'LOGIN.CONTAINS_LEAST_UPPER' | translate"
      [digitsCriteriaMsg]="'LOGIN.CONTAINS_LEAST_DIGIT' | translate"
      [minCharsCriteriaMsg]="'LOGIN.CONTAINS_LEAST_EIGHT' | translate">>
      </mat-password-strength-info>

      <div class="separator"></div>


      <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponent.color">
        <mat-label>{{'LOGIN.PASSWORD' | translate}}</mat-label>
        <input matInput
                #password
                required
                type="password"
                [placeholder]="'LOGIN.PASSWORD' | translate"
                [formControl]="passwordComponent.passwordFormControl"
                onCopy="return false"
                onDrag="return false"
                onDrop="return false"
                onPaste="return false"
                autocomplete=off
                (change)="changeNewPassword($event)">
        <mat-hint align="end" aria-live="polite" class="goldColor">
          {{password.value.length}} / {{passwordComponent.max}}
        </mat-hint>
        <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('required')">
          {{'ERROR_MESSAGES.PASSWORD_REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('pattern')">
          {{'ERROR_MESSAGES.PASSWORD_NOT_VALID' | translate}}
        </mat-error>
      </mat-form-field>


      <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged()"
                              [password]="password.value" [max]="40" [min]="8" [enableSpecialCharRule]="false">
      </mat-password-strength>

      <div class="separator"></div>

      <mat-form-field appearance="outline" style="width: 100%" [color]="newPassword2.invalid ? 'warn' : 'primary'">
        <mat-label>{{'ERROR_MESSAGES.CONFIRM_PASSWORD' | translate}}</mat-label>
        <input matInput
                type="password"
                required
                formControlName="newPassword2"
                (input)="onPasswordInput()"
                [placeholder]="'ERROR_MESSAGES.CONFIRM_PASSWORD'| translate"
                onCopy="return false"
                onDrag="return false"
                onDrop="return false"
                onPaste="return false"
                autocomplete=off>
        <mat-error *ngIf="newPassword2.hasError('required')">{{'ERROR_MESSAGES.PLEASE_CONFIRM_PASSWORD' | translate}}</mat-error>
        <mat-error *ngIf="newPassword2.invalid && !newPassword2.hasError('required')">{{'ERROR_MESSAGES.PASSWORD_DONT_MATCH' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="samePassword">{{'ERROR_MESSAGES.CURRENT_PSSWORD_CANNT_BE_SAME' | translate}}</mat-error>

      <div class="flexEnd btn-container">
        <button (click)="cancelChangePasswordButtonHandler()">{{'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
        <button *ngIf="!loading" (click)="changePasswordAccount()"
        [disabled]="passwordComponent.passwordFormControl.hasError('required') ||
                    passwordComponent.passwordFormControl.hasError('pattern') ||
                    passwordComponent.passwordFormControl.invalid ||
                    oldPassword.invalid || oldPassword.hasError('required') ||
                    newPassword2.invalid || newPassword2.hasError('required')" >
          Save password
        </button>
        <button *ngIf="loading">
          <i class="material-icons spin">cached</i>
        </button>
      </div>

    </form>
  </div>
