.btn2 {
    height: 2em;
    color: #0C3A47;
    border: 1px solid #0C3A47;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0 28px;
    font-size: 14px;
    font-weight: 300 !important;
    margin-right: 8px;
    transition: all 200ms ease-in-out;
    &:hover {
        -webkit-box-shadow: 0 0 7px -2px rgba(112, 112, 112, 1);
        -moz-box-shadow: 0 0 7px -2px rgba(112, 112, 112, 1);
        box-shadow: 0 0 7px -2px rgba(112, 112, 112, 1);
    }
    &:last-child {
        margin-right: 0;
    }
}

.buttons {
    margin-bottom: 8px;
}

.btn3 {
    background-color: #0C3A47;
    color: #ffffff;
}

.filterContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 8px;
}

.filterName {
    margin-right: 8px;
    label {
        margin: 0 8px 0 0;
    }
}

.tagWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .tag {
        z-index: 1000;
        color: #ffffff;
        height: 25px;
        display: flex;
        align-items: center;
        padding: 4px 6px;
        margin-right: 4px;
        border-radius: 5px;
        &:last-child {
            margin-right: 0;
        }
        p {
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            line-height: 0;
            margin: 0;
        }
        .cancel {
            margin-right: 3px;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            margin-right: 4px;
        }
         :first-of-type {
            margin-left: 0;
        }
         :last-of-type {
            margin-right: 0;
        }
    }
    .fatherTag {
        background-color: #45acc9;
        color: #ffffff;
    }
    .childTag {
        border: 1px solid #45acc9;
        color: rgb(117, 117, 117);
    }
}

.tagContainer {
    display: flex;
    margin-right: 5px;
}

.main-select {
    margin-right: 15px;
    margin-bottom: 8px;
}

.filter-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    select+input {
        margin-left: 16px;
    }
    .second-date {
        flex: 3;
        margin-left: 16px;
        input {
            margin-left: 16px;
        }
    }
}

.bg-pm {
    .btn3 {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .btn {
        background-color: #4782d3 !important;
        color: #ffffff;
        border: 1px solid #4782d3;
    }
    .btn2 {
        background-color: #4782d3 !important;
        color: #ffffff;
        border: 1px solid #4782d3;
    }
}

@media (max-width: 820px) {
    .field-height-36 {
        max-width: 100%;
        margin-right: 0;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .btn2 {
        flex: 1;
        margin-right: 0;
    }
    .main-select {
        margin-right: 0;
        margin-top: 30px;
    }
    .filterName {
        width: 100%;
        margin-right: 0;
        label {
            margin: 0px;
            margin-bottom: 8px;
        }
    }
    .filterTitle {
        margin-left: 0;
        margin-right: 20px;
    }
    .filter-wrapper {
        flex-direction: column;
        align-items: flex-start;
        select+input {
            margin-left: 0;
            margin-top: 8px;
        }
    }
    .filterContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    .tagContainer {
        margin-bottom: 8px;
    }
    button+button {
        margin-left: 5px;
    }
}