<div class="filterContainer">

  <select class="field-height-36 main-select"  id="filters" name="filters" (change)="addFilter($event)">
    <option disabled selected>{{'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate}}</option>
    <option value="country" *ngIf="roleFilterSelected !== roles.ADMIN">{{'TEXT.COUNTRY'|translate}}</option>
    <option value="name">{{'TEXT.NAME'|translate}}</option>
    <option value="email">{{'TEXT.EMAIL'|translate}}</option>
  </select>

  <!-- NG-SWITCH -->
  <div class="filterName" [ngSwitch]="filterName" [ngClass]="(changeClass==1)?'bg-pm':''">

    <div id="country" *ngSwitchCase="'country'">
      <form class="filter-wrapper" [formGroup]="countryForm">
        <label for="countryFilter">{{ 'BUTTON_OPTION_INFO.FILTER' | translate}}</label>
        <input type="text"
               id="countryFilter"
               formControlName="country"
               [matAutocomplete]="postalP"
               [placeholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate"
               class="form-control field-height-36">
        <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry"
                          (optionSelected)="onChangeCountry()">
          <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
            {{country.name}}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>


    <div class="filter-wrapper" id="name" *ngSwitchCase="'name'">
      <label for="nameInput">{{ 'TEXT.FULL_NAME' | translate}}</label>
      <input class="form-control field-height-36" id="nameInput" type="text" name="nameInput" value="" [(ngModel)]="nameInput" maxlength="30">
    </div>


    <div class="filter-wrapper"  id="email" *ngSwitchCase="'email'">
      <label for="emailInput">{{ 'REPORTS_MESSAGES.EMAIL' | translate}}</label>
      <input class="form-control field-height-36" id="emailInput" type="text" name="emailInput" value="" [(ngModel)]="emailInput">
    </div>

  </div>

  <div class="buttons" [ngClass]="(changeClass==1)?'bg-pm':''">
    <button class="btn2 btn3" (click)="applyFilter()" *ngIf="showApplyFilter">{{ 'BUTTON_OPTION_INFO.APPLY' | translate}}</button>

    <button class="btn2" (click)="cleanFilter()"
            *ngIf="countryFilter.length > 0 || userName.length > 0 || emailArr.length > 0">
            {{ 'BUTTON_OPTION_INFO.CLEAN' | translate}}
    </button>  
  </div>


</div>
<div class="tagWrapper" [ngClass]="(changeClass==1)?'bg-pm':''">

  <div class="tagContainer" *ngIf="countryFilter.length > 0">
    <div class="tag fatherTag">
      <p class="cancel" (click)="resetFilter('country')">x</p>
      <p>{{ 'TEXT.COUNTRY' | translate}}</p>
    </div>
    <div class="tag childTag" *ngFor="let count of countryFilter">
      <p class="cancel" (click)="deleteFilter('country',count)">x</p>
      <p>{{count.name}}</p>
    </div>
  </div>

  <div class="tagContainer" *ngIf="userName.length > 0">
    <div class="tag fatherTag">
      <p class="cancel" (click)="resetFilter('payee')">x</p>
      <p>{{ 'TEXT.NAME' | translate}}</p>
    </div>
    <div class="tag childTag" *ngFor="let name of userName">
      <p class="cancel" (click)="deleteFilter('userName',name)">x</p>
      <p>{{name}} </p>
    </div>
  </div>

  <div class="tagContainer" *ngIf="emailArr.length > 0">
    <div class="tag fatherTag">
      <p class="cancel" (click)="resetFilter('email')">x</p>
      <p>{{ 'TEXT.EMAIL' | translate}}</p>
    </div>
    <div class="tag childTag" *ngFor="let email of emailArr">
      <p class="cancel" (click)="deleteFilter('email',email)">x</p>
      <p>{{email}}</p>
    </div>
  </div>
</div>
