<div class="wrapper-card">
  <div class="header-card no-select">
    <p>{{title}}</p>
    <i-feather class="clickable"
               name="download"
               *ngIf="!isDashboard && !noData && !errorData"
               (click)="requestReportTransaction()">
    </i-feather>
  </div>

  <div class="body">
    <div *ngIf="noData && !showSpinner" [ngClass]="{'text-content_': menuCollapse.value}" class="text-content">
      <p class="hiddenText no-select">No data available for the selected period</p>
    </div>

    <div *ngIf="!noData && !showSpinner && errorData" [ngClass]="{'text-content_': menuCollapse.value}" class="text-content">
      <p class="hiddenErrorText no-select">Error getting data</p>
    </div>

    <div *ngIf="showSpinner" [ngClass]="{'text-content_': menuCollapse.value}" class="text-content">
      <div class="hiddenText">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div *ngIf="!noData && !showSpinner && !errorData" style="display: block; width: 100%;">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="footer-card" *ngIf="showIntervals">
    <p class="footer-card-text">
      <i-feather class="clickable chevron-hover" name='chevron-left' (click)="setPeriodBefore()"></i-feather>
      <span class="no-select">{{this.period}}</span>
      <i-feather class="clickable chevron-hover" name='chevron-right' (click)="setPeriodAfter()"></i-feather>
    </p>
    <mat-radio-group aria-label="Select an option"
                     [(ngModel)]="periodFilterSelected"
                     (ngModelChange)="initPeriodFilter()">
      <mat-radio-button style="margin-right:10px;"
                        *ngFor="let option of options"
                        [value]="option.value"
                        [checked]="option.checked">
        <span class="no-select">{{option.name}}</span>
      </mat-radio-button>

    </mat-radio-group>
  </div>

</div>
