.wrapper-card{
    margin-bottom: 32px;
    background-color: #fff;

    .header-card{
        min-height: 45px;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 1px #F1F4F6;
        border-bottom: none;
        padding: 0 16px;
        p{
            color: #9A9EA2;
            font-size: 15px;
            margin: 0;
            font-family: 'roboto', sans-serif;
        }
    }

    .body{
        border: solid 2px #F1F4F6;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .footer-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 8px 10px 16px;
        p{
            color: #9A9EA2;
            font-size: 15px;
            margin: 0;
            font-family: 'roboto', sans-serif;
            margin-bottom: 5px;
        }
    }

    .footer-card_{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 14px 8px 10px 16px;
        p{
            color: #9A9EA2;
            font-size: 15px;
            margin: 0;
            font-family: 'roboto', sans-serif;
            margin-bottom: 5px;
        }
    }
    -webkit-box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
    -moz-box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
    box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
}

.footer-card-text {
    display: flex;
    align-items: center;
}

.hiddenText{
    color: #9A9EA2;
    font-weight: bold;
}

.hiddenErrorText{
  color: #980000;
  font-weight: bold;
}

.form-control {
    margin: 0 !important;
}

.form-group{
    margin: 0 !important;
}

.mat-radio-button .mat-radio-button {
  margin-left: 16px;
}

.mat-radio-label-content{
    margin-right: 8px !important;
}

.text-content{
    height: 225px;
    width: 100%;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.text-content_{
    height: 258px;
    width: 100%;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}
