+
.example-card {
  margin-bottom: 15px;
}

.flex {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.pageTitleModal {
  font-size: 24px !important;
  margin-bottom: 8px !important;
}

.pageTitleModal2 {
  font-size: 20px !important;
  margin-bottom: 8px !important;
  margin-top: 10px !important;
}

.closeBtn {
  cursor: pointer;

  .big {
    height: 32px;
    width: 32px;

    &:hover{
      color: rgb(201, 80, 80);
    }
  }

}


.btnContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .btn{
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid transparent;
    margin-left: 16px;
  }

  .accept{
    height: 44px;
    background: #215361;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
    color: #ffffff;
  }

  .cancel{
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
  }
}
.bg-pm{
  .accept{
    background: #4782d3!important;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  width: 205px;
  text-align: left;
  padding: 7px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-number {
  align-items: center;
  margin-top: 15px;
  text-align:center;

  .card-number-input {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.cardNumberError {
  border-color: rgb(236, 67, 67) !important;
}

@media (max-width: 820px) {
  .example-card {
    padding: 8px;
    margin-bottom: 15px;
  }

  .btnContainer {
    flex-direction: column;

    .btn {
      margin: 0 0 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
