<div class="flex">
  <div class="pageTitleModal">{{extendedUser?.fullName}}</div>
  <div class="closeBtn">
    <i-feather name="x-circle" class="big" (click)="closeModal()"></i-feather>
  </div>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <div class="pageTitleModal">
        {{ data.adminView ? ('RDS.CHANGE_PAYMENT_METHOD' | translate)
          : ('ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.CHANGE_PAYMENT_METHOD' | translate)}}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p style="font-size: 18px;" *ngIf="!data.adminView">
        {{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.THE_PAYYE_NOT_HAVE_ASSOIATS' | translate}}
      </p>
      <p style="font-size: 18px;"><strong> {{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DO_YOU_WISH_CONTINUE' | translate}}</strong></p>
    </div>
  </mat-card-content>
</mat-card>

<div class="btnContainer" [ngClass]="(changeClass==1)?'bg-pm':''">
  <button class="btn cancel" (click)="closeModal()"> {{'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
  <button class="btn accept" (click)="handlerContinueButton()">{{'BUTTON_OPTION_INFO.SAVE' | translate}}</button>
</div>
