<app-loader></app-loader>
<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
    <div class="flex center-y" style="margin-bottom: 10px">
        <div class="pageTitle_">

            {{ 'SIDEBAR.NOTIFICATIONS' | translate }}</div>
        <section class="example-section">

            {{ 'EMAIL.MESSAGE' | translate }} ({{userSessionService.isSuperOrAdmin() ? ('TEXT.TO_USERS' | translate) : userSessionService.isMerchant() ? ('TEXT.TO_PAYEES' | translate) : ('TEXT.TO_MERCHANTS' | translate)}})

            <mat-slide-toggle [(ngModel)]="isIssue" (change)="selectNotificationTypeFilter($event)" class="example-margin">
                {{ 'BUTTON_OPTION_INFO.ISSUE' | translate }} ({{userSessionService.isSuperOrAdmin() ? '' : ('TEXT.TO_ADMINS' | translate)}})

            </mat-slide-toggle>
        </section>
    </div>

    <app-filter-component #Filter [tableFilterType]="'NOTIFICATION'" [isReceiver]="isReceiver" [isIssue]="isIssue" (setCollapse)="setCollapse($event)" (applyFilterToTable)="addFilterToTable($event)">
    </app-filter-component>

    <div [ngClass]="{'bodyContentCollapse': collapse, 'bodyContent': !collapse }">
        <div class="fullWidth tableMessages" [ngClass]="(changeClass==1)?'bg-pm':''">
            <mat-tab-group #TabGroup animationDuration="0ms" style="height: 100%" [selectedIndex]="selectedIndex.value" (selectedIndexChange)="changeTab($event)">
                <mat-tab label="received" *ngIf="showTabs('received')">
                    <ng-template mat-tab-label>
                        {{isIssue ? ('BUTTON_OPTION_INFO.ISSUE'|translate) : ('BUTTON_OPTION_INFO.MESAGE'|translate)}} {{ 'TEXT.RECEIVED' | translate }}
                    </ng-template>

                    <!-- [subType]="isIssue ?  ('BUTTON_OPTION_INFO.ISSUE'|translate) : ('BUTTON_OPTION_INFO.MESAGE'|translate)" -->

                    <app-table #TableNotificationA [extendedUser]="extendedUser" [type]="'NOTIFICATION'" [subType]="isIssue ?  'ISSUE' : 'MESSAGE'" [isReceiver]="true" [collapse]="collapse" [filterQuery]="filterQuery" (loadNotification)="loadNotification($event, false)"
                        (showStatusChangeModal)="openIssueStatusChangeModal($event)" (deleteMessageNotification)="deleteMessageNotification($event)">
                    </app-table>
                </mat-tab>

                <mat-tab label="sent" id="sent" *ngIf="showTabs('sent')">
                    <ng-template mat-tab-label>
                        {{isIssue ? ('BUTTON_OPTION_INFO.ISSUE'|translate) : ('BUTTON_OPTION_INFO.MESAGE'|translate)}}
                    </ng-template>
                    <app-table #TableNotificationB [extendedUser]="extendedUser" [type]="'NOTIFICATION'" [subType]="isIssue ?  'ISSUE' : 'MESSAGE'" [isReceiver]="false" [collapse]="collapse" [filterQuery]="filterQuery" (loadNotification)="loadNotification($event, true)"
                        (deleteMessageNotification)="deleteMessageNotification($event)">
                    </app-table>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="editWrapper fixFooter" [ngClass]="(changeClass==1)?'bg-pm':''">

            <div class="fixFirstPart">

                <div class="closeBtnContainer">
                    <p class="subtitle dark-back">
                        {{createNotification ? (isIssue ? ('BUTTON_OPTION_INFO.NEW_ISSUE'|translate) : ('BUTTON_OPTION_INFO.NEW_MESSAGE'|translate)) : (isIssue ? ('BUTTON_OPTION_INFO.ISSUE'|translate) : ('BUTTON_OPTION_INFO.MESAGE'|translate))}}
                    </p>
                </div>

                <form [formGroup]="notificationForm" class="example-form">

                    <div class="flex alignY margin-top-16 space-btw">

                        <div class="toLegend" *ngIf="!createNotification && showToLegend && notificationSelected">
                            <p><strong>{{ 'TEXT.TO' | translate }} :</strong></p>
                        </div>

                        <div class="toLegend" *ngIf="!createNotification && !showToLegend && notificationSelected">
                            <p><strong>{{ 'DATA_TABLE.FROM' | translate }} :</strong></p>
                        </div>

                        <div class="btn-container" *ngIf="!isIssue && createNotification">
                            <button class="btn2" (click)="openRecipientNotificationModal()">
                <i-feather class="icon" name="user-plus"></i-feather>
                {{ 'BUTTON_OPTION_INFO.ADD_RECEIVERS' | translate }}
              </button>
                        </div>

                        <div class="headerBtnsContainer">
                            <i-feather name="trash-2" class="big closeBtn" *ngIf="recipientList.length > 0 && !isIssue && createNotification" (click)="cleanNotificationData()"></i-feather>
                            <i-feather name="minus-circle" class="big closeBtn" *ngIf="seeAllList && recipientList.length > 5" (click)="seeAllListHandle(false)"></i-feather>
                        </div>
                    </div>

                    <div class="tagsContainer">
                        <div class="spinnerLegend">
                            <mat-spinner class="spinnerCenter" diameter="20" *ngIf="showSpinner">
                            </mat-spinner>
                        </div>
                        <div class="box_">

                            <div class="recipientLegend" *ngIf="isIssue && showToLegend && notificationSelected && !userSessionService.isSuperOrAdmin()">
                                <p>
                                    <span>{{ 'TEXT.ALL_ADMINS' | translate }}</span>
                                </p>
                            </div>

                            <div class="recipientLegend" *ngIf="(seeAllRelatedOfUser || seeAllUser) && !isIssue">
                                <p>
                                    <span *ngIf="seeAllRelatedOfUser">{{ 'BUTTON_OPTION_INFO.ALL' | translate }} {{relatedUserExtended}} {{ 'TEXT.SELECTED_OF' | translate }} {{recipientExtendedUser.fullName}}</span>
                                    <span *ngIf="seeAllUser">{{ 'BUTTON_OPTION_INFO.ALL' | translate }} {{roleAllUserSelected}} {{ 'TEXT.SELECTED_OF' | translate }}</span>
                                    <span style="cursor: pointer; margin-left: 5px" *ngIf="createNotification" (click)="cleanNotificationData()">
                    <strong>{{ 'BUTTON_OPTION_INFO.CLEAR' | translate }}</strong>
                  </span>
                                </p>
                            </div>

                            <div class="container-list" *ngIf="seeAllList">
                                <div class="tag" *ngFor="let recipient of recipientList">
                                    {{recipient.fullName}}
                                    <div class="closeBtn separated" *ngIf="createNotification" (click)="removeElementFromList(recipient)">
                                        <p class="closeTag">x</p>
                                    </div>
                                </div>
                            </div>

                            <div class="container-list" *ngIf="!seeAllList">
                                <div class="tag" *ngFor="let recipient of shortRecipientList">
                                    {{recipient.fullName}}
                                    <div class="closeBtn separated" *ngIf="createNotification" (click)="removeElementFromList(recipient)">
                                        <p class="closeTag">x</p>
                                    </div>
                                </div>
                                <div class="tag white-letter-blue-back cursorPointer" (click)="seeAllListHandle(true)">
                                    <p>{{moreQuantityRecipients}} {{ 'TEXT.MORE' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="example-full-width margin-top-16">
                        <input formControlName="subject" class="form-control-Notification" [ngClass]="{'errorInput': subjectNotification.invalid && notificationFormInvalid}" [ngStyle]="{'background-color': createNotification ? 'white' : '#eee' }" (click)="seeAllListHandle(false)"
                            [readonly]="!createNotification" placeholder="{{ 'DATA_TABLE.SUBJECT' | translate }}" maxlength="255">
                        <mat-error *ngIf="subjectNotification.invalid && notificationFormInvalid">{{ 'TEXT.SUBJECT_IS_REQUIRED' | translate }}</mat-error>
                    </div>

                    <div class="example-full-width margin-top-16">
                        <div id="notificationHTML" class="notification-html-area" *ngIf="isNotificationHTML">
                        </div>
                        <textarea matInput *ngIf="!isNotificationHTML" formControlName="description" (click)="seeAllListHandle(false)" [readonly]="!createNotification" class="textarea-input" [ngStyle]="{'background-color': createNotification ? 'white' : '#eee' }" [ngClass]="{'errorInput': descriptionNotification.invalid && notificationFormInvalid,
                                  'textarea-input-collapse': !isIssue && collapse && !createNotification,
                                  'textarea-input-newMessage': !isIssue && collapse && createNotification && !seeAllList,
                                  'textarea-input-seeList': !isIssue && seeAllList && !collapse && recipientList.length > 10,
                                  'textarea-input-seeList-collapse': !isIssue && seeAllList && collapse && recipientList.length > 10,
                                  'textarea-input-issue-collapse': isIssue && collapse,
                                  'textarea-input-issue': isIssue && !collapse}" [placeholder]="'EMAIL.MESSAGE' | translate">
            </textarea>
                        <mat-error *ngIf="descriptionNotification.invalid && notificationFormInvalid">{{ 'TEXT.DESCRIPTION_IS_REQUIRED' | translate }}</mat-error>
                    </div>

                    <div class="textarea-notes-div example-full-width margin-top-16" *ngIf="isIssue" [matTooltip]="'BUTTON_OPTION_INFO.EDIT_NOTE' | translate" [matTooltipPosition]="positionOptions">
                        <textarea formControlName="note" class="textarea-notes" (click)="updateNote()" [ngClass]="{'cursorPointer': userSessionService.isSuperOrAdmin() && notificationSelected && this.canEditNotes(notificationSelected)}" [placeholder]="'REPORTS_MESSAGES.NOTES'|translate"
                            readonly>
            </textarea>
                    </div>
                </form>
            </div>

            <div class="action-title">
                <p *ngIf="isIssue && notificationSelected">{{ 'TEXT.ISSUES_ACTIONS' | translate }}</p>
            </div>

            <div class="editFooter">
                <div class="actionsContainer" *ngIf="isIssue && notificationSelected">

                    <div class="roundedAction" (click)="notificationActionHandler('solve')" *ngIf="canSeeNotificationAction('solve')" matTooltip="Solve Issue" [matTooltipPosition]="positionOptions">
                        <i-feather name="check-square" class="icon2"></i-feather>
                    </div>

                    <div class="roundedAction" (click)="notificationActionHandler('accept')" *ngIf="canSeeNotificationAction('accept')" matTooltip="Accept Issue" [matTooltipPosition]="positionOptions">
                        <i-feather name="plus-square" class="icon2"></i-feather>
                    </div>

                    <div class="roundedAction" (click)="notificationActionHandler('release')" *ngIf="canSeeNotificationAction('release')" matTooltip="Release Issue" [matTooltipPosition]="positionOptions">
                        <i-feather name="external-link" class="icon2"></i-feather>
                    </div>

                    <div class="roundedAction" (click)="notificationActionHandler('reject')" *ngIf="canSeeNotificationAction('reject')" matTooltip="Reject Issue" [matTooltipPosition]="positionOptions">
                        <i-feather name="x-square" class="icon2"></i-feather>
                    </div>

                    <div class="roundedAction" (click)="notificationActionHandler('cancel')" *ngIf="canSeeNotificationAction('cancel')" matTooltip="Cancel Issue" [matTooltipPosition]="positionOptions">
                        <i-feather name="x-square" class="icon2"></i-feather>
                    </div>

                </div>

                <div class="buttons">
                    <button class="sendBtn btn2" (click)="sendNotificationButtonHandler(isIssue ? 'ISSUE' :  'MESSAGE')" *ngIf="canSendNotification()">
            <span class="spanMargin">{{ 'BUTTON_OPTION_INFO.SEND' | translate }}</span>
          </button>
                    <button class="sendBtn" (click)="cancelSendNotificationButtonHandler()" *ngIf="createNotification">
            <span class="spanMargin">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate }}</span>
          </button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
        <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
            <button class="btn2 btn3" *ngIf="!isIssue && !createNotification" (click)="newNotificationButtonHandler()">
        <i-feather class="icon" name="mail"></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.NEW_MESSAGE' | translate }}</p>
      </button>
            <button class="btn2 btn3" *ngIf="isIssue && !userSessionService.isSuperOrAdmin() && !createNotification" (click)="newNotificationButtonHandler()">
        <i-feather class="icon" name="help-circle"></i-feather>
        <p>{{ 'TEXT.I_HAVE_AN_ISSUE' | translate }}</p>
      </button>
        </div>
    </div>
</div>