p {
    margin: 0;
}

.bodyContentCollapse {
    margin: 15px 0;
    height: calc(100vh - 356px);
    height: calc(100% - 256px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.bodyContent {
    margin: 15px 0;
    height: calc(100vh - 240px);
    height: calc(100% - 140px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.tableWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.filterContainer {
    margin-right: 16px;
}

.tableMessages {
    min-width: 390px;
    flex: 5;
    margin-right: 16px;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.editWrapper {
    min-width: 220px;
    display: flex;
    flex-direction: column;
    flex: 2;
    max-width: 100%;
    background-color: #fff;
    margin-right: 16px;
    margin-bottom: 20px;
    -webkit-box-shadow: 6px 6px 24px 0 rgba(166, 166, 166, 1);
    -moz-box-shadow: 6px 6px 24px 0 rgba(166, 166, 166, 1);
    box-shadow: 6px 6px 24px 0 rgba(166, 166, 166, 1);
}

.closeBtnContainer {
    width: 100%;
    height: 45px;
    background-color: #0c3a47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.headerBtnsContainer {
    display: flex;
    justify-content: flex-end;
    padding: 2px 3px 0 0;
}

.closeBtn {
    color: gray;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    &:hover {
        color: red !important;
    }
}

.subtitle {
    font-size: 20px;
    color: lightslategrey;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 0 8px;
}

.example-full-width {
    width: 100%;
}

.textarea-notes {
    width: 100%;
    height: 130px;
    border-radius: 5px;
    background-color: #0C3A47;
    color: #fff;
    border: none;
    resize: none;
    padding: 10px;
    cursor: unset;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
}

.textarea-notes-div {
    textarea::-webkit-input-placeholder {
        color: #fff;
    }
    textarea::-moz-placeholder {
        color: #fff;
    }
    textarea::-ms-input-placeholder {
        color: #fff;
    }
}

.textarea-input-newMessage-collapse {
    height: calc(100vh - 640px) !important;
}

.textarea-input-seeList {
    height: calc(100vh - 670px) !important;
}

.textarea-input-seeList-collapse {
    height: calc(100vh - 780px) !important;
}

.textarea-input-issue-collapse {
    height: calc(100vh - 790px) !important;
}

.textarea-input-issue {
    height: calc(100vh - 700px) !important;
}

.textarea-input-newMessage {
    height: calc(100vh - 690px) !important;
}

.textarea-input-collapse {
    height: calc(100vh - 610px) !important;
}

.textarea-input {
    border-radius: 5px;
    height: calc(100vh - 480px) !important;
    width: inherit;
    resize: none;
    padding: 10px;
    border: 1px solid #ced4da;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
}

.notification-html-area {
    border-radius: 5px;
    height: calc(100vh - 620px);
    width: inherit;
    resize: none;
    padding: 10px;
    border: 1px solid #ced4da;
    background-color: #eee;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
}

.editFooter {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 0 8px 16px;
}

.fixFooter {
    justify-content: space-between;
}

.actionsContainer {
    display: flex;
    align-items: center;
}

.alignY {
    align-items: center;
}

.roundedAction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background-color: transparent;
    margin: 0 0 12px 15px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    .icon2 {
        color: #0c3a47;
        transition: all 0.25s ease-in-out;
    }
    &:hover {
        background-color: #0c3a47;
        .icon2 {
            color: #fff;
        }
    }
}

.sendBtn {
    height: 30px;
    margin: 0 10px;
    padding: 0 24px;
    background-color: #0C3A47;
    border: none;
    color: #fff;
    border-radius: 30px;
    transition: all 200ms ease-in-out;
    .spanMargin {
        margin: 0;
    }
    &:hover {
        background-color: rgb(8, 42, 51);
    }
    &:last-child {
        margin: 0;
    }
}

.icoBtn {
    color: #0C3A47;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    &:hover {
        color: #CD935F;
    }
}

.tagsContainer {
    width: 100%;
    background-color: #fff;
    margin-top: 14px;
}

table {
    width: 100%;
}

.tag {
    height: 20px;
    padding: 0 8px;
    border-radius: 22px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    margin: 0 5px 5px 0;
    font-size: 14px;
    white-space: nowrap;
}

.container-list {
    display: contents;
}

.box_ {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    max-height: 170px;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
}

.separated {
    margin-left: 3px;
    margin-bottom: 2px !important;
}

.closeTag {
    cursor: pointer;
    margin: 0 0 0 5px;
    &:hover {
        color: rgb(201, 80, 80);
    }
}

button {
    margin-left: 0 !important;
}

.dark-back {
    color: #fff !important;
}

.merchantLegend {
    width: 100%;
    background-color: #0C3A47;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    p {
        padding: 10px 0;
        color: #fff;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.spinnerLegend {
    width: 100%;
    align-items: center;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    .spinnerCenter {
        padding: 10px 0;
        color: #fff;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.toLegend {
    background-color: #0C3A47;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    p {
        padding: 10px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.white-letter-blue-back {
    background-color: #0C3A47;
    p {
        color: #fff;
    }
}

.errorInput {
    outline-style: auto !important;
    outline: red;
}

.form-control-Notification {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cursorPointer {
    cursor: pointer !important;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display-none {
    display: none;
}

.recipientLegend {
    width: 100%;
    background-color: #0C3A47;
    min-height: 50px;
    align-items: center;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    p {
        padding: 10px 5px;
        color: #fff;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.action-title {
    width: 100%;
    height: 30px;
    line-height: 40px;
    text-align: left;
    margin-left: 10px;
    p {
        color: #0C3A47;
        font-size: 18px;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (max-width: 820px) {
    .center-y {
        flex-direction: column;
        align-items: flex-start;
    }
    .example-form {
        max-width: 100%;
    }
    .example-section {
        margin-left: 0;
    }
    .bodyContentCollapse {
        flex-direction: column;
        height: auto;
        margin: 15px 0;
        padding-bottom: 0;
    }
    .bodyContent {
        flex-direction: column;
        height: auto;
        margin: 15px 0;
        padding-bottom: 0;
    }
    .filterContainer {
        margin-right: 0;
    }
    .tableMessages {
        min-width: auto;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .editWrapper {
        min-width: auto;
        width: 100%;
    }
    .buttons {
        flex-direction: column;
        width: 100%;
        padding: 0 8px;
    }
    .sendBtn {
        width: 100%;
        margin: 0;
        margin-bottom: 8px;
    }
}

.bg-pm {
    .closeBtnContainer {
        background-color: #4782d3 !important;
    }
    .closeBtn {
        &:hover {
            color: rgb(77, 76, 76) !important;
        }
    }
    .btn2 {
        background-color: #4782d3 !important;
        color: #ffffff;
        border: 1px solid #4782d3;
    }
    .btn3 {
        background-color: #4782d3;
        color: #fff;
    }
    .textarea-notes {
        background-color: rgb(158, 158, 158) !important;
    }
    .merchantLegend {
        background-color: #4782d3 !important;
    }
    .toLegend {
        background-color: #4782d3 !important;
    }
    .sendBtn {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .white-letter-blue-back {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .recipientLegend {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .action-title {
        p {
            color: #4782d3;
            font-size: 18px;
        }
    }
    .icoBtn {
        &:hover {
            color: #777!important;
        }
    }
}