<div class="card card-style"
     [ngClass]="{'blue-back-card-color': cardType !== cardTypeEnum.COUNTRY_COUNT,
                 'card-mb': cardType !== cardTypeEnum.COUNTRY_COUNT,
                 'green-back-card-color': cardType === cardTypeEnum.PAYEE_REGISTER
                                          || cardType === cardTypeEnum.PAYEE_ACTIVE,
                 'country-card-width': cardType === cardTypeEnum.COUNTRY_COUNT}">
  <div class="card-header">
    <p [ngStyle]="{'color': cardType !== cardTypeEnum.COUNTRY_COUNT ? 'white' : '#88A3D2' }">{{title}}</p>
  </div>

  <div class="card-body">

    <div class="row" *ngIf="cardType !== cardTypeEnum.COUNTRY_COUNT">

      <div class="col-7"
           style="padding-left: 25px;"
           *ngIf="cardType === cardTypeEnum.PAYMENT_ACCEPTED
                  || cardType === cardTypeEnum.METHOD_DT
                  || cardType === cardTypeEnum.METHOD_CARD">
        <p><span style="font-size: 25px">{{statsObject.count}}</span> Completed</p>
        <p>{{'REPORTS_MESSAGES.LAST_MONTH'| translate }}  {{statsObject.lastMonthCount}}</p>
      </div>

      <div class="col-7"
           style="padding-left: 25px;"
           *ngIf="cardType === cardTypeEnum.PAYMENT_MONETARY
                  || cardType === cardTypeEnum.RE_SELLER_COMMISSION">
        <p><span style="font-size: 25px">$ {{statsObject.count.toFixed(1)}}K</span></p>
        <p>{{'REPORTS_MESSAGES.LAST_MONTH'| translate }} $ {{statsObject.lastMonthCount.toFixed(1)}}K</p>
      </div>

      <div class="col-12"
           style="padding-left: 25px;"
           *ngIf="cardType === cardTypeEnum.PAYMENT_MONETARY_MERCHANT">
        <p><span style="font-size: 25px">{{userSessionService.useEuroCoin() ? '€' : '$'}} {{statsObject.count.toFixed(1)}}K</span> Spent</p>
        <p>{{'REPORTS_MESSAGES.LAST_MONTH'| translate }}  {{userSessionService.useEuroCoin() ? '€' : '$'}} {{statsObject.lastMonthCount.toFixed(1)}}K</p>
      </div>

      <div class="col-12"
           style="padding-left: 25px;"
           *ngIf="cardType === cardTypeEnum.PAYEE_REGISTER || cardType === cardTypeEnum.PAYEE_ACTIVE">
        <p><span style="font-size: 25px">{{statsObject.count}}</span></p>
        <p>{{'REPORTS_MESSAGES.LAST_MONTH'| translate }}  {{statsObject.lastMonthCount}}</p>
      </div>

      <div *ngIf="statsObject.lastMonthCount > 0" class="col-8" style="align-self: center;">

        <div class="percents">
          <i-feather *ngIf="statsObject.percentNumber < 0"
                     name="chevrons-down"
                     class="icon-style icon-red">
          </i-feather>
          <i-feather *ngIf="statsObject.percentNumber > 0"
                     name="chevrons-up"
                     class="icon-style icon-green">
          </i-feather>
          <p [ngClass]="{'icon-green': statsObject.percentNumber > 0,
                           'icon-red': statsObject.percentNumber < 0}"
             style="font-size: 25px;">
            {{statsObject.percentPositiveNumber | percent}}
          </p>
        </div>
      </div>
    </div>

    <!--  COUNTRY COUNT  -->
    <div *ngIf="cardType === cardTypeEnum.COUNTRY_COUNT">

      <div class="country-card" *ngFor="let country of countryArray">
        <p>{{country.name | uppercase}}</p>
        <div class="progress bar-mb">
          <div class="progress-bar blue-back-card-color"
               role="progressbar"
               [ngStyle]="{'width' : country.percentString }">
            {{country.count}} | {{country.percentString}}
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
