.card-style {
  -webkit-box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
  -moz-box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
  box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);

  margin-bottom: 15px;
  max-width: 100%;
  p {
    margin: 0;
  }
}

.card-header {
  font-size: 15px;
}

.card-mb {
  margin-bottom: 45px;
}

.card-body {
  p {
    margin: 0;
    color: white;
  }
}

.blue-back-card-color {
   background-color: #88A3D2;
}

.green-back-card-color {
  background-color: #B4CC8E;
}

.country-card-width {
 max-width: 550px;

  .country-card {

    .bar-mb {
      margin-bottom: 10px;
    }

    p {
      color: black;
      margin: 0;
    }
  }
}

.icon-red{
  color: #CB4335 !important;
}

.icon-green{
  color: #1E8449 !important;
}

.icon-style {
  height: 35px;
  width: 35px;
}

.percents {
  display: flex;
  justify-content: flex-end;
}