label {
  display: table-caption;
  margin-bottom: 0;
}

select {
  height: 26px !important;
  font-size: 12px !important;
  margin-bottom: 0 !important;
}
.margin-left-8 {
  margin-left: 8px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-16 {
  margin-left: 16px !important;
}

.margin-left-7 {
  margin-left: 7px !important;
}

.margin-right-22 {
  margin-right: 22px !important;
}

.first-icon {
  margin-top: 34px !important;
  margin-right: -20px !important;
  cursor: pointer;
  color: #BCBCBC;
  z-index: 100;

  .big {
    height: 20px;
    width: 20px;

    &:hover {
      color: rgb(201, 80, 80);
    }
  }
}

.closeBtn {
  cursor: pointer;
  color: #BCBCBC;
  margin-top: 3px;
  margin-right: 10px;

  .big {
    height: 20px;
    width: 20px;

    &:hover {
      color: rgb(201, 80, 80);
    }
  }
}

.arrayStyle {
  display: flex;
  margin-bottom: 20px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.width-150 {
  width: 150px;
}

.w-150 {
  width: 150px !important;
}

.errorMsg {
  display: block;
}

.icon-style {
  height: 20px;
  width: 20px;
  color: #9E9E9E;
  margin-bottom: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.row-bank {
  padding: 11px 88px;
  margin-top: 8px;

  select {
    width: 100%;
  }
}

.label-bankInfo {
  font-size: 12px;
}

@media (max-width: 960px) {
  .bank-city {
    margin-bottom: 107px;
 }
}