<form [formGroup]="payeesForm" *ngIf="!(userSessionService.isMerchant() && countryPostalId === 1)">
    <div formArrayName="payeeArray" *ngFor="let payee of payeeArray.controls, let i = index">
        <div class="arrayStyle row card" *ngIf="countryPostalId !== 0" [formGroupName]="i.toString()">
            <div class="col-md-12">
                <!-- INFORMATION PAYEE -->
                <div class="row">
                    <div class="col-md-1">
                        <div class="closeBtn" [ngClass]="{'first-icon': i === 0 }" *ngIf="payeeArray.length > 1">
                            <i-feather name="x-circle" class="big" (click)="removePayee(i)"></i-feather>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="row">
                            <div *ngIf="rolToCreate === roles.PAYEE" class="col-md-2">
                                <i-feather matTooltip="Person" [matTooltipPosition]="positionOptions" class="icon-style" name="user">
                                </i-feather>
                                <div>
                                    <mat-checkbox formControlName="payeeAsPerson" [checked]="getPayeeAsPersonControl(i).value" (change)="enablePayeeFormHandler(i, 'PERSON')">
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div *ngIf="rolToCreate === roles.PAYEE" class="col-md-2">
                                <i-feather matTooltip="For Business Accounts" [matTooltipPosition]="positionOptions" class="icon-style" name="home">
                                </i-feather>
                                <div>
                                    <mat-checkbox formControlName="payeeAsCompany" [checked]="getPayeeAsCompanyControl(i).value" (change)="enablePayeeFormHandler(i, 'COMPANY')">
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div (click)="checkIfDisabled(i)">
                            <label for="name{{i}}" class="no-select margin-bottom-10 width-150">{{ 'PROFILE.FIRST_NAME'
                                |
                                translate }}</label>
                            <input type="text" id="name{{i}}" class="w-150" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput':getNameControl(i).invalid && errorValidation}" formControlName="name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div (click)="checkIfDisabled(i)">
                            <label for="lastName{{i}}" class="no-select margin-bottom-10 width-150">{{ 'TEXT.LAST_NAME'
                                | translate }}</label>
                            <input type="text" id="lastName{{i}}" class="w-150" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput':getLastNameControl(i).invalid && errorValidation}" formControlName="lastName">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div (click)="checkIfDisabled(i)">
                            <label for="email{{i}}" class="no-select margin-bottom-10 width-150">{{ 'TEXT.EMAIL' |
                                translate }}</label>
                            <input type="text" id="email{{i}}" class="w-150" [ngClass]="{'errorInput':getEmailControl(i).invalid && errorValidation}" formControlName="email">
                            <mat-error class="errorMsg" *ngIf="getEmailControl(i).hasError('email')">{{ 'TEXT.ENTER_VALID_EMAIL' | translate }}</mat-error>
                            <mat-error class="errorMsg" *ngIf="validateUniqueEmailError(i)">{{ 'TEXT.THE_EMAIL_REPEATED' | translate }}
                            </mat-error>
                            <mat-error id="error{{i}}" class="errorMsg" *ngIf="createUserError"></mat-error>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div *ngIf="userSessionService.isMerchant()" (click)="checkIfDisabled(i)">
                            <label for="nickname{{i}}" class="no-select margin-bottom-10 width-150">{{ 'TEXT.NICKNAME' |
                                translate }}</label>
                            <input type="text" id="nickname{{i}}" class="w-150" (keypress)="validacionInput($event, 'numerosYLetras')" maxlength="100" [ngClass]="{'errorInput':getNicknameControl(i).invalid && errorValidation}" formControlName="nickname">
                        </div>
                    </div>
                </div>
                <!-- BANK -->
                <div class="row row-bank">
                    <div class="col-md-1" style="padding-left: 5px;" (click)="checkIfDisabled(i)" *ngIf="countryPostalId !== 0">
                        <label style="width: 80px" class="no-select label-bankInfo">{{ 'PROFILE.BACK_INFO' |
                            translate }}</label>
                        <div style="margin-top: 5px;">
                            <mat-checkbox style="margin-left: 22px" [checked]="getWithBankInfoControl(i).value" (change)="handleBankValidators(i)" formControlName="withBankInfo">
                            </mat-checkbox>
                        </div>
                    </div>

                    <div class="col-md-11" [ngSwitch]="countryPostalId">
                        <!-- COLOMBIA -->
                        <div *ngSwitchCase="1">
                            <div class="row">
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="number{{i}}" class="no-select margin-bottom-10" style="width: 163px">{{
                                        'PROFILE.ID_NUMBER' | translate }}</label>
                                    <input formControlName="number" id="number{{i}}" style="padding-left: 5px;width: 155px;" maxlength="11" maxlength="14" [placeholder]="getPayeeAsCompanyControl(i).value ? 'NIT Number' : 'ID Number'" [ngClass]="{'errorInput': getNumberControl(i) .invalid && errorValidation}"
                                        type="text" />
                                    <mat-error class="errorMsg" *ngIf="getNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_14' | translate }}
                                    </mat-error>
                                </div>
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="bank{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                        'DATA_TABLE.BANK' | translate }}</label>
                                    <select formControlName="bank" name="bank" id="bank{{i}}" [ngClass]="{'errorInput': getBankControl(i).invalid && errorValidation,
                                  'margin-left-7': i !== 0}">
                                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' |
                                            translate }}</option>
                                        <option *ngFor="let bank of banks" [ngValue]="bank.id">{{bank.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="bankAccountNumber{{i}}" class="no-select margin-bottom-10" style="width: 163px">{{
                                        'PROFILE.BANK_ACCOUNT' | translate }}</label>
                                    <input maxlength="16" formControlName="bankAccountNumber" id="bankAccountNumber{{i}}" style="padding-left: 5px;width: 155px;" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': getBankAccountNumberControl(i).invalid && errorValidation}"
                                        type="text" />
                                    <mat-error class="errorMsg" *ngIf="getBankAccountNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_BANK_FORM_COLOMBIA' | translate }}
                                    </mat-error>
                                    <mat-error class="errorMsg" *ngIf="validatePayeeArrayUniqueBankAccount()">{{ 'TEXT.THE_BANK_ACCOUNT_NUMBER_REPEATED' | translate }}
                                    </mat-error>
                                </div>
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="bankAccountType{{i}}" class="no-select margin-bottom-10" style="width: 160px">{{
                                        'PROFILE.BANK_ACCOUNT_TYPE' | translate }}</label>
                                    <select formControlName="bankAccountType" id="bankAccountType{{i}}" [ngClass]="{'errorInput': getBankAccountTypeControl(i).invalid && errorValidation}">
                                        <option *ngFor="let value of keys(accountType)" [value]="value">
                                            {{accountType[value]}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row bank-city">
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="bankCity{{i}}" class="no-select margin-bottom-10" style="width: 195px">{{
                                        'REPORTS_MESSAGES.CITY' | translate }}</label>
                                    <select class="full-width height38 form-control" formControlName="cityNamePayee" id="cityNamePayee{{i}}" [ngClass]="{'errorInput': getBankCityControl(i).invalid && errorValidation}" (change)="setDataInput($event.target.value, i)">
                                        <option disabled selected>{{ 'TEXT.SELECT_CITY' | translate }}</option>
                                        <option *ngFor="let item of dataCities" [ngValue]="item.id">{{item.name}}
                                        </option>
                                        <option [ngValue]="0">{{ 'TEXT.ADD_CITY' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3" *ngIf="getBankCityControl(i).value === 0 && getWithBankInfoControl(i).value">
                                    <label style="width: 100px" class="no-select margin-bottom-10">{{ 'TEXT.NEW_CITY' |
                                        translate }}</label>
                                    <input maxlength="16" id="newCity{{i}}" formControlName="newCityBank" minlength="2" #input (keypress)="validacionInput($event, 'letras'); setNewCity(i, $event.target.value)" [ngClass]="{'errorInput': getBankCityControl(i).invalid && errorValidation}"
                                        type="text" [(ngModel)]="newCityName" />
                                    <!-- getDataAutocompleteService(i, input.value) -->
                                </div>
                            </div>
                        </div>

                        <!-- MEXICO -->
                        <div *ngSwitchCase="2">
                            <div class="row">
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="clabeBankAccountNumber{{i}}" class="margin-bottom-10">{{ 'TEXT.CLABE' |
                                        translate }}</label>
                                    <input formControlName="clabeBankAccountNumber" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" style="padding:0 5px;width: 160px;" id="clabeBankAccountNumber{{i}}" type="text" maxlength="18" [ngClass]="{'errorInput': getClabeBankAccountNumberControl(i).invalid && errorValidation}"
                                    />
                                    <p *ngIf="getClabeBankAccountNumberControl(i).invalid && errorValidation">
                                        <mat-error class="errorMsg">
                                            {{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.CLABE_18_NUMBERS' | translate}}
                                        </mat-error>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ARGENTINA -->
                        <div *ngSwitchCase="66">
                            <div class="row">
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="numberA{{i}}" class="no-select margin-bottom-10" style="width: 163px">{{
                                        'TEXT.ID_NUMBER' | translate }}</label>
                                    <input formControlName="number" id="numberA{{i}}" maxlength="20" style="padding-left: 5px;width: 155px;" (keypress)="validacionInput($event, 'numeros', '-')" [ngClass]="{'errorInput': getNumberControl(i).invalid && errorValidation}" type="text" maxlength="11">
                                    <mat-error class="errorMsg" *ngIf="getNumberControl(i).invalid && errorValidation && errorValidation">
                                        {{ 'TEXT.MUST_BE_DIGITS' | translate }}
                                    </mat-error>
                                </div>
                                <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value">
                                    <label for="cbuBankAccountNumber{{i}}" class="no-select margin-bottom-10" style="width: 200px">CBU / CVU</label>
                                    <input (keypress)="validacionInput($event, 'numeros')" onpaste="return false" formControlName="cbuBankAccountNumber" style="padding:0 10px;width: 200px;" id="cbuBankAccountNumber{{i}}" type="text" maxlength="22" [ngClass]="{'errorInput': getCbuBankAccountNumberControl(i).invalid && errorValidation,
                                    'margin-left-8': i !== 0}" />
                                    <mat-error class="errorMsg" *ngIf="getCbuBankAccountNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.CBU_MUST_HAVE_NUMBERS' | translate }}
                                    </mat-error>
                                </div>
                            </div>
                        </div>

                        <!-- BRAZIL -->
                        <div *ngSwitchCase="74">
                            <div class="row" *ngIf="getWithBankInfoControl(i).value">
                                <div class="col-md-3">
                                    <label for="number{{i}}" class="no-select margin-bottom-10" style="width: 163px">CPF/CNPJ</label>
                                    <input formControlName="number" id="number{{i}}" [minlength]="11" [maxlength]="14" style="padding-left: 5px;width: 155px;" [placeholder]="getPayeeAsCompanyControl(i).value ? 'CPF/CNPJ' : 'CPF/CNPJ'" [ngClass]="{'errorInput': getNumberControl(i).invalid && errorValidation}"
                                        type="text">
                                    <mat-error class="errorMsg" *ngIf="getNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_CPF_CNPJ' | translate }}
                                    </mat-error>
                                </div>
                                <div class="col-md-3">
                                    <label for="bank{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                        'DATA_TABLE.BANK' | translate }}</label>
                                    <select formControlName="bank" name="bank" id="bank{{i}}" [ngClass]="{'errorInput': getBankControl(i).invalid && errorValidation,
                                    'margin-left-7': i !== 0}">
                                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' |
                                            translate
                                            }}</option>
                                        <option *ngFor="let bank of banks" [ngValue]="bank.id">{{bank.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <div (click)="checkIfDisabled(i)">
                                        <label for="bankBranch{{i}}" class="no-select margin-bottom-10 width-150">{{
                                            'TEXT.BANK_BRANCH' |
                                            translate }}</label>
                                        <input formControlName="bankBranch" maxlength="4" id="bankBranch{{i}}" [ngClass]="{'errorInput': getBankBranchControl(i).invalid && errorValidation}" style="padding-left: 5px;width: 155px;" type="text">
                                        <mat-error class="errorMsg" *ngIf="getBankBranchControl(i).invalid && errorValidation">
                                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.NUMBER_BANK_BRANCH' | translate }}
                                        </mat-error>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <label for="bankAccountType{{i}}" class="no-select margin-bottom-10" style="width: 160px">{{
                                        'PROFILE.BANK_ACCOUNT_TYPE' | translate }}</label>
                                    <select formControlName="bankAccountType" id="bankAccountType{{i}}" [ngClass]="{'errorInput': getBankAccountTypeControl(i).invalid && errorValidation}">
                                        <option *ngFor="let value of keys(accountType)" [value]="value">
                                            {{accountType[value]}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" *ngIf="getWithBankInfoControl(i).value">
                                <div class="col-md-3">
                                    <label for="bankAccountNumber{{i}}" class="no-select margin-bottom-10" style="width: 163px">{{
                                        'PROFILE.BANK_ACCOUNT' | translate }}</label>
                                    <input *ngIf="getWithBankInfoControl(i).value" minlength="6" maxlength="13" formControlName="bankAccountNumber" id="bankAccountNumber{{i}}" style="padding-left: 5px;width: 155px;" (keypress)="validacionInput($event, 'numeros')" onpaste="return false"
                                        [ngClass]="{'errorInput': getBankAccountNumberControl(i).invalid && errorValidation}" type="text">
                                    <mat-error class="errorMsg" *ngIf="getBankAccountNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.NUMBER_BANK_COMPANY_BRAZIL' | translate }}
                                    </mat-error>
                                    <mat-error class="errorMsg" *ngIf="validatePayeeArrayUniqueBankAccount()">{{ 'TEXT.THE_BANK_ACCOUNT_NUMBER_REPEATED' | translate }}
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                        <!-- CHILE -->
                        <div *ngSwitchCase="77">
                            <div class="row" *ngIf="getWithBankInfoControl(i).value">
                                <div class="col-md-3">
                                    <label for="bankAccountType{{i}}" class="no-select margin-bottom-10" style="width: 160px">{{
                                        'PROFILE.BANK_ACCOUNT_TYPE' | translate }}</label>
                                    <select formControlName="bankAccountType" id="bankAccountType{{i}}" [ngClass]="{'errorInput': getBankAccountTypeControl(i).invalid && errorValidation}">
                                        <option *ngFor="let value of keys(accountType)" [value]="value">
                                            {{accountType[value]}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="bank{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                        'DATA_TABLE.BANK' | translate }}</label>
                                    <select formControlName="bank" name="bank" id="bank{{i}}" [ngClass]="{'errorInput': getBankControl(i).invalid && errorValidation,
                                    'margin-left-7': i !== 0}">
                                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' |
                                            translate
                                            }}</option>
                                        <option *ngFor="let bank of banks" [ngValue]="bank.id">{{bank.name}}</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="bankAccountNumber{{i}}" class="no-select margin-bottom-10" style="width: 163px">{{
                                        'PROFILE.BANK_ACCOUNT' | translate }}</label>
                                    <input maxlength="13" formControlName="bankAccountNumber" id="bankAccountNumber{{i}}" style="padding-left: 5px;width: 155px;" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': getBankAccountNumberControl(i).invalid && errorValidation}"
                                        type="text">
                                    <mat-error class="errorMsg" *ngIf="getBankAccountNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_RUT_10' | translate }}
                                    </mat-error>
                                    <mat-error class="errorMsg" *ngIf="validatePayeeArrayUniqueBankAccount()">{{ 'TEXT.THE_BANK_ACCOUNT_NUMBER_REPEATED' | translate }}
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                        <!-- Venezuela -->
                        <div *ngSwitchCase="115">
                            <div class="row">

                                <div *ngIf="getWithBankInfoControl(i).value" class="col-md-6">
                                    <label for="number{{i}}" class="no-select margin-bottom-10">{{
                                        'PROFILE.ID_NUMBER' | translate }}</label>
                                    <input formControlName="number" id="number{{i}}" minlength="8" maxlength="9" [placeholder]="getPayeeAsCompanyControl(i).value ? 'NIT Number' : 'ID Number'" [ngClass]="{'errorInput': getNumberControl(i) .invalid && errorValidation}" type="text" autocomplete="off"
                                        (keypress)="validacionInput($event, 'numerosYletras')" onpaste="return false" />
                                    <mat-error class="errorMsg" *ngIf="getNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_VENE' | translate }}
                                    </mat-error>
                                </div>

                                <div *ngIf="getWithBankInfoControl(i).value" class="col-md-6">
                                    <label for="bank{{i}}" class="no-select margin-bottom-10">{{
                                        'DATA_TABLE.BANK' | translate }}</label>
                                    <select formControlName="bank" name="bank" id="bank{{i}}" [ngClass]="{'errorInput': getBankControl(i).invalid && errorValidation,
                                                                              'margin-left-7': i !== 0}">
                                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK'
                                            |
                                            translate }}</option>
                                        <option *ngFor="let bank of banks" [ngValue]="bank.id">{{bank.name}}
                                        </option>
                                    </select>
                                </div>

                            </div>

                            <div class="row">

                                <div *ngIf="getWithBankInfoControl(i).value" class="col-md-6">
                                    <label for="bankAccountType{{i}}" class="no-select margin-bottom-10">{{
                                        'PROFILE.BANK_ACCOUNT_TYPE' | translate }}</label>
                                    <select formControlName="bankAccountType" id="bankAccountType{{i}}" [ngClass]="{'errorInput': getBankAccountTypeControl(i).invalid && errorValidation}">
                                        <option *ngFor="let value of keys(accountType)" [value]="value">
                                            {{accountType[value]}}</option>
                                    </select>
                                </div>

                                <div *ngIf="getWithBankInfoControl(i).value" class="col-md-6">
                                    <label for="bankAccountNumber{{i}}" class="no-select margin-bottom-10">{{
                                        'PROFILE.BANK_ACCOUNT' | translate }}</label>
                                    <input [maxlength]="20" formControlName="bankAccountNumber" id="bankAccountNumber{{i}}" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': getBankAccountNumberControl(i).invalid && errorValidation}" type="text"
                                    />
                                    <mat-error class="errorMsg" *ngIf="getBankAccountNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.MAX_BANK_ACOUNT_PERU' | translate}}20{{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                                    </mat-error>
                                </div>

                            </div>
                        </div>

                        <!-- Venezuela -->
                        <!-- PERÚ -->
                        <div *ngSwitchCase="101">
                            <div class="row" *ngIf="getWithBankInfoControl(i).value">
                                <div class="col-md-3">
                                    <label for="bank{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                        'DATA_TABLE.BANK' | translate }}</label>
                                    <select (change)="onchangeBanco($event.target.value, i)" formControlName="bank" name="bank" id="bank{{i}}" [ngClass]="{'errorInput': getBankControl(i).invalid && errorValidation,
                                      'margin-left-7': i !== 0}">
                                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' |
                                            translate }}</option>
                                        <option *ngFor="let bank of banks" [ngValue]="bank.id">{{bank.name}}</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="number{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                        'PROFILE.ID_NUMBER' | translate }}</label>
                                    <input formControlName="number" id="number{{i}}" (keypress)="validacionInput($event, 'numeros')" [maxlength]=this.maxDni [minlength]=this.minDni [placeholder]="getPayeeAsCompanyControl(i).value ? 'NIT Number' : 'ID Number'" [ngClass]="{'errorInput': getNumberControl(i) .invalid && errorValidation}"
                                        type="text" />
                                    <mat-error class="errorMsg" *ngIf="getNumberControl(i).invalid && errorValidation && minDni !== maxDni">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_PERU' | translate }}{{minDni}}{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.AND_PERU' | translate }}{{maxDni}}{{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                                    </mat-error>
                                    <mat-error class="errorMsg" *ngIf="getNumberControl(i).invalid && errorValidation && minDni === maxDni">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_PERU_SINGLE' | translate }}{{minDni}}{{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                                    </mat-error>
                                    <mat-error class="errorMsg" *ngIf="!isInterbank">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.ONLY_DNI_PERU' | translate }}
                                    </mat-error>
                                </div>

                                <div class="col-md-3">
                                    <label for="bankAccountType{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                        'PROFILE.BANK_ACCOUNT_TYPE' | translate }}</label>
                                    <select (change)="onchangeTipoCuenta($event.target.value, i)" formControlName="bankAccountType" id="bankAccountType{{i}}" [ngClass]="{'errorInput': getBankAccountTypeControl(i).invalid && errorValidation}">
                                        <option *ngFor="let value of keys(accountType)" [value]="value">
                                            {{accountType[value]}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" *ngIf="getWithBankInfoControl(i).value">
                                <div class="col-md-3">
                                    <label for="bankAccountNumber{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                        'PROFILE.BANK_ACCOUNT' | translate }}</label>
                                    <input [maxlength]="maxcuenta" formControlName="bankAccountNumber" id="bankAccountNumber{{i}}" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': getBankAccountNumberControl(i).invalid && errorValidation}"
                                        type="text" />
                                    <mat-error class="errorMsg" *ngIf="getBankAccountNumberControl(i).invalid && errorValidation">
                                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.MAX_BANK_ACOUNT_PERU' | translate}}{{maxcuenta}}{{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                                    </mat-error>
                                    <mat-error class="errorMsg" *ngIf="validatePayeeArrayUniqueBankAccount()">{{ 'TEXT.THE_BANK_ACCOUNT_NUMBER_REPEATED' | translate }}
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- FOR CREATE COLOMBIAN PAYEE AS MERCHANT -->
<form [formGroup]="payeesForm" *ngIf="userSessionService.isMerchant() && countryPostalId === 1">
    <div formArrayName="payeeArray" *ngFor="let payee of payeeArray.controls, let i = index">
        <div class="arrayStyle card" *ngIf="userSessionService.isMerchant() && countryPostalId === 1" style="display: block; padding: 15px" [formGroupName]="i.toString()">
            <!--  PAYEE INFORMATION    -->
            <div class="row">
                <div class="col-md-1">
                    <div class="closeBtn first-icon" *ngIf="payeeArray.length > 1">
                        <i-feather name="x-circle" class="big" (click)="removePayee(i)"></i-feather>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div *ngIf="rolToCreate === roles.PAYEE" class="col-md-2">
                            <i-feather matTooltip="Person" [matTooltipPosition]="positionOptions" class="icon-style" name="user">
                            </i-feather>
                            <div>
                                <mat-checkbox formControlName="payeeAsPerson" [checked]="getPayeeAsPersonControl(i).value" (change)="enablePayeeFormHandler(i, 'PERSON')">
                                </mat-checkbox>
                            </div>
                        </div>
                        <div *ngIf="rolToCreate === roles.PAYEE" class="col-md-2">
                            <i-feather matTooltip="For Business Accounts" [matTooltipPosition]="positionOptions" class="icon-style" name="home">
                            </i-feather>
                            <div>
                                <mat-checkbox formControlName="payeeAsCompany" [checked]="getPayeeAsCompanyControl(i).value" (change)="enablePayeeFormHandler(i, 'COMPANY')">
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div (click)="checkIfDisabled(i)">
                        <label for="name2{{i}}" class="no-select margin-bottom-10 width-150">{{ 'PROFILE.FIRST_NAME' |
                            translate
                            }}</label>
                        <input type="text" id="name2{{i}}" class="w-150" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput':getNameControl(i).invalid && errorValidation}" formControlName="name">
                    </div>
                </div>
                <div class="col-md-2">
                    <div (click)="checkIfDisabled(i)">
                        <label for="lastName2{{i}}" class="no-select margin-bottom-10 width-150">{{ 'TEXT.LAST_NAME' |
                            translate
                            }}</label>
                        <input type="text" id="lastName2{{i}}" class="w-150" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput':getLastNameControl(i).invalid && errorValidation}" formControlName="lastName">
                    </div>
                </div>
                <div class="col-md-2">
                    <div (click)="checkIfDisabled(i)">
                        <label for="email2{{i}}" class="no-select margin-bottom-10 width-150">{{ 'TEXT.EMAIL' |
                            translate
                            }}</label>
                        <input type="email" id="email2{{i}}" class="w-150" [ngClass]="{'errorInput':getEmailControl(i).invalid && errorValidation}" formControlName="email">
                        <mat-error class="errorMsg" *ngIf="getEmailControl(i).hasError('email')">{{ 'TEXT.ENTER_VALID_EMAIL' | translate }}</mat-error>
                        <mat-error class="errorMsg" *ngIf="validateUniqueEmailError(i)">{{ 'TEXT.THE_EMAIL_REPEATED' | translate }}
                        </mat-error>
                        <mat-error id="error2{{i}}" class="errorMsg" *ngIf="createUserError"></mat-error>
                    </div>
                </div>
                <div class="col-md-2">
                    <div *ngIf="userSessionService.isMerchant()" (click)="checkIfDisabled(i)">
                        <label for="nickname2{{i}}" class="no-select margin-bottom-10 width-150">{{
                            'REPORTS_MESSAGES.NICKNAME' |
                            translate }}</label>
                        <input type="text" id="nickname2{{i}}" class="w-150" (keypress)="validacionInput($event, 'numerosYletras')" maxlength="100" [ngClass]="{'errorInput':getNicknameControl(i).invalid && errorValidation}" formControlName="nickname">
                    </div>
                </div>
            </div>
            <!--  BANK INFORMATION CUANDO ES UN MERCHANT   -->
            <div class="row row-bank">
                <div class="col-md-1" style="padding-left: 5px;" (click)="checkIfDisabled(i)">
                    <label style="width: 80px" class="no-select label-bankInfo">{{ 'PROFILE.BACK_INFO' | translate
                        }}</label>
                    <div style="margin-top: 5px;">
                        <mat-checkbox style="margin-left: 22px" [checked]="getWithBankInfoControl(i).value" (change)="handleBankValidators(i)" formControlName="withBankInfo">
                        </mat-checkbox>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value" (click)="checkIfDisabled(i)">
                            <label for="number2{{i}}" class="no-select margin-bottom-10" style="width: 163px">{{
                                'PROFILE.ID_NUMBER' |
                                translate }}</label>
                            <input formControlName="number" id="number2{{i}}" style="padding-left: 5px;width: 155px;" maxlength="14" [placeholder]="getPayeeAsCompanyControl(i).value ? 'NIT Number' : 'ID Number'" [ngClass]="{'errorInput': getNumberControl(i).invalid && errorValidation}"
                                type="text" />
                            <mat-error class="errorMsg" *ngIf="getNumberControl(i).invalid && errorValidation">
                                {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_14' | translate }}
                            </mat-error>
                        </div>
                        <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value" (click)="checkIfDisabled(i)">
                            <label for="bank2{{i}}" class="no-select margin-bottom-10" style="width: 113px">{{
                                'DATA_TABLE.BANK' |
                                translate }}</label>
                            <select formControlName="bank" name="bank" id="bank2{{i}}" [ngClass]="{'errorInput': getBankControl(i).invalid && errorValidation}">
                                <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate
                                    }}
                                </option>
                                <option *ngFor="let bank of banks" [ngValue]="bank.id">{{bank.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 bank-city" *ngIf="getWithBankInfoControl(i).value" (click)="checkIfDisabled(i)">
                            <label for="bankCity{{i}}" class="no-select margin-bottom-10" style="width: 195px">{{
                                'REPORTS_MESSAGES.CITY' | translate }}</label>
                            <select class="full-width height38 form-control" formControlName="cityNamePayee" id="cityNamePayee{{i}}" [ngClass]="{'errorInput': getBankCityControl(i).invalid && errorValidation}" (change)="setDataInput($event.target.value, i)">
                                <option disabled selected>{{ 'TEXT.SELECT_CITY' | translate }}</option>
                                <option *ngFor="let item of dataCities" [ngValue]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value" (click)="checkIfDisabled(i)">
                            <label for="bankAccountType2{{i}}" class="no-select margin-bottom-10" style="width: 160px">{{
                                'PROFILE.BANK_ACCOUNT_TYPE' | translate }}</label>
                            <select formControlName="bankAccountType" id="bankAccountType2{{i}}" [ngClass]="{'errorInput': getBankAccountTypeControl(i).invalid && errorValidation}">
                                <option *ngFor="let value of keys(accountType)" [value]="value">{{accountType[value]}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" *ngIf="getWithBankInfoControl(i).value" (click)="checkIfDisabled(i)">
                            <label for="bankAccountNumber2{{i}}" class="no-select margin-bottom-10" style="width: 163px">{{
                                'PROFILE.BANK_ACCOUNT' | translate }}</label>
                            <input formControlName="bankAccountNumber" id="bankAccountNumber2{{i}}" style="padding-left: 5px;width: 155px;" maxlength="16" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': getBankAccountNumberControl(i).invalid && errorValidation}"
                                type="text" />
                            <mat-error class="errorMsg" *ngIf="getBankAccountNumberControl(i).invalid && errorValidation">
                                {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_BANK_FORM_COLOMBIA' | translate }}
                            </mat-error>
                            <mat-error class="errorMsg" *ngIf="validatePayeeArrayUniqueBankAccount()">{{ 'TEXT.THE_BANK_ACCOUNT_NUMBER_REPEATED' | translate }}
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>