p {
    font-family: 'roboto', 'San Serif', serif;
    color: rgb(82, 82, 82);
}

.form-card {
    width: auto;
    min-width: 100%;
}

.flex-end {
    display: flex;
    justify-content: flex-end !important;
}

.margin-right27 {
    margin-right: 27px;
}

.cancelCreated {
    font-family: roboto, serif;
    border-radius: 100%;
    border: none;
    background-color: #E57373;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 8px;
    transition: all 300ms ease-in-out;
    height: 35px;
    width: 35px;
    &:focus {
        outline: none;
    }
}

.acceptCreated {
    font-family: roboto, serif;
    border-radius: 100%;
    border: none;
    background-color: #37a96e;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
    transition: all 300ms ease-in-out;
    height: 35px;
    width: 35px;
    &:focus {
        outline: none;
    }
}

.userDetail {
    margin-top: 10px;
    .dataInput {
        height: 35px;
        border-radius: 5px;
        outline: none;
    }
    .errorMsg {
        display: block;
    }
}

.payee-legend {
    margin-bottom: 10px;
    p {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #B4B4B4;
        display: inline;
    }
}

.margin-right-35 {
    margin-right: 35px !important
}

//PROFILE STYLE
label {
    font-size: 14px;
    color: #82A5AF;
    font-weight: bold;
}

hr {
    line-height: 30px;
}

.ocean-card {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    color: #0C3A47;
    ;
    font-family: 'roboto', sans-serif;
    height: 537px;
    margin: 48px 16px;
    border: solid 1px #C0C0C0;
    flex: 1;
    background-color: #e3e4e5;
    p {
        text-align: center;
        margin: 0;
    }
    .pText {
        font-size: 36px;
    }
    .sText {
        font-size: 18px;
        margin-bottom: 8px;
    }
}

.heightPayeeProfile {
    height: 658px !important;
}

.text-muted {
    color: #82A5AF !important;
}

img {
    width: 250px;
    height: 250px;
    margin-right: 16px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.flex-row {
    display: flex;
}

.card2 {
    padding: 0 !important;
}

.actions {
    padding: 16px;
}

.flexEnd {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.profileDetail {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.mid-col {
    width: 48%;
}

.spaced {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.tag {
    position: relative;
    top: -17px;
    left: 20px;
    z-index: 100;
}

.box {
    border: solid 1px rgb(179, 179, 179);
    margin-top: 48px;
    p {
        background-color: rgb(255, 255, 255);
        padding: 0 8px;
    }
}

.box-inner {
    display: flex;
    justify-content: space-around;
}

.column {
    width: 90%;
}

.photoContainer {
    display: flex !important;
    justify-content: center !important;
    margin: 0 0 16px 0;
    height: 250px !important;
    .buttonsContainer {
        width: 250px;
        background-color: rgba(0, 0, 0, 0.178);
        display: flex;
        position: relative;
        bottom: 56px;
        padding: 8px 5px;
        justify-content: space-between;
        .editionBtn {
            background-color: rgb(19, 87, 106) !important;
            border: 1px #fff solid;
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            .small {
                height: 18px;
                width: 18px;
                color: #fff;
            }
        }
    }
}

.smallBox {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 20px;
    border-radius: .25rem;
    .separator {
        height: 10px;
    }
}

.transparent {
    background-color: transparent !important;
    color: #fff;
}

.pendingMsg {
    text-align: center;
    background-color: #15ca42;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 16px;
}

//validator styles
.emptyInput {
    border-color: red;
}

@media (max-width: 1500px) {
    .column {
        width: 100%;
        background-color: #fff;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.errorInput {
    outline-style: auto !important;
    outline: red;
}

input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

select:disabled {
    background-color: #C7C8C8 !important;
}

input:disabled {
    background-color: #C7C8C8 !important;
}

.bg-pm {
    .title-already-exist {
        background-color: #4782d3!important;
    }
    .btn {
        background-color: #4782d3!important;
        color: white !important;
    }
    .cancelCreated {
        background-color: #777!important;
        color: #ffffff!important;
    }
    .acceptCreated {
        background-color: #4782d3!important;
        color: white !important;
    }
}

.already-exist-container {
    margin: 20px 0;
    align-items: center;
    text-align: center;
    .title-already-exist {
        width: 100%;
        align-items: center;
        background-color: #0C3A47;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 5px;
        line-height: 40px;
        text-align: center;
        p {
            padding: 10px 0;
            color: #fff;
            font-size: 15px;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }
    .already-exist {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.btn:hover {
    color: white !important;
}

.btn {
    color: white !important;
}