<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">

  <div class="pageTitle">{{getNewUserTitle()}}</div>

  <div style="display: flex;">
    <form [formGroup]="merchantCompanySearchForm" style="display: contents" *ngIf="canSeeContent('MERCHANT_NAME_FORM')">
      <label for="merchantNameFilter" style="margin: 6px 16px">{{ 'BUTTON_OPTION_INFO.CHOOSE_MERCHANT' | translate
        }}</label>
      <app-autocomplete-input id="merchantNameFilter" [inputForm]="merchantCompanySearchForm" [autoInit]="true"
        [inputFormControlName]="'merchantCompany'"
        [elementPlaceholder]="'PLACEHOLDER.START_TYPING_MERCHANT_NAME' | translate" [type]="autocompleteType.MERCHANT"
        (setNoElementSelected)="merchantSelected = $event" (elementChange)="onChangeMerchantCompany($event)">
      </app-autocomplete-input>
    </form>

    <form [formGroup]="countryForm" *ngIf="canSeeContent('COUNTRY_FORM')" style="display: contents">
      <label for="payeeCountryFilter" style="margin: 6px 16px">{{ 'BUTTON_OPTION_INFO.CHOOSE_COUNTRY_BANK_INFO' |
        translate }}</label>
      <app-autocomplete-input id="payeeCountryFilter" [inputForm]="countryForm" [autoInit]="true"
        [inputFormControlName]="'countryPayee'"
        [elementPlaceholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME' | translate"
        [type]="autocompleteType.PAYEE_COUNTRY" (resetRelatedVariables)="resetRelatedVariables()"
        (elementChange)="onChangePayeeCountry($event)">
      </app-autocomplete-input>
    </form>
  </div>

  <div class="flex">
    <mat-card class="form-card" *ngIf="canSeeContent('USER_WITHOUT_FORM')">
      <mat-card-header *ngIf="canSeeContent('USER_WITHOUT_FORM_HEADER')">
        <p class="subtitle">{{ 'TEXT.ADD_PAYEE' | translate }}</p>
        <button (click)="addUser()" class="acceptCreated" *ngIf="count < 9">+</button>
      </mat-card-header>

      <mat-card-content style="margin-top: 10px" *ngIf="canSeeContent('USER_WITHOUT_FORM_BODY')">

        <div class="payee-legend" *ngIf="newUserRole === roles.PAYEE">
          <p>{{ 'TEXT.PLEASE_SELECT_PAYEE_TYPE_TO_CREATE_IT' | translate }}</p>
        </div>
        <!-- ###################### PAYEE FORM ######################### -->
        <app-invite-payee-form #InvitePayeeForm [errorValidation]="errorValidation" [rolToCreate]="newUserRole"
          [createUserError]="createUserError" (subtractCount)="count = count - $event"
          (setShowMessage)="showMessageFromInvitedUser($event)" [countryPostalId]="countrySelectedId">
        </app-invite-payee-form>
        <!-- ###################### END PAYEE FORM ######################### -->

        <!--    User Existing And Associated    -->
        <div class="already-exist-container" [ngClass]="(changeClass==1)?'bg-pm':''"
          *ngIf="userListAlreadyExistAndAssociated.length > 0">

          <div class="title-already-exist">
            <p>{{ 'TEXT.THE_FOLLOWING_USERS_ALREADY_EXISTED' | translate }}</p>
          </div>

          <div class="already-exist">

            <div class="row margin-bottom-15">
              <div class="col-3 margin-right-35">
                <div><strong>{{ 'TEXT.NAME' | translate }}</strong></div>
              </div>
              <div class="col-3 margin-right-35">
                <div><strong>{{ 'TEXT.LAST_NAME' | translate }}</strong></div>
              </div>
              <div class="col-4">
                <div><strong>{{ 'TEXT.EMAIL' | translate }}</strong></div>
              </div>
            </div>

            <div class="row" *ngFor="let user of userListAlreadyExistAndAssociated">
              <div class="col-3 margin-right-35">
                <div>{{user.firstName}}</div>
              </div>
              <div class="col-3 margin-right-35">
                <div>{{user.lastName}}</div>
              </div>
              <div class="col-4">
                <div>{{user.email}}</div>
              </div>
            </div>
          </div>
        </div>

        <!--    User Existing And Not Associated    -->
        <div class="already-exist-container" *ngIf="userListAlreadyExistAndNotAssociated.length > 0">

          <div class="title-already-exist">
            <p>{{ 'TEXT.THE_FOLLOWING_USERS_ALREADY_EXISTED_DIFFERENT_ROLE' | translate }}</p>
          </div>

          <div class="already-exist">

            <div class="row margin-bottom-15">
              <div class="col-3 margin-right-35">
                <div><strong>{{ 'TEXT.NAME' | translate }}</strong></div>
              </div>
              <div class="col-3 margin-right-35">
                <div><strong>{{ 'TEXT.LAST_NAME' | translate }}</strong></div>
              </div>
              <div class="col-4">
                <div><strong>{{ 'TEXT.EMAIL' | translate }} | {{ 'TEXT.LOGIN_NAME' | translate }}</strong></div>
              </div>
            </div>

            <div class="row" *ngFor="let user of userListAlreadyExistAndNotAssociated">
              <div class="col-3 margin-right-35">
                <div>{{user.firstName}}</div>
              </div>
              <div class="col-3 margin-right-35">
                <div>{{user.lastName}}</div>
              </div>
              <div class="col-4">
                <div>{{user.email}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

      <div class="btn-container margin-top-16" [ngClass]="(changeClass==1)?'bg-pm':''">
        <button (click)="createPayeeUser()" class="btn" *ngIf="userSessionService.isMerchant() ||
                (isSuperOrAdminOrReseller() && newUserRole === roles.PAYEE)" [disabled]="countrySelected === null">{{ 'BUTTON_OPTION_INFO.CREATE_PAYEE' |
          translate }}</button>
        <button (click)="createAdminUser()" class="btn"
          *ngIf="userSessionService.isSuperOrAdmin() && newUserRole === roles.ADMIN">{{
          'BUTTON_OPTION_INFO.CREATE_ADMIN' | translate }}</button>
      </div>
    </mat-card>

    <div class="column" *ngIf="canSeeContent('USER_WITH_FORM')">

      <!-- ############ MERCHANT OR Reseller ########## -->
      <app-user-form #UserForm *ngIf="newUserRole === roles.MERCHANT || newUserRole === roles.RESELLER"
        [createUser]="true" [emailAlreadyExistError]="emailAlreadyExistError" [userFormInvalid]="userFormInvalid">
      </app-user-form>
      <!--   ###### END MERCHANT OR Reseller ######   -->

      <div class="btn-container margin-top-16" [ngClass]="(changeClass==1)?'bg-pm':''"
        *ngIf="isSuperOrAdminOrReseller() && (newUserRole === roles.MERCHANT || newUserRole === roles.RESELLER)">
        <button (click)="createMerchantOrReSellerUser()" class="btn">
          <span *ngIf="newUserRole === roles.MERCHANT">{{ 'BUTTON_OPTION_INFO.CREATE_MERCHANT' | translate }}</span>
          <span *ngIf="newUserRole !== roles.MERCHANT">{{ 'BUTTON_OPTION_INFO.CREATE_RESELLER' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
