<div class="messages-container" [ngClass]="(changeClass==1)?'bg-pm':''">
  <div class="message-container success">
    <div class="message-inner">
      <img src="../../../assets/img/check-circle.svg" [style.background-color]="backgroundColor">
      <hr>
      <p *ngIf="messageType === 'warning'" class="warning">[{{totalErrorPayments}}/{{totalPayments}}] {{errorMessageText}}</p>
      <p>{{'TEXT.YOU_VE_PAID' | translate}}</p>
      <p>{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}} {{userSessionService.useEuroCoin() ? (amount | currency: 'EUR') : (amount | currency)}}</p>
      <hr>
      <p>{{'TEXT.NEW_CURRENT_BALANCE' | translate}}</p>
      <p>{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}} {{userSessionService.useEuroCoin() ? (balance | currency: 'EUR') : (balance | currency)}}</p>
    </div>
    <div class="btn-container">
      <button (click)="handleClickPayment()">
        {{'ERROR_MESSAGES.PAYMENT' | translate}}
      </button>
    </div>
  </div>
</div>
