img {
  border-radius: 50%;
}

.warning {
  color: rgb(255, 187, 51);
  font-size: x-large;
}

.messages-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #4d5977;
}

.message-container {
  border-radius: 24px;
  padding: 40px;
}

.message-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  border: #cad7e2 solid 2px;
}

.danger {
  background-color: #FF2851;
}

.btn-container {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 32px;

  button {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    font-size: 16px;
    padding: 16px;
    color: #ffffff;
    background-color: #0c3a47;
    border: none;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: #124d5d;
      -webkit-box-shadow: 0px 2px 25px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 25px -9px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 25px -9px rgba(0, 0, 0, 0.75);
    }

    p {
      margin: 0px;
      line-height: 16px;
      margin-left: 16px;
    }

  }
}

.bg-pm {
  button {
    background-color: #4782d3 !important;
  } 
}
