p {
  margin: 0;
}

.flex {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.pageTitleModal {
  font-size: 24px !important;
  margin-bottom: 8px !important;
}

.closeBtn {
  cursor: pointer;

  .big {
    height: 32px;
    width: 32px;

    &:hover {
      color: rgb(201, 80, 80);
    }
  }

  .closeTag {
    cursor: pointer;
    margin: 0 0 0 5px;

    &:hover {
      color: rgb(201, 80, 80);
    }
  }

}
.bg-pm {
  .btn3 {
    background-color: #4782d3 !important;
    color: #ffffff;
  }
  .btn {
    background-color: #4782d3 !important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }
  .btn2 {
    background-color: #4782d3 !important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }
  .merchantLegend {
    background-color: #4782d3!important;
  }
  .tagLegend {
    background-color: #4782d3!important;
  }
  .recipientLegend {
    background-color: #4782d3!important;
  }
}
.merchantList {
  -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  height: 597px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width: 8px;
  }
}

.merchantContainer {
  max-height: 485px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width:8px;
  }

}

.foot {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  margin-top: auto;
}

.button {
  padding: 10px 24px;
  margin-left: 0 !important;
  margin-right: 20px !important;

  &:last-child {
    margin: 0 !important;
  }
}

.merchantLegend {
  width: 100%;
  background-color: #0C3A47;
  height: 50px;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 40px;
  text-align:center;

  p {
    padding: 10px 0;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.tagLegend {
  background-color: #0C3A47;

  p {
    color: #fff;
  }
}

.inRight {
  float: right;
  margin-right: 15px;
}

.circle {
  border-radius: 100% !important;
  margin-right: 20px !important;
}

.radioOption {
  color: gray;
  font-weight: bold;
}

.tag {
  height: 20px;
  padding: 0 8px;
  border-radius: 22px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  margin:0 5px 5px 0;
  font-size: 14px;
}

.separated {
  margin-left: 3px;
  margin-bottom: 2px !important;
}


.example-section {
  margin-bottom: 16px;
  margin-left: 0 !important;
  display: flex;
  align-content: center;
  align-items: center;
  height: 45px;
}


.filterMasterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.24);
  -moz-box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.24);
  box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.24);
  padding: 10px 24px;

  .filterTitle {
    margin-left: 0;
  }
}

.all-message-button {
  flex-shrink: 0;
  height: fit-content;

  button {
    padding: 10px 24px;
  }
}

button:focus {
  outline:0 !important;
}

.recipientContainer {
  max-height: 485px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width:8px;
  }

}

.recipientLegend {
  width: 100%;
  background-color: #0C3A47;
  min-height: 50px;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 40px;
  text-align:center;

  p {
    padding: 10px 0;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.recipientList {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 820px) {
  .recipients {
    flex-direction: column;
    height: auto;
  }

  .recipient-table {
    max-width: 100%;
    flex: 1;
    margin-bottom: 16px;
  }


  .recipient-list {
    max-width: 100%;
    min-height: 250px;
    flex: 1;
  }

  .filterMasterContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding: 10px;
  }

  .all-message-button {
    width: 100%;
    margin: 16px 0 0 !important;
  
    button {
      width: 100%;
      margin: 0;
    }
  }

  .foot {
    flex-direction: column;
  }

  .button {
    width: 100%;
    justify-content: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 8px;
  }
}
