<app-message-notification #MessagesComp></app-message-notification>

<div class="flex">
  <div class="pageTitleModal">{{ 'TITLES.NOTIFICATION_RECIPIENT' | translate }}</div>
  <div class="closeBtn">
    <i-feather name="x-circle" class="big" (click)="closeModal()"></i-feather>
  </div>
</div>

<div class="filterMasterContainer" [ngClass]="changeClass == 1 ?'bg-pm':''">

  <!-- RADIO BUTTONS FOR SUPER_ADMIN OR ADMIN -->
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    [(ngModel)]="roleOption"
    (ngModelChange)="resetVariable()"
    *ngIf="userSessionService.isSuperOrAdmin()"
    class="radioOption inRight">
    <mat-radio-button class="example-radio-button"
                      *ngFor="let option of options"
                      [value]="option.role"
                      [checked]="option.checked">
      {{option.name}}
    </mat-radio-button>
  </mat-radio-group>
  <!-- END RADIO BUTTONS -->

  <!-- TOGGLE FOR RESELLER -->
<!--  <div *ngIf="userSessionService.isReSeller()" class="inRight">-->
<!--    <section class="example-section">-->
<!--      MERCHANT-->
<!--      <mat-slide-toggle-->
<!--        class="example-margin"-->
<!--        [checked]="checked"-->
<!--        [disabled]="disabled"-->
<!--        (change)="selectRoleFilter($event)">-->
<!--        PAYEE-->
<!--      </mat-slide-toggle>-->
<!--    </section>-->
<!--  </div>-->
  <!-- END TOGGLE -->

  <app-recipient-filter-component [sessionRole]="role"
                        [roleFilterSelected]="roleOption"
                        (applyFilterToTable)="addFilterToTable($event)"
                        style="width: 100%;">
  </app-recipient-filter-component>


  <div class="btn-container circle all-message-button" [ngClass]="changeClass == 1 ?'bg-pm':''">
    <button class="btn btn2" (click)="allUsers(true)">
      {{setAllMessageButton()}}
    </button>
  </div>
</div>


<div class="row recipients" style="margin-top: 15px">
  <div class="col-6 recipient-table">
    <app-table #RecipientTable
               [sessionRole]="role"
               [type]="'USER'"
               [roleOption]="roleOption"
               [filterQuery]="filterQuery"
               [extendedUser]="extendedUser"
               (callAllUser)="allUsers($event)"
               (addRecipientToList)="addRecipientToList($event)"
               (showMessage)="showMsg($event)"
               (addAllRelatedUserRecipient)="addAllRelatedUserRecipient($event)">
    </app-table>
  </div>

  <div class="col-6 recipient-list" [ngClass]="changeClass == 1 ?'bg-pm':''">
    <div class="recipientList">

      <div class="recipientLegend">
        <p>{{quantityRecipients}} {{ 'BUTTON_OPTION_INFO.SELECTED_RECIPINTS' | translate }}</p>
      </div>

      <div class="recipientContainer" *ngIf="!seeRelatedUserRecipient && !seeRoleAllUserSelected && quantityRecipients > 0">
        <div class="tag" *ngFor="let recipient of recipientList">
          {{recipient.fullName }}
          <div class="closeBtn separated">
            <p class="closeTag" (click)="removeRecipientFromList(recipient)">x</p>
          </div>
        </div>
      </div>

      <div class="recipientContainer"  *ngIf="seeRoleAllUserSelected || seeRelatedUserRecipient">
        <div class="tag" *ngIf="seeRoleAllUserSelected">
          {{ 'BUTTON_OPTION_INFO.ALL' | translate }} {{roleAllUserSelectedTraductor}}  {{ 'TEXT.SELECTED' | translate }}
          <div class="closeBtn separated">
            <p class="closeTag" (click)="clearData()">x</p>
          </div>
        </div>

        <div class="tag" *ngIf="seeRelatedUserRecipient">
          {{quantityRecipients}} {{roleOption === roles.MERCHANT ? 'payees' : 'merchants'}} {{ 'TEXT.SELECTED_OF' | translate }} {{relatedUser.fullName}}
          <div class="closeBtn separated">
            <p class="closeTag" (click)="clearData()">x</p>
          </div>
        </div>
      </div>

      <div class="btn-container foot"
           *ngIf="recipientList.length > 0 || seeRelatedUserRecipient || seeRoleAllUserSelected">
        <button class="button"
                (click)="clearData()">
                {{ 'BUTTON_OPTION_INFO.CLEAR' | translate }}
        </button>

        <button class="button"
                (click)="addRecipientToNotification()">
          <i-feather class="icon" name="user-plus"></i-feather>
          {{ 'BUTTON_OPTION_INFO.ADD_RECIPIENTS' | translate }}
        </button>

      </div>

    </div>
  </div>
</div>


