.bg-pa{
  background-color: #0C3A47;
}
.bg-pm{
  background-color: white!important;
  .form {
    background: white!important;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777!important;
    font-family: 'Roboto', sans-serif;
    max-width: 635px;
    height: auto;
    border-radius: 36px;
    padding: 2% 8%;
    .title {
      color: #4782d3!important;
      font-family: sans-serif;
      font-size: 28px;
      line-height: 35px;
      margin: 0px;
    }
    .subtitle {
      color: black!important;
      font-size: 18px;
      p{
        font-size: 16px;
        margin: 0;
      }
      .name{
        font-family: sans-serif;
        font-size: 18px;
        line-height: 35px;
        color: #4782d3;
        margin: 0;
      }
    }
    .hr {
      background: #4782d3;
    }
    .input-line {
      background-color: white!important;
      color: #080909!important;
    }
    .ghost-round {
      background: #4782d3;
      color: blanchedalmond;
    }
    .ghost-round:hover {
      background: rgb(68, 54, 54);
    }
    .goldColor{
      color: black;
    }
  }
}
.body{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 0 15px 50px;
}

hr{
  width: 84px;
  background-color: #215868;
}

.logo {
  max-width: 572px;
  margin-bottom: 16px;
}

.big{
  height: 20px;
  width: 20px;
  margin-bottom: 9px;
}

.title{
  font-family: sans-serif;
  font-size: 28px;
  line-height: 35px;
  color: #FDDCBF;
  margin: 0;
}

.inputContainer{
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #82A5AF;
  color: #82A5AF;
  margin-top: 20px;
}

.field{
  display: flex;
  flex-direction: column;
}

.validation{
  margin: 0 0 16px 0;
  font-size: 12px;
  color: rgb(219, 115, 115);
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  max-width: 635px;
  height: auto;
  background: #0C3A47;
  box-shadow: 0 37px 96px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 7% 6%;
}

.form-pm {
  background: white;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  font-family: 'Roboto', sans-serif;
  max-width: 635px;
  height: auto;
  border-radius: 36px;
  padding: 2% 8%;
  .title {
    color: #4782d3;
    font-family: sans-serif;
    font-size: 28px;
    line-height: 35px;
    margin: 0px;
  }
  .subtitle {
    color: black;
    font-size: 18px;
    p{
      font-size: 16px;
      margin: 0;
    }
    .name{
      font-family: sans-serif;
      font-size: 18px;
      line-height: 35px;
      color: #4782d3;
      margin: 0;
    }
  }
  .hr {
    background: #4782d3;
  }
  .input-line {
    background-color: white!important;
    color: #080909!important;
  }
  .ghost-round {
    background: #4782d3;
    color: blanchedalmond;
  }
  .ghost-round:hover {
    background: rgb(68, 54, 54);
  }
  .goldColor{
    color: black;
  }
}

input {
  border: none;
  margin-left: 8px;
}

.subtitle {
  color: #82A5AF;
  font-size: 18px;
  p{
    font-size: 16px;
    margin: 0;
  }
  .name{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #FDDCBF;
    margin: 0;
  }
}

.legend{
  margin: 16px 0 0 0;
  font-size: 12px;
  color: #82A5AF;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

button:focus {
  outline: none;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color 200ms ease-in-out;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
}

.input-line {
  background: none;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto, serif;
  font-weight: 300;
  letter-spacing: 0.02rem;
  font-size: 1.2rem;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}



.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.window {
  z-index: 100;
  color: #fff;
  font-family: roboto, serif;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #fff;
}

.overlay {
  background-color: #0C3A47;
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
}

.password-form {
  width: 300px;
}

.ghost-round {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.password-strength-wrap {
  background-color: white;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 820px) {
  .password-form {
    width: 100%;
  }

  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}

.goldColor{
  color: #FDDCBF;
}

.separator{
  height: 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;

  &:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@media (max-width: 820px) {
  .logo {
    max-width: 280px;
  }
}
