<app-message-notification #MessagesComp></app-message-notification>

<div [ngSwitch]="landingType">

  <!-- CREATE ACCOUNT -->
  <div class="body" *ngSwitchCase="typeLanding.CREATE_ACCOUNT" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">
    ​
    <img class="logo" [src]="logoImg">
    <div [ngClass]="(changeClass==1)?'form-pm':'form'">
      <p class="title">{{ 'LOGIN.ACCOUNT_PROCESS' | translate }}</p>
      <hr>
      <p class="subtitle">
        {{ 'LOGIN.WELCOME' | translate }} <span class="name">{{firstLoginData.firstName}}
          {{firstLoginData.lastName}}</span>, {{ 'LOGIN.WELCOME_WERE_DONE' | translate }}
      </p>
      ​
      <!--  PASSWORDS  -->
      <form class="password-form" [formGroup]="formGroup">
        <div fxFlex>
          <mat-slide-toggle (change)="showDetails = !showDetails">{{ 'LOGIN.SHOW_PASSWORD_DETAILS' | translate }}
          </mat-slide-toggle>

          <div class="separator"></div>
          <!--password input filed-->
          <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponent.color">
            <mat-label class="goldColor">{{ 'LOGIN.PASSWORD' | translate }}</mat-label>

            <input matInput #password required type="password" [placeholder]="'LOGIN.PASSWORD' | translate"
              [formControl]="passwordComponent.passwordFormControl" onCopy="return false" onDrag="return false"
              onDrop="return false" onPaste="return false" autocomplete=off (change)="changePasswordOne($event)">
            <mat-hint align="end" aria-live="polite" class="goldColor">
              {{password.value.length}} / {{passwordComponent.max}}
            </mat-hint>

            <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('required')">{{ 'LOGIN.PASSWORD_REQUIRED' |
              translate }}</mat-error>
            <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('pattern')">{{ 'LOGIN.PASSWORD_NOT_VALID' |
              translate }}</mat-error>
          </mat-form-field>
          <!--@angular-material-extensions/password-strength's main component-->
          <mat-password-strength #passwordComponent
                                 (onStrengthChanged)="onStrengthChanged()"
                                 [password]="password.value"
                                 [max]="40"
                                 [min]="8"
                                 [enableSpecialCharRule]="false">
          </mat-password-strength>
          <!--Password's strength info-->
          <div class="password-strength-wrap">
            <mat-password-strength-info *ngIf="showDetails" [passwordComponent]="passwordComponent"
            [lowerCaseCriteriaMsg]="'LOGIN.CONTAINS_LEAST_LOWER' | translate"
            [upperCaseCriteriaMsg]="'LOGIN.CONTAINS_LEAST_UPPER' | translate"
            [digitsCriteriaMsg]="'LOGIN.CONTAINS_LEAST_DIGIT' | translate"
            [minCharsCriteriaMsg]="'LOGIN.CONTAINS_LEAST_EIGHT' | translate">
            </mat-password-strength-info>
          </div>
          <!--   SECOND PASSWORD   -->
          <div class="separator"></div>

          <mat-form-field appearance="outline" style="width: 100%" [color]="password2.invalid ? 'warn' : 'primary'">
            <mat-label class="goldColor">{{ 'LOGIN.CONFIRM_PASSWRD' | translate }}</mat-label>
            <input matInput type="password" required formControlName="password2" (input)="onPasswordInput()"
              [placeholder]="'LOGIN.PASSWORD' | translate" onCopy="return false" onDrag="return false"
              onDrop="return false" onPaste="return false" autocomplete=off>
            <mat-error *ngIf="password2.hasError('required')">{{ 'LOGIN.CONFIRM_REPASSWRD' | translate }}</mat-error>
            <mat-error *ngIf="password2.invalid && !password2.hasError('required')">{{ 'LOGIN.CONFIRM_PASSWRD_MATCH' |
              translate }}</mat-error>
          </mat-form-field>
        </div>
        <hr>
        <button class='ghost-round full-width' *ngIf="!loading" [disabled]="passwordComponent.passwordFormControl.hasError('required') ||
             passwordComponent.passwordFormControl.hasError('pattern') ||
             passwordComponent.passwordFormControl.invalid ||
             password2.invalid || password2.hasError('required')" (click)="handleClickCreateAccountButton()">{{
          'LOGIN.CREATE' | translate }}</button>
        <button class='ghost-round full-width' *ngIf="loading">
          <i class="material-icons spin">cached</i>
        </button>
      </form>
    </div>
  </div>

  <!-- SIGN IN -->
  <div class="body" *ngSwitchCase="typeLanding.CREATE_ACCOUNT_SIGN_IN" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">
    ​
    <img class="logo" [src]="logoImg" alt="Logo PMI-AMERICAS">

    <form class="form" [formGroup]="formGroup" [ngClass]="(changeClass==1)?'form-pm':'form'">
      <p class="title">{{ 'LOGIN.CONTAINS_EXCELENT' | translate }}</p>
      <hr>
      <p class="subtitle">{{ 'LOGIN.USER_CREATE_SUCCESS' | translate }}.</p> ​
      <hr>
      <button class='ghost-round full-width' (click)="handleClickSignInButton()">{{ 'LOGIN.USER_SIGN_IN' | translate
        }}</button>
    </form>
  </div>

  <!-- CHANGE EMAIL -->
  <div class="body" *ngSwitchCase="typeLanding.CHANGE_EMAIL_SUCCESS" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">
    ​
    <img class="logo" [src]="logoImg" alt="Logo PMI-AMERICAS">

    <form class="form" [formGroup]="formGroup" [ngClass]="(changeClass==1)?'form-pm':'form'">
      <p class="title">{{ 'LOGIN.CONTAINS_EXCELENT' | translate }}</p>
      <hr>
      <p class="subtitle">{{ 'LOGIN.USER_CHANGE_PASSWORD' | translate }}.</p>
      <hr>
      <button class='ghost-round full-width' (click)="handleClickSignInButton()">{{ 'LOGIN.USER_SIGN_IN' | translate
        }}</button>
    </form>
  </div>
</div>