.example-card {
  height: 110px;
  margin-bottom: 15px;
}

.flex {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.pageTitleModal {
  font-size: 24px !important;
  margin-bottom: 8px !important;
  margin-right: 30px !important;
}

.pageSubtitleModal {
  font-size: 20px !important;
  margin-bottom: 8px !important;
}

.closeBtn {
  cursor: pointer;

  .big {
    height: 32px;
    width: 32px;

    &:hover{
      color: rgb(201, 80, 80);
    }
  }

}

.btnContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .btn{
    padding: 8px;
    margin-top: 8px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid transparent;
    margin-left: 16px;
  }

  .accept{
    width: 106px;
    height: 44px;
    background: #215361;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
    color: #ffffff;
  }

  .cancel{
    width: 124px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
  }
}

@media (max-width: 820px) {
  .pageTitleModal {
    font-size: 16px !important;
  }
  .pageSubtitleModal {
    font-size: 18px !important;
  }
  
}