<div class="flex">
    <div class="pageTitleModal no-select">{{ 'REPORTS_MESSAGES.CHANGGE_NICKNAME_TO' | translate}} {{data.extendedUserRelation.extendedUser.firstName1}} {{data.extendedUserRelation.extendedUser.lastName1}}</div>
    <div class="closeBtn">
        <i-feather name="x-circle" class="big" (click)="closeModal()"></i-feather>
    </div>
</div>

<mat-card class="example-card">
    <mat-card-header style="justify-content: center">
        <div class="pageSubtitleModal no-select">
            {{ 'TEXT.NICKNAME' | translate}}
        </div>
    </mat-card-header>
    <mat-card-content style="display: grid;justify-content: center">
        <input style="width: 200px; text-align: center;" type="text" maxlength="100" [(ngModel)]="nickname" />
        <mat-error *ngIf="showError">{{ 'REPORTS_MESSAGES.NICKNAME_ALREDY_USED' | translate}}</mat-error>
    </mat-card-content>
</mat-card>


<div class="btnContainer">
    <button class="btn cancel" (click)="closeModal()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
    <button class="btn accept" (click)="saveNickname()">
        {{ 'BUTTON_OPTION_INFO.SAVE' | translate}}
  </button>
</div>