<!-- User modal que sale cuando le das click en el correo en la tabla de usuarios -->
<div class="message">
  <p class="title">{{titleTrauctor}} {{'TEXT.USER' | translate}}</p>
  <div class="message">
    <p>{{ 'REPORTS_MESSAGES.ADD_STATUS_REASON_TO' | translate}} {{titleTrauctor.toLowerCase()}} {{roles_name[data.extendedUser?.role]}}: <strong>{{data.extendedUser.fullName}}</strong></p>
      <label *ngIf="seeSetCardNumber">
        {{ 'PROFILE.CARD_NUMBER' | translate}}
        <input type="text"
               maxlength="19"
               [ngClass]="{'cardNumberError': cardNumberError || cardNumberLettersError}"
               [(ngModel)]="data.extendedUser.cardNumber"
               (ngModelChange)="cardNumberChangeHandler()"
               [value]="data.extendedUser.cardNumber | formatCardNumber"/>
      </label>
    <mat-error style="display: block" *ngIf="cardNumberError">
      {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.INVALID_CARD_NUMBERS' | translate}}</mat-error>
    <mat-error style="display: block" *ngIf="cardNumberLettersError">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.INVALID_CARD_LETTERS' | translate}}</mat-error>

    <div>
      <textarea name="textarea"
                rows="5"
                cols="50"
                [(ngModel)]="data.extendedUser.statusReason"
                placeholder="{{data.reasonType === 'Disable' || data.reasonType === 'Delete' ? ('PLACEHOLDER.WRITE_A_REASON' | translate) : ''}}"></textarea>
    </div>

  </div>
  <div class="btnContainer">
    <button class="btn cancel" (click)="onNoClick()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
    <button class="btn accept"
            (click)="save()"
            [disabled]="(data.extendedUser.statusReason.length === 0 &&
            (data.reasonType === 'Delete' || data.reasonType === 'Disable'))">        {{ 'BUTTON_OPTION_INFO.SAVE' | translate}}
    </button>
  </div>
</div>

