.pmi-row-full{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.pmi-row-mid{
    width: 50%;
    display: flex;
    background-color: orange;
}

.pmi-col-full{
    width: 100%;
    padding: 16px;
}

.pmi-col-33{
    width: 33%;
    padding: 16px;
    background-color: yellow;
}

.pmi-col-mid{
    width: 50%;
    padding: 16px;
    background-color: blue;
}

.graphic {
    min-width: 320px;
    width: 100%;
    max-width: 50%;
    flex: 1;
    margin-right: 20px;
}

@media (max-width: 820px) {
    .graphic {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
}