<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="pageTitle no-select">{{'TITLES.STATISTICS'| translate }}</div>

  <div class="pmi-row-full space-evenly wrap">

    <app-bar-graphic class="graphic"
                     [idChart]="1"
                     [title]="completedTraductor.value"
                     [chartType]="chartType.TRANSACTION"
                     [chartSubType]="chartSubType.MONETARY_AMOUNT_PAYMENT"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-bar-graphic>

   <app-bar-graphic class="graphic"
                     [idChart]="2"
                     [title]="numberPaymentsTraductor.value"
                     [chartType]="chartType.TRANSACTION"
                     [chartSubType]="chartSubType.NUMBER_PAYMENT"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-bar-graphic>

    <app-pie-graphic class="graphic"
                     [idChart]="10"
                     *ngIf="!userSessionService.isPayee()"
                     [title]="completedPaymentsTraductor.value"
                     [chartType]="chartType.TRANSACTION"
                     [chartSubType]="chartSubType.MONETARY_BY_COUNTRY"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-pie-graphic>

    <app-pie-graphic class="graphic"
                     [idChart]="3"
                     *ngIf="userSessionService.isPayee()"
                     [title]="paymentsTraductor.value"
                     [chartType]="chartType.TRANSACTION"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-pie-graphic>

   <app-bar-graphic class="graphic"
                     [idChart]="4"
                     *ngIf="isSuperOrAdmin()"
                     [title]="merchantsTraductor.value"
                     [roleFilter]="'role_merchant'"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-bar-graphic>

    <app-bar-graphic class="graphic"
                     [idChart]="5"
                     *ngIf="userSessionService.isReSeller()"
                     [title]="commissinsEarnedTraductor.value"
                     [chartType]="chartType.TRANSACTION"
                     [chartSubType]="chartSubType.COMMISSION_EARN"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-bar-graphic>

    <app-bar-graphic class="graphic"
                     [idChart]="6"
                     *ngIf="userSessionService.isReSeller()"
                     [title]="merchantsTraductor.value"
                     [chartType]="chartType.USER"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-bar-graphic>

    <app-bar-graphic class="graphic"
                     [idChart]="7"
                     *ngIf="role !== roles.PAYEE && role !== roles.RESELLER"
                     [title]="payeesAddedTraductor.value"
                     [chartType]="chartType.USER"
                     [roleFilter]="'role_payee'"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-bar-graphic>

    <app-pie-graphic class="graphic"
                     [idChart]="8"
                     *ngIf="role === roles.MERCHANT"
                     [title]="payesAddedCountryTraductor.value"
                     [chartType]="chartType.USER"
                     [chartSubType]="chartSubType.PAYEE_COUNTRY"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-pie-graphic>

    <app-pie-graphic class="graphic"
                     [idChart]="9"
                     *ngIf="role !== roles.PAYEE && role !== roles.RESELLER"
                     [title]="role === roles.MERCHANT ? payeesAddedStatusTraductor.value : usersAddedTraductor.value"
                     [chartType]="chartType.USER"
                     [chartSubType]="chartSubType.PAYEE_STATUS"
                     [showIntervals]="true"
                     [role]="role"
                     [extendedUser]="extendedUser"
                     (showRequestTransactionMsg)="showTransactionReportRequestMessage()">
    </app-pie-graphic>
  </div>

</div>
