.flex {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  border: solid 1px #5e5d5d !important;
  background-color: white;
  display: flex;

  input {
    border: none;
  }
}


.pageTitleModal {
  font-size: 24px !important;
  margin-bottom: 8px !important;
}

.closeBtn {
  cursor: pointer;

  .big {
    height: 32px;
    width: 32px;

    &:hover{
      color: rgb(201, 80, 80);
    }
  }

}

.elementCommission {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(216, 216, 216);
  border-top: 2px solid rgb(216, 216, 216);
  background-color: #0c3a47;

  p {
    margin: 10px 0;
    color: #cf955e;
    font-size: 15px;
  }
}

.bg-pm {
  .elementCommission {
    background-color: #4782d3 !important;
  
    p {
      color: #ffff;
    }
  }
}
.commissionInput {
  text-align: end;
  width: 100%;
}

.stepErrorCurrency {
  border-bottom: 2px solid #E57373 !important;
  border-top: 2px solid #E57373 !important;
  border-right: 2px solid #E57373 !important;
}

.stepErrorPercent {
  border-bottom: 2px solid #E57373 !important;
  border-top: 2px solid #E57373 !important;
  border-left: 2px solid #E57373 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 5px;
}


.header {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 16px 0;
}

.text-end{
  text-align: end;
}

.fixed-commission {
  display: flex;
}

button:disabled,
button[disabled] {
  opacity: 0.7;
}
