<div class="flex">
  <div class="pageTitleModal">{{extendedUser?.fullName}} Commission</div>
</div>

<mat-card class="commissionCard" *ngIf="this.data.role !== roles.RESELLER">
  <span *ngIf="!readonly">
    <div>Use Merchant Commission</div>
    <section class="example-section"
             style="margin-bottom: 15px">
      NO
      <mat-slide-toggle
        class="example-margin"
        [checked]="useMerchantCommission"
        (change)="changeUseMerchantCommission($event)">
        YES
      </mat-slide-toggle>
    </section>
  </span>
  <mat-card-content *ngIf="seeCommission" style="width: 305px">
    <div class="elementCommission" [ngClass]="(changeClass==1)?'bg-pm':''">
      <div class="col-8">
        <p>Bank Commission [%]</p>
      </div>
      <div class="col-4" *ngIf="readonly">
        <p class="text-end"><strong>{{bankCommission }}</strong></p>
      </div>
      <div class="col-4" *ngIf="!readonly">
        <span class="input-wrapper">
          <input type="number"
                 min="0"
                 max="100"
                 step=".01"
                 class="commissionInput"
                 [ngClass]="{'stepErrorPercent': errorInput('BANK_COMMISSION')}"
                 [(ngModel)]="bankCommission">
        </span>
      </div>
    </div>
    <mat-error *ngIf="errorInput('BANK_COMMISSION')">Bank commission required and positive</mat-error>
    <div class="elementCommission">
      <div class="col-8">
        <p>Fx Commission [%]</p>
      </div>
      <div class="col-4" *ngIf="readonly">
        <p class="text-end"><strong>{{fxCommission }}</strong></p>
      </div>
      <div class="col-4" *ngIf="!readonly">
        <span class="input-wrapper">
          <input type="number"
                 min="0"
                 max="100"
                 step=".01"
                 class="commissionInput"
                 [ngClass]="{'stepErrorPercent': errorInput('FX_COMMISSION')}"
                 [(ngModel)]="fxCommission">
        </span>
      </div>
    </div>
    <mat-error *ngIf="errorInput('FX_COMMISSION')">Fx commission required and positive</mat-error>
    <div class="elementCommission">
      <div class="col-8">
        <p>Recharge Cost [USD]</p>
      </div>
      <div class="col-4" *ngIf="readonly">
        <p class="text-end"><strong>{{rechargeCost}}</strong></p>
      </div>
      <div class="col-4" *ngIf="!readonly">
        <span class="input-wrapper">
          <input type="number"
                 min="0"
                 step="1"
                 class="commissionInput"
                 [ngClass]="{'stepErrorCurrency': errorInput('RECHARGE_COST')}"
                 [(ngModel)]="rechargeCost">
        </span>
      </div>
    </div>
    <mat-error *ngIf="errorInput('RECHARGE_COST')">Recharge cost required and positive</mat-error>
  </mat-card-content>
  <div class="btn-container margin-top-16 flex-end">
    <button (click)="closeModal()" *ngIf="readonly">Close</button>
    <button (click)="closeModal()" *ngIf="!readonly">Cancel</button>
    <button (click)="handleClickEditMerchantCommission()" *ngIf="!readonly">Save</button>
  </div>
</mat-card>

<mat-card class="commissionCard" *ngIf="this.data.role === roles.RESELLER">

  <div>Use Reseller Commission</div>

  <mat-card-content style="width: 305px">

    <div class="elementCommission">
      <div class="col-7">
        <p>Fixed <br> Commission [USD]</p>
      </div>
      <div class="col-5" *ngIf="readonly">
        <p class="text-end"><strong>{{resellerFixedCommission }}</strong></p>
      </div>
      <div class="col-5" *ngIf="!readonly">
        <span class="input-wrapper">
          <input type="number"
                 min="0"
                 step="1"
                 class="commissionInput"
                 [ngClass]="{'stepErrorPercent': errorInput('RESELLER_FIXED_COMMISSION')}"
                 [(ngModel)]="resellerFixedCommission"
                 (keypress)="validateKeyDownValueHandler($event)">
        </span>
      </div>
    </div>
    <mat-error *ngIf="resellerFixedCommission === null">Commission must be zero o grater</mat-error>


    <div class="elementCommission">
      <div class="col-7">
        <p>Percentage <br> Commission [%]</p>
      </div>
      <div class="col-5" *ngIf="readonly">
        <p class="text-end"><strong>{{resellerPercentageCommission }}</strong></p>
      </div>
      <div class="col-5" *ngIf="!readonly">
        <span class="input-wrapper">
          <input type="number"
                 min="0"
                 max="100"
                 step="0.1"
                 class="commissionInput"
                 [ngClass]="{'stepErrorPercent': errorInput('RESELLER_PERCENTAGE_COMMISSION')}"
                 [(ngModel)]="resellerPercentageCommission"
                 (keypress)="validateKeyDownValueHandler($event)">
        </span>
      </div>
    </div>
    <mat-error *ngIf="resellerPercentageCommission === null">Commission must be zero o grater</mat-error>
    <mat-error *ngIf="resellerPercentageCommission > 100">Maximum as commission in percentage is 100</mat-error>

  </mat-card-content>
  <div class="btn-container margin-top-16 flex-end">
    <button (click)="closeModal()">Cancel</button>
    <button (click)="handleClickEditReSellerCommission()"
            [disabled]="!validateResellerCommissionsInput()">
      Save
    </button>
  </div>
</mat-card>

