<!--   ###### ADMIN ######   -->
<form [formGroup]="adminForm">
    <div class="full-width box">
        <div class="box-inner" style="padding: 10px;">
            <!--   TODO   -->
            <div class="mid-col">
                <div class="full-width spaced flex-row">
                    <div class="mid-col">
                        <div class="form-group">
                            <label class="label-form">{{ 'PROFILE.FIRST_NAME' | translate }}</label>
                            <input [ngClass]="{'errorInput': adminFirstName1.invalid && adminFormInvalid}" [readonly]="canReadOnly('FIRST_NAME_1')" class="form-control" formControlName="firstName1" (keypress)="validacionInput($event, 'letras')" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="mid-col">
                        <div class="form-group">
                            <label class="label-form">{{ 'TEXT.LAST_NAME' | translate }}</label>
                            <input formControlName="lastName1" [ngClass]="{'errorInput': adminLastName1.invalid && adminFormInvalid}" type="text" class="form-control" placeholder="" (keypress)="validacionInput($event, 'letras')" required [readonly]="canReadOnly('FIRST_LAST_NAME_1')">
                        </div>
                    </div>
                </div>
            </div>
            <!--   TODO   -->

            <!--   TODO   -->
            <div class="mid-col">
                <div class="form-group">
                    <div class="form-group marginBotEmail">
                        <label class="label-form">{{ 'TEXT.EMAIL' | translate }}</label>
                        <input formControlName="email" type="email" class="form-control" placeholder="" readonly>
                    </div>
                </div>
            </div>
            <!--   TODO   -->
        </div>
    </div>
</form>