<div class="row">
    <div class="col-md-4">
        <select class="form-control" name="day" [(ngModel)]="day" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
    </div>
    <div class="col-md-4">
        <select name="month" [(ngModel)]="month" class="form-control" required>
            <option value="1">{{'TEXT.JANUARY'|translate}}</option>
            <option value="2">{{'TEXT.FEBRUARY'|translate}}</option>
            <option value="3">{{'TEXT.MARCH'|translate}}</option>
            <option value="4">{{'TEXT.APRIL'|translate}}</option>
            <option value="5">{{'TEXT.MAY'|translate}}</option>
            <option value="6">{{'TEXT.JUNE'|translate}}</option>
            <option value="7">{{'TEXT.JULY'|translate}}</option>
            <option value="8">{{'TEXT.AUGUST'|translate}}</option>
            <option value="9">{{'TEXT.SEPTEMBER'|translate}}</option>
            <option value="10">{{'TEXT.OCTOBER'|translate}}</option>
            <option value="11">{{'TEXT.NOVEMBER'|translate}}</option>
            <option value="12">{{'TEXT.DECEMBER'|translate}}</option>
        </select>
    </div>
    <div class="col-md-4">
        <!-- <select name="year" [(ngModel)]="year" class=".form-control">
            <option value="1">{{'TEXT.JANUARY'|translate}}</option>
        </select> -->
        <input type="text" [(ngModel)]="year" class="form-control" name="year" minlength="4" maxlength="4" pattern="\d">
    </div>
</div>
