<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
    <div class="pageTitle"> {{'TITLES.GENERATED_FILE'| translate }}</div>

    <div class="full-width flex-end"><button class="rounded-btn" (click)="refreshButtonHandler()">
      <i-feather name="refresh-ccw"></i-feather></button>
    </div>

    <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
        </div>
        <div class="example-table-container">
            <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows matSortActive="dateCreated" matSortDirection="desc" class="mat-elevation-z8">

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>{{columnNames.action}}</th>
                    <td mat-cell *matCellDef="let row">
                        <i-feather name="download-cloud"></i-feather>
                    </td>
                </ng-container>

                <ng-container matColumnDef="fileName">
                    <th mat-header-cell *matHeaderCellDef>{{'DATA_TABLE.FILE' | translate}}</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="fileBox" *ngIf="row?.bankAccount.bank.country.id == 2 || row?.bankAccount.bank.country.id == 74 || row?.bankAccount.bank.country.id == 77 || row?.bankAccount.bank.country.id == 66 || row?.bankAccount.bank.country.id == 101 || row?.bankAccount.bank.country.id == 115">
                            <a class="btn btn-block btn-success" (click)="selectPayment( row, row?.bankAccount.bank.country.id )">{{'TEXT.DOWNLOAD_FILE' | translate}}</a>
                            <!--<a download="{{getFilePath(row?.fileName, 'downloadName')}}" target="_blank"
                              href="{{getFilePath(row?.fileName, 'pathLink')}}"
                              [ngClass]="{'simple': !row.fileName}">
                              {{ row?.fileName ?  getFilePath(row?.fileName, 'fileName') : 'Processing...' }}
                          </a>-->
                        </div>
                        <div class="fileBox" *ngIf="row?.bankAccount.bank.country.id != 74 && row?.bankAccount.bank.country.id != 77 && row?.bankAccount.bank.country.id != 66 && row?.bankAccount.bank.country.id != 2 && row?.bankAccount.bank.country.id != 101 && row?.bankAccount.bank.country.id != 115">
                            <a download="{{getFilePath(row?.fileName, 'downloadName')}}" target="_blank" href="{{getFilePath(row?.fileName, 'pathLink')}}" [ngClass]="{'simple': !row.fileName}" class="btn btn-block btn-success">{{'TEXT.DOWNLOAD_FILE' | translate}}</a>
                            <!--<a download="{{getFilePath(row?.fileName, 'downloadName')}}" target="_blank"
                              href="{{getFilePath(row?.fileName, 'pathLink')}}"
                              [ngClass]="{'simple': !row.fileName}">
                              {{ row?.fileName ?  getFilePath(row?.fileName, 'fileName') : 'Processing...' }}
                          </a>-->
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>{{'DATA_TABLE.STATUS' | translate}}</th>
                    <td mat-cell *matCellDef="let row" [style.color]="statusesColor[row?.status]">{{statuses[row?.status]}}</td>
                </ng-container>

                <ng-container matColumnDef="dateCreated">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'DATA_TABLE.DATE' | translate}}</th>
                    <td mat-cell *matCellDef="let row">{{row?.dateCreated | date:'MMM d, y, h:mm a'}}</td>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef>{{'PROFILE.COUNTRY' | translate}}</th>
                    <td mat-cell *matCellDef="let row">{{row?.bankAccount?.bank?.country?.name}}</td>
                </ng-container>

                <ng-container matColumnDef="bank">
                    <th mat-header-cell *matHeaderCellDef>{{'DATA_TABLE.BANK' | translate}}</th>
                    <td mat-cell *matCellDef="let row">{{row?.bankAccount?.bank?.name}}</td>
                </ng-container>

                <ng-container matColumnDef="bankAccount">
                    <th mat-header-cell *matHeaderCellDef>{{'PROFILE.BANK_ACCOUNT' | translate}}</th>
                    <td mat-cell *matCellDef="let row">{{row?.bankAccount?.accountNumber}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>
            </table>
        </div>
        <mat-paginator (click)="changePaginationHandler()" [length]="resultsLength" [pageSize]="pageSize">
        </mat-paginator>
    </div>
</div>