<div class="ocean-card">
  <div class="wrapper animated fadeIn">

    <div class="avatar">
      <div class="card card-body avatar-card">
        <!--        <div class="card card-body" style="height: 400px">-->
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="photoContainer">
              <div class="mobile-avatar">
                <ngx-avatar *ngIf="!user.imageUrl"
                            [src]="imageUserTemp"
                            [textSizeRatio]="textSizeRatio"
                            name="{{firstName.value}} {{lastName.value}}"
                            size="230" [round]="true">
                </ngx-avatar>
              </div>
              <div class="desktop-avatar">
                <ngx-avatar *ngIf="!user.imageUrl"
                            [src]="imageUserTemp"
                            [textSizeRatio]="textSizeRatio"
                            name="{{firstName.value}} {{lastName.value}}"
                            size="250" [round]="true">
                </ngx-avatar>
              </div>
              <!--              <img *ngIf="!imageUserTemp" [src]="user.imageUrl" alt="">-->
            </div>
            <!--            <input type="file" style="margin-bottom: 20px;"-->
            <!--                   (change)="chooseImage($event.target.files[0], 'user')">-->
            <!--            <div class="btn-container">-->
            <!--              <button (click)="updateImage('user')" [disabled]="!imageUserUpload">-->
            <!--                Update photo-->
            <!--              </button>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>


    <div class="user-info">

      <div class="card card-body">
        <p class="pText fullName-form-style">{{firstName.value}} {{lastName.value}}</p>
      </div>

      <div class="card card-body" style="margin-top: 15px">
        <p class="sText">{{email.value}}</p>
        <div class="change-handler">
          <!-- <p class="emphasis-text whiteBack" (click)="openChangeEmailHandler()">{{'PROFILE.CHANGE_EMAIL_USER'|translate}}</p> -->
          <p class="emphasis-text whiteBack" (click)="openChangePasswordHandler()">{{'PROFILE.CHANGE_PASS'|translate}}</p>
        </div>
      </div>

      <div class="card card-body">
        <label style="text-align: center;">{{'NOTIFICATION_TRADUCTIONS.USER_CANNT_EDIT_EMAIL' | translate}}</label>
      </div>

      <!--   Reseller CHANGE LOGO   -->
      <div class="card card-body"
           *ngIf="extendedUser.role === roles.RESELLER && userSessionService.loadUserStatus() !== status.REJECTED"
           style="margin-top: 15px;">
        <p class="emphasis-text whiteBack no-select" (click)="showHideUpdateLogoHandler()">{{'PROFILE.UPDATE_RESELLER' | translate}}</p>
        <div class="logoContainer" *ngIf="seeUpdateLogo">
          <p class="title">{{'TEXT.PREVIEW' | translate}}</p>
          <div class="imageDisplay">
            <img class="logo" *ngIf="imageLogoTemp" [src]="imageLogoTemp | safe: 'url'" alt="Logo ReSeller">
          </div>
          <p class="sizes">{{'LOGIN.SUGGESTED_DIMENSIONS' | translate}}  335 x 110</p>
          <div class="btn-container">
            <button (click)="fileInput.click()">
              <span>{{'BUTTON_OPTION_INFO.CHOOSE_FILE'|translate}}</span>
              <input id="logo-input"
                     #fileInput
                     type="file"
                     accept=".png, .jpg, .svg"
                     style="display:none !important;"
                     (change)="chooseImage($event.target.files[0], 'logo')">
            </button>
            <p class="file-name">{{fileNameSelected(fileInput.value)}}</p>
          </div>

          <mat-error style="margin: 10px" [ngClass]="{'valid-format-color': !formatLogoError}">
            {{'LOGIN.VALID_FORMATS' | translate}} .jpg .png .svg
          </mat-error>

          <div class="btn-container">
            <button (click)="updateImage('logo')" [disabled]="!imageLogoTemp">
              {{'LOGIN.UPDATE_LOGO' | translate}}
            </button>

            <button (click)="restoreLogoPMI()"
                    *ngIf="canSeeRestoreLogoButtonHandler()">
                    {{'LOGIN.SET_DEFAULT_PMI_LOGO' | translate}}
            </button>
          </div>
        </div>
      </div>
      <!--   Reseller CHANGE LOGO END   -->


      <!--  CHANGE EMAIL    -->
      <div class="smallBox card card-body"
           style="margin-top: 15px;"
           *ngIf="seeChangeEmail">
        <form class="form" [formGroup]="emailForm">

          <mat-form-field  appearance="outline" [color]="currentEmailError ? 'warn' : 'primary'" style="width: 100%">
            <mat-label for="">{{'LOGIN.ENTER_YOUR_NAME_EMAIL_USERNAME' | translate}}</mat-label>
            <input matInput
                   type="text"
                   required
                   formControlName="newEmail"
                   (input)="ValidateIsNotCurrentEmail()"
                   [placeholder]="'LOGIN.ENTER_YOUR_NAME_EMAIL_USERNAME' | translate"
                   autocomplete=off>
            <mat-error *ngIf="newEmail.hasError('required')">{{'LOGIN.NEW_EMAIL_USERNAME_REQUIRED' | translate}}</mat-error>
            <mat-error *ngIf="newEmail.hasError('email')">{{'TEXT.ENTER_VALID_EMAIL' | translate}}</mat-error>
          </mat-form-field>
          <mat-error class="current-email-error" *ngIf="currentEmailError">{{'LOGIN.CANT_USE_CURRENT_EMAIL' | translate}}</mat-error>

          <div class="separator"></div>

          <mat-form-field appearance="outline" style="width: 100%"
                          [color]="newEmailRepeat.invalid ? 'warn' : 'primary'">
            <mat-label>{{'LOGIN.CONFIRM_EMAIL_USERNAME' | translate}}</mat-label>
            <input matInput
                   type="text"
                   required
                   formControlName="newEmailRepeat"
                   (input)="onEmailInput()"
                   [placeholder]="'LOGIN.CONFIRM_EMAIL_USERNAME' | translate"
                   onCopy="return false"
                   onDrag="return false"
                   onDrop="return false"
                   onPaste="return false"
                   autocomplete=off>
            <mat-error *ngIf="newEmailRepeat.hasError('required')">
              {{'LOGIN.PLEASE_CONFIRM_EMAIL_USERNAME' | translate}}
            </mat-error>
            <mat-error *ngIf="newEmailRepeat.invalid && !newEmailRepeat.hasError('required')">
              {{'LOGIN.EMAIL_USERNAME_DONT_MATCH' | translate}}
            </mat-error>
          </mat-form-field>

          <div class="flexEnd btn-container" style="margin-top: 10px">
            <button (click)="hideChangeEmailOrPasswordHandler()">{{'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
            <button *ngIf="!loading" (click)="changeEmailAccount()"
                    [disabled]="emailForm.invalid || currentEmailError">
                    {{'LOGIN.SAVE_EMAIL_USERNAME' | translate}}
            </button>
            <button *ngIf="loading">
              <i class="material-icons spin">cached</i>
            </button>
          </div>

        </form>
      </div>
      <!--  END CHANGE EMAIL  -->


      <!--  CHANGE PASSWORD    -->
      <div class="smallBox card card-body" style="margin-top: 15px;"
           *ngIf="seeChangePassword">
        <form class="form" [formGroup]="passwordGroup">

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{'LOGIN.ENTER_YOUR_ACTUAL_PASSWORD' | translate}}</mat-label>
            <label>
              <input matInput
                     type="password"
                     required
                     formControlName="oldPassword"
                     [placeholder]="'LOGIN.OLD_PASSWORD' | translate"
                     onCopy="return false"
                     onDrag="return false"
                     onDrop="return false"
                     onPaste="return false"
                     maxlength="40"
                     autocomplete=off>
            </label>
            <mat-error *ngIf="oldPassword.hasError('required')">{{'LOGIN.OLD_PASSWORD_REQUIRED' | translate}}</mat-error>
          </mat-form-field>

          <mat-error style="margin-bottom: 15px" *ngIf="showErrorMsg">{{errorMessage}}</mat-error>
          <mat-slide-toggle (change)="showDetails = !showDetails">{{'LOGIN.SHOW_PASSWORD_DETAILS' | translate}}</mat-slide-toggle>


          <mat-password-strength-info *ngIf="showDetails" [passwordComponent]="passwordComponent"
          [lowerCaseCriteriaMsg]="'LOGIN.CONTAINS_LEAST_LOWER' | translate"
          [upperCaseCriteriaMsg]="'LOGIN.CONTAINS_LEAST_UPPER' | translate"
          [digitsCriteriaMsg]="'LOGIN.CONTAINS_LEAST_DIGIT' | translate"
          [minCharsCriteriaMsg]="'LOGIN.CONTAINS_LEAST_EIGHT' | translate">
          </mat-password-strength-info>

          <div class="separator"></div>


          <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponent.color">
            <mat-label>{{'LOGIN.PASSWORD' | translate}}</mat-label>
            <label>
              <input matInput
                     #password
                     required
                     type="password"
                     [placeholder]="'LOGIN.PASSWORD' | translate"
                     [formControl]="passwordComponent.passwordFormControl"
                     onCopy="return false"
                     onDrag="return false"
                     onDrop="return false"
                     onPaste="return false"
                     maxlength="40"
                     autocomplete=off
                     (change)="changeNewPassword($event)">
            </label>
            <mat-hint align="end" aria-live="polite" class="goldColor">
              {{password.value.length}} / {{passwordComponent.max}}
            </mat-hint>
            <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('required')">
              {{'LOGIN.PASSWORD_REQUIRED' | translate}}
            </mat-error>
            <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('pattern')">
              {{'LOGIN.PASSWORD_NOT_VALID' | translate}}
            </mat-error>
          </mat-form-field>


          <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged()"
                                 [password]="password.value" [max]="40" [min]="8" [enableSpecialCharRule]="false">
          </mat-password-strength>

          <div class="separator"></div>

          <mat-form-field appearance="outline" style="width: 100%" [color]="newPassword2.invalid ? 'warn' : 'primary'">
            <mat-label>{{'LOGIN.CONFIRM_REPASSWRD' | translate}}</mat-label>
            <label>
              <input matInput
                     type="password"
                     required
                     formControlName="newPassword2"
                     (input)="onPasswordInput()"
                     [placeholder]="'LOGIN.CONFIRM_REPASSWRD' | translate"
                     onCopy="return false"
                     onDrag="return false"
                     onDrop="return false"
                     onPaste="return false"
                     autocomplete=off>
            </label>
            <mat-error *ngIf="newPassword2.hasError('required')">{{'LOGIN.CONFIRM_REPASSWRD' | translate}}</mat-error>
            <mat-error *ngIf="newPassword2.invalid && !newPassword2.hasError('required')">{{'LOGIN.CONFIRM_PASSWRD_MATCH' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="samePassword">{{'REPORTS_MESSAGES.CURRENT_PASSWORD_CANNOT_SAME' | translate}}.</mat-error>

          <div class="flexEnd btn-container">
            <button (click)="hideChangeEmailOrPasswordHandler()">Cancel</button>
            <button *ngIf="!loading" (click)="changePasswordAccount()"
                    [disabled]="passwordComponent.passwordFormControl.hasError('required') ||
                    passwordComponent.passwordFormControl.hasError('pattern') ||
                    passwordComponent.passwordFormControl.invalid ||
                    oldPassword.invalid || oldPassword.hasError('required') ||
                    newPassword2.invalid || newPassword2.hasError('required')">
              {{'PROFILE.SAVE_PASSWORD' | translate}}
            </button>
            <button *ngIf="loading">
              <i class="material-icons spin">cached</i>
            </button>
          </div>
        </form>
      </div>
      <!--  END CHANGE PASSWORD    -->
    </div>
  </div>
</div>
