.ocean-card {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-content: center !important;
  color: #0C3A47;
  font-family: 'roboto', sans-serif;
  margin: 40px 16px 0;
  padding: 16px;
  border: solid 1px #C0C0C0;
  flex: 1;
  background-color: #e3e4e5;

  p {
    text-align: center;
    margin: 0;
  }

  .pText {
    font-size: 45px;
    font-family: "Source Sans Pro", sans-serif !important;
  }

  .sText {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-bottom: -16px;
}

.avatar {
  flex: 1;
  min-width: 315px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.user-info {
  flex: 1;
  min-width: 350px;
  margin-right: 16px;
  margin-bottom: 16px;

  .btnContainer {
    button {
      margin-left: 0;
    }

    button + button {
      margin-left: 16px; 
    }
  }
}

.heightPayeeProfile {
  height: 628px !important;
}

.valid-format-color {
  color: #9E9E9E;
}

.logoContainer {
  display: inherit;
  flex-direction: column;

  .title {
    margin: 15px 0 5px 0;
    font-size: 18px;
  }

  .imageDisplay {
    display: inherit;
    flex-direction: column;
    border: 1px solid #BDBDBD;
    background-color: #273032;
    height: 112px !important;
    width: 336px !important;
    align-self: center;

    .logo {
      align-self: center;
      height: 110px;
      width: 332px;
      object-fit: contain !important;
      display: flex;

    }
  }

  .sizes {
    text-align: end;
    margin: 0 88px 16px 0;
  }

  .file-name {
    align-self: center;
    margin-left: 15px;
  }
}


.photoContainer {
  display: flex !important;
  justify-content: center !important;
  margin: 16px 0 16px 0;
  height: 250px !important;

  .buttonsContainer {
    max-width: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.178);
    display: flex;
    position: relative;
    bottom: 56px;
    padding: 8px 5px;
    justify-content: space-between;

    .editionBtn {
      background-color: rgb(19, 87, 106) !important;
      border: 1px #fff solid;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;

      .small {
        height: 18px;
        width: 18px;
        color: #fff;
      }
    }

  }
}


@media (max-width: 1500px) {
  .ocean-card {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    color: #0C3A47;
    font-family: 'roboto', sans-serif;
    margin: 40px 16px 0;
    padding: 16px;
    border: solid 1px #C0C0C0;
    background-color: #e3e4e5;

    p {
      text-align: center;
      margin: 0;
    }

    .pText {
      font-size: 45px;
      font-family: "Source Sans Pro", sans-serif !important;
    }

    .sText {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .contents {
      margin-left: 32px !important;
    }

    .photoContainer {
      display: flex !important;
      justify-content: center !important;

      margin: 0 0 16px 0;
      height: 250px !important;

      .buttonsContainer {
        max-width: 250px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.178);
        display: flex;
        position: relative;
        bottom: 56px;
        padding: 8px 5px;
        justify-content: space-between;

        .editionBtn {
          background-color: rgb(19, 87, 106) !important;
          border: 1px #fff solid;
          width: 40px;
          height: 40px;
          padding: 0;
          margin: 0;

          .small {
            height: 18px;
            width: 18px;
            color: #fff;
          }
        }

      }
    }
  }
}


.image-load {
  width: auto;
  height: -webkit-fill-available;
  object-fit: cover;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;

  &:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.separator{
  height: 10px;
}

.change-handler {
  display: flex;
  justify-content: space-around;
}

.btn-container {
  button {
    margin-left: 0;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.mobile-avatar {
  display: none;
}

.avatar-card {
  height: 315px;
}

@media (max-width: 820px) {
  .ocean-card {
    padding: 8px;
    margin: 16px 8px 0;
  }

  .wrapper {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .avatar {
    min-width: 230px;
    margin-right: 0;

    .avatar-card {
      height: 270px;
    }
    
    .card-body {
      padding: 8px !important;
    }
  }

  .desktop-avatar {
    display: none;
  }

  .mobile-avatar {
    display: block;
  }

  .user-info {
    min-width: 230px;
    margin: 0;
  }

  .change-handler {
    flex-direction: column;

    p + p {
      margin-top: 8px;
    }
  }

  .btn-container {
    flex-direction: column;

    button {
      margin: 0 0 8px;
  
      &:last-of-type {
        margin: 0;
      }
    }
  }
}