<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="pageTitle">{{ 'TITLES.PENDING_USER' | translate }}</div>
  <div class="header">
    <div class="leftHeaderContainer">
      <form [formGroup]="countryForm">
        <label for="countryFilter" style="margin-right: 16px">{{ 'REPORTS_MESSAGES.CHOOSE_COUNTRY' | translate }}</label>
        <input type="text"
               class="countryInput"
               id="countryFilter"
               formControlName="countryPayee"
               [matAutocomplete]="postalP"
               placeholder="{{ 'PLACEHOLDER.START_TYPING_COUNTRY_NAME' | translate }}">
        <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry"
                          (optionSelected)="onChangeCountry()">
          <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
            {{country.name}}
          </mat-option>
        </mat-autocomplete>
      </form>

      <label for="banks"></label>
      <select *ngIf="seeBank" name="bank" id="banks" (change)="selectBank($event)">
        <option selected disabled>{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate }}</option>
        <option *ngFor="let bank of banks" value="{{bank.id}}">{{bank.name}}</option>
      </select>
    </div>
  </div>

  <div class="margin32">

    <div class="processContainer" *ngIf="seeBank">
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
        </div>

        <div class="example-table-container">
          <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows
                 matSortActive="lastUpdated" matSortDirection="desc">

            <ng-container matColumnDef="check">
              <th mat-header-cell *matHeaderCellDef>
                <label for="allCheck"></label>
                <input type="checkbox"
                       (change)="allCheckElement()"
                       id="allCheck"
                       checked/></th>
              <td mat-cell *matCellDef="let row">
                <label for='{{row.id}}'></label>
                <input type="checkbox"
                       (change)="addCheckElement(row)"
                       id='{{row.id}}'
                       checked/>
              </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.id}}</th>
              <td mat-cell *matCellDef="let row">{{row?.idNumber}}</td>
            </ng-container>

            <!-- Merchant Name Column -->
            <ng-container matColumnDef="merchant" *ngIf="columns.indexOf('merchant') !== -1">
              <th mat-header-cell *matHeaderCellDef>{{columnNames.merchant}}</th>
              <td mat-cell *matCellDef="let row">{{row?.userRelated?.firstName1}} {{row?.userRelated?.lastName1}}</td>
            </ng-container>

            <!-- LoginName Column -->
            <ng-container matColumnDef="loginName" *ngIf="columns.indexOf('loginName') !== -1">
              <th mat-header-cell *matHeaderCellDef>{{columnNames.loginName}}</th>
              <td mat-cell *matCellDef="let row">{{row?.email}}</td>
            </ng-container>

            <!-- FullName Column -->
            <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.fullName}}</th>
              <td mat-cell *matCellDef="let row">{{row?.fullName}}</td>
            </ng-container>

            <!-- Mobile Number Column -->
            <ng-container matColumnDef="mobileNumber" *ngIf="columns.indexOf('mobileNumber') !== -1">
              <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.mobileNumber}}</th>
              <td class="table-status" mat-cell *matCellDef="let row">{{row?.mobileNumber}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
  <div class="btn-container">
    <button *ngIf="bankId"
            (click)="processUsers()"><i class="icofont-file-excel icon"></i>
      <p>{{ 'BUTTON_OPTION_INFO.GENERATE_FILE' | translate }}</p>
    </button>
  </div>
</footer>