<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="pageTitle">{{ 'SIDEBAR.FUNDING' | translate }}</div>

  <!-- FILTROS -->
  <div [ngClass]="{'filterMasterContainer': collapse}" *ngIf="selectedIndex.value === 1">
    <div class="filterHeader">
      <div class="filterTitle" (click)="handleClickFilterToggle()">
        <i-feather class="filterIcon" name="filter"></i-feather>{{ 'BUTTON_OPTION_INFO.FILTER' | translate }}
      </div>
      <button class="btn2" (click)="cleanFilter()"
              *ngIf="nameMerchant.length > 0 || nameStatus.length > 0">{{ 'BUTTON_OPTION_INFO.CLEAR' | translate }}
      </button>
      <button class="btn2 btn3" [ngClass]="(changeClass==1)?'bg-pm':''" (click)="applyFilter()" *ngIf="showApplyFilter">{{ 'BUTTON_OPTION_INFO.APPLY' | translate }}</button>
      <p class="message-error-empty" *ngIf="mssgEmpty">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.FILTER_EMPTY' | translate }}</p>
    </div>

    <div class="filterContainer" *ngIf="collapse">

      <label for="filters"></label>
      <select id="filters" name="filters" (change)="addFilter($event)">
        <option disabled selected>{{ 'BUTTON_OPTION_INFO.SELECT_FILTER' | translate }}</option>
        <option value="status">{{ 'DATA_TABLE.STATUS' | translate }}</option>
        <option value="name">{{ 'REPORTS_MESSAGES.NAME' | translate }}</option>
      </select>

      <!-- NG-SWITCH -->
      <div class="filterName" [ngSwitch]="filterName">

        <div id="status" *ngSwitchCase="'status'">
          <label for="statusFilter">{{ 'DATA_TABLE.STATUS' | translate }}</label>
          <select id="statusFilter" name="statusFilter" [(ngModel)]="statusId">
            <option value="">{{ 'STATUS.ALL_STATUSES' | translate }}</option>
            <option *ngFor="let value of keys(statuses)" [value]="value">{{statuses[value]}}</option>
          </select>
        </div>

        <div id="name" *ngSwitchCase="'name'">
          <label for="nameInput">{{ 'TEXT.MERCHANT_NAME' | translate }}</label>
          <input id="nameInput" type="text" name="nameInput" value="" [(ngModel)]="nameInput" maxlength="30">
        </div>

      </div>
    </div>

    <div class="tagWrapper" *ngIf="collapse">

      <div class="tagContainer" *ngIf="nameMerchant.length > 0">
        <div class="tag fatherTag">
          <p class="cancel" (click)="resetFilter('merchant')">x</p>
          <p>{{ 'TEXT.MERCHANT_NAME' | translate }}</p>
        </div>
        <div class="tag childTag" *ngFor="let name of nameMerchant">
          <p class="cancel" (click)="deleteFilter('merchant', name)">x</p>
          <p>{{name}} </p>
        </div>
      </div>

      <div class="tagContainer" *ngIf="nameStatus.length > 0">
        <div class="tag fatherTag">
          <p class="cancel" (click)="resetFilter('status')">x</p>
          <p>{{ 'DATA_TABLE.STATUS' | translate }}</p>
        </div>
        <div class="tag childTag" *ngFor="let name of nameStatus">
          <p class="cancel" (click)="deleteFilter('status',name)">x</p>
          <p>{{statuses[name]}}</p>
        </div>
      </div>

    </div>
  </div>
  <!-- END FILTROS -->

  <div class="fullWidth tableShadow">
    <mat-tab-group animationDuration="0ms" style="height: 100%"
                   [selectedIndex]="selectedIndex.value"
                   (selectedIndexChange)="changeTab($event)">
      <mat-tab [label]="'BUTTON_OPTION_INFO.FUNDS' | translate">
        <ng-template mat-tab-label>{{ 'BUTTON_OPTION_INFO.FUNDS' | translate }}</ng-template>
        <app-table-fund #TableFund
                        [extendedUser]="extendedUser"
                        [role]="role"
                        [historical]="false"
                        (openActionFundModal)="openActionFundModal($event)">
        </app-table-fund>
      </mat-tab>

      <mat-tab label="Fund history" id="fund_history" *ngIf="isSuperOrAdmin()">
        <ng-template mat-tab-label>{{ 'BUTTON_OPTION_INFO.FUND_HISTORY' | translate }}</ng-template>

        <app-table-fund #TableFundHistorical
                        [extendedUser]="extendedUser"
                        [role]="role"
                        [filter]="queryFilter"
                        [historical]="true">
        </app-table-fund>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


<footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
  <div class="btn-container">
    <button (click)="openFundModal()" *ngIf="role === roles.MERCHANT"
            [ngClass]="{'disabled-button': extendedUser.status !== status.ACCEPTED}">{{ 'BUTTON_OPTION_INFO.NEW_FUNDING' | translate }}</button>
  </div>
</footer>
