<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="pageTitle">{{ 'PROFILE.USER_PROFILE' | translate }}</div>

  <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex.value"
    (selectedIndexChange)="changeTabView($event)">
    <mat-tab *ngIf="userSessionService.haveStatus()">
      <ng-template mat-tab-label>{{ 'PROFILE.ACCOUNT_INFO' | translate }}</ng-template>

      <!--PROFILE CARD-->
      <app-account-form [extendedUser]="extendedUser" [user]="sessionUser"
        (showMsgChangePW)="showMessage($event, 'success')"
        (showMsgChangeEmail)="showMessageWithOpt($event.title, $event.msg, 'success', 7000)"
        (showFileMsg)="fileUploadMessageHandler($event)">
      </app-account-form>
    </mat-tab>


    <mat-tab *ngIf="!userSessionService.isSuperOrAdmin()">
      <ng-template mat-tab-label>{{ 'PROFILE.USER_INFO' | translate }}</ng-template>

      <div class="row animated fadeIn"  [ngClass]="(changeClass==1)?'bg-pm':''">
        <div class="column"
          *ngIf="userSessionService.loadRole() !== this.roles.ADMIN && userSessionService.loadRole() !== this.roles.SUPER_ADMIN">

          <!-- ############ MERCHANT OR Reseller ########## -->
          <app-user-form #UserForm *ngIf="userSessionService.isMerchant() || userSessionService.isReSeller()"
            [modifyMode]="modifyMode" [extendedUser]="extendedUser" [sessionUser]="sessionUser"
            [userFormInvalid]="userFormInvalid">
          </app-user-form>
          <!--   ###### END MERCHANT OR Reseller ######   -->

          <!--   ###### PAYEE USER######   -->
          <app-payee-form #PayeeForm *ngIf="userSessionService.isPayee() && !this.sessionUser.payeeAsCompany"
            [modifyMode]="modifyMode" [countryPostalId]="countryPostalId" [extendedUser]="extendedUser"
            [user]="sessionUser" [payeeFormInvalid]="payeeFormInvalid"
            (setPostalCountrySelectedId)="changePostalCountry($event)">
          </app-payee-form>
          <!--   ###### END PAYEE ######   -->

          <!--   ###### PAYEE COMPANY ######   -->
          <app-payee-company-form #PayeeCompanyForm
            *ngIf="userSessionService.isPayee() && this.sessionUser.payeeAsCompany" [modifyMode]="modifyMode"
            [countryPostalId]="countryPostalId" [extendedUser]="extendedUser" [user]="sessionUser"
            [payeeCompanyFormInvalid]="payeeCompanyFormInvalid"
            (setPostalCountrySelectedId)="changePostalCountry($event)">
          </app-payee-company-form>
          <!--   ###### END PAYEE COMPANY ######   -->

          <div class="flexEnd">
            <div class="btn-container" *ngIf="this.countryPostalId !== 0 && this.userSessionService.isPayee() &&
                        (!this.userSessionService.haveStatus() ||
                        (this.userSessionService.haveStatus() && !this.extendedUser.confirmedProfile)) ">
              <button (click)="changeTabView(2)" class="button btn">{{ 'BUTTON_OPTION_INFO.CONTINUE' | translate }}</button>
            </div>

            <!-- ########## EDIT PROFILE PAYE COMPANY CONFIRM ###########  -->
            <div class="btn-container">
              <button *ngIf="seeEditProfileButtonHandler()" (click)="editProfileButtonHandler()"
                class="margin-top-16 btn">{{ 'PROFILE.EDIT_PROFILE' | translate }}</button>
                <p *ngIf="userSessionService.role === 'ROLE_MERCHANT' && extendedUser.confirmedProfile" style="font-size: 17px; font-weight: 700;">
                  {{ 'MESSAGE.MESSAGE_GET_INFO_MERCHANT' | translate }}
                </p>
            </div>
          </div>

          <div class="flexEnd btn-container" *ngIf="modifyMode">
            <button  class="btn" (click)="cancelEditProfileButtonHandler()">{{ 'PROFILE.CANCEL' | translate }}</button>
            <button class="btn" type="submit" (click)="updateUser()">{{ 'BUTTON_OPTION_INFO.UPDATE_PROFILE' | translate }}</button>
          </div>

          <div class="information" *ngIf="userSessionService.isPayee() && userSessionService.haveStatus() &&
                    !extendedUser.confirmedProfile && extendedUser.status !== status.FAILED">
            <p>{{ 'TEXT.CONFIRM_DATA_PROFILE' | translate }}.</p>
          </div>

          <div class="information" *ngIf="userSessionService.loadUserStatus() === status.CREATED
                       || userSessionService.loadUserStatus() === status.IN_PROCESS">
            <p>{{ 'TEXT.CONFIRM_DATA_PROFILE' | translate }}.</p>
          </div>

          <div class="information" *ngIf="userSessionService.isPayee() && userSessionService.haveStatus() &&
                    extendedUser.status === status.FAILED">
            <p>{{ 'TEXT.ERROR_ACCOUNT_USER' | translate }}.</p>
            <p>{{ 'TEXT.QUESTION_PLEASE_CONTACT' | translate }}.</p>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab *ngIf="countryPostalId !== 0">
      <ng-template mat-tab-label>{{ 'PROFILE.BACK_INFO' | translate }}</ng-template>
      <div class="row animated fadeIn" [ngClass]="(changeClass==1)?'bg-pm':''">
        <div class="column">
          <div class="full-width box">
            <div class="boxBank-inner">
              <!-- <span *ngIf="whenSeeChangePaymentMethod()">
                <label class="subtitle">{{ 'PROFILE.PAYMENT_METHOD' | translate }}</label>
                <div style="margin-bottom: 15px">
                  <section class="example-section">
                    {{ 'PROFILE.CARD_RECHARGE' | translate }}
                     <mat-slide-toggle class="example-margin" [checked]="checked"
                      [(ngModel)]="bankPaymentMethod"
                      [disabled]="userSessionService.haveStatus() && !modifyMode"
                      (change)="selectPaymentMethod($event)">
                      {{ 'PROFILE.BANK_DIRECT' | translate }}
                    </mat-slide-toggle>
                  </section>
                </div>
              </span> -->
              <!-- BANK FORM -->
              <app-bank-form #BankForm [modifyMode]="modifyMode" [extendedUser]="extendedUser" [payeeFormComponent]="payeeFormComponent"
                [countryPostalId]="countryPostalId" [bankFormInvalid]="bankFormInvalid"
                [bankPaymentMethod]="bankPaymentMethod">
              </app-bank-form>
              <!-- END BANK FORM -->
            </div>
          </div>

          <div class="flexEnd"
            *ngIf="!userSessionService.haveStatus() && userSessionService.loadRole() === this.roles.PAYEE">
            <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
              <button class="btn" (click)="createExtendedUser()">{{ 'BUTTON_OPTION_INFO.SAVE' | translate }}</button>
            </div>
          </div>
          <div class="flexEnd btn-container" *ngIf="!modifyMode && userSessionService.loadUserStatus() === 'ACCEPTED'
                      && (canChangePaymentMethod || bankPaymentMethod) && extendedUser.confirmedProfile"
            [ngClass]="(changeClass==1)?'bg-pm':''">
            <button class="btn" (click)="editProfileButtonHandler()">{{ 'PROFILE.EDIT_BANK_INFO' | translate }}</button>
          </div>
          <div class="flexEnd btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
            <!-- extendedUser.confirmedProfile  -->
            <button class="btn" *ngIf="modifyMode" (click)="cancelEditProfileButtonHandler()">{{ 'PROFILE.CANCEL' | translate}}</button>
            <button class="btn" *ngIf="modifyMode" (click)="updateUserBankInfo()">{{ 'PROFILE.UPDATE_BANK_INFO' | translate}}</button>

            <button class="btn"
              *ngIf="userSessionService.isPayee() && (userSessionService.haveStatus() && !extendedUser.confirmedProfile)"
              (click)="confirmedPayeeProfile()">{{ 'BUTTON_OPTION_INFO.CONFIRM_PROFILE' | translate }}</button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

