.row {
  margin: 0 !important;
}

.pageTitle {
  margin-bottom: 5px !important;
}

.boxBank-inner {
  justify-content: space-around;
}

hr{
    line-height: 30px;
}

.text-muted{
    color: #82A5AF !important;
}

img {
  width: 250px;
  height: 250px;
  margin-right: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.card2 {
  padding: 0 !important;
}

.actions {
  padding: 16px;
}

.flexEnd {
  margin-top: 15px;
}

.profileDetail {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.center{
  justify-content: center;
}

.tag {
  position: relative;
  top: -17px;
  left: 20px;
  z-index: 100;
}

.column {
  width: 75%;
}

.smallBox {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 20px;
  border-radius: .25rem;

  .separator {
    height: 10px;
  }
}

.transparent {
  background-color: transparent !important;
  color: #fff;
}

.btn-container {
  button {
    margin-left: 0;
    min-width: 175px;
  }

  button + button {
    margin-left: 16px;
  }
}

.column {
  padding: 15px;
}

.subtitle {
  display: inline-block;
}

//validator styles

@media (max-width: 1500px) {
  .column {
    width: 100%;
    background-color: #fff;
  }
}

@media (max-width: 820px) {
  .btn-container {
    flex-direction: column;

    button + button {
      margin: 8px 0 0;
    }
  }
}


@media (max-width: 565px) {
  .btn-container {
    button {
      min-width: 100%;
      margin-left: 0;
    }
  }

  .column {
    padding: 5px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { select { -webkit-appearance: menulist-button !important; line-height:38px !important; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    -webkit-appearance: menulist-button !important;
    line-height: 38px !important;
  }
}
.bg-pm {
  .information{
    background-color: #4782d3!important;
    color: #ffffff;
    p {
      background-color: #4782d3!important;
    }
  }
  .btn-container {
    .btn {
      background: #4782d3!important;
    }
  }
}

.information {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  display: block;
  align-items: center;
  border-bottom: 2px solid rgb(216, 216, 216);
  border-top: 2px solid rgb(216, 216, 216);
  background-color: #0c3a47;
  justify-content: center;

  p {
    text-align: center;
    margin:0;
    color: white;
    font-size: 15px;
    background-color: #0c3a47;
  }
}
