<div class="flex" *ngIf="isDashboard" style="margin-top: 45px">
  <div class="pageTitle title">{{
    userSessionService.isSuperOrAdmin() 
    ? ('DASHBOARD.LATEST_ISSUE' | translate):
    ('DASHBOARD.LATEST_ISSUES' | translate)}}</div>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>

  <div class="example-loading-shade" *ngIf="totalElements === 0 && !isLoadingResults && !isErrorOccurred">
    <div class="example-rate-limit-reached">{{ 'DATA_TABLE.SENT_MESSAGE' | translate }}</div>
  </div>

  <div class="example-table-container"
       [ngClass]="{'example-table-container-user': type === 'USER',
                   'table-container-notification-height-collapse' : type === 'NOTIFICATION' && collapse,
                   'table-container-notification-height' : type === 'NOTIFICATION' && !collapse}">
    <table mat-table [dataSource]="dataTable" matSort matSortDisableClear multiTemplateDataRows
           [matSortActive]="sortTable()"
           matSortDirection="desc"
           style="width: 100%;">

      <!--  USER TABLE   -->
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
          <label for="allCheck"></label>
          <input type="checkbox"
                 id="allCheck"
                 style="cursor: pointer"
                 (change)="addAllElementFromTable()"/></th>
        <td mat-cell *matCellDef="let row">
          <label for='{{
                    userSessionService.isSuperOrAdmin()
                      ? row.id
                      : (userSessionService.isReSeller()
                        ? (roleOption === roles.MERCHANT ? row.extendedUser?.id : row.id )
                        : row.extendedUser?.id)
                 }}'></label>
          <input type="checkbox"
                 style="cursor: pointer"
                 (change)="addCheckElement(setValueForCheckboxHandler(row))"
                 id='{{
                    userSessionService.isSuperOrAdmin()
                      ? row.id
                      : (userSessionService.isReSeller()
                        ? (roleOption === roles.MERCHANT ? row.extendedUser?.id : row.id )
                        : row.extendedUser?.id)
                 }}'/>
        </td>
      </ng-container>

      <!-- FullName Column -->
      <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.fullName}}</th>
        <td mat-cell *matCellDef="let row">
          <i-feather *ngIf="roleOption === roles.PAYEE"
                     [matTooltip]="setValueForToolTipHandler(row)"
                     [matTooltipPosition]="positionOptions"
                     class="icon-style"
                     [name]="setValueForIconTypeHandler(row)">
          </i-feather>
          {{setValueForFullNameHandler(row)}}
        </td>
      </ng-container>

      <!-- LoginName Column -->
      <ng-container matColumnDef="loginName" *ngIf="columns.indexOf('loginName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.loginName}}</th>
        <td mat-cell *matCellDef="let row">
          {{setValueForLoginNameHandler(row)}}
        </td>
      </ng-container>
      <!--    ////////////    -->
      <!--  NOTIFICATION TABLE   -->

      <!-- ID Column -->
      <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.id}}</th>
        <td mat-cell *matCellDef="let row">{{row?.notification?.id}}</td>
      </ng-container>

      <!-- Message Date Column -->
      <ng-container matColumnDef="dateCreated" *ngIf="columns.indexOf('dateCreated') !== -1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.dateCreated}}</th>
        <td mat-cell *matCellDef="let row">{{row?.dateCreated | date:'mediumDate'}}</td>
      </ng-container>

      <!-- Issue Date Column -->
      <ng-container matColumnDef="lastUpdated" *ngIf="columns.indexOf('lastUpdated') !== -1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.lastUpdated}}</th>
        <td mat-cell *matCellDef="let row">{{row?.notification.lastUpdated | date:'mediumDate'}}</td>
      </ng-container>

      <!-- Sender Column -->
      <ng-container matColumnDef="from" *ngIf="columns.indexOf('from') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.from}}</th>
        <td mat-cell *matCellDef="let row">{{ row?.notification?.sender?.role === 'ROLE_SUPER_ADMIN' || row?.notification?.sender?.role === 'ROLE_ADMIN'
          ? 'PMI Support' : row?.notification?.sender?.fullName}}</td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="subject" *ngIf="columns.indexOf('subject') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.subject}}</th>
        <td mat-cell *matCellDef="let row">{{row?.subject}}</td>
      </ng-container>

      <!-- Responsible Column -->
      <ng-container matColumnDef="responsible" *ngIf="columns.indexOf('responsible') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.responsible}}</th>
        <td mat-cell *matCellDef="let row">{{row?.notification?.responsible?.fullName}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.status}}</th>
        <td mat-cell *matCellDef="let row" [style.color]="issueStatusColor[row?.notification?.status]">{{issueStatusName[row?.notification?.status]}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action" *ngIf="columns.indexOf('action') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.action}}</th>
        <td mat-cell *matCellDef="let row">
          <i-feather class="icon" name="users"
                     *ngIf="type === 'USER'"
                     [ngClass]="{'merchantColor' : roleOption === roles.MERCHANT,
                                 'payeeColor' : roleOption === roles.PAYEE}"
                     [matTooltip]="setMatTooltipLabelHandler()"
                     [matTooltipPosition]="positionOptions"
                     (click)="addAllRelatedUser(row)">
          </i-feather>

          <i-feather name="list" class="icon2"
                     *ngIf="type === 'NOTIFICATION' && subType === 'ISSUE'"
                     matTooltip="Status Change"
                     [matTooltipPosition]="positionOptions"
                     (click)="seeStatusChangeModalButtonHandler(row)">
          </i-feather>

          <i-feather name="trash-2" class="big closeBtn"
                     *ngIf="type === 'NOTIFICATION' && subType === 'MESSAGE'"
                     (click)="deleteMessage($event, row)"></i-feather>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"
          (click)="seeNotification(row)"
          class="example-element-row"
          [ngClass]="{'example-element-row' : !isDashboard,
                      'example-element-row-cursor': type === 'NOTIFICATION' && !isDashboard,
                      'read-notification': type === 'NOTIFICATION' && row.status === issueStatus.ACCEPTED  && !isDashboard,
                      'unread-notification': type === 'NOTIFICATION' &&
                      (row.status === issueStatus.CREATED || row.status === issueStatus.IN_PROCESS)  && !isDashboard}">
      </tr>

    </table>
  </div>
  <mat-paginator *ngIf="!isDashboard"
                 [length]="totalElements"
                 [pageSize]="pageSize"></mat-paginator>
</div>
