.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container-user{
  height: 540px !important;
}

.table-container-notification-height-collapse {
  max-height: 470px;
}

.table-container-notification-height {
  max-height: 100%;
}

.example-table-container {
  position: relative;
  overflow: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width:8px;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

tr.example-element-row:hover {
  background: #dcdcdc;
}

tr.example-element-row-cursor:hover {
  cursor: pointer;
}

.icon {
  color: #0C3A47;
  cursor: pointer;
}

.icon2 {
  color: #0c3a47;
  transition: all 0.25s ease-in-out;
}

.merchantColor{
  color: #82A5AF !important;
}

.payeeColor{
  color: #cf955e !important;
}


.closeBtn {
  color: gray;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: red !important;
  }

}

.unread-notification {
  font-weight: bold;

}

.read-notification {
  background-color: #e9e9e9;
}

.icon-style{
  height: 15px;
  width: 15px;
  color: #9E9E9E;
}

.title {
  font-size: 22px;
}

th, td {
  &:first-of-type, &:last-of-type {
    padding-left: 15px !important;
  }

  &:not(:first-of-type) {
    padding-left: 10px !important;
  }
}

@media (max-width: 820px) {
  th, td {
    white-space: nowrap;
  }

  .example-table-container-user{
    height: 340px !important;
  }
}