<div class="body" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">
    <app-message-notification #MessagesComp></app-message-notification>
    <img class="logo" [src]="logoImg">
    <img class="logo2" src="../../assets/img/recurso3.svg">
    <form [ngClass]="(changeClass==1)?'form-pm':'form'" [formGroup]="userForm" *ngIf="!forgotPassword">
        <p class="title"> Welcome!</p>
        <hr>
        <p class="subtitle">Please login</p>

        <div class="field">
            <div class="inputContainer">
                <i-feather name="user" class="big"></i-feather>
                <input type='text' (change)="resetError()" required formControlName="username" maxlength="100" name="username" placeholder='Email' class='input-line full-width'>
            </div>
            <mat-error class="matError" *ngIf="username.hasError('required') && errorValidation">Username is required</mat-error>
        </div>

        <div class="field">
            <div class="inputContainer">
                <i-feather name="key" class="big"></i-feather>
                <input type='password' (change)="resetError()" formControlName="password" name="password" maxlength="50" placeholder='Password' class='input-line full-width'>
            </div>
            <mat-error *ngIf="password.hasError('required') && errorValidation">Password is required</mat-error>
            <mat-error *ngIf="password.hasError('pattern') && errorValidation">Enter a valid password format</mat-error>
        </div>

        <p class="emphasis-text margin-top-min" (click)="setForgotPassword(true)">Forgot password?</p>
        <button class='ghost-round full-width' (click)="handleClickLoginButton()">Login</button>
        <span *ngIf="validateEnvironment">{{version}}</span>
    </form>
    <!--FORGOTTEN PASSWORD -->

    <form [ngClass]="(changeClass==1)?'form-pm':'form'" [formGroup]="emailForm" *ngIf="forgotPassword">
        <p class="title"> Reset Password</p>
        <hr>
        <p class="subtitle">Enter your email to reset password</p>

        <div class="field">
            <div class="inputContainer">
                <i-feather name="mail"></i-feather>
                <input type='text' (change)="resetError()" maxlength="100" formControlName="email" name="email" placeholder='Email' class='input-line full-width'>
            </div>
            <mat-error *ngIf="email.hasError('required') && errorValidation">Email is required</mat-error>
            <mat-error *ngIf="email.hasError('pattern') && errorValidation">Enter a valid email</mat-error>
        </div>
        <p class="emphasis-text margin-top-min" (click)="setForgotPassword(false)">I have an account</p>
        <button class='ghost-round full-width' *ngIf="!loading" (click)="resetPassword()">
      Reset password
    </button>
        <button class='ghost-round full-width' *ngIf="loading">
      <i class="material-icons spin">cached</i>
    </button>
    </form>
</div>