.bg-pa{
  background-color: #0C3A47;
}
.bg-pm{
  background-color: white;
}
.body{
  position: fixed;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
    img{
      width: 572px;
      margin-bottom: 16px;
    }
}

.logo2{
  display: none;
}
.logo {
  display: flex;
}
hr{
  width: 84px;
  background-color: #215868;

}
.big{
  height: 20px;
  width: 20px;
  margin-bottom: 9px;
}

.title{
  font-family: sans-serif;
  font-size: 28px;
  line-height: 35px;
  color: #FDDCBF;
  margin: 0px;
}
.inputContainer{
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #82A5AF;
  color: #82A5AF;
  margin-top: 20px;
}

.field{
  display: flex;
  flex-direction: column;

}
.validation{
  margin: 0px;
  margin-bottom: 16px;
  font-size: 12px;
  color: rgb(219, 115, 115);

}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 572px;
  height: 500px;
  background: #0C3A47;
  box-shadow: 0px 37px 96px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 2% 8%;
}

.form-pm {
  background: white;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  font-family: 'Roboto', sans-serif;
  width: 572px;
  height: 500px;
  border-radius: 36px;
  padding: 2% 8%;
  .title {
    color: #4782d3;
    font-family: sans-serif;
    font-size: 28px;
    line-height: 35px;
    margin: 0px;
  }
  .subtitle {
    color: #4782d3;
    font-size: 16px;
    p{
      margin: 0px;
    }
  }
  .hr {
    background: #4782d3;
  }
  .input-line {
    background-color: white!important;
    color: #080909!important;
  }
  .ghost-round {
    background: #4782d3;
  }
  .ghost-round:hover {
    background: rgb(68, 54, 54);
  }
}

input {
  border: none;
  margin-left: 8px;
}

.subtitle {
  color: #82A5AF;
  font-size: 16px;
    p{
      margin: 0px;
    }
}
.margin-top-min{
  margin-top: 8px;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}



.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color 200ms ease-in-out;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
}

.input-line {
  background: none;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
  font-size: 18px;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 28px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}



.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.window {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #fff;
}

.overlay {
    background-color: #0C3A47;
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
}


@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

//MOBILE STYLES

// Estilos verticales

@media (max-width: 500px) {

  form{
    width: 80% !important;
    button{
      margin-top: 70px;
    }

  }
  .matError{
    font-size: 13px;
  }

  .logo{
    width: 290px!important;
  }

}

// Estilos horizontales
@media (min-width: 501px) and (max-width: 820px){
  .body{
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  hr{
    margin: 2px;
  }
  .form{
    height: 294px;
    padding: 0px 50px;
    width: 55%;
      button{
        margin: 25px 0px;
      }

  }
  .logo2{
    width: 200px !important;
    display: flex;
  }
  .logo{
    width: 310px;
    display: none;
  }

  .subtitle{
    display: none;
  }

  .inputContainer{
    margin-top: 10px ;
  }
}
