
/* Structure */

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}


.radioOption{
  line-height: 36px;
  margin-left: 32px;
  color: gray;
  font-weight: bold;
}

P{
  margin: 0;
}


.bg-pm {
  .btn3{
    background-color: #4782d3!important;
    color: #ffffff;
  }
  .btn2{
    background-color: #4782d3!important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }
}
.flex {
  display: flex;
}

.btn2{
  height: 2em;
  color: #0C3A47;
  border: 1px solid #0C3A47;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 300 !important;
  margin: 0 16px;
  line-height: 0;
  transition: all 200ms ease-in-out;

  &:hover{
    -webkit-box-shadow: 0 0 7px -2px rgba(112,112,112,1);
    -moz-box-shadow: 0 0 7px -2px rgba(112,112,112,1);
    box-shadow: 0 0 7px -2px rgba(112,112,112,1);
  }
}

.btn3{
  background-color: #0C3A47;
  color: #ffffff;
}


.example-section {
  margin-left: 32px;
  display: flex;
  align-content: center;
  align-items: center;
  height: 45px;
  font-size: 15px;
}

.example-margin {
  margin: 10px;
}

.sliderBut {
  display: inline-flex;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { select { -webkit-appearance: menulist-button !important; line-height:36px !important; } }
