<app-message-notification #MessagesComp></app-message-notification>

<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="flex">
    <div class="pageTitle">{{ 'TITLES.USERS' | translate }}</div>

      <!--  as ADMIN(SUPER)  -->
      <!-- RADIO BUTTON MATERIAL-->
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        [(ngModel)]="roleFilterSelected"
        (ngModelChange)="selectRoleFilterSuperAdminView()"
        *ngIf="userSessionService.isSuperOrAdmin()"
        class="radioOption">
        <mat-radio-button class="example-radio-button"
                          *ngFor="let option of radioButtonOptions"
                          [value]="option.role"
                          [checked]="option.checked">
          {{option.name}}
        </mat-radio-button>
      </mat-radio-group>
      <!-- END RADIO BUTTON MATERIAL-->
  </div>

  <!-- FILTROS -->
  <app-filter-user [role]="role"
                   [roleFilterSelected]="roleFilterSelected"
                   (applyFilterToTable)="setFilterQuery($event)">
  </app-filter-user>
  <!-- END FILTROS -->

<!-- TABLE -->
  <app-table-user #TableUserComponent
                  [extendedUser]="extendedUser"
                  [role]="role"
                  [roleFilterSelected]="roleFilterSelected"
                  [filterQuery]="filterQuery"
                  [menuCollapse]="menuCollapse.value"
                  (openFundModal)="openFundModal($event)"
                  (openChangeNicknameModal)="openChangeNicknameModal($event)"
                  (openChangeAlias)="openChangeAlias($event)"
                  (openRelatedUserModal)="openRelatedUserModal($event)"
                  (openReasonModal)="openReasonModal($event)"
                  (openRelatedUserProfile)="openRelatedUserProfile($event)"
                  (openAssociateMerchantModal)="openAssociateMerchantModal($event)"
                  (openRemoveAssociationConfirmationModal)="openRemoveAssociationConfirmationModal($event)">
  </app-table-user>
<!-- END TABLE -->

  <footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
    <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
      <button class="btn2 btn3" (click)="handleInvitedUserButton()" *ngIf="canSeeButton('INVITED_USER')">
        <i-feather name="users" class="icon"></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.INVITED_USERS' | translate }}</p>
      </button>

      <button class="btn2 btn3" (click)="handleChangeUserStatusButton()" *ngIf="canSeeButton('CHANGE_STATUS')" >
        <i-feather name="users" class="icon"></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.CHANGE_STATUS_USERS' | translate }}</p>
      </button>

      <button class="btn2 btn3" (click)="handleClickProcessedFileButton()" *ngIf="canSeeButton('STATUS_USER')">
        <i-feather name="file-text" class="icon"></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.STATUS_USER' | translate }}</p>
      </button>

      <button class="btn2 btn3" (click)="handleProcessUsersButton(roles.PAYEE)" *ngIf="canSeeButton('PROCESS_PAYEE')" >
        <i-feather name="user-check" class="icon"></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.PROCESS_PAYESS' | translate }}</p>
      </button>

      <button class="btn2 btn3" (click)="handleProcessUsersButton(roles.MERCHANT)" *ngIf="canSeeButton('PROCESS_MERCHANT')" >
        <i-feather name="user-check" class="icon"></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.PROCCES_MERCHANTS' | translate }}</p>
      </button>

      <button class="btn2 btn3" (click)="handleCreateNewUserButton()" *ngIf="canSeeButton('NEW_USER')">
        <i-feather name="user-plus" class="icon" ></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.NEW_USER' | translate }}</p>
      </button>

      <button class="btn2 btn3" (click)="handleCreateNewUserAsReSellerButton(roles.MERCHANT)" *ngIf="canSeeButton('NEW_USER_RESELLER')">
        <i-feather name="user-plus" class="icon" ></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.NEW_MERCHANT' | translate }}</p>
      </button>

      <button class="btn2 btn3" (click)="handleCreateNewUserAsReSellerButton(roles.PAYEE)" *ngIf="canSeeButton('NEW_USER_RESELLER')">
        <i-feather name="user-plus" class="icon" ></i-feather>
        <p>{{ 'BUTTON_OPTION_INFO.NEW_PAYEE' | translate }}</p>
      </button>
    </div>
  </footer>
</div>