.bg-pm {
    .btn3 {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .btn {
        background-color: #4782d3 !important;
        color: #ffffff;
        border: 1px solid #4782d3;
    }
    .btn2 {
        background-color: #4782d3 !important;
        color: #ffffff;
        border: 1px solid #4782d3;
    }
}

.box {
    border: none;
    margin-top: 0;
    padding: 0;
}

.subtitle {
    display: inline-block;
}

.flex-row {
    flex-wrap: wrap;
}

.form-group {
    width: 100%;
}

.fechaNacimiento {
    min-width: 48px!important;
}

.anioNacimiento {
    min-width: 59px!important;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-width: 230px;
    flex: 1;
    margin-right: 1%;
    margin-bottom: 15px;
}

.form-field-big {
    min-width: calc(460px + 1%);
    flex: 2;
}

.label-form {
    white-space: nowrap;
}

@media (max-width: 565px) {
    .box-inner {
        padding-left: 0;
    }
    .form-field {
        max-width: 100%;
        min-width: 100%;
        margin-right: 0;
    }
    .form-field-big {
        min-width: 100%;
    }
}

.rebibe_paymenet {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

@media (max-width: 750px) {
    .mat-tab-label {
        min-width: 10px;
        text-align: center;
        display: block;
    }
}