<!--   ###### PAYEE USER  ######   -->
<form [formGroup]="payeeForm" [ngClass]="changeClass == 1 ?'bg-pm':''">
    <p class="rebibe_paymenet" *ngIf="!(extendedUser && extendedUser !== null  && extendedUser.bankAccountNumber !== null && extendedUser.bankAccountNumber !== '')">
        {{ 'TEXT.RECIBE_PAYMENT_NEED_TO_COMPLETE' | translate }}
    </p>
    <div class="full-width box" [ngClass]="{'box-margin-top-modal': modalView}">

        <div style="margin-bottom: 10px;" *ngIf="userSessionService.haveStatus() && extendedUser && extendedUser.confirmedProfile">
            <p class="subtitle tag">
                <span class="fullName-form-style">{{payeeFirstName1.value}} {{payeeLastName1.value}}</span> {{ 'TEXT.PROFILE' | translate }}
            </p>
        </div>

        <!-- BOX CONTAINER-->
        <div class="box-inner flex-column">

            <!-- ROW -->
            <div class="flex-row form-top">
                <!-- GROUP -->
                <div class="full-width spaced flex-row">

                    <!-- FIRST NAME -->
                    <div class="form-field">
                        <label for="fn1" class="label-form">{{ 'PROFILE.FIRST_NAME' | translate }}</label>
                        <input formControlName="firstName1" [ngClass]="{'errorInput': payeeFirstName1.invalid && payeeFormInvalid}" (keypress)="validacionInput($event, 'letras')" type="text" id="fn1" class="form-control" placeholder="" [readonly]="canReadOnly('FIRST_NAME_1')">
                    </div>

                    <!-- SECOND NAME -->
                    <div class="form-field">
                        <label for="sn1" class="label-form">{{ 'PROFILE.SECOND_NAME' | translate }}</label>
                        <input formControlName="firstName2" (click)=" setValuePayeeUserSessionStorage()" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput': payeeFirstName2.invalid && payeeFormInvalid}" type="text" id="sn1" class="form-control" placeholder=""
                            [readonly]="canReadOnly('FIRST_NAME_2')">
                    </div>

                    <!-- FIRST LAST NAME -->
                    <div class="form-field">
                        <label for="fn2" class="label-form">{{ 'PROFILE.FIRST_LAST_NAME' | translate }}</label>
                        <input formControlName="lastName1" (click)=" setValuePayeeUserSessionStorage()" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput': payeeLastName1.invalid && payeeFormInvalid}" type="text" id="fn2" class="form-control" placeholder=""
                            [readonly]="canReadOnly('FIRST_LAST_NAME_1')">
                    </div>

                    <!-- SECOND LAST NAME -->
                    <div class="form-field" *ngIf="seeFirstNameAndLastName('FIRST_LAST_NAME_2')">
                        <label for="sn2" class="label-form">{{ 'PROFILE.SECOND_LAST_NAME' | translate }}</label>
                        <input formControlName="lastName2" (click)=" setValuePayeeUserSessionStorage()" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput': payeeLastName2.invalid && payeeFormInvalid}" type="text" id="sn2" class="form-control" placeholder=""
                            (click)=" setValuePayeeUserSessionStorage()" [readonly]="canReadOnly('FIRST_LAST_NAME_2')">
                    </div>

                    <!-- SECOND LAST NAME -->
                    <div class="form-field" *ngIf="seeFirstNameAndLastName('LAST_NAME_1_2')">
                        <label for="sl2" class="label-form">{{ 'PROFILE.SECOND_LAST_NAME' | translate }}</label>
                        <input formControlName="lastName2" (click)=" setValuePayeeUserSessionStorage()" (keypress)="validacionInput($event, 'letras')" [ngClass]="{'errorInput': payeeLastName2.invalid && payeeFormInvalid}" type="text" id="sl2" class="form-control" placeholder=""
                            [readonly]="canReadOnly('FIRST_LAST_NAME_2')">
                    </div>

                    <!-- EMAIL -->
                    <div class="form-field" *ngIf="!userSessionService.haveStatus() || modalView">
                        <label for="email" class="label-form">{{ 'TEXT.EMAIL' | translate }}</label>
                        <input formControlName="email" type="email" id="email" class="form-control" placeholder="" readonly>
                    </div>

                    <!-- DATE -->
                    <div class="form-field">
                        <label for="birthday" class="label-form">{{ 'PROFILE.DATE_OF_BIRTH' | translate }}</label>
                        <div class="row">
                            <div class="col-md-3">
                                <select class="form-control fechaNacimiento" (click)=" setValuePayeeUserSessionStorage()" style="padding: 0px 0px;" [ngClass]="{'errorInput':  payeeBirthDate.invalid && payeeFormInvalid}" name="day" [(ngModel)]="day" [ngModelOptions]="{standalone: true}"
                                    required (change)="setBirth()" [disabled]="calendarDisable">
                                    <option disabled value="">{{'TEXT.DAY' | translate}}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select name="month" style="padding: 0px 0px;" (click)=" setValuePayeeUserSessionStorage()" [(ngModel)]="month" [ngClass]="{'errorInput':  payeeBirthDate.invalid && payeeFormInvalid}" [disabled]="calendarDisable" [ngModelOptions]="{standalone: true}"
                                    class="form-control" (change)="setBirth()" required ng-disabled="userSessionService.haveStatus()">
                                    <option disabled value="">{{'TEXT.MONTH' | translate}}</option>
                                    <option value="1">{{'TEXT.JANUARY'|translate}}</option>
                                    <option value="2">{{'TEXT.FEBRUARY'|translate}}</option>
                                    <option value="3">{{'TEXT.MARCH'|translate}}</option>
                                    <option value="4">{{'TEXT.APRIL'|translate}}</option>
                                    <option value="5">{{'TEXT.MAY'|translate}}</option>
                                    <option value="6">{{'TEXT.JUNE'|translate}}</option>
                                    <option value="7">{{'TEXT.JULY'|translate}}</option>
                                    <option value="8">{{'TEXT.AUGUST'|translate}}</option>
                                    <option value="9">{{'TEXT.SEPTEMBER'|translate}}</option>
                                    <option value="10">{{'TEXT.OCTOBER'|translate}}</option>
                                    <option value="11">{{'TEXT.NOVEMBER'|translate}}</option>
                                    <option value="12">{{'TEXT.DECEMBER'|translate}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select name="year" [(ngModel)]="year" style="padding: 0px 0px;" (click)=" setValuePayeeUserSessionStorage()" [disabled]="calendarDisable" [ngClass]="{'errorInput':  payeeBirthDate.invalid && payeeFormInvalid}" [ngModelOptions]="{standalone: true}" class="form-control anioNacimiento"
                                    (change)="setBirth()" ng-disabled="userSessionService.haveStatus()">
                                    <option disabled value="">{{'TEXT.YEAR' | translate}}</option>
                                    <option *ngFor="let year of yearArray" [value]="year">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- MARITAL STATUS -->
                    <div class="form-field" *ngIf="userSessionService.haveStatus() && !modalView">
                        <label for="maritalStatus2" class="label-form">{{ 'REPORTS_MESSAGES.MARITAL_STATUS' | translate
                            }}</label>
                        <select formControlName="maritalStatus" class="full-width height-select-34" id="maritalStatus2" [ngClass]="{'errorInput': payeeMaritalStatus.invalid && payeeFormInvalid}" name="maritalStatus">
                            <option value="SINGLE" selected>{{ 'TEXT.SINGLE' | translate }}</option>
                            <option value="MARRIED">{{ 'TEXT.MARRIED' | translate }}</option>
                            <option value="DIVORCED">{{ 'TEXT.DIVORCED' | translate }}</option>
                            <option value="FREE_UNION">{{ 'TEXT.FREE_UNION' | translate }}</option>
                            <option value="WIDOWER">{{ 'TEXT.WIDOWER' | translate }}</option>
                        </select>
                    </div>

                    <!-- GENDER -->
                    <div class="form-field">
                        <label for="gender" class="label-form">{{ 'REPORTS_MESSAGES.GENDER' | translate }}</label>
                        <select formControlName="gender" class="full-width height-select-34" id="gender" name="gender" (click)=" setValuePayeeUserSessionStorage()" [ngClass]="{'errorInput': payeeGender.invalid && payeeFormInvalid}">
                            <option value="" disabled>{{ 'TEXT.ALL_GENDER' | translate }}</option>
                            <option value="MALE">{{ 'TEXT.MALE' | translate }}</option>
                            <option value="FEMALE">{{ 'TEXT.FEMALE' | translate }}</option>
                        </select>
                    </div>

                    <!-- MARITAL STATUS -->
                    <div class="form-field" *ngIf="!userSessionService.haveStatus() || modalView">
                        <label for="maritalStatus" class="label-form">{{ 'PROFILE.MARITAL_STATUS' | translate }}</label>
                        <select formControlName="maritalStatus" class="full-width height-select-34" id="maritalStatus" [ngClass]="{'errorInput': payeeMaritalStatus.invalid && payeeFormInvalid}" name="maritalStatus">
                            <option value="SINGLE" selected>{{ 'TEXT.SINGLE' | translate }}</option>
                            <option value="MARRIED">{{ 'TEXT.MARRIED' | translate }}</option>
                            <option value="DIVORCED">{{ 'TEXT.DIVORCED' | translate }}</option>
                            <option value="FREE_UNION">{{ 'TEXT.FREE_UNION' | translate }}</option>
                            <option value="WIDOWER">{{ 'TEXT.WIDOWER' | translate }}</option>
                        </select>
                    </div>

                    <!-- PHONE NUMBER -->
                    <div class="form-field">
                        <label for="phN" class="label-form">{{ 'REPORTS_MESSAGES.PHONE_NUMBER' | translate }}</label>
                        <input formControlName="phoneNumber" [ngClass]="{'errorInput': payeePhoneNumber.invalid && payeeFormInvalid}" type="text" class="form-control" placeholder="" id="phN" (keypress)="validacionInput($event, 'numeros')" maxlength="20" (click)=" setValuePayeeUserSessionStorage()"
                            [readonly]="canReadOnly('PHONE_NUMBER')">
                    </div>

                    <!-- MOBILE NUMBER -->
                    <div class="form-field">
                        <label for="mbPh" class="label-form">{{ 'REPORTS_MESSAGES.MOBILE_PHONE' | translate }}</label>
                        <input formControlName="mobileNumber" type="text" class="form-control" placeholder="" id="mbPh" maxlength="20" (keypress)="validacionInput($event, 'numeros')" (click)=" setValuePayeeUserSessionStorage()" [readonly]="canReadOnly('MOBILE_PHONE')">
                    </div>
                </div>
                <!-- GROUP END -->
            </div>
            <!-- ROW END -->

            <!-- SUBTITLE -->
            <div style="margin-top: 20px">
                <label class="subtitle">{{ 'PROFILE.POSTAL_ADDRESS' | translate }}</label>
            </div>
            <!-- END SUBTITLE -->

            <!-- ROW -->
            <div class="flex-row">

                <!-- COUNTRY -->
                <div class="form-field">
                    <label for="country" class="label-form">{{ 'TEXT.COUNTRY' | translate }}</label>
                    <mat-error class="country-city-list-legend">{{ 'TEXT.SELECT_COUNTRY_FROM_LIST' | translate }}
                    </mat-error>
                    <!-- Si amrcar error con el disabled en otr componente, probar cuando llena el pai poder bloquearlo -->
                    <select class="form-control" id="country" name="country" formControlName="countryPostal" (change)="onChangeCountry($event);">
                        <option value="">{{ 'TEXT.SELECT_COUNTRY_FROM_LIST' | translate }}</option>
                        <option *ngFor="let country of countrys" value="{{ country.id }}">{{ country.name }}</option>
                    </select>
                </div>

                <!-- CITY -->
                <div class="form-field">
                    <!-- <label for="city" class="label-form">{{ 'PROFILE.CITY' | translate }}</label> -->
                    <!-- <mat-error class="country-city-list-legend">{{ 'TEXT.SELECT_CITY_FROM_LIST' | translate }}
                    </mat-error> -->

                    <!-- <app-autocomplete-input #CityAutocomplete id="city" [id]="'city'" [inputForm]="payeeForm" [inputFormControlName]="'cityPostal'" [elementPlaceholder]="'PLACEHOLDER.START_TYPING_CITY_NAME' | translate" [countryId]="countryPostalId" [type]="autocompleteType.CITY"
                        [extendedUserConfirmedProfile]="userSessionService.haveStatus() && extendedUser.confirmedProfile" [isModalView]="modalView" [isModifyMode]="modifyMode" [noElementSelect]="noPostalCitySelected" [invalidInput]="payeeFormInvalid" [readonly]="canReadOnly('POSTAL_CITY')"
                        (elementChange)="noPostalCitySelected = false" (setNoElementSelected)="noPostalCitySelected = $event" [changeCountry]="changeCountry">
                    </app-autocomplete-input> -->
                    <app-drow-box [inputForm]="payeeForm" [inputFormControlName]="'cityPostal'" [countryId]="countryPostalId" [type]="drownBoxType.CITY" [invalidInput]="payeeFormInvalid" [changeCountry]="changeCountry" (elementChange)="noPostalCitySelected = false" [readonly]="canReadOnly('POSTAL_CITY')">
                    </app-drow-box>
                </div>

                <!-- ELEMENT BIG -->
                <!-- CP -->
                <div *ngIf="countryPostalId != 1 && countryPostalId != 2 " class="form-field" style="margin-bottom: 15px">
                    <label for="cp" class="label-form">{{ 'PROFILE.CP' | translate }}</label>
                    <input formControlName="cpPostalAddress" maxlength="10" [ngClass]="{'errorInput': payeeCpPostalAddress.invalid && payeeFormInvalid}" type="text" class="form-control" placeholder="" id="cp" (keypress)="validacionInput($event, 'numeros')" [readonly]="canReadOnly('POSTAL_ADDRESS')">
                </div>
                <!-- ADDRESS -->
                <div class="form-field" style="margin-bottom: 15px">
                    <label for="address" class="label-form">{{ 'PROFILE.ADDRESS' | translate }}</label>
                    <input formControlName="postalAddress" [ngClass]="{'errorInput': payeePostalAddress.invalid && payeeFormInvalid}" type="text" class="form-control" placeholder="" id="address" required (keypress)="validacionInput($event, 'numerosYLetras')" [readonly]="canReadOnly('POSTAL_ADDRESS')">
                </div>
                <!-- ELEMENT LARGE END -->
            </div>
            <!-- ROW END -->

            <!-- ROW -->
            <div class="flex-row">

                <!-- GROUP -->
                <div class="full-width flex-row spaced">

                    <!-- ID TYPE -->
                    <div class="form-field">
                        <label for="idType" class="label-form">{{ 'PROFILE.ID_TYPE' | translate }}</label>
                        <select class="full-width height-select-34" id="idType" name="idType" formControlName="idType" [ngClass]="{'errorInput': payeeIdType.invalid && payeeFormInvalid}" (change)="changeType($event)">
                            <option disabled selected [ngValue]="null">{{ 'TEXT.SELECT_TYPE' | translate }}</option>
                            <option *ngFor="let type of naturalIdTypesArr" [ngValue]="type.id">
                                {{type.name === 'NIDN' ? 'DNI' : type.name}}
                            </option>
                        </select>
                    </div>

                    <!-- ID NUMBER -->
                    <div class="form-field">
                        <label for="idN" class="label-form">{{ 'PROFILE.ID_NUMBER' | translate }}</label>
                        <input formControlName="idNumber" (keypress)="validacionInputCountry($event, countryPostalId)" onpaste="return false" [ngClass]="{'errorInput': payeeIdNumber.invalid && payeeFormInvalid}" [maxlength]="countryPostalId === 74 ? '14' : countryPostalId === 101 ? this.maxDni : countryPostalId === 1 ? '12' : countryPostalId === 2 ? 13 : countryPostalId === 66 ? '11' : countryPostalId === 77 || countryPostalId === 115 ? '9' : '25'"
                            [minlength]="countryPostalId === 74 || countryPostalId === 66 ? '11' : countryPostalId === 101 ? this.minDni : countryPostalId === 1 ? '6' : countryPostalId === 2 ? '12' : '4'" type="text" class="form-control" placeholder="" id="idN"
                            required [readonly]="canReadOnly('ID_NUMBER')" autocomplete="off">
                        <mat-error class="errorMsg" *ngIf="countryPostalId === 101 && !isInterbank">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.ONLY_DNI_PERU' | translate }}
                        </mat-error>
                        <mat-error class="errorMsg" *ngIf="countryPostalId == 115 && payeeIdNumber.invalid && payeeFormInvalid">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_VENE' | translate }}
                        </mat-error>
                        <mat-error class="errorMsg" *ngIf="countryPostalId == 74 && payeeIdNumber.invalid && payeeFormInvalid">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_CPF_CNPJ_11' | translate }}
                        </mat-error>
                        <mat-error class="errorMsg" *ngIf="payeeIdNumber.invalid && payeeFormInvalid && countryPostalId == 101 && minDni !== maxDni">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_PERU' | translate }}{{minDni}}{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.AND_PERU' | translate }}{{maxDni}}{{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                        </mat-error>
                        <mat-error class="errorMsg" *ngIf="payeeIdNumber.invalid && payeeFormInvalid && countryPostalId == 101 && minDni === maxDni">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_NUMBER_DOCUMENT_PERU_SINGLE' | translate }}{{minDni}}{{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                        </mat-error>
                    </div>

                    <!-- TAX ID -->
                    <div class="form-field">
                        <label for="taxId" class="label-form">{{ 'PROFILE.TAX_ID' | translate }}</label>
                        <input formControlName="taxId" type="text" id="taxId" class="form-control" placeholder="" [readonly]="canReadOnly('TAX_ID')">
                    </div>
                </div>
                <!-- GROUP END -->
            </div>
            <!-- ROW END -->
        </div>
        <!-- BOX CONTAINER END -->
    </div>
</form>