.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container-user{
  height: 540px !important;
}

.table-container-notification-height-collapse {
  max-height: 470px;
}

.table-container-notification-height {
  max-height: 100%;
}

.example-table-container {
  position: relative;
  overflow: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width:8px;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.icon {
  color: #0C3A47;
  cursor: pointer;
}

.icon2 {
  color: #0c3a47;
  transition: all 0.25s ease-in-out;
}

.closeBtn {
  color: gray;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: red !important;
  }

}

.mat-column-country {
  max-width: 300px;
}


.example-container .example-table-container {
  position: relative;
  max-height: 380px;
  overflow: auto;
}
