<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="dataTable" matSort matSortDisableClear multiTemplateDataRows
           matSortActive="id"
           matSortDirection="desc"
           style="width: 100%;">

      <!--  USER TABLE   -->

      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <input type="checkbox"
                 style="cursor: pointer"
                 (change)="addCheckElement(userSessionService.isSuperOrAdmin() ? row : row?.extendedUser)"
                 id='{{row?.id}}'/>
        </td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="company" *ngIf="columns.indexOf('company') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{'TEXT.COMPANY' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row?.company}}</td>
      </ng-container>

      <!-- FullName Column -->
      <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{'REPORTS_MESSAGES.NAME' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row?.fullName}}</td>
      </ng-container>

      <!-- LoginName Column -->
      <ng-container matColumnDef="loginName" *ngIf="columns.indexOf('loginName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{'REPORTS_MESSAGES.EMAIL' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row?.email}}</td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country" *ngIf="columns.indexOf('country') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{'PROFILE.COUNTRY' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row?.postalCountry?.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>

    </table>
  </div>
<!--  <mat-paginator [length]="totalElements" [pageSize]="pageSize"></mat-paginator>-->
</div>
