<form [formGroup]="inputForm">
  <span *ngIf="type === 'CITY'" class="autocomplete">
    <input type="text" [(ngModel)]="dataName" [ngModelOptions]="{standalone: true}"
      [ngClass]="{'errorInput': (autocomplete.invalid && invalidInput ) || noElementSelect}"
      [placeholder]="elementPlaceholder" [id]="id" [maxLength]="maxLenght" [class]="getStyle()"
      (keypress)="validacionInput($event); getDataAutocompleteService()" [disabled]="readonly">
      <ng-container *ngIf=" dataComplete !== null">
        <div class="containerOption">
          <div class="option" *ngFor="let item of dataComplete" (click)="setDataInput(item)">
            {{item.name}}
          </div>
        </div>
      </ng-container>
      <div style="position: absolute" 
      [ngClass]="noFindCity ? 'errorAutocomplete' : 'normalAutocomplete'">{{'ERROR_MESSAGES.NOT_FIND_CITY' | translate}}</div>
  </span>
  <span *ngIf="type !== 'CITY'">
    <input type="text" [formControlName]="inputFormControlName"
      [ngClass]="{'errorInput': (autocomplete.invalid && invalidInput ) || noElementSelect}"
      [matAutocomplete]="autocompleteElement" [placeholder]="elementPlaceholder" [id]="id" [maxLength]="maxLenght"
      [class]="getStyle()" (keypress)="validacionInput($event);" [readonly]="readonly">
    <mat-autocomplete #autocompleteElement="matAutocomplete" [displayWith]="displayFnAutocomplete"
      (optionSelected)="onChangeElement()">
      <mat-option *ngFor="let element of filteredElements | async" [value]="element">
        {{type === typeAutocomplete.MERCHANT ? element["company"] : element.name}}
      </mat-option>
    </mat-autocomplete>
  </span>
</form>