<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
    <p class="pageTitle">{{ 'BUTTON_OPTION_INFO.INVITED_USERS' | translate }}</p>
    <p>{{ 'TEXT.BELOW_SHOW_USERS_COMPLETED' | translate }}.</p>

    <div>
        <div class="example-container mat-elevation-z8">
            <div class="example-table-container">

                <mat-table [dataSource]="tableData" matSort matSortDisableClear multiTemplateDataRows matSortActive="userRelated.resetDate" matSortDirection="desc" class="mat-elevation-z8">

                    <!-- LoginName Column -->
                    <ng-container matColumnDef="email" *ngIf="columns.indexOf('email') !== -1">
                        <mat-header-cell class="col25left" *matHeaderCellDef mat-sort-header> {{columnNames.email}} </mat-header-cell>
                        <mat-cell class="col25left" *matCellDef="let row" [attr.data-label]="columnNames.email">
                            <textarea class="textarea" matInput readonly cdkTextareaAutosize cdkAutosizeMinRows="0">{{row['email']}}</textarea>
                        </mat-cell>
                    </ng-container>

                    <!-- First Name -->
                    <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
                        <mat-header-cell class="col25left" *matHeaderCellDef mat-sort-header> {{columnNames.fullName}} </mat-header-cell>
                        <mat-cell class="col25left" *matCellDef="let row" [attr.data-label]="columnNames.fullName"> {{row['firstName'] }} {{row['lastName']}} </mat-cell>
                    </ng-container>

                    <!-- Status -->
                    <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
                        <mat-header-cell class="col15center" *matHeaderCellDef mat-sort-header> {{columnNames.status}} </mat-header-cell>
                        <mat-cell class="col15center" *matCellDef="let row" [attr.data-label]="columnNames.status"> {{invitedStatus[row['status']]}} </mat-cell>
                    </ng-container>

                    <!-- Status Reason -->
                    <ng-container matColumnDef="statusReason" *ngIf="columns.indexOf('statusReason') !== -1">
                        <mat-header-cell class="col25left" *matHeaderCellDef mat-sort-header> {{columnNames.statusReason}} </mat-header-cell>
                        <mat-cell class="col25left" *matCellDef="let row" [attr.data-label]="columnNames.statusReason"> {{row['statusReason']}} </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="action" *ngIf="columns.indexOf('action') !== -1">
                        <mat-header-cell class="col10center" *matHeaderCellDef>{{columnNames.action}}</mat-header-cell>
                        <mat-cell class="centerAct col10center" *matCellDef="let row">
                            <div class="iconBtn centerAct" *ngIf="invitedStatus[row['status']] === invitedStatus['INVITED']">
                                <i-feather class="mailIcon" name="mail" [matTooltip]="'BUTTON_OPTION_INFO.RE_SEND_EMAIL' | translate" [matTooltipPosition]="positionOptions" (click)="reSendMail(row)">
                                </i-feather>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columns;">
                    </mat-row>
                </mat-table>

            </div>
        </div>
    </div>
</div>