    .example-container .example-table-container {
        position: relative;
        max-height: 501px;
    }
    
    .example-container {
        position: relative;
        min-height: 114px;
    }
    
    p {
        font-family: roboto, serif;
        font-size: 15px;
        color: gray;
    }
    
    body {
        line-height: 1.25;
    }
    
    table {
        width: 100%;
    }
    
    .iconBtn {
        text-align: center;
        cursor: pointer;
        .mailIcon {
            height: 25px;
            width: 25px;
            color: #D7D7D7;
            margin-right: 10px;
            &:hover {
                color: #cf955e;
            }
        }
        .editIcon {
            height: 25px;
            width: 25px;
            color: #D7D7D7;
            margin-right: 10px;
            &:hover {
                color: #37a96e;
            }
        }
    }
    
    .col10center {
        flex: 0 0 10%;
        text-align: center;
        place-content: center;
    }
    
    .col10left {
        flex: 0 0 10%;
        text-align: left;
    }
    
    .col15center {
        flex: 0 0 15%;
        text-align: center;
        place-content: center;
    }
    
    .col15left {
        flex: 0 0 15%;
        text-align: left;
    }
    
    .col25center {
        flex: 0 0 25%;
        text-align: center;
    }
    
    .col25left {
        flex: 0 0 25%;
        text-align: left;
        display: grid;
    }
    
    .textarea {
        border: none;
        resize: none;
        overflow: hidden !important;
        max-width: 95% !important;
    }
    
    .center {
        text-align: center;
        place-content: center;
    }
    
    .left {
        text-align: left;
        place-content: left;
    }
    
    mat-cell:first-of-type,
    mat-footer-cell:first-of-type,
    mat-header-cell:first-of-type {
        padding-left: 5px;
    }
    
    mat-cell:last-of-type,
    mat-footer-cell:last-of-type,
    mat-header-cell:last-of-type {
        padding-right: 5px;
    }
    
    .mat-table .mat-row:hover {
        background-color: #ccc9c9;
        .textarea {
            background-color: #ccc9c9;
        }
    }
    
    @media screen and (max-width: 960px) {
        .example-container .example-table-container {
            position: unset;
            max-height: unset;
        }
        .example-container {
            position: unset;
            min-height: unset;
        }
        mat-header-cell {
            color: white;
        }
        .textarea {
            text-align: end;
            max-width: 100% !important;
            width: 75%;
            font-size: 12px;
        }
        .col10center,
        .col10left,
        .col15center,
        .col15left,
        .col25center,
        .col25left {
            text-align: right;
            place-content: end;
        }
        .left,
        .center {
            text-align: right;
            place-content: end;
        }
        .centerAct {
            text-align: center !important;
            place-content: center !important;
        }
        .mat-table {
            border: 0;
            vertical-align: middle
        }
        .mat-table caption {
            font-size: 11px;
        }
        /*  Enable this to hide header
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
        .mat-table .mat-row {
            border-bottom: 5px solid #ddd;
            display: block;
            min-height: 10px;
        }
        /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
        .mat-table .mat-cell {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 1em;
            text-align: right;
            font-weight: bold;
            // height: 30px;
            min-height: 45px;
            margin-bottom: 1%;
        }
        .mat-table .mat-cell:before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: left;
            text-transform: uppercase;
            font-weight: normal;
            font-size: .85em;
        }
        .mat-table .mat-cell:last-child {
            border-bottom: 0;
        }
        .mat-table .mat-cell:first-child {
            margin-top: 1%;
        }
        mat-cell:first-of-type,
        mat-footer-cell:first-of-type,
        mat-header-cell:first-of-type {
            padding-left: 0px !important;
        }
        mat-cell:last-of-type,
        mat-footer-cell:last-of-type,
        mat-header-cell:last-of-type {
            padding-right: 0px;
        }
        mat-cell {
            margin-left: 5px;
            margin-right: 5px;
        }
    }