
<div class="wrapper-card">
  <div class="header-card">
      <p>titulo</p>
      <div class="form-group">
          <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
      </div>
      <div class="form-group">
          <button class="btn pmi-blue" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen" type="button">
              <i-feather name="calendar"></i-feather>
          </button>
      </div>

     
  </div>
  <div class="body">
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>    
        
  </div>
  <div class="footer-card"><i-feather class="clickable" name="download-cloud"></i-feather></div>

</div>