.wrapper-card{
    margin-bottom: 32px;
    background-color: #fff;

    .header-card{
        min-height: 45px;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 1px #F1F4F6;
        border-bottom: none;
        padding: 0px 16px;
        p{
            color: #9A9EA2;
            font-size: 15px;
            margin: 0px;
            font-family: 'roboto', sans-serif;
        }
    }

    
    .body{
        border: solid 2px #F1F4F6;
    }
    .footer-card{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 4px 16px;
        p{
            color: #9A9EA2;
            font-size: 15px;
            margin: 0px;
            font-family: 'roboto', sans-serif;
        }
    }
    -webkit-box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
    -moz-box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
    box-shadow: 10px 2px 23px 2px rgba(224,224,224,1);
}

.form-control {
    margin: 0px !important;
}

.form-group{
    margin: 0px !important;
}