<app-message-notification #MessagesComp></app-message-notification>
<div class="closeBtn">
  <i-feather name="x-circle" class="big" (click)="rejectClick()"></i-feather>
</div>
<div class="message-body">
  <p class="title">Update '{{data.extendedUser.firstName}} {{data.extendedUser.lastName}}' email</p>
  <div class="message">
    <form [formGroup]="extendedUserForm">
      <div class="form-group">
        <label>Login Name | Email</label>
        <input formControlName="email"
               type="text"
               [ngClass]="{'errorInput': email.invalid}"
               class="form-control"
               placeholder="">
        <mat-error class="errorMsg" *ngIf="email.hasError('required')">Email | Login name is required</mat-error>
        <mat-error class="errorMsg" *ngIf="email.hasError('email')">Enter a valid email</mat-error>
      </div>
    </form>

  </div>
  <div class="btnContainer">
    <button class="btn cancel" (click)="rejectClick()">Cancel</button>
    <button class="btn accept"
            (click)="updateEmailClick()">
      Update email
    </button>
  </div>
</div>