.btnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
        .btn{
            padding: 8px;
            margin-top: 8px;
            border-radius: 12px;
            background-color: #ffffff;
            border: 1px solid transparent;
            margin-left: 16px;
        }

        .accept{
            width: 106px;
            height: 44px;
            background: #215361;
            box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.14);
            border-radius: 41px;
            color: #ffffff;
        }

        .cancel{
            width: 124px;
            height: 44px;
            background: #FFFFFF;
            box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.14);
            border-radius: 41px;
        }
}

.title{
    font-size: 22px;
    border-bottom: 1px solid #C4C4C4;
}
.subtitle{
   font-size: 16px;
}

.message-body{
margin-top: 25px;
}

.errorInput{
  outline-style: auto !important;
  outline: red;
}

.closeBtn {
  cursor: pointer;
  float: right;

  .big {
    height: 32px;
    width: 32px;

    &:hover {
      color: rgb(201, 80, 80);
    }
  }
}
