<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows
           matSortActive="{{userSessionService.isSuperAdmin()  ? 'dateCreated' : 'lastUpdated'}}" matSortDirection="desc">

      <!-- DATE COLUMN ADMIN(SUPER) -->
      <ng-container matColumnDef="dateCreated" *ngIf="columns.indexOf('dateCreated') !== -1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.dateCreated}}</th>
        <td mat-cell *matCellDef="let row">{{row.dateCreated | date:'MMM d, y'}}</td>
      </ng-container>

      <!-- LAST UPDATE COLUMN MERCHANT -->
      <ng-container matColumnDef="lastUpdated" *ngIf="columns.indexOf('lastUpdated') !== -1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.lastUpdated}}</th>
        <td mat-cell *matCellDef="let row">{{row.lastUpdated | date:'MMM d, y'}}</td>
      </ng-container>

      <!-- STATUS COLUMN -->
      <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.status}}</th>
        <td mat-cell *matCellDef="let row"
            [style.color]="statusesColor[row?.status]">{{statuses[row?.status]}}</td>
      </ng-container>

      <!-- AMOUNT COLUMN -->
      <ng-container matColumnDef="amount" *ngIf="columns.indexOf('amount') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.amount}} [{{environment.defaultCurrency}}]
        </th>
        <td mat-cell *matCellDef="let row">{{row?.value | currency}}</td>
      </ng-container>

      <!-- MERCHANT COLUMN -->
      <ng-container matColumnDef="reseller" *ngIf="columns.indexOf('reseller') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.reseller}}</th>
        <td mat-cell *matCellDef="let row">{{row.extendedUser?.fullName}}</td>
      </ng-container>

      <!-- STATUS REASON COLUMN -->
      <ng-container matColumnDef="statusReason" *ngIf="columns.indexOf('statusReason') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.statusReason}}</th>
        <td mat-cell *matCellDef="let row">{{row.reason}}</td>
      </ng-container>


      <!-- ACTION COLUMN -->
      <ng-container matColumnDef="action" *ngIf="columns.indexOf('action') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.action}}</th>
        <td mat-cell *matCellDef="let row">

          <div class="action-icon-container">
            <div (click)="handleActionWithdrawal(row,'Cancel')"
                 *ngIf="userSessionService.isReSeller() && row.status === status.CREATED"
                 matTooltip="CANCEL"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style orangered-icon fas fa-ban"></i>
            </div>

            <div (click)="handleActionWithdrawal(row,'Reject')"
                 *ngIf="userSessionService.isSuperAdmin() && row.status === status.CREATED"
                 matTooltip="REJECT"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style red-icon far fa-window-close"></i>
            </div>

            <div (click)="handleActionWithdrawal(row,'Accept')"
                 *ngIf="userSessionService.isSuperAdmin() && row.status === status.CREATED"
                 matTooltip="ACCEPT"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style green-icon far fa-check-square"></i>
            </div>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>

    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

</div>
