p {
  margin: 0px;
}

.message-position {
  z-index: 1000;
  position: fixed;
  right: 16px;
  top: 16px;
  display: flex;
  transition: all 300ms ease-in-out;
}

.message-container {
  width: 350px;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;

  transition: all 300ms ease-in-out;
}

.first-child-message {
  font-size: 20px;
  font-weight: bold;
}

.second-child-message {
  font-size: 15px;
  font-weight: bold;
}

.notification-back-color {
  background-color: #CA6F1E;

  .closeBtn {
    margin: 5px 5px 0 0;
    .big {
      color: white;
      height: 20px;
      width: 20px;

      &:hover {
        color: black;
      }
    }
  }

  a {
    color: white;
    align-self: flex-end;
    margin: 5px 0 0 0;

    &:hover {
      color: black;
    }
  }
}


// MOBILE STYLES
@media (max-width: 500px) {
  .message-position {
    z-index: 1000;
    display: flex;
    right: 5px;
    top: 5px;
    position: fixed;
    transition: all 300ms ease-in-out;
  }
}

@media (max-width: 500px) {
  .message-position {
    z-index: 1000;
    display: flex;
    right: 5px;
    top: 5px;
    position: fixed;
    transition: all 300ms ease-in-out;
  }

  .message-container {
    width: 250px;
  }
}

@media (max-width: 250px) {
  .message-position {
    width: 235px;
  }
}

.close {
  color: white;position: absolute; top: 3px; right: 14px; font-size: 12px; cursor: pointer;
}