<div id="message" class="message-position" *ngIf="!isNotification">
    <div *ngIf="show" id="dialog" class="message-container">
        <label *ngIf="close" class="close" (click)="this.show = false;">X</label>
        <p *ngIf="showTitle" class="first-child-message">{{title}}</p>
        <p class="second-child-message"> {{message}}</p>
    </div>
</div>

<div id="notification" class="message-position notification-back-color" *ngIf="isNotification">

  <div class="message-container">
    <label *ngIf="close" class="close" (click)="this.show = false;">X</label>
    <p class="second-child-message"> {{message}}</p>
    <a class="simple"
       (click)="onDownloadReportOrCloseMsg()"
       [download]="downloadName"
       [href]="pathLink"
       target="_blank">
      {{userSessionService.isPayee() ? 'Descargar Reporte' : 'Download Report'}}
    </a>
  </div>
  <div class="closeBtn">
    <i-feather name="x-circle" class="big" (click)="onDownloadReportOrCloseMsg()"></i-feather>
  </div>
</div>
