<div class="flex">
    <div class="pageTitleModal">{{'TITLES.LINK_MERCHANT_TO_RESELLER' | translate}}</div>
    <div class="closeBtn">
        <i-feather name="x-circle" class="big" (click)="closeModal()"></i-feather>
    </div>
</div>

<div *ngIf="false">
    <app-merchant-filter-component (applyFilterToTable)="addFilterToTable($event)">
    </app-merchant-filter-component>
</div>


<div class="row" style="margin-top: 15px">
    <div class="col-9">
        <app-merchant-table #MerchantTable [filterQuery]="filterQuery" (addMerchantToList)="addMerchantToList($event)">
        </app-merchant-table>
    </div>

    <div class="col-3">
        <div class="merchantList" [ngClass]="(changeClass==1)?'bg-pm':''">

            <div class="merchantLegend">
                <p>{{merchantToAssociateList.length}} {{'TEXT.SELECTED_MERCHANTS' | translate}}
                </p>
            </div>

            <div class="merchantContainer">

                <div class="merchantItem" *ngFor="let merchant of merchantToAssociateList">
                    <div id="merchantFN">
                        <p>{{merchant.fullName}}</p>
                    </div>
                    <div class="removeIcon">
                        <i-feather name="x-circle" class="bigIcon" (click)="removeMerchantFromList(merchant)"></i-feather>
                    </div>
                </div>

            </div>


            <div class="btn-container foot" *ngIf="merchantToAssociateList.length > 0">
                <button class="button-margin" (click)="associateMerchant()">
          <i-feather class="icon" name="user-plus"></i-feather>
          {{'BUTTON_OPTION_INFO.LINK_MARCHANTS' | translate}}
        </button>
                <button class="button-margin" (click)="clearData()">
          {{'BUTTON_OPTION_INFO.CLEAR' | translate}}
        </button>
            </div>

        </div>
    </div>
</div>