p {
    margin: 0;
}

.flex {
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.pageTitleModal {
    font-size: 24px !important;
    margin-bottom: 8px !important;
}

.closeBtn {
    cursor: pointer;
    .big {
        height: 32px;
        width: 32px;
        &:hover {
            color: rgb(201, 80, 80);
        }
    }
    .closeTag {
        cursor: pointer;
        margin: 0 0 0 5px;
        &:hover {
            color: rgb(201, 80, 80);
        }
    }
}

.merchantList {
    -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    height: 597px;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
}

.merchantContainer {
    max-height: 485px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
}

.foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #fff;
    align-items: center;
    padding-bottom: 15px;
}

.button-margin {
    float: right;
    margin-left: 0 !important;
    margin-bottom: 8px;
    margin-right: 20px !important;
}

.merchantLegend {
    width: 100%;
    background-color: #0C3A47;
    height: 50px;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 40px;
    text-align: center;
    p {
        padding: 10px 0;
        color: #fff;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.bg-pm {
    .merchantLegend {
        background-color: #4782d3 !important;
    }
}

button:focus {
    outline: 0 !important;
}

.merchantItem {
    background-color: #eeeeee;
    width: 100%;
    // height: 35px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    p {
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    #merchantFN {
        width: 79%;
        display: block;
        float: left;
    }
    .removeIcon {
        cursor: pointer;
        background-color: #E57373;
        width: 35px;
        height: 100%;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        line-height: 30px;
        text-align: center;
        float: right;
        &:hover {
            color: rgb(201, 80, 80);
        }
        .bigIcon {
            height: 20px;
            width: 20px;
            color: white;
        }
    }
}

.foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #fff;
    align-items: center;
    padding: 10px 0;
}

.button-margin {
    float: right;
    margin-left: 0 !important;
    margin-right: 20px !important;
}