<div class="flex">
  <div class="pageTitle title">{{'DASHBOARD.LATEST_COMPLETED'| translate }}</div>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>

  <div class="example-loading-shade" *ngIf="totalElements === 0 && !isLoadingResults && !isErrorOccurred">
    <div class="example-rate-limit-reached">{{'ERROR_MESSAGES.NO_PAYMENTS_COMPLETED'| translate }}</div>
  </div>


  <div class="example-table-container">
    <table mat-table [dataSource]="dataTable" matSort matSortDisableClear multiTemplateDataRows
           matSortActive="lastUpdated"
           matSortDirection="desc"
           style="width: 100%;">

      <!-- ID Column -->
      <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
        <th class="table-id" mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.id}}</th>
        <td class="table-id" mat-cell *matCellDef="let row">{{row?.id}}</td>
      </ng-container>

      <!-- Merchant Column -->
      <ng-container matColumnDef="merchant" *ngIf="columns.indexOf('merchant') !== -1">
        <th class="table-merchant" mat-header-cell *matHeaderCellDef>{{columnNames.merchant}}</th>
        <td class="table-merchant" mat-cell *matCellDef="let row">{{row['merchant']['company']}}</td>
      </ng-container>

      <!-- Payee Column -->
      <ng-container matColumnDef="payee" *ngIf="columns.indexOf('payee') !== -1">
        <th class="table-payee" mat-header-cell *matHeaderCellDef>{{columnNames.payee}}</th>
        <td class="table-payee" mat-cell *matCellDef="let row">
          <i-feather class="icon-style"
                     [matTooltip]="row['payee']['user']['payeeAsCompany'] ? 'Business Accounts' : 'Payee'"
                     [matTooltipPosition]="positionOptions"
                     [name]="row['payee']['user']['payeeAsCompany'] ? 'home' : 'user'">
          </i-feather>&nbsp;
          {{ row['payee']['user']['payeeAsCompany']
            ? (row['payee']['company'] ? row['payee']['company'] : 'Profile not confirmed')
            : row['payee']['fullName']}}
        </td>
      </ng-container>

      <!-- Reseller Commission Column -->
      <ng-container matColumnDef="commissionPaid" *ngIf="columns.indexOf('commissionPaid') !== -1">
        <th class="table-country" mat-header-cell *matHeaderCellDef>{{columnNames.commissionPaid}}</th>
        <td class="table-country" mat-cell *matCellDef="let row">
          {{getReSellerCommissionPaid(row) | currency}}
        </td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country" *ngIf="columns.indexOf('country') !== -1">
        <th class="table-country" mat-header-cell *matHeaderCellDef>{{columnNames.country}}</th>
        <td class="table-country" mat-cell *matCellDef="let row">{{row?.currency?.country?.name}}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="lastUpdated" *ngIf="columns.indexOf('lastUpdated') !== -1">
        <th class="table-lastUpdated" mat-header-cell *matHeaderCellDef>{{columnNames.lastUpdated}}</th>
        <td class="table-lastUpdated" mat-cell
            *matCellDef="let row">{{row['lastUpdated'] | date:'MMM d, y'}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.status}}</th>
        <td class="table-status" mat-cell *matCellDef="let row"
            [style.color]="statusesColor[row?.status]">{{statuses[row?.status]}}</td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amountBeforeCommission" *ngIf="columns.indexOf('amountBeforeCommission') !== -1">
        <th class="table-amountBC" mat-header-cell *matHeaderCellDef>{{columnNames.amountBeforeCommission}}
          [{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}}]
        </th>
        <td class="table-amountBC" mat-cell *matCellDef="let row">
          {{userSessionService.useEuroCoin() ? (row['amountBeforeCommission'] | currency:'EUR') : (row['amountBeforeCommission'] | currency)}}
        </td>
      </ng-container>

      <!-- Local Currency Column -->
      <ng-container matColumnDef="amountLocalCurrency" *ngIf="columns.indexOf('amountLocalCurrency') !== -1">
        <th class="table-amountLC" mat-header-cell *matHeaderCellDef>{{columnNames.amountLocalCurrency}}</th>
        <td class="table-amountLC" mat-cell
            *matCellDef="let row">{{row['amountLocalCurrency'] ? '[' + row['currency']['code'] + ']' : ''}}
          {{row['amountLocalCurrency'] | currency }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>

    </table>
  </div>
<!--  <mat-paginator [length]="totalElements" [pageSize]="pageSize"></mat-paginator>-->
</div>
