.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width:8px;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.icon-style{
  height: 15px;
  width: 15px;
  color: #9E9E9E;
}

.example-container .example-table-container {
  position: relative;
  overflow: auto;
}

.title {
  font-size: 22px;
}

th, td {
  &:first-of-type, &:last-of-type {
    padding-left: 15px !important;
  }

  &:not(:first-of-type) {
    padding-left: 10px !important;
  }
}

@media (max-width: 820px) {
  th, td {
    white-space: nowrap;
  }
}