// RECIPIENTSS LIST
.header-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0;
    background-color: #fff;
    padding-right: 42px;
    padding-left: 32px;
    margin: 10px 0;
    input {
        box-sizing: border-box;
        margin: 5px 0;
        height: 36px;
        padding-left: 8px;
    }
    .inputCountry {
        width: 210px;
        box-sizing: border-box;
        margin-left: 16px;
        height: 36px;
        padding-left: 8px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 32px;
    border: solid 2px #c4c4c4;
    height: calc(100vh - 196px);
    -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    td {
        cursor: pointer;
    }
}

th,
td {
    text-align: center;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.column-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
    border-radius: 12px;
    border: solid 2px #c4c4c4;
    height: calc(100vh - 186px);
    -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    input {
        text-align: end;
        width: calc(100% - 15px);
        margin: 0 !important;
    }
    input:focus {
        outline: none;
    }
}

.table-title {
    display: contents;
    font-size: 15px;
    margin-bottom: 0;
    color: #848383;
}

.table-title2 {
    font-size: 22px;
    margin-top: 4px;
    margin-bottom: 8px;
    color: #848383;
    p {
        margin: 36px 0 0;
    }
}

.marginLeft25 {
    margin-left: 25px;
}

.payee-lists-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recipient-simplelist-container {
    width: 100%;
    height: calc(100vh - 358px);
    background-color: #ffffff;
    color: #848383;
    border: solid 1px transparent;
    border-radius: 0 0 12px 12px;
    overflow-y: scroll;
}

.payee-simplelist-container {
    width: 100%;
    height: calc(100vh - 308px);
    background-color: #ffffff;
    color: #848383;
    border: solid 1px transparent;
    border-radius: 0 0 12px 12px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            display: flex;
            padding: 0 32px;
            width: 100%;
            cursor: pointer;
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.ticket-container {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 158px);
}

.card {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    border-radius: 16px;
    text-align: center;
    border: solid 2px #c4c4c4;
    -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    p {
        padding-top: 12px;
        font-size: 22px;
        color: #848383;
    }
    hr {
        margin: 0;
        width: 80%;
    }
}

.card-2 {
    height: 250px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #c4c4c4;
    -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.24);
    p {
        padding-top: 12px;
        font-size: 22px;
        color: #848383;
    }
    hr {
        margin: 0;
        width: 80%;
    }
}

.card-inner {
    height: 120px;
    width: calc(100% - 30px);
    border: solid 2px rgb(238, 236, 236);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    border: 1px inset #5e5d5d !important;
    width: 150px;
    input {
        border: 0;
        padding-right: 10px;
    }
}

.rigth-center {
    text-align: end;
}

//SELECTED ELEMENT
.selectedElement {
    background-color: rgb(211, 226, 231);
    color: rgb(122, 122, 122);
    //border-bottom: solid 1px rgb(180, 179, 179);
}

//BUTTON CONTAINERS
.btns-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 64px;
    .rounded-button {
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        background-color: #ffffff;
        border-radius: 100%;
        cursor: pointer;
        -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.1);
        &:active {
            -webkit-box-shadow: inset 9px 9px 14px -13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 9px 9px 14px -13px rgba(0, 0, 0, 0.75);
            box-shadow: inset 9px 9px 14px -13px rgba(0, 0, 0, 0.75);
        }
    }
}

//VALIDATION
.message-error-empty {
    margin-top: 9px;
    color: red;
    font-size: 12px;
    float: right;
    padding-right: 32px;
}

// STEPPER
.stpper-Cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.simple-step {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-item {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    color: #fff;
    margin: 8px;
    p {
        margin: 0;
        color: #ffffff;
        font-weight: bold;
    }
}

.step-title {
    color: #989794;
    font-size: 16px;
    margin: 0 8px;
    font-weight: bold;
}

.step-progressbar {
    color: #cccccc;
    margin: 0;
    line-height: 0;
    letter-spacing: 0;
    font-size: 12px;
}

.btn-container {
    width: 300px;
}

// STEPS STATUS
.active {
    background-color: #0c3a47;
}

//FOOTER
.footer2 {
    height: 66px;
    width: calc(100% - 306px);
    display: flex;
    align-items: center;
    position: absolute;
    flex: 1;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0px -10px 29px rgba(0, 0, 0, 0.068);
}

//BUTTONS
.btn {
    color: #0c3a47;
    background-color: #fff;
    border: 2px solid #0c3a47;
    border-radius: 24px;
    padding: 8px 78px;
    margin: 0 36px;
    line-height: 0;
    height: 48px;
    font-weight: bold;
    -webkit-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.24);
}

.btn-reduced {
    padding: 8px 32px !important;
    margin: 16px 0 0;
    font-weight: 100 !important;
}

.next-btn {
    background-color: #0c3a47;
    color: #fff;
}

.pmargin {
    width: 200px;
    text-align: right;
}

//margins
.margin-left-56 {
    margin-left: 56px !important;
}

.margin-right-56 {
    margin-right: 56px;
}

.full-heigth {
    border-radius: 12px;
    input {
        margin-left: 8px;
    }
}

.full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.width-col-33 {
    width: 33.33%;
}

.eraserBox {
    border: solid 1px #5e5d5d;
    height: 28px;
    width: 30px;
    border-left: none;
    cursor: pointer;
}

.dangerBox {
    background-color: #e57373;
    p {
        color: rgb(255, 255, 255) !important;
    }
    hr {
        background-color: #fff;
    }
}

.clickedButton {
    background-color: #e57373 !important;
}

//TABLE STYLES
table {
    width: calc(100% - 64px);
    margin: 16px 32px;
    // box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #5e5d5d;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.label {
    font-size: 14px;
    padding: 0 8px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
        color: rgb(236, 67, 67);
    }
}

.stepError {
    border-color: #e57373 !important;
}

.genericMsg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 56px 0 0;
    input {
        border: solid 1px #5e5d5d;
        border-right: none;
        text-align: left;
        padding-left: 8px;
        height: 28px;
        width: 237px;
        margin-left: 16px;
    }
}

.genericMsg {
    justify-content: flex-end;
    display: flex;
}

.payee-simplelist-container2 {
    height: calc(100vh - 200px);
    margin-top: 20px;
}

.genericDescription {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: #5e5d5d;
    font-weight: bold;
    margin: 0 16px 0 0;
}

.back-btn {
    color: #0c3a47;
    background-color: #fff;
    border: 2px solid #0c3a47;
    border-radius: 24px;
    padding: 8px 78px;
    margin: 0 36px;
    line-height: 0;
    height: 48px;
    font-weight: bold;
    -webkit-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.24);
    &:hover {
        background-color: rgb(224, 224, 224);
    }
}

.countryForm {
    display: flex;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    .big {
        height: 15px;
        width: 15px;
        &:hover {
            color: rgb(201, 80, 80);
        }
    }
}

.toLegend {
    background-color: #0c3a47;
    align-items: center;
    border-radius: 5px;
    margin: 25px;
    text-align: center;
    p {
        padding: 10px;
        color: #fff;
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.bg-pm {
    .acceptCreated {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .cancelCreated {
        background-color: #777 !important;
        color: #ffffff;
    }
    .leftBox {
        P {
            color: #ffffff !important;
        }
    }
    .dangerBox {
        background-color: #777 !important;
    }
    .clickedButton {
        background-color: #777 !important;
    }
    .stepError {
        border-color: #777 !important;
    }
    .back-btn {
        color: #4782d3!important;
        border: 2px solid #4782d3!important;
    }
    .next-btn {
        background-color: #4782d3!important;
        color: #fff;
    }
    .btn {
        background-color: #4782d3!important;
        color: #fff;
    }
    .toLegend {
        background-color: #4782d3!important;
        color: #fff;
    }
}

.lista {
    display: none;
}

.normal {
    display: flex;
}

.asterisco {
    color: red;
    font-size: 17px;
}

.columna5 {
    flex: 0 0 5%;
}

.columna10 {
    flex: 0 0 10%;
}

.columna15 {
    flex: 0 0 15%;
}

.columna20 {
    flex: 0 0 20%;
}

.columna25 {
    flex: 0 0 25%;
}

.center {
    text-align: center;
    place-content: center;
}

.left {
    text-align: left;
    place-content: flex-start;
}

mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
    padding-left: 5px;
}

mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
    padding-right: 5px;
}

.iconSize {
    height: 15px;
    width: 15px;
}

.mat-header-cell {
    font-size: 13px;
}

.texareaNoEdit {
    text-align: right;
    border: none;
    resize: none;
}

.texareaId {
    text-align: center;
    border: none;
    resize: none;
}

@media only screen and (min-width: 960px) {
    .masterPage_ {
        padding: 20px;
    }
    .column-3 {
        margin-top: 5px;
        height: calc(100vh - 251px);
    }
    .payee-simplelist-container2 {
        margin-top: 0px;
    }
    .blockCard {
        display: block;
    }
    .ticket-container {
        display: block;
        width: 100%;
        height: unset;
    }
    .card {
        margin-bottom: 5px;
        width: 50%;
        height: unset;
        display: block;
        float: left;
    }
    .margin-left-56 {
        margin-left: 0px !important;
    }
    .column-2 {
        width: 100%;
    }
    .card-inner {
        border: solid 0px #eeecec !important;
    }
    .confirmTotal {
        height: 36px;
    }
    .card-2 {
        height: 141px;
        padding-top: 0px;
    }
    p {
        margin: 0 0 0px;
    }
    .card-2 p {
        padding-top: 0px;
        font-size: 22px;
        color: #848383;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1270px) {
    .btn {
        border-radius: 0px;
    }
    .full-width {
        overflow: hidden;
    }
    .card-inner {
        border: solid 0px #eeecec !important;
    }
}

.txtareaidnumber {
    max-width: 90px;
    display: inline-table;
    border: none;
    resize: none;
}

@media only screen and (max-width: 960px) {
    .tdapodo {
        max-width: 89px;
    }
    .txtareaidnumber {
        max-width: 90px;
        display: inline-table;
        border: none;
    }
    .masterPage {
        width: 100%;
        margin-left: 0;
        padding: 1px 1px 1px;
    }
    .center {
        text-align: right;
        place-content: flex-end;
    }
    .left {
        text-align: right;
        place-content: flex-end;
    }
    .texareaEdit {
        width: 70%;
        text-align: right;
    }
    .texareaNoEdit,
    .texareaId {
        width: 70%;
        text-align: right;
        border: none;
    }
    .input-wrapper {
        display: flex;
        place-content: flex-end;
        text-align: right;
        float: right;
        line-height: 35px;
    }
    .closeBtn .big {
        height: 30px;
        width: 30px;
    }
    .card {
        margin-bottom: 10px;
    }
    .ticket-container {
        height: auto;
    }
    .big {
        height: 30px;
        width: 30px;
        color: rgb(201, 80, 80);
    }
    mat-header-row {
        display: none;
    }
    .asterisco {
        color: white;
    }
    .mat-header-cell {
        color: white;
    }
    .card-2 {
        border-radius: 0px;
    }
    .toLegend {
        margin: 0px;
    }
    .column-3 {
        border-radius: 0px;
        border: solid 0px #c4c4c4;
    }
    mat-cell:last-of-type,
    mat-footer-cell:last-of-type,
    mat-header-cell:last-of-type {
        padding-right: 0px;
    }
    mat-cell:first-of-type,
    mat-footer-cell:first-of-type,
    mat-header-cell:first-of-type {
        padding-left: 0px;
    }
    .mat-sort-header-container {
        display: grid !important;
    }
    //Tabla responsiva inicio
    .mat-table {
        border: 0;
        vertical-align: middle
    }
    .mat-table caption {
        font-size: 1em;
    }
    /*  Enable this to hide header
      .mat-table .mat-header-cell {
        
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      */
    .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
    }
    /*
      .mat-table .mat-row:nth-child(even) {background: #CCC}
      .mat-table .mat-row:nth-child(odd) {background: #FFF}
      */
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
        margin-top: 0%;
        background: antiquewhite;
        line-height: 45px;
    }
    //Tabla responsiva fin
    .margin-left-56 {
        margin-left: 0px !important;
    }
    .column-2 {
        width: 100%;
        margin-top: 10px;
    }
    .footer {
        padding-left: 16px;
    }
    .back-btn {
        border-radius: 5px;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .btn {
        border-radius: 5px;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .column {
        width: 100%;
        margin-top: 3px;
        border-radius: 5px;
    }
    .payee-lists-container {
        display: block;
        margin-bottom: 50px;
    }
    input {
        padding-left: 0px;
        // margin-top: 1px !important;
    }
    .header-list {
        // display: flex;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 8px;
        margin: 5px 0;
    }
    .btns-containers .rounded-button {
        width: 25%;
        border: 1px solid;
        margin-top: 16px;
        margin-bottom: 16px;
        float: left;
        border-radius: 0%;
    }
    .btns-containers {
        display: block;
        margin: 0 5px;
    }
    table {
        width: 100%;
        margin: 0px 0px;
        font-family: "Roboto", sans-serif;
        color: #5e5d5d;
    }
    .table-title2 {
        text-align: center;
    }
    .ocultar {
        display: none;
    }
}