<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage" [ngClass]="{'masterPage_' : menuCollapse.value}">
    <div [ngSwitch]="index" [ngClass]="(changeClass==1)?'bg-pm':''">
        <!-- STEP 1 -->
        <div class=stepOne *ngSwitchCase="1">
            <div class="payee-lists-container">
                <div class="column">
                    <div class="header-list">
                        <div>
                            <form [formGroup]="countryForm" class="countryForm">
                                <label class="table-title" for="countryFilter">
                                    {{ 'REPORTS_MESSAGES.COUNTRY'| translate}}</label>
                                <app-autocomplete-input id="countryFilter" style="margin-left: 15px" [inputForm]="countryForm" [autoInit]="true" [inputFormControlName]="'countryPayee'" [elementPlaceholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate" [type]="autocompleteType.PAYEE_COUNTRY"
                                    (resetRelatedVariables)="resetRelatedVariables()" (elementChange)="onChangeCountry($event)">
                                </app-autocomplete-input>
                            </form>
                        </div>
                        <input type="text" [placeholder]="'PLACEHOLDER.SEARCH_PAYEES_NAME' | translate" [(ngModel)]="nameSearch" (ngModelChange)="loadTablePayee()">
                        <input type="text" [placeholder]="'PLACEHOLDER.SEARCH_PAYEES_NUMBER' | translate" [(ngModel)]="idNumberSearch" (ngModelChange)="loadTablePayee()">
                        <input type="text" [placeholder]="'PLACEHOLDER.SEARCH_PAYEES_NICKNAME' | translate" [(ngModel)]="nicknameSearch" (ngModelChange)="loadTablePayee()">
                    </div>
                    <div class="payee-simplelist-container">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'REPORTS_MESSAGES.NAME'| translate}}</th>
                                        <th>{{ 'REPORTS_MESSAGES.NICKNAME'| translate}}</th>
                                        <th>{{ 'REPORTS_MESSAGES.COUNTRY'| translate}}</th>
                                        <th>{{ 'REPORTS_MESSAGES.ID_NUMBER'| translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payee of payees" (dblclick)="addElement(payee)" (click)="preSelectElement(payee)" [ngClass]="{'selectedElement': payee.isSelected}">
                                        <td>
                                            <i-feather class="iconSize" [matTooltip]="payee.payeeAsCompany ? 'Business Accounts' : 'Payee'" [matTooltipPosition]="positionOptions" [name]="payee.payeeAsCompany ? 'home' : 'user'">
                                            </i-feather>&nbsp; {{payee.fullName}}
                                        </td>
                                        <td class="tdapodo">{{payee.nickname}}</td>
                                        <td>{{payee.country.name}}</td>
                                        <td>
                                            <textarea class="txtareaidnumber">{{payee.idNumber}}</textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btns-containers">
                    <div class="rounded-button" (click)="addAllElements()"><i class="icofont-rounded-double-right"></i>
                    </div>
                    <div class="rounded-button" (click)="addAmountElement()"><i class="icofont-rounded-right"></i></div>
                    <div class="rounded-button" (click)="removeAmountElement()"><i class="icofont-rounded-left"></i>
                    </div>
                    <div class="rounded-button" (click)="removeAllElements()"><i class="icofont-rounded-double-left"></i></div>
                </div>
                <div class="column">
                    <div class="header-list">
                        <p class="table-title2 ">{{ 'BUTTON_OPTION_INFO.SELECTED_PAYEES'| translate}}</p>
                        <input type="text" [placeholder]="'PLACEHOLDER.SEARCH_SELECTED_PAYEES' | translate" [(ngModel)]="rightFilter" (ngModelChange)="payeesRightFilter($event)">
                    </div>
                    <div class="payee-simplelist-container">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'REPORTS_MESSAGES.NAME'| translate}}</th>
                                        <th>{{ 'REPORTS_MESSAGES.NICKNAME'| translate}}</th>
                                        <th>{{ 'REPORTS_MESSAGES.COUNTRY'| translate}}</th>
                                        <th>{{ 'REPORTS_MESSAGES.ID_NUMBER'| translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payee of payeesToPay" (dblclick)="uncheckElement(payee)" (click)="postSelectElement(payee)" [ngClass]="{'selectedElement': payee.isSelected}">
                                        <td>
                                            <i-feather class="iconSize" [matTooltip]="payee.payeeAsCompany ? 'Business Accounts' : 'Payee'" [matTooltipPosition]="positionOptions" [name]="payee.payeeAsCompany ? 'home' : 'user'">
                                            </i-feather>&nbsp; {{payee.fullName}}
                                        </td>
                                        <td class="tdapodo">{{payee.nickname}}</td>
                                        <td>{{payee.country.name}}</td>
                                        <td><textarea class="txtareaidnumber">{{payee.idNumber}}</textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- STEP 2 -->
        <div class="stepTwo" *ngSwitchCase="2">
            <div class="payee-lists-container blockCard">
                <div class="column-3">
                    <div class="payee-simplelist-container payee-simplelist-container2 full-heigth">
                        <mat-table [dataSource]="payeesToPay" matSort>

                            <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef class="columna5 center"></mat-header-cell>
                                <mat-cell *matCellDef="let payee" attr.data-label="" class="columna5 center">
                                    <div class="closeBtn ">
                                        <i-feather name="x-circle" class="big" (click)="removeElement(payee)">
                                        </i-feather>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef class="columna25 left"> {{'REPORTS_MESSAGES.NAME'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" attr.data-label="{{'REPORTS_MESSAGES.NAME' | translate}}" class="columna25 left">
                                    <i-feather class="iconSize" [matTooltip]="payee.payeeAsCompany ? 'Business Accounts' : 'Payee'" [matTooltipPosition]="positionOptions" [name]="payee.payeeAsCompany ? 'home' : 'user'">
                                    </i-feather>&nbsp; {{payee.fullName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="country">
                                <mat-header-cell *matHeaderCellDef class="columna10 center"> {{'REPORTS_MESSAGES.COUNTRY'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" attr.data-label="{{'REPORTS_MESSAGES.COUNTRY'| translate}}" class="columna10 center"> {{payee.country.name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef class="columna15 center"> {{'REPORTS_MESSAGES.ID_NUMBER'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna15 center" attr.data-label="{{'REPORTS_MESSAGES.ID_NUMBER'| translate}}"><textarea class="texareaId">{{payee.idNumber}}</textarea> </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef class="columna10 center"> {{ 'REPORTS_MESSAGES.AMOUNT'| translate}} [{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}}] </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna10 center" attr.data-label="{{'REPORTS_MESSAGES.AMOUNT'| translate}} [{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}}]">
                                    <div class="input-wrapper" [ngClass]="{'stepError': payee.amount <= 0 && invalidateStep}">
                                        {{userSessionService.useEuroCoin() ? '€' : '$'}}
                                        <input (keypress)="validacionInput($event, 'cantidad', payee.amount)" type="text" maxlength="8" onpaste="return false" [(ngModel)]="payee.amount" (ngModelChange)="sumAmount()" />
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="euro" *ngIf="!userSessionService.useEuroCoin()">
                                <mat-header-cell *matHeaderCellDef class="columna15 center"> {{'REPORTS_MESSAGES.LOCAL_CURRENCY'| translate}} <strong class="asterisco">*</strong></mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna15 center" attr.data-label="{{'REPORTS_MESSAGES.LOCAL_CURRENCY'| translate}} *"> {{getAmountToPayee(payee) | currency}} [{{payee.country.code}}] </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef class="columna20 center"> {{'REPORTS_MESSAGES.DESCRIPTION'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna20 center" attr.data-label="{{'REPORTS_MESSAGES.DESCRIPTION'| translate}}"><textarea class="input-text texareaEdit" type="text" maxlength="250" [(ngModel)]="payee.description"></textarea></mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>
                    </div>
                    <div class="toLegend" *ngIf="!userSessionService.useEuroCoin()">
                        <p>
                            <strong>
                                <span style="color: red; font-size: 25px">*</span>
                                {{ 'BUTTON_OPTION_INFO.ESTIMATED_AMOUNT'| translate}}
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="column-2 margin-left-56 ">
                    <div class="ticket-container">
                        <div class="card">
                            <div class="card-inner">
                                <p>{{ 'BUTTON_OPTION_INFO.TOTAL_PAY'| translate}}</p>
                                <hr>
                                <p><strong>{{userSessionService.useEuroCoin() ? 'EUR' : 'USD'}}</strong> {{userSessionService.useEuroCoin() ? (totalToPay | currency: 'EUR') : (totalToPay | currency)}}
                                </p>
                            </div>
                        </div>
                        <div id="error" class="card" [ngClass]="{'dangerBox': currentAccount < 0}">
                            <div class="card-inner">
                                {{ 'BUTTON_OPTION_INFO.CURRENT_BALANCE'| translate}}
                                <hr>
                                <p><strong>[{{userSessionService.useEuroCoin() ? 'EUR' : 'USD'}}]</strong> {{userSessionService.useEuroCoin() ? (currentAccount | currency: 'EUR') : (currentAccount | currency)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- STEP 3 -->
        <div class="stepThree" *ngSwitchCase="3">
            <div class="payee-lists-container blockCard">
                <div class="column-3">
                    <div class="payee-simplelist-container full-heigth">
                        <mat-table [dataSource]="payeesToPay" matSort>
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef class="columna25 left"> {{'REPORTS_MESSAGES.NAME'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna25 left" attr.data-label="{{'REPORTS_MESSAGES.NAME' | translate}}">
                                    <i-feather class="iconSize" [matTooltip]="payee.payeeAsCompany ? 'Business Accounts' : 'Payee'" [matTooltipPosition]="positionOptions" [name]="payee.payeeAsCompany ? 'home' : 'user'">
                                    </i-feather>&nbsp; {{payee.fullName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="country">
                                <mat-header-cell *matHeaderCellDef class="columna10 center"> {{'REPORTS_MESSAGES.COUNTRY'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna10 center" attr.data-label="{{'REPORTS_MESSAGES.COUNTRY'| translate}}"> {{payee.country.name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef class="columna20 center"> {{'REPORTS_MESSAGES.ID_NUMBER'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna20 center" attr.data-label="{{'REPORTS_MESSAGES.ID_NUMBER'| translate}}"><textarea class="texareaId">{{payee.idNumber}}</textarea> </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef class="columna10 center"> {{ 'REPORTS_MESSAGES.AMOUNT'| translate}} [{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}}] </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna10 center" attr.data-label="{{'REPORTS_MESSAGES.AMOUNT'| translate}} [{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}}]"> {{userSessionService.useEuroCoin() ? (payee.amount | currency: 'EUR') : (payee.amount | currency)}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="euro" *ngIf="!userSessionService.useEuroCoin()">
                                <mat-header-cell *matHeaderCellDef class="columna15 center"> {{'REPORTS_MESSAGES.LOCAL_CURRENCY'| translate}} <strong class="asterisco">*</strong></mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna15 center" attr.data-label="{{'REPORTS_MESSAGES.LOCAL_CURRENCY'| translate}} *"> {{payee.localCurrency | currency}} [{{payee.country.code}}] </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef class="columna20 center"> {{'REPORTS_MESSAGES.DESCRIPTION'| translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let payee" class="columna20 center" attr.data-label="{{'REPORTS_MESSAGES.DESCRIPTION'| translate}}"> <textarea class="input-text texareaNoEdit" type="text" readonly maxlength="250" [(ngModel)]="payee.description"></textarea> </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns3;">
                            </mat-row>
                        </mat-table>
                    </div>
                    <div class="toLegend" *ngIf="!userSessionService.useEuroCoin()">
                        <p><strong>
                                <span style="color: red; font-size: 25px">*</span>
                                {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.THIS_AN_ESTIMATED_AMOUNT_BASE'|
                                translate}}
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="column-2 full-heigth margin-left-56">
                    <div class="card-2">
                        <div class="card-inner confirmTotal">
                            <p>{{ 'BUTTON_OPTION_INFO.TOTAL_PAY'| translate}}</p>
                            <hr>
                            <p><strong>[{{userSessionService.useEuroCoin() ? 'EUR' :
                                    environment.defaultCurrency}}]</strong> {{userSessionService.useEuroCoin() ? (totalToPay | currency: 'EUR') : (totalToPay | currency)}}
                            </p>
                        </div>
                        <div class="full-width" [ngClass]="(changeClass==1)?'bg-pm':''">
                            <button class="btn btn-reduced next-btn" (click)="confirmPayments()">{{'BUTTON_OPTION_INFO.CONFIRM_PAYMENTS' |
                                translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER-->
    <div class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
        <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
            <button class="back-btn" *ngIf="index!==1" (click)="backStep()">{{'BUTTON_OPTION_INFO.BACK' |
                translate}}</button>
        </div>
        <div class="stpper-Cont ">
            <div class="simple-step " *ngFor="let step of steps">
                <div class="step-item " [ngClass]="{active: step.isActive}">
                    <p *ngIf="index > step.step"><i class="icofont-check"></i></p>
                    <p *ngIf="index <= step.step">{{step.stepIcon}}</p>
                </div>
                <div class="step-title ocultar" *ngIf="step.step === index">
                    {{step.title}}
                </div>
                <div class="step-progressbar ocultar " *ngIf="!step.isActive && step.step !== 3 && step.step > index">
                    <i class="icofont-minus"></i>
                    <i class="icofont-minus"></i>
                    <i class="icofont-minus"></i>
                    <i class="icofont-minus"></i>
                </div>
            </div>
        </div>
        <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
            <button class="btn next-btn" *ngIf="index!==3" (click)="nextStep()">{{'BUTTON_OPTION_INFO.NEXT' |
                translate}}</button>
        </div>
    </div>
</div>