.container {
    width: auto;
}

.date {
    .col-md-3,
    .col-md-5,
    .col-md-4,
    select {
        padding: 0px 0px!important;
    }
}

.mobilecenter {
    margin-bottom: 10px;
    text-align: left;
}

@media only screen and (max-width: 960px) {
    .mobilecenter {
        text-align: center;
    }
}