<form [formGroup]="userForm">
    <!-- este formulario sale cuando confirmas un MERCHANT, 
    Formulario cuando creas un reseller -->
    <!-- TOP BOX  -->
    <div class="box">
        <!-- TITLE  -->
        <div class="mobilecenter">
            <p class="subtitle tag">{{ 'PROFILE.COMPANY_INFO' | translate }}</p>
        </div>
        <div class="container">
            <div class="row">
                <!-- COMPANY -->
                <div class="col-md-8 col-sm-6">
                    <div class="form-group">
                        <label for="company" class="label-form">{{ 'REPORTS_MESSAGES.COMPANY_NAME' | translate
                            }}</label>
                        <input maxlength="49" formControlName="company" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{'errorInput': userCompany.invalid && userFormInvalid}" (keypress)="validacionInput($event, 'numerosYLetras')"
                            type="text" id="company" class="form-control" placeholder="" required [readonly]="canReadOnly('COMPANY')">
                    </div>
                </div>
                <!-- TAX ID -->
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="companyTId" class="label-form">{{ 'TEXT.COMPANY' | translate }} TAX ID</label>
                        <input formControlName="taxId" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{'errorInput': userTaxId.invalid && userFormInvalid}" (keypress)="validacionInput($event, 'numerosYLetras')" type="text"
                            id="companyTId" class="form-control" placeholder="" required [readonly]="canReadOnly('COMPANY')">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- COMPANY COUNTRY -->
                <div class="col-md-3 col-sm-6">
                    <label for="companyCountry" class="label-form">{{ 'TEXT.COUNTRY' | translate }}</label>
                    <app-autocomplete-input #CompanyCountryAutocomplete id="companyCountry" [id]="'companyCountry'" [inputForm]="userForm" [inputFormControlName]="'countryPostal'" [elementPlaceholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME' | translate" [type]="autocompleteType.COUNTRY"
                        [maxLenght]="10" [extendedUserConfirmedProfile]="userSessionService.haveStatus() && extendedUser.confirmedProfile" [isModalView]="modalView" [isModifyMode]="modifyMode" [noElementSelect]="noPostalCountrySelected" [invalidInput]="userFormInvalid"
                        [readonly]="canReadOnly('COUNTRY')" (elementChange)="resetDependencies(false, 'POSTAL')" (setNoElementSelected)="resetDependencies($event, 'POSTAL')">
                    </app-autocomplete-input>
                </div>
                <!-- COMPANY CITY -->
                <div class="col-md-3 col-sm-6">
                    <label for="companyCity" class="label-form">{{ 'PROFILE.CITY' | translate }}</label>
                    <input formControlName="cityPostal" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{'errorInput': userCityPostal.invalid && userFormInvalid}" (keypress)="validacionInput($event, 'numerosYLetras')" type="text"
                        id="companyCity" class="form-control" placeholder="" [readonly]="canReadOnly('CITY')">
                </div>
                <!-- CP -->
                <div class="col-md-3 col-sm-6">
                    <label for="cpAddrees" class="label-form">{{ 'PROFILE.CP' | translate }}</label>
                    <input formControlName="cpPostalAddress" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="validacionInput($event, 'numeros')" maxlength="10" onpaste="return false" [ngClass]="{'errorInput': usercpPostalAddress.invalid && userFormInvalid}"
                        type="text" id="cpAddrees" class="form-control" placeholder="" [readonly]="canReadOnly('COMPANY')">
                </div>
                <!-- ADDRESS -->
                <div class="col-md-3 col-sm-6">
                    <label for="address1" class="label-form">{{ 'REPORTS_MESSAGES.COMPANY_BUSINESS_ADDRESS' | translate
                        }}</label>
                    <input formControlName="postalAddress" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="validacionInput($event, 'numerosYLetras')" onpaste="return false" [ngClass]="{'errorInput': userPostalAddress.invalid && userFormInvalid}"
                        type="text" id="address1" class="form-control" placeholder="" required [readonly]="canReadOnly('COMPANY')">
                </div>
            </div>
        </div>
    </div>
    <!-- TOP BOX END  -->

    <!-- BOTTOM BOX -->
    <div class="box">
        <!-- TITLE  -->
        <div class="mobilecenter">
            <p class="subtitle tag">
                {{ 'PROFILE.COMPANY_ADMIN_INFO' | translate }}
                <span *ngIf="!createUser || !modalView" class="fullName-form-style">
                    {{userFirstName1.value}} {{userLastName1.value}}
                </span>
            </p>
        </div>
        <div class="container">
            <div class="row" *ngIf="createUser || modalView">
                <div class="col-md-3 col-sm-6">
                    <!-- FIRST NAME COMPANY ADMIN -->
                    <label for="fnCA" class="label-form">{{ 'PROFILE.FIRST_NAME' | translate }}</label>
                    <input formControlName="firstName1" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{'errorInput': userFirstName1.invalid && userFormInvalid}" (keypress)="validacionInput($event, 'letras')" type="text"
                        id="fnCA" class="form-control" placeholder="" required [readonly]="canReadOnly('NAME')" maxlength="15">
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- LAST NAME COMPANY ADMIN -->
                    <label for="lnCA" class="label-form">{{ 'TEXT.LAST_NAME' | translate }}</label>
                    <input formControlName="lastName1" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{'errorInput': userLastName1.invalid && userFormInvalid}" (keypress)="validacionInput($event, 'letras')" type="text"
                        id="lnCA" class="form-control" placeholder="" [readonly]="canReadOnly('NAME')" maxlength="15">
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- EMAIL-->
                    <label for="email" class="label-form">{{ 'TEXT.EMAIL' | translate }}</label>
                    <input formControlName="email" [ngClass]="{'errorInput': (userEmail.invalid && userFormInvalid && this.createUser)
                                        || (emailAlreadyExistError && createUser)}" type="text" id="email" class="form-control" placeholder="" [readonly]="canReadOnly('EMAIL')">
                    <mat-error style="display: block;" *ngIf="emailAlreadyExistError && createUser">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.EMAIL_IS_USED' | translate }}</mat-error>
                    <mat-error class="errorMsg" *ngIf="userEmail.hasError('email')">{{ 'TEXT.ENTER_VALID_EMAIL' | translate }}
                    </mat-error>
                </div>
                <!-- MOBILE NUMBER -->
                <div class="col-md-3 col-sm-6">
                    <label for="mpCA" class="label-form">{{ 'PROFILE.MOBILE_PHONE' | translate }}</label>
                    <input formControlName="mobileNumber" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="validacionInput($event, 'numeros')" maxlength="20" [ngClass]="{'errorInput': userMobileNumber.invalid && userFormInvalid}"
                        type="text" id="mpCA" class="form-control" placeholder="" required [readonly]="canReadOnly('MOBILE_PHONE')">
                </div>
            </div>
            <div class="row">
                <!-- BIRTHDAY  ,MERCHANT PROFILE -->
                <div class="col-md-12 col-sm-6">
                    <label for="birthday" class="label-form">{{ 'PROFILE.DATE_OF_BIRTH' | translate }}</label>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control fechaNacimiento" style="padding: 0px 0px;" [ngStyle]="{'background-color':disabledDateBirth === true ? '#C7C8C8 ' : 'white' }" [ngClass]="{'errorInput': userBirthDate.invalid && userFormInvalid}" name="day" [(ngModel)]="day"
                                [ngModelOptions]="{standalone: true}" [disabled]="disabledDateBirth || canReadOnly('BIRTH')" required (change)="setBirth()" id="birthday2">
                                <option disabled value="">{{'TEXT.DAY' | translate}}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select id="birthday2" class="form-control" name="month" [(ngModel)]="month" style="padding: 0px 0px;" [ngStyle]="{'background-color':disabledDateBirth === true ? '#C7C8C8 ' : 'white' }" [ngClass]="{'errorInput': userBirthDate.invalid && userFormInvalid}"
                                [ngModelOptions]="{standalone: true}" class="form-control" (change)="setBirth()" required ng-disabled="userSessionService.haveStatus()" [disabled]="disabledDateBirth || canReadOnly('BIRTH')">
                                <option disabled value="">{{'TEXT.MONTH' | translate}}</option>
                                <option value="1">{{'TEXT.JANUARY'|translate}}</option>
                                <option value="2">{{'TEXT.FEBRUARY'|translate}}</option>
                                <option value="3">{{'TEXT.MARCH'|translate}}</option>
                                <option value="4">{{'TEXT.APRIL'|translate}}</option>
                                <option value="5">{{'TEXT.MAY'|translate}}</option>
                                <option value="6">{{'TEXT.JUNE'|translate}}</option>
                                <option value="7">{{'TEXT.JULY'|translate}}</option>
                                <option value="8">{{'TEXT.AUGUST'|translate}}</option>
                                <option value="9">{{'TEXT.SEPTEMBER'|translate}}</option>
                                <option value="10">{{'TEXT.OCTOBER'|translate}}</option>
                                <option value="11">{{'TEXT.NOVEMBER'|translate}}</option>
                                <option value="12">{{'TEXT.DECEMBER'|translate}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="birthday2" class="form-control" name="year" [(ngModel)]="year" style="padding: 0px 0px; " [ngStyle]="{'background-color':disabledDateBirth === true ? '#C7C8C8 ' : 'white' }" [ngClass]="{'errorInput': userBirthDate.invalid && userFormInvalid}"
                                [ngModelOptions]="{standalone: true}" class="form-control anioNacimiento" (change)="setBirth()" ng-disabled="userSessionService.haveStatus()" [disabled]="disabledDateBirth || canReadOnly('BIRTH')">
                                <option disabled value="">{{'TEXT.YEAR' | translate}}</option>
                                <option *ngFor="let year of yearArray" [value]="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- COUNTRY COMPANY ADMIN -->
                    <label for="countryCA" class="label-form">{{ 'TEXT.COUNTRY' | translate }}</label>
                    <app-autocomplete-input #AdministratorCountryAutocomplete id="countryCA" [id]="'countryCA'" [inputForm]="userForm" [inputFormControlName]="'countryResidence'" [elementPlaceholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME' | translate" [type]="autocompleteType.COUNTRY"
                        [maxLenght]="10" [extendedUserConfirmedProfile]="userSessionService.haveStatus() && extendedUser.confirmedProfile" [isModalView]="modalView" [isModifyMode]="modifyMode" [noElementSelect]="noResidenceCountrySelected" [invalidInput]="userFormInvalid"
                        [readonly]="canReadOnly('COUNTRY')" (elementChange)="resetDependencies(false, 'RESIDENCE')" (setNoElementSelected)="resetDependencies($event, 'RESIDENCE')">
                    </app-autocomplete-input>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- CITY COMPANY ADMIN -->
                    <label for="cityCA" class="label-form">{{ 'PROFILE.CITY' | translate }}</label>
                    <input formControlName="cityResidence" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="validacionInput($event, 'numerosYLetras')" [ngClass]="{'errorInput': userCityResidence.invalid && userFormInvalid}"
                        type="text" id="cityCA" class="form-control" placeholder="" [readonly]="canReadOnly('CITY')">
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- CP COMPANY ADMIN -->
                    <label for="cpcaAddress" class="label-form">{{ 'PROFILE.CP' | translate }}</label>
                    <input formControlName="cpResidenceAddress" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="validacionInput($event, 'numeros')" maxlength="10" [ngClass]="{'errorInput': usercpResidenceAddress.invalid && userFormInvalid}"
                        type="text" id="cpcaAddress" class="form-control" placeholder="" [readonly]="canReadOnly('ADDRESS')">
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- ADDRESS COMPANY ADMIN -->
                    <label for="caAddress" class="label-form">{{ 'PROFILE.ADDRESS' | translate }}</label>
                    <input formControlName="residenceAddress" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="validacionInput($event, 'numerosYLetras')" maxlength="80" [ngClass]="{'errorInput': userResidenceAddress.invalid && userFormInvalid}"
                        type="text" id="caAddress" class="form-control" placeholder="" required [readonly]="canReadOnly('ADDRESS')">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- TEXT ID NUMBER -->
                    <label for="idCA" class="label-form">{{ 'TEXT.ID_NUMBER' | translate }}</label>
                    <input formControlName="idNumber" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{'errorInput': userIdNumber.invalid && userFormInvalid}" type="text" id="idCA" class="form-control" placeholder="" required
                        maxlength="20" (keypress)="validacionInput($event, 'numeros', '-')" [readonly]="canReadOnly('ID_NUMBER')">
                </div>
            </div>
        </div>
    </div>
    <!-- BOTTOM BOX -->
</form>