.example-card {
  height: 170px;
  margin-bottom: 15px;
}

.example-card-request {
  height: 140px !important;
  margin-bottom: 15px;
}

.flex {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.flex2 {
  display: flex;
  justify-content: space-between;
}

.pageTitleModal {
  font-size: 24px !important;
  margin-bottom: 8px !important;
}

.pageTitleModal2 {
  font-size: 20px !important;
  margin-bottom: 8px !important;
  margin-top: 10px !important;
}

.withdrawal-account {
  font-size: 18px !important;
  display: flex;
  justify-content: center;
}

.closeBtn {
  cursor: pointer;

  .big {
    height: 32px;
    width: 32px;

    &:hover{
      color: rgb(201, 80, 80);
    }
  }

}

.changeFundBtn {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  padding-top: 5px;
  height: 25px;
  width: 25px;

  .plus {
    border-radius: 11px;
    background-color: #37a96e;
    color: #ffffff;

    &:hover{
      background-color: #30925f;
    }
  }

  .minus {
    border-radius: 11px;
    background-color: #E57373;
    color: #ffffff;

    &:hover{
      background-color: rgb(201, 80, 80);
    }
  }

  .minus-disabled {
    border-radius: 11px;
    background-color: rgba(254, 139, 139, 0.69);
    color: #ffffff;
    cursor: default !important;

    &:hover{
      background-color: rgba(254, 139, 139, 0.69);
    }
  }

}

.btnContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .btn{
    padding: 8px;
    margin-top: 8px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid transparent;
    margin-left: 16px;
  }

  .accept{
    width: 106px;
    height: 44px;
    background: #215361;
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
    color: #ffffff;
  }

  .cancel{
    width: 124px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
  }
}


.subtractFund{
  font-family: roboto;
  border-radius: 20px;
  border: none;
  background-color: #E57373;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: rgb(201, 80, 80);
  }

  &:focus {
    outline:none;
  }
}

.addFund{
  font-family: roboto;
  border-radius: 20px;
  border: none;
  background-color: #37a96e;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: #30925f;
  }

  &:focus {
    outline:none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

input {
  position: relative;
  z-index: 2;
  float: left;
  text-align: center;
  margin-bottom: 0;
  display: table-cell;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin: 0;
}

.prefix input {
  border-radius: 0px 4px 4px 0px;
}
.prefix .input-group-addon {
  border-right: 0;
  border-radius: 4px 0px 0px 4px;
}

.input-group-addon.prefix {
  border-radius: 4px 0px 0px 4px;
  border-right: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 0 !important;
}

.errorBalance {
  color: rgb(201, 80, 80);
}
