<div class="flex">
    <div class="pageTitleModal no-select">{{extendedUser?.fullName}}</div>
    <div class="closeBtn">
        <i-feather name="x-circle" class="big" (click)="closeModal()"></i-feather>
    </div>
</div>

<!-- FUNDING -->
<mat-card class="example-card" *ngIf="data.type === typeData.FUND_MERCHANT || data.type === typeData.REQUEST_FUND" [ngClass]="{'example-card-request': data.type === typeData.REQUEST_FUND}" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">
    <mat-card-header>
        <mat-card-title>
            <div class="pageTitleModal no-select" *ngIf="data.type === typeData.FUND_MERCHANT">
                {{'TEXT.CURRENT_BALANCE' | translate}} <strong>{{extendedUser.balance | currency}}</strong>
            </div>
            <div class="pageTitleModal no-select" *ngIf="data.type === typeData.REQUEST_FUND">
                {{'BUTTON_OPTION_INFO.FUND_REQUEST' | translate}}
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex2">
            <div class="changeFundBtn">
                <i-feather name="minus-circle" class="minus" [ngClass]="{'minus-disabled': (amount <= 0 || amount === null) && data.type === typeData.REQUEST_FUND}" (click)="changeFund(-100)"></i-feather>
            </div>
            <div class="input-group prefix">
                <span class="input-group-addon no-select">
          {{userSessionService.useEuroCoin() ? '€' : '$'}}
        </span>
                <input type="number" [min]="setMinimum()" max="1000000" [(ngModel)]="amount" (ngModelChange)="changeBalance()" (keypress)="validacionInput($event)" onpaste="return false" />
            </div>
            <div class="changeFundBtn">
                <i-feather name="plus-circle" class="plus" (click)="changeFund(100)"></i-feather>
            </div>
        </div>
        <hr *ngIf="data.type === typeData.FUND_MERCHANT">
        <div class="pageTitleModal2" *ngIf="data.type === typeData.FUND_MERCHANT">
            {{ 'TEXT.NEW_BALANCE' | translate }} <span [ngClass]="{'errorBalance': newBalanceError}">{{newBalance | currency}}</span>
        </div>
    </mat-card-content>
</mat-card>
<!-- FUNDING END -->


<!-- WITHDRAWAL -->
<mat-card class="example-card" *ngIf="data.type === typeData.REQUEST_WITHDRAWAL" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">
    <mat-card-header>
        <mat-card-title>
            <div class="pageTitleModal no-select">
                {{ 'BUTTON_OPTION_INFO.WITHDRAWAL_REQUEST' | translate }}
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="withdrawal-account no-select">
            <p> {{ 'BUTTON_OPTION_INFO.ACTUAL_BALANCE' | translate }} <span [ngClass]="{'errorBalance': extendedUser.balance < amount}">{{newBalance | currency}}</span></p>
        </div>
        <div class="flex2">
            <div class="changeFundBtn">
                <i-feather name="minus-circle" class="minus" [ngClass]="{'minus-disabled': (amount <= 500 || amount === null)}" (click)="changeWithdrawal(-100)"></i-feather>
            </div>
            <div class="input-group prefix">
                <span class="input-group-addon no-select">$</span>
                <input type="number" [min]="setMinimum()" max="10000" [(ngModel)]="amount" (keypress)="validacionInput($event)" onpaste="return false" />
            </div>
            <div class="changeFundBtn">
                <i-feather name="plus-circle" class="plus" (click)="changeWithdrawal(100)"></i-feather>
            </div>
        </div>
        <mat-error *ngIf="amount < 500 || amount === null"> {{ 'ERROR_MESSAGES.MINIMUM_WITHDRAWAL' | translate }} $500</mat-error>
        <mat-error *ngIf="extendedUser.balance < amount"> {{ 'ERROR_MESSAGES.MAXIMUM_WITHDRAWAL' | translate }} {{newBalance | currency}}</mat-error>
    </mat-card-content>
</mat-card>
<!-- WITHDRAWAL END -->

<div class="btnContainer" [ngClass]="(changeClass==1)?'bg-pm':'bg-pa'">
    <button class="btn cancel" (click)="closeModal()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate }}</button>
    <button class="btn accept" *ngIf="data.type === typeData.FUND_MERCHANT" [mat-dialog-close]="amount" [disabled]="newBalanceError">{{ 'BUTTON_OPTION_INFO.SAVE' | translate }}</button>
    <button class="btn accept" *ngIf="data.type === typeData.REQUEST_FUND" [disabled]="amount <= 0 || amount === null" (click)="requestFund()">{{ 'BUTTON_OPTION_INFO.REQUEST' | translate }}</button>
    <button class="btn accept" *ngIf="data.type === typeData.REQUEST_WITHDRAWAL" [disabled]="amount < 500 || amount === null || extendedUser.balance < amount" (click)="requestWithdrawal()">{{ 'BUTTON_OPTION_INFO.REQUEST' | translate }}</button>
</div>