a {
    text-decoration: none;
}

.selectCollapse {
    padding-left: 46px;
}

.collapseIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #82a5af;
    padding-right: 5px;
    cursor: pointer;
    transition: all 300ms ease-in;
    .small {
        height: 16px;
        width: 16px;
    }
    &:hover {
        color: #f2eeeb;
    }
}

.logoF {
    display: none;
    height: 54px;
    width: 54px;
    margin-top: 30px;
}

// FULL SIDEBAR CONTAINER
.mMain-container {
    display: flex;
    position: fixed;
}

// RESELLER
.reseller-sidebar-color {
    background-color: #273032 !important;
    .mLogo-container {
        height: 94px;
        width: 335px;
        display: flex;
        justify-content: center;
        align-content: center;
        .logo {
            height: 110px !important;
            width: 330px !important;
            object-fit: contain !important;
            display: flex;
            margin-top: 5px !important;
        }
    }
}

// END RESELLER
// SIDE BAR
.mSidebar {
    z-index: 900000;
    height: 100vh;
    width: 311px;
    background-color: #0c3a47;
    -webkit-box-shadow: 5px 2px 20px -1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 5px 2px 20px -1px rgba(0, 0, 0, 0.52);
    box-shadow: 5px 2px 20px -1px rgba(0, 0, 0, 0.52);
    .mLogo-container {
        height: 70px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 36px;
        .logo {
            height: 54px;
            display: flex;
            margin-top: 2px;
        }
    }
    .notification {
        p {
            margin: 0;
            font-size: 12px;
        }
    }
    .mSidebar-menu {
        display: flex;
        flex-direction: column;
        margin-left: 42px;
        margin-top: 13px;
        .mButton-wrapper {
            display: block;
            align-items: center;
            width: 207px;
            margin-top: 10px;
            a {
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 5px;
                &:hover {
                    text-decoration: none;
                    .mIcon {
                        color: #13576a;
                        background-color: #fff;
                    }
                }
            }
            p {
                font-family: "Source Sans Pro", sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: #c4c4c4;
                margin: 0 0 0 28px;
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }
            .mIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                background-color: #13576a;
                border-radius: 35px;
                box-shadow: 0 14px 29px rgba(0, 0, 0, 0.24);
                color: #f2eeeb;
                transition: all 300ms ease-in-out;
                i {
                    color: #c4c4c4;
                    font-size: 20px;
                }
                &:hover {
                    color: #13576a;
                    background-color: #fff;
                }
            }
            .active {
                width: 100%;
                display: flex;
                align-items: center;
                p {
                    color: #cf955e;
                }
                .mIcon {
                    color: #13576a;
                    background-color: #fff;
                }
            }
            &:hover {
                p {
                    color: #cf955e;
                }
            }
        }
    }
}

//SIDE BAR 2
.mSidebar-pm {
    z-index: 900000;
    height: 100vh;
    width: 311px;
    background-color: #0c2859;
    -webkit-box-shadow: 5px 2px 20px -1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 5px 2px 20px -1px rgba(0, 0, 0, 0.52);
    box-shadow: 5px 2px 20px -1px rgba(0, 0, 0, 0.52);
    .mLogo-container {
        height: 70px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 36px;
        .logo {
            height: 54px;
            display: flex;
            margin-top: 2px;
        }
    }
    .notification {
        p {
            margin: 0;
            font-size: 12px;
        }
    }
    .mSidebar-menu {
        display: flex;
        flex-direction: column;
        margin-left: 42px;
        margin-top: 13px;
        .mButton-wrapper {
            display: block;
            align-items: center;
            width: 207px;
            margin-top: 10px;
            a {
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 5px;
                &:hover {
                    text-decoration: none;
                    .mIcon {
                        color: #13576a;
                        background-color: #fff;
                    }
                }
            }
            p {
                font-family: "Source Sans Pro", sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: #c4c4c4;
                margin: 0 0 0 28px;
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }
            .mIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                background-color: #fff;
                border-radius: 35px;
                box-shadow: 0 14px 29px rgba(0, 0, 0, 0.24);
                color: #13576a;
                transition: all 300ms ease-in-out;
                i {
                    color: #fff;
                    font-size: 20px;
                }
                &:hover {
                    color: #13576a;
                    background-color: #fff;
                }
            }
            .active {
                width: 100%;
                display: flex;
                align-items: center;
                p {
                    color: #fff;
                }
                .mIcon {
                    color: #fff;
                    background-color: #82A5AF;
                }
            }
            &:hover {
                p {
                    color: #13576a;
                }
            }
        }
    }
    .nav-profile-info {
        //side bar
        .username {
            font-size: 22px;
            line-height: 25px;
        }
        .logout-text {
            color: #fff;
            font-size: 15px;
            margin-top: 0px;
            transition: all 200ms ease-in-out;
            &:hover {
                color: #13576a;
                cursor: pointer;
            }
        }
        p {
            color: #fff;
            margin: 0px;
            font-size: 16px;
            line-height: 20px;
        }
        .account-balance-text {
            padding-top: 5px;
        }
        .userStatus i {
            font-size: 15px;
            color: #ffffff;
            float: right;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            &:hover {
                color: rgb(40, 191, 233);
            }
        }
    }
    .nav-profile-info {
        .emphasis-text {
            color: #fff!important;
            font-size: 14px;
            transition: all 200ms ease-in-out;
            &:hover {
                color: #0C3A47!important;
                cursor: pointer;
            }
        }
        p {
            color: #fff!important;
            margin: 0 0 0 28px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    .left-icon {
        left: 32px;
        top: 134px;
        //background-color: #30925f;
        background-color: #13576a!important;
        cursor: pointer;
    }
    .right-icon {
        left: 86px;
        top: 208px;
        background-color: #777;
        cursor: pointer;
    }
    .collapseIcon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: #fff;
        padding-right: 5px;
        cursor: pointer;
        transition: all 300ms ease-in;
        .small {
            height: 16px;
            width: 16px;
        }
        &:hover {
            color: #0C3A47;
        }
    }
    .profileDisplay {
        background-color: #0c2859!important;
    }
    .pointer {
        border-color: transparent transparent #0c2859!important;
    }
}

.line {
    margin-top: 5px;
    border-top: 1px solid rgb(26, 90, 107) !important;
    width: 80%;
    margin-bottom: 52px;
}

.profile-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-left: 28px;
    img {
        border-radius: 100%;
        width: 60px;
        height: 60px;
    }
    img:hover {
        cursor: pointer;
    }
    .notification {
        height: 27px;
        width: 27px;
        background-color: #215361;
        border-radius: 27px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
    }
    .left-icon {
        left: 32px;
        top: 170px;
        //background-color: #30925f;
        background-color: #37a96e;
        cursor: pointer;
    }
    .right-icon {
        left: 86px;
        top: 208px;
        background-color: #e57373;
        cursor: pointer;
    }
    .icon-size {
        height: 25px;
        width: 19px;
    }
    .nav-profile-info {
        .emphasis-text {
            color: #82a5af;
            font-size: 14px;
            transition: all 200ms ease-in-out;
            &:hover {
                color: #c4c4c4;
                cursor: pointer;
            }
        }
        p {
            color: #c4c4c4;
            margin: 0 0 0 28px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    .account-balance-text {
        padding-top: 16px;
    }
    .userStatus i {
        font-size: 18px;
        color: #ffffff;
        float: right;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        &:hover {
            color: rgb(40, 191, 233);
        }
    }
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.status {
    font-size: 16px !important;
    font-weight: bold;
}

// Buttons
//-------------------------------------
//CONTENT
.mContent {
    flex: 1;
    height: 100vh;
}

//---------------------------------------------------------->
.div-img {
    cursor: pointer;
    border: solid 4px;
    border-radius: 100%;
}

.merchantProfile {
    border-color: #82a5af;
}

.payeeProfile {
    border-color: #cf955e;
}

.adminProfile {
    border-color: #ffffff;
}

.danger {
    color: #e57373 !important;
}

// SIDEBAR COLLAPSE
.collapseSideBar {
    .mSidebar {
        width: 126px !important;
    }
    .mSidebar-pm {
        width: 126px !important;
    }
    .vertical-container {
        display: none;
    }
    .logo {
        display: none !important;
    }
    .logoF {
        display: flex;
    }
    .mButton-wrapper {
        p {
            display: none;
        }
    }
}

//MOBILE BAR STYLES
.mobileBarWrapper {
    display: none;
}

@media (max-width: 820px) {
    .mMain-container {
        display: none;
    }
    .mSidebar-pm {
        height: 0;
        .mobileBar {
            background-color: #0c2859!important;
        }
        .profileDisplay {
            background-color: #0c2859!important;
        }
        .pointer {
            border-color: transparent transparent #0c2859!important;
        }
        .logout-text {
            color: white!important;
        }
        p {
            color: white!important;
        }
    }
    .mobileBarWrapper {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
    }
    .mobileBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0c3a47;
        padding: 8px 8px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(82, 82, 82, 1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(82, 82, 82, 1);
        box-shadow: 0px 0px 5px 0px rgba(82, 82, 82, 1);
    }
    .logo {
        height: 40px;
    }
    .mobileIcon {
        height: 30px;
        width: 30px;
        color: #cf955e;
    }
    .profileDisplay {
        display: flex;
        flex-direction: column;
        width: 200px;
        // height: 106px;
        border-radius: 5px;
        z-index: 9999;
        background-color: #0c3a47;
        position: absolute;
        top: 70px;
        right: 10px;
        padding: 15px;
    }
    .pointer {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #0c3a47 transparent;
        position: absolute;
        top: 60px;
        right: 18px;
    }
    .vertical-container {
        display: flex;
        flex-direction: column;
    }
    .nav-profile-info {
        .username {
            font-size: 22px;
            line-height: 25px;
        }
        .logout-text {
            color: #82a5af;
            font-size: 15px;
            margin-top: 0px;
            transition: all 200ms ease-in-out;
            &:hover {
                color: #c4c4c4;
                cursor: pointer;
            }
        }
        p {
            color: #c4c4c4;
            margin: 0px;
            font-size: 16px;
            line-height: 20px;
        }
        .account-balance-text {
            padding-top: 5px;
        }
        .userStatus i {
            font-size: 15px;
            color: #ffffff;
            float: right;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            &:hover {
                color: rgb(40, 191, 233);
            }
        }
    }
    .mButton-wrapper {
        margin-top: 10px;
        .mIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 32px;
            background-color: #13576a;
            border-radius: 48px;
            box-shadow: 0 14px 29px rgba(0, 0, 0, 0.24);
            color: #f2eeeb;
            transition: all 300ms ease-in-out;
            i {
                color: #c4c4c4;
                font-size: 18px;
            }
            &:hover {
                color: #13576a;
                background-color: #fff;
            }
        }
        .active {
            width: 100%;
            display: flex;
            align-items: center;
            p {
                color: #cf955e;
            }
            .mIcon {
                color: #13576a;
                background-color: #fff;
            }
        }
        a {
            display: flex;
            align-items: center;
            &:hover {
                text-decoration: none;
                .mIcon {
                    color: #13576a;
                    background-color: #fff;
                }
            }
        }
        p {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #c4c4c4;
            margin: 0 0 0 15px;
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }
    }
    .danger {
        color: #e57373 !important;
    }
}

// ANIMATION
.animation {
    -webkit-animation: bell-animation 3s linear infinite;
    -moz-animation: bell-animation 3s linear infinite;
    -ms-animation: bell-animation 3s linear infinite;
    -o-animation: bell-animation 3s linear infinite;
    animation: bell-animation 3s linear infinite;
}

@-webkit-keyframes bell-animation {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.5);
    }
    50% {
        -webkit-transform: scale(1);
    }
    75% {
        -webkit-transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bell-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes bell-animation {
    0% {
        -moz-transform: scale(1);
    }
    25% {
        -moz-transform: scale(0.5);
    }
    50% {
        -moz-transform: scale(1);
    }
    75% {
        -moz-transform: scale(0.5);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes bell-animation {
    0% {
        -ms-transform: scale(1);
    }
    25% {
        -ms-transform: scale(0.5);
    }
    50% {
        -ms-transform: scale(1);
    }
    75% {
        -ms-transform: scale(0.5);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@-o-keyframes bell-animation {
    0% {
        -o-transform: scale(1);
    }
    25% {
        -o-transform: scale(0.5);
    }
    50% {
        -o-transform: scale(1);
    }
    75% {
        -o-transform: scale(0.5);
    }
    100% {
        -o-transform: scale(1);
    }
}

.connection-container {
    margin: 10px 15px 0 15px;
    .connection {
        width: auto;
        height: 60px;
        padding: 10px;
        background-color: white;
        overflow-y: scroll;
        overflow-x: scroll;
        white-space: nowrap;
        p {
            font-size: 12px;
        }
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: #9e9e9e;
            border-radius: 8px;
        }
    }
}

ul {
    height: 30px;
    width: 100%;
    background-color: #c7c8c8 !important;
    border: none;
}

.bandera-imagen {
    max-width: 150px!important;
}

ul li {
    padding: 5px 10px;
    z-index: 2;
}

ul li:not(.init) {
    float: left;
    width: 100%;
    display: none;
    background: #ddd;
}

ul li:not(.init):hover,
ul li.selected:not(.init) {
    background: #09f;
}

li.init {
    cursor: pointer;
}

// li.init .row:after {
//   content: '<i class="fas fa-angle-down"></i>';
// }
ul .col-md-2 {
    display: none;
}

ul .init .col-md-2 {
    display: block;
}

select {
    padding: 0.2em 0.5em 0.2em 1.5em;
    height: 30px;
    width: 100%;
    background-color: #c7c8c8 !important;
    border: none;
    background-image: url('../../../assets/flag/24/en.png');
    background-repeat: no-repeat;
    background-size: 1.7em auto;
    background-position: 1.7em center;
    padding-left: 94px;
    font-weight: bold;
}

#txtAcountBalance {
    background-color: transparent;
    border: none;
    color: white;
    width: 180px;
    resize: none;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
    margin-bottom: 10px;
}