<div class="mMain-container" [ngClass]="{'collapseSideBar': menuCollapse}">
    <div [ngClass]="(changeClass==1)?'mSidebar-pm':'mSidebar'">
        <!-- {'reseller-sidebar-color': sidebarReSellerColor} -->
        <div (click)="menuCollapseOnClickHandler()" class="collapseIcon">
            <i-feather class="small" name="sidebar"></i-feather>
        </div>
        <div class="mLogo-container">
            <img class="logo" [src]="logoImg | safe: 'url'">
            <img class="logoF" *ngIf="!sidebarReSellerColor && bandPm14m3r1c4sCh4ng3Cl4ss === '0'" src="assets/img/logoF.png">
            <img class="logoF" *ngIf="!sidebarReSellerColor && bandPm14m3r1c4sCh4ng3Cl4ss === '1'" src="assets/img/logo-pm.png">
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="box">
                    <select name="" [ngClass]="{'selectCollapse':menuCollapse}" [(ngModel)]="langCurrent" (change)="selectLangueage()" [style.background-image]="'url(../../../assets/flag/24/' + langCurrent + '.png)'">
            <option value="en">{{ !menuCollapse ? 'English' : 'Eng'}}</option>
            <option value="es">{{ !menuCollapse ? 'Español' : 'Esp'}}</option>
            <option value="pt">{{ !menuCollapse ? 'Português' : 'Por'}}</option>
          </select>
                </div>
            </div>
        </div>
        <hr class="line" />
        <div class="profile-card no-select">
            <div class="profile-container">
                <div class="left-icon notification animation" *ngIf="(newMessages | async) && !userSessionService.isDisabled()" [matTooltip]="'BUTTON_OPTION_INFO.NEW_MESSAGE'|translate" [matTooltipPosition]="positionOptions">
                    <p>
                        <i-feather name="bell" class="icon-size" (click)="handleClickNewNotificationButton('MESSAGE')">
                        </i-feather>
                    </p>
                </div>
                <div class="right-icon notification animation" *ngIf="(newIssues | async) && !userSessionService.isDisabled()" [matTooltip]="'BUTTON_OPTION_INFO.NEW_ISSUE'|translate" [matTooltipPosition]="positionOptions">
                    <p>
                        <i-feather name="bell" class="icon-size" (click)="handleClickNewNotificationButton('ISSUE')">
                        </i-feather>
                    </p>
                </div>
                <div class="div-img no-select" [ngClass]="{'adminProfile' : userSessionService.isAdmin(),
            'merchantProfile' : userSessionService.isMerchant(),
            'payeeProfile' : userSessionService.isPayee()}">
                    <ngx-avatar src="{{userImg}}" name="{{user.firstName}} {{user.lastName}}" size="56" [textSizeRatio]="textSizeRatio" [round]="true" (click)="seeUserProfile()">
                    </ngx-avatar>
                </div>
                <div class="vertical-container">
                    <div class="nav-profile-info" style="padding-right: 30px">
                        <p><strong>{{user.firstName}}</strong></p>
                        <p><strong>{{user.lastName}}</strong></p>
                        <div class="card-profile">
                            <p *ngIf="userSessionService.loadUserStatus() !== 'ACCEPTED'" class="status no-select" [style.color]="statusesColor[userSessionService.loadUserStatus()]">
                                {{statuses[userSessionService.loadUserStatus()]}}</p>
                            <p class="emphasis-text no-select" (click)="logout()">{{ 'SIDEBAR.LOGOUT' | translate }}</p>
                        </div>
                    </div>
                    <div class="nav-profile-info" style="margin-bottom: 28px;" *ngIf="!userSessionService.onlyProfileView() &&
                !userSessionService.isDisabled() &&
                (userSessionService.isMerchant() || userSessionService.isReSeller())">
                        <div class="card-profile">
                            <p class="account-balance-text">{{ 'SIDEBAR.ACCOUNT_BALANCE' | translate }}</p>
                        </div>
                        <p [ngClass]="{'danger': setColorAccountBalance()}">
                            <strong>
                              <textarea disabled name="" id="txtAcountBalance">{{userSessionService.useEuroCoin() ? 'EUR' : 'USD'}}{{userSessionService.useEuroCoin() ? (accountBalance | async | currency: 'EUR') : (accountBalance | async | currency)}}</textarea>
                
              </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mSidebar-menu" *ngIf="!userSessionService.onlyProfileView()">
            <div *ngFor="let option of options">
                <div class="mButton-wrapper" *ngIf="seeMenuOption(option.value)">
                    <a routerLink={{option.link}} routerLinkActive="active" (click)="handleMenusOption(option)">
                        <div class="mIcon">
                            <span *ngIf="menuCollapse" class="d-inline-block" tabindex="0" data-toggle="tooltip" [title]="'SIDEBAR.' + option.value | translate">
                <i-feather name={{option.icon}}></i-feather>
              </span>
                            <i-feather name={{option.icon}} *ngIf="!menuCollapse"></i-feather>
                        </div>
                        <p class="no-select">{{ 'SIDEBAR.' + option.value | translate }}</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="connection-container" *ngIf="!menuCollapse && !environment.isProd && canSeeConnection()">
            <div class="connection">
                <p><strong>gatewayAPI</strong></p>
                <p>{{environment.gatewayAPI}}</p>
                <p><strong>gatewayES</strong></p>
                <p>{{environment.gatewayES}}</p>
            </div>
        </div>
    </div>
</div>
<div class="mobileBarWrapper" [ngClass]="(changeClass==1)?'mSidebar-pm':''">
    <div class="mobileBar">
        <img class="logo" [src]="logoImg | safe: 'url'">
        <ngx-avatar (click)="toggleMobileBar()" src="{{userImg}}" name="{{user.firstName}} {{user.lastName}}" size="40" [round]="true">
        </ngx-avatar>
    </div>
    <div *ngIf="openMobileBar" class="displayContainer">
        <div class="pointer"></div>
        <div class="profileDisplay">
            <div class="vertical-container">
                <!-- PROFILE -->
                <div class="nav-profile-info">
                    <p class="username" (click)="seeUserProfile()">
                        <strong>{{user.firstName}} {{user.lastName}}</strong>
                    </p>
                    <div class="card-profile"></div>
                    <p class="logout-text" (click)="logout()">{{ 'SIDEBAR.LOGOUT' | translate }}</p>
                </div>
                <!-- ACCOUNT BALANCE -->
                <div class="nav-profile-info" *ngIf="userSessionService.loadUserStatus() !== 'USERSTATELESS' &&
                userSessionService.loadUserStatus() !== 'CREATED'">
                    <div class="card-profile">
                        <p class="account-balance-text">{{ 'SIDEBAR.ACCOUNT_BALANCE' | translate }}</p>
                    </div>
                    <p [ngClass]="{'danger': setColorAccountBalance()}">
                        <strong>
              <textarea name="balance" id="txtAcountBalance">{{userSessionService.useEuroCoin() ? 'EUR' : 'USD'}}
                {{userSessionService.useEuroCoin() ? (accountBalance | async | currency: 'EUR') :
                (accountBalance | async | currency)}}</textarea>
              
            </strong>
                    </p>
                </div>
            </div>
            <!-- MENU -->
            <div class="mSidebar-menu" *ngIf="!userSessionService.onlyProfileView()">
                <div *ngFor="let option of options">
                    <div class="mButton-wrapper" *ngIf="seeMenuOption(option.value)">
                        <a routerLink={{option.link}} routerLinkActive="active" (click)="handleMenusOption(option)">
                            <div class="mIcon">
                                <i-feather name={{option.icon}}></i-feather>
                            </div>
                            <p class="no-select">{{ 'SIDEBAR.' + option.value | translate }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>