<div class="message">
  <p class="title no-select">{{data.title}}</p>
  <div class="message no-select">
    <p>{{'MESSAGE.ARE_YOU_SURE_YOU_WANT_CNTINUE' | translate}}</p>
  </div>
  <div class="btnContainer">
    <button class="btn cancel no-select" (click)="rejectClick()">{{'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
    <button class="btn accept no-select" (click)="acceptClick()">{{'BUTTON_OPTION_INFO.ACCEPT' | translate}}</button>
  </div>
</div>

