<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
    <p class="pageTitle">{{ 'TITLES.CHANGE_PAYEES' | translate }}</p>
    <div class="header">
        <div class="leftHeaderContainer">
            <form [formGroup]="countryForm">
                <label for="countryFilter" style="margin-right: 16px">{{ 'REPORTS_MESSAGES.CHOOSE_COUNTRY' | translate }}</label>
                <input type="text" class="countryInput" id="countryFilter" formControlName="countryPayee" [matAutocomplete]="postalP" placeholder="{{ 'PLACEHOLDER.START_TYPING_COUNTRY_NAME' | translate }}">
                <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry" (optionSelected)="onChangeCountry()">
                    <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
                        {{country.name}}
                    </mat-option>
                </mat-autocomplete>
            </form>

            <select *ngIf="seeBank" name="bank" id="banks" (change)="selectBank($event)">
          <option selected disabled>{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate }}</option>
          <option *ngFor="let bank of banks" value="{{bank.id}}">{{bank.name}}</option>
        </select>
        </div>
    </div>

    <div class="margin32">

        <div class="processContainer" *ngIf="bankId">
            <!-- TABLE -->
            <div class="example-containe mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
                </div>

                <div class="example-table-container">

                    <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows matSortActive="lastUpdated" matSortDirection="desc" class="mat-elevation-z8">

                        <ng-container matColumnDef="check">
                            <th mat-header-cell *matHeaderCellDef class="checkboxTabla">
                                <input type="checkbox" class="checkboxTablainput" (change)="allCheckElement()" id="allCheck" checked/>
                            </th>
                            <td mat-cell *matCellDef="let row" class="checkboxTabla">
                                <input type="checkbox" class="checkboxTablainput" (change)="addCheckElement(row)" id='{{row.id}}' checked/>
                            </td>
                        </ng-container>

                        <!-- ID Column -->
                        <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
                            <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.id}}</th>
                            <td class="center" mat-cell *matCellDef="let row">{{row?.idNumber}}</td>
                        </ng-container>

                        <!-- Type Column -->
                        <ng-container matColumnDef="idType" *ngIf="columns.indexOf('idType') !== -1">
                            <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.idType}}</th>
                            <td class="center" mat-cell *matCellDef="let row">{{row?.idType?.name}}</td>
                        </ng-container>

                        <!-- LoginName Column -->
                        <ng-container matColumnDef="loginName" *ngIf="columns.indexOf('loginName') !== -1">
                            <th class="center" mat-header-cell *matHeaderCellDef>{{columnNames.loginName}}</th>
                            <td class="center" mat-cell *matCellDef="let row"><a (click)="seeRelatedUser(row?.id)">{{row?.email}}</a></td>
                        </ng-container>

                        <!-- FullName Column -->
                        <ng-container class="center" matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
                            <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.fullName}}</th>
                            <td class="center" mat-cell *matCellDef="let row">{{row?.fullName}}</td>
                        </ng-container>

                        <!-- Country Column -->
                        <ng-container matColumnDef="country" *ngIf="columns.indexOf('country') !== -1">
                            <th class="center" mat-header-cell *matHeaderCellDef>{{columnNames.country}}</th>
                            <td class="center" mat-cell *matCellDef="let row">{{row?.postalCountry?.name}}</td>
                        </ng-container>

                        <!-- Mobile Number Column -->
                        <ng-container matColumnDef="mobileNumber" *ngIf="columns.indexOf('mobileNumber') !== -1">
                            <th class="center table-status" mat-header-cell *matHeaderCellDef>{{columnNames.mobileNumber}}</th>
                            <td class="center table-status" mat-cell *matCellDef="let row">{{row?.mobileNumber}}</td>
                        </ng-container>

                        <!-- Card Number Column -->
                        <ng-container matColumnDef="cardNumber" *ngIf="columns.indexOf('cardNumber') !== -1">
                            <th class="center table-status" mat-header-cell *matHeaderCellDef>{{columnNames.cardNumber}}</th>
                            <td class="center" mat-cell *matCellDef="let row">
                                <input class="center" type="text" maxlength="19" [id]="row.id" [ngClass]="{'cardNumberError': setErrorStyle(row)}" [(ngModel)]="row.cardNumber" (ngModelChange)="cleanErrorVariable()" [value]="row.cardNumber | formatCardNumber" />
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
    <div><textarea class="reason-textarea" placeholder="{{ 'REPORTS_MESSAGES.STATUS_REASON' | translate }}" [(ngModel)]="statusReason"></textarea></div>
    <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
        <button class="acceptCreated" (click)="massiveChangeStatus('Activate')">{{ 'BUTTON_OPTION_INFO.ACTIVATE' | translate }}</button>
        <button class="cancelCreated" (click)="massiveChangeStatus('Disable')">{{ 'BUTTON_OPTION_INFO.DISABLE' | translate }}</button>
    </div>
</footer>