/* Structure */

table {
    width: 100%;
}

.example-loading-shade {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:hover {
    background: #dcdcdc;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-description {
    padding: 16px;
}

.detail-card {
    background: #e6e6e6;
    border: solid 1px #B4B4B4;
    flex: 1 1 auto;
}

select {
    box-sizing: border-box;
    height: 36px;
    padding-left: 8px;
    width: 150px;
    margin-left: 32px;
}

.footer {
    position: fixed;
    height: 66px;
    bottom: 0;
    padding: 16px;
    display: flex;
    flex: 1;
    width: calc(100% - 311px);
    background-color: #ffffff;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px -10px 29px rgba(0, 0, 0, 0.068);
}

.bg-pm {
    .acceptCreated {
        background-color: #4782d3!important;
        color: #ffffff;
    }
    .cancelCreated {
        background-color: #777!important;
        color: #ffffff;
    }
    .leftBox {
        P {
            color: #ffffff!important;
        }
    }
    .dangerBox {
        background-color: #777!important;
    }
    .clickedButton {
        background-color: #777 !important;
    }
    .stepError {
        border-color: #777 !important;
    }
}

.btn-container {
    display: flex;
    .cancelCreated {
        font-family: roboto;
        border-radius: 20px;
        border: none;
        background-color: #E57373 !important;
        color: #ffffff;
        font-size: 20px;
        padding: 6px 16px;
        margin-left: 8px;
        transition: all 300ms ease-in-out;
        &:hover {
            background-color: rgb(201, 80, 80) !important;
        }
        &:focus {
            outline: none;
        }
    }
    .acceptCreated {
        font-family: roboto;
        border-radius: 20px;
        border: none;
        background-color: #37a96e;
        color: #ffffff;
        font-size: 20px;
        padding: 6px 16px;
        margin-left: 8px;
        transition: all 300ms ease-in-out;
        &:hover {
            background-color: #30925f;
        }
        &:focus {
            outline: none;
        }
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
}

.exchangeBox {
    height: 36px;
    margin-left: 32px;
    width: 250px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    .leftBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        ;
        height: 100%;
        background-color: #0c3a47;
        P {
            color: #cf955e;
            font-size: 20px;
            margin: 0px;
        }
    }
    .foreign {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 50%;
        input {
            text-align: end;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        p {
            margin: 0px;
            color: #B4B4B4;
            font-size: 20px;
        }
    }
}

input {
    width: 152px;
    padding-left: 5px;
    &:focus {
        outline: none;
    }
}

.processContainer {
    height: 300px;
}

.wrapperCommission {
    display: flex;
    border-bottom: 1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    background-color: #0c3a47;
    width: 514px;
    height: 30px;
    margin-left: 32px;
    .elementCommission {
        display: flex;
        margin-left: 21px;
        margin-right: 15px;
        p {
            margin: 5px 0px;
            color: #cf955e;
            font-size: 13px;
        }
    }
}

.rightHeaderContainer {
    display: flex;
    align-items: center !important;
}

.leftHeaderContainer {
    display: flex;
    align-items: center;
}

.reason-textarea {
    border-radius: 4px;
    resize: none;
    width: 550px;
    height: 65px;
    margin-right: 20px;
}

.cardNumberError {
    border-color: rgb(236, 67, 67) !important;
}

.countryInput {
    height: 36px;
    width: 200px;
    border: solid 1px rgb(169, 169, 169);
    padding: 0 5px;
}

.checkboxTabla {
    // display: flex;
    flex: 0 0 5% !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 0px;
}

.checkboxTablainput {
    width: 40px !important;
}

.center {
    text-align: center !important;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 10px;
}