<div [ngClass]="{'filterMasterContainer': collapse}">
  <div class="filterHeader" [ngClass]="(changeClass==1)?'bg-pm':''">
    <div class="filterTitle" (click)="handleClickFilterToggle()">
      <i-feather class="filterIcon" name="filter"></i-feather>
      {{ 'BUTTON_OPTION_INFO.FILTER' | translate}}
    </div>
    <button class="btn2" (click)="cleanFilter()" *ngIf="countryFilter.length > 0 ||
                   userName.length > 0 ||
                   emailArr.length > 0">
      {{ 'BUTTON_OPTION_INFO.CLEAR' | translate}}
    </button>
    <button class="btn2 btn3" (click)="applyFilter()" *ngIf="showApplyFilter">{{ 'BUTTON_OPTION_INFO.APPLY' |
      translate}}</button>
  </div>


  <div class="filterContainer" *ngIf="collapse">

    <select (change)="addFilter($event)" id="filters">
      <option disabled selected>{{ 'BUTTON_OPTION_INFO.SELECT_FILTER' | translate}}</option>
      <option value="country">{{ 'TEXT.COUNTRY' | translate}}</option>
      <option value="name">{{ 'TEXT.NAME' | translate}}</option>
      <option value="email">{{ 'TEXT.EMAIL' | translate}}</option>
    </select>


    <!-- NG-SWITCH -->
    <div class="filterName" [ngSwitch]="filterName">

      <div id="country" *ngSwitchCase="'country'">
        <form [formGroup]="countryForm">
          <label for="countryFilter">{{'PROFILE.COUNTRY' | translate}}</label>
          <input type="text" id="countryFilter" formControlName="country" [matAutocomplete]="postalP"
            [placeholder]="'BUTTON_OPTION_INFO.START_TYPING_COUNTR'| translate">
          <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry"
            (optionSelected)="onChangeCountry()">
            <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>


      <div id="name" *ngSwitchCase="'name'">
        <label for="nameInput">{{'TEXT.FULL_NAME' | translate}}</label>
        <input id="nameInput" type="text" name="nameInput" value="" [(ngModel)]="nameInput" maxlength="30">
      </div>


      <div id="email" *ngSwitchCase="'email'">
        <label for="emailInput">{{'REPORTS_MESSAGES.EMAIL' | translate}}</label>
        <input id="emailInput" type="text" name="emailInput" value="" [(ngModel)]="emailInput" maxlength="30">
      </div>

    </div>

  </div>
  <div class="tagWrapper" [ngClass]="(changeClass==1)?'bg-pm':''">

    <div class="tagContainer" *ngIf="countryFilter.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('country')">x</p>
        <p>{{'PROFILE.COUNTRY' | translate}}</p>
      </div>
      <div class="tag childTag" *ngFor="let count of countryFilter">
        <p class="cancel" (click)="deleteFilter('country',count)">x</p>
        <p>{{count.name}}</p>
      </div>
    </div>

    <div class="tagContainer" *ngIf="userName.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('payee')">x</p>
        <p>{{'REPORTS_MESSAGES.NAME' | translate}}</p>
      </div>
      <div class="tag childTag" *ngFor="let name of userName">
        <p class="cancel" (click)="deleteFilter('userName',name)">x</p>
        <p>{{name}} </p>
      </div>
    </div>

    <div class="tagContainer" *ngIf="emailArr.length > 0">
      <div class="tag fatherTag">
        <p class="cancel" (click)="resetFilter('email')">x</p>
        <p>{{'TEXT.EMAIL' | translate}}</p>
      </div>
      <div class="tag childTag" *ngFor="let email of emailArr">
        <p class="cancel" (click)="deleteFilter('email',email)">x</p>
        <p>{{email}}</p>
      </div>
    </div>
  </div>
</div>