.filterHeader{
  display: flex;
  align-items: center;
}

.filterName{
  label{
    margin: 0 8px 0 0;
  }
}

.filterMasterContainer{
  -webkit-box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.24);
  -moz-box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.24);
  box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.24);
  margin-bottom: 16px;
  padding: 10px 0 0 0;
}


.filterContainer {
  padding: 16px 0;
  display: flex;
  align-items: center;

  select,
  input{
    box-sizing: border-box;
    height: 36px;
    padding-left: 8px;
    width: 210px;
    margin-left: 24px;
    margin-right: 32px;
  }
}

.tagWrapper {
  width: 100%;
  display: flex;
  padding-bottom: 5px;

  .tag {
    z-index: 1000;
    color: #ffffff;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    margin: 4px 4px 4px;
    border-radius: 5px;

    p {
      font-size: 12px;
      height: 40px;
      display: flex;
      align-items: center;
      line-height: 0;
      margin: 0 0 4px;
    }

    .cancel{
      margin-right: 3px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }

    :first-of-type {
      margin-left: 0;
    }

    :last-of-type {
      margin-right: 0;
    }
  }
  .fatherTag{
    background-color: #45acc9;
    color: #ffffff;
    margin-left: 24px;
  }

  .childTag{
    border: 1px solid #45acc9;
    color: rgb(117, 117, 117);
  }
}

.tagContainer {
  display: flex;
}

.btn2{
  height: 2em;
  color: #0C3A47;
  border: 1px solid #0C3A47;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 300 !important;
  margin: 0 16px;
  line-height: 0;
  transition: all 200ms ease-in-out;

  &:hover{
    -webkit-box-shadow: 0 0 7px -2px rgba(112,112,112,1);
    -moz-box-shadow: 0 0 7px -2px rgba(112,112,112,1);
    box-shadow: 0 0 7px -2px rgba(112,112,112,1);
  }
}

.btn3{
  background-color: #0C3A47;
  color: #ffffff;
}

.bg-pm {
  .btn3 {
    background-color: #4782d3 !important;
    color: #ffffff;
  }
  .btn {
    background-color: #4782d3 !important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }
  .btn2 {
    background-color: #4782d3 !important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }

}