<app-message-notification #MessagesComp></app-message-notification>
<div class="closeBtn">
  <i-feather name="x-circle" class="big" (click)="closeModal()"></i-feather>
</div>
<div class="modalPage" [ngClass]="(changeClass==1)?'bg-pm':''">
  <div class="pageTitle">{{ 'TITLES.RELATED_USER_PROFILE' | translate }}</div>
  <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex.value"
    (selectedIndexChange)="changeTabView($event)">
    <mat-tab>
      <ng-template mat-tab-label>{{ 'PROFILE.USER_INFO' | translate }}</ng-template>
      <div class="row animated fadeIn">
        <!--PROFILE CARD-->
        <div class="ocean-card" [ngClass]="{'heigthPayeeProfile' : userSessionService.loadRole() === this.roles.PAYEE}">
          <div class="photoContainer">
            <ngx-avatar src="{{userImg}}" name="{{profileExtendedUser?.fullName}}" size="250" [round]="true">
            </ngx-avatar>
          </div>
          <div class="contents">
            <form class="full-width">
              <p class="pText">{{profileExtendedUser?.fullName}}</p>
              <p class="sText">{{profileUser?.email}}</p>
              <div class="center btn-container">
                <button class="btn"
                  *ngIf="!modifyMode && userSessionService.isSuperOrAdmin() && data.extendedUser.status === status.ACCEPTED"
                  (click)="editProfileButtonHandler()" class="margin-top-16">{{ 'PROFILE.EDIT_PROFILE' | translate
                  }}</button>
              </div>
            </form>
          </div>
        </div>
        <div class="column">
          <!-- ############ ADMIN ########## -->
          <app-admin-form #AdminForm *ngIf="profileUserRole === roles.ADMIN" [modifyMode]="modifyMode"
            [extendedUser]="profileExtendedUser" [sessionUser]="profileUser" [modalView]="true"
            [adminFormInvalid]="adminFormInvalid">
          </app-admin-form>
          <!--   ###### ADMIN ######   -->
          <!-- ############ MERCHANT OR Reseller ########## -->
          <app-user-form #UserForm *ngIf="profileUserRole === roles.MERCHANT || profileUserRole === roles.RESELLER"
            [modifyMode]="modifyMode" [extendedUser]="profileExtendedUser" [sessionUser]="profileUser"
            [modalView]="true" [userFormInvalid]="userFormInvalid">
          </app-user-form>
          <!--   ###### END MERCHANT OR Reseller ######   -->
          <!--   ###### PAYEE ######   -->
          <app-payee-form #PayeeForm *ngIf="profileUserRole === roles.PAYEE && !this.profileUser.payeeAsCompany"
            [modifyMode]="modifyMode" [countryPostalId]="countryPostalId" [extendedUser]="profileExtendedUser"
            [user]="profileUser" [payeeFormInvalid]="payeeFormInvalid" [modalView]="true"
            (setPostalCountrySelectedId)="changePostalCountry($event)">
          </app-payee-form>
          <!--   ###### END PAYEE ######   -->
          <!--   ###### PAYEE COMPANY ######   -->
          <app-payee-company-form #PayeeCompanyForm
            *ngIf="profileUserRole === roles.PAYEE && this.profileUser.payeeAsCompany" [modifyMode]="modifyMode"
            [countryPostalId]="countryPostalId" [extendedUser]="profileExtendedUser" [user]="profileUser"
            [payeeCompanyFormInvalid]="payeeCompanyFormInvalid" [modalView]="true"
            (setPostalCountrySelectedId)="changePostalCountry($event)">
          </app-payee-company-form>
          <!--   ###### END PAYEE COMPANY ######   -->
          <div class="flexEnd btn-container" *ngIf="modifyMode">
            <button class="btn" (click)="cancelEditProfileButtonHandler()">{{ 'PROFILE.CANCEL' | translate }}</button>
            <button class="btn" (click)="updateHandlerButton()"
              *ngIf="profileUserRole === roles.ADMIN || profileUserRole === roles.RESELLER || profileUserRole === roles.MERCHANT">
              {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.UPDATE_USER' | translate }}</button>
            <button class="btn" (click)="changeTabView(1)"
              *ngIf="profileUserRole === roles.PAYEE && countryPostalId !== 0">
              {{ 'BUTTON_OPTION_INFO.CONTINUE' | translate }}</button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="profileExtendedUser.role === 'ROLE_PAYEE'">
      <ng-template mat-tab-label>{{ 'PROFILE.BACK_INFO' | translate }}</ng-template>
      <div class="row animated fadeIn">
        <div class="column">
          <div class="full-width box">
            <div class="boxBank-inner">
              <div style="margin-bottom: 20px"
                *ngIf="( !profileUser.payeeAsCompany && !profileExtendedUser.confirmedProfile ) && ( userSessionService.role === roles.ADMIN || userSessionService.role === roles.SUPER_ADMIN )">
                <label class="change-method-legend">{{ 'TEXT.CHANGE_PAYMENT_METHOD' | translate }}</label>
              </div>
              <!-- <span *ngIf="whenSeeChangePaymentMethod()">
                <label class="subtitle">{{ 'TEXT.PAYMENT_METHOD' | translate }}</label>
                <div style="margin-bottom: 15px">
                  <mat-checkbox class="example-margin" [(ngModel)]="canChangePaymentMethod" [disabled]="!modifyMode">{{
                    'TEXT.CAN_CHANGE_PAYMENT_METHOD_SELECTION' | translate }}</mat-checkbox>
                  <section class="example-section">{{ 'TEXT.CARD_RECHARGE_CARD' | translate }}
                    <mat-slide-toggle class="example-margin" [checked]="checked" [disabled]="!modifyMode"
                      [(ngModel)]="bankPaymentMethod" (change)="selectPaymentMethod($event)">
                      {{ 'PROFILE.BANK_DIRECT' | translate }}
                    </mat-slide-toggle>
                  </section>
                </div>
              </span> -->

              <!-- BANK FORM -->
              <app-bank-form #BankForm [modifyMode]="modifyMode" [extendedUser]="profileExtendedUser" [modalView]="true"
                [countryPostalId]="countryPostalId" [bankFormInvalid]="bankFormInvalid"
                [bankPaymentMethod]="bankPaymentMethod" [cardNumberError]="cardNumberError"
                [cardNumberLettersError]="cardNumberLettersError">
              </app-bank-form>
              <!-- END BANK FORM -->
            </div>
          </div>
          <div class="flexEnd btn-container">
            <button class="btn"
              *ngIf="!modifyMode && userSessionService.isSuperOrAdmin() && data.extendedUser.status === status.ACCEPTED"
              (click)="editProfileButtonHandler()">{{ 'PROFILE.EDIT_BANK_INFO' | translate }}</button>
            <button class="btn" *ngIf="modifyMode" (click)="cancelEditProfileButtonHandler()">{{ 'PROFILE.CANCEL' |
              translate }}</button>
            <button class="btn" *ngIf="modifyMode" (click)="updateHandlerButton()">{{ 'BUTTON_OPTION_INFO.UPDATE_USER' |
              translate }}</button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
