.row {
    margin: 0 !important;
}

.pageTitle {
    margin-bottom: 5px !important;
}

.closeBtn {
    cursor: pointer;
    float: right;
    .big {
        height: 32px;
        width: 32px;
        &:hover {
            color: rgb(201, 80, 80);
        }
    }
}

.subtitle {
    margin-bottom: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B4B4B4;
    display: inline;
}

.modalPage {
    margin-left: 30px;
    width: 95%;
    .pageTitle {
        margin-bottom: 16px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 30px;
        color: #B4B4B4;
    }
}

.boxBank-inner {
    padding: 20px;
    overflow-y: hidden;
    justify-content: space-around;
}

hr {
    line-height: 30px;
}

.heigthPayeeProfile {
    height: 658px !important;
}

.text-muted {
    color: #82A5AF !important;
}

img {
    width: 250px;
    height: 250px;
    margin-right: 16px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.flex-row {
    display: flex;
}

.card2 {
    padding: 0 !important;
}

.actions {
    padding: 16px;
}

.flexEnd {
    margin-top: 15px;
}

.profileDetail {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.mid-col {
    width: 48%;
}

.spaced {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.tag {
    position: relative;
    top: -17px;
    left: 20px;
    z-index: 100;
}

.box {
    border: solid 1px rgb(179, 179, 179);
    margin-top: 25px;
    p {
        background-color: rgb(255, 255, 255);
        padding: 0 8px;
    }
}

.box-inner {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.smallBox {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 20px;
    border-radius: .25rem;
    .separator {
        height: 10px;
    }
}

.transparent {
    background-color: transparent !important;
    color: #fff;
}

.pendingMsg {
    text-align: center;
    background-color: #15ca42;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 16px;
}

//validator styles
.emptyInput {
    border-color: red;
}

.errorCountryLabel {
    margin-bottom: 16px;
}

.column {
    width: 100%;
    background-color: #fff;
}

.ocean-card {
    display: flex;
    padding-top: 16px;
    width: 100%;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    color: #0C3A47;
    font-family: 'roboto', sans-serif;
    margin: 15px 16px;
    border: solid 1px #C0C0C0;
    background-color: #e3e4e5;
    p {
        text-align: center;
        margin: 0;
    }
    .pText {
        font-size: 36px;
    }
    .sText {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .contents {
        margin-left: 32px !important;
    }
    .photoContainer {
        display: flex !important;
        justify-content: center !important;
        margin: 0 0 16px 0;
        height: 250px !important;
        .buttonsContainer {
            width: 250px;
            background-color: rgba(0, 0, 0, 0.178);
            display: flex;
            position: relative;
            bottom: 56px;
            padding: 8px 5px;
            justify-content: space-between;
            .editionBtn {
                background-color: rgb(19, 87, 106) !important;
                border: 1px #fff solid;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                .small {
                    height: 18px;
                    width: 18px;
                    color: #fff;
                }
            }
        }
    }
}

.bg-pm {
    .buttonsContainer {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .btn {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        -webkit-appearance: menulist-button !important;
        line-height: 38px !important;
    }
}

@media only screen and (max-width: 960px) {
    .modalPage {
        margin-left: 0px;
        width: 100%;
    }
    .ocean-card {
        display: -webkit-box;
        display: grid;
    }
    .ocean-card .contents {
        margin-left: 0px !important;
    }
}