.pageTitle {
    margin-right: 25px !important;
    font-weight: bold;
}


/* Structure */

.use-merchant-commission {
    background: #FBF4CC;
}

.icon-style {
    height: 15px;
    width: 15px;
    color: #9E9E9E;
}

.openModalBtn {
    font-family: roboto, sans-serif;
    border-radius: 20px;
    border: none;
    background-color: #0c3a47;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 8px;
    transition: all 300ms ease-in-out;
    &:hover {
        //background-color: #0c3a47;
        background-color: rgb(8, 42, 51);
    }
    &:focus {
        outline: none;
    }
}

table {
    width: 100%;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:hover {
    background: #dcdcdc;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-description {
    padding: 16px;
}

.detail-card {
    background: #e6e6e6;
    border: solid 1px #B4B4B4;
    flex: 1 1 auto;
}

.calculate-exchange-rate {
    display: contents;
}

select {
    box-sizing: border-box;
    height: 36px;
    padding-left: 8px;
    margin-right: 16px;
    width: 130px;
}

.total {
    display: flex;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    font-size: 30px;
    color: rgb(124, 124, 124);
    margin-right: 32px;
    p {
        margin: 0px;
        line-height: 32px;
    }
}

.header2 {
    height: 60px;
    align-items: baseline;
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.exchangeBox {
    height: 36px;
    margin-left: 20px;
    width: 170px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    .leftBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        ;
        height: 100%;
        background-color: #0c3a47;
        p {
            color: #cf955e;
            font-size: 15px;
            margin: 0px;
        }
    }
    .foreign {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 140px;
        input {
            text-align: end;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            margin: 0;
        }
        p {
            margin: 0px;
            color: #B4B4B4;
            font-size: 15px;
        }
    }
}

input {
    border: none;
    padding-left: 8px;
    width: 60px;
    &:focus {
        outline: none;
    }
}

.processContainer {
    height: 300px;
}

.wrapperCommission {
    border-bottom: 1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    background-color: #0c3a47;
    height: 37px;
    margin-left: -7px;
    color: #cf955e;
    font-size: 11px;
    .col-md-4 {
        padding-left: 3px;
        padding-right: 3px;
    }
}

.rightHeaderContainer {
    display: flex;
    flex-direction: column;
    height: 145px;
    align-items: center !important;
}

.leftHeaderContainer {
    display: flex;
    align-items: center;
}

.countryInput {
    width: 200px;
    height: 36px;
    border: solid 1px rgb(169, 169, 169);
    margin-right: 16px;
    padding: 0 5px;
}

.directPaymentStyle {
    background-color: #C7C8C8;
}

.mat-column-action {
    width: 180px;
    margin: 0 !important;
    text-align: center;
}

.select_ {
    height: 50px;
    line-height: 50px
}

.bg-pm {
    .openModalBtn {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .btn2 {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
    .leftBox {
        background-color: white !important;
        p {
            color: black !important;
        }
    }
    .wrapperCommission {
        background-color: #777;
        .elementCommission {
            p {
                margin: 5px 0px;
                color: #ffffff;
                font-size: 13px;
            }
        }
    }
    .icofont-file-excel {
        background-color: #4782d3 !important;
        color: #ffffff;
    }
}

.btn2 {
    background-color: #0c3a47;
    color: #cf955e;
    margin-bottom: 10px;
}

.comission_remite {
color: rgb(216, 216, 216);
font-size: 10px;
}
.disabled {
    background: lightgray;
    color: gray;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        -webkit-appearance: menulist-button !important;
        line-height: 36px !important;
    }
}