<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">

    <div class="header2">
        <div class="pageTitle"> {{ 'TITLES.PENDING_PAYMENT'| translate}}</div>

    </div>

    <div class="header">
        <section>
            <form [formGroup]="countryForm" style="display: contents">
                <label for="countryFilter" style="margin-right: 16px">{{ 'REPORTS_MESSAGES.CHOOSE_COUNTRY'| translate}}</label>
                <app-autocomplete-input id="countryFilter" [inputForm]="countryForm" [autoInit]="true" [bankPaymentMethod]="bankPaymentMethod" [processPayment]="true" [inputFormControlName]="'countryPayee'" [elementPlaceholder]="'BUTTON_OPTION_INFO.START_TYPING_COUNTR' | translate"
                    [type]="autocompleteType.PAYEE_COUNTRY" (resetRelatedVariables)="resetRelatedVariables()" (elementChange)="onChangeCountry($event)">
                </app-autocomplete-input>
            </form>
        </section>
    </div>
    <div class="header" *ngIf="seeBank">
        <div class="leftHeaderContainer">
            {{ 'PROFILE.CARD_RECHARGE'| translate}}
            <mat-slide-toggle class="example-margin" [checked]="checked" [(ngModel)]="bankPaymentMethod" (change)="selectPaymentMethod($event)">
            </mat-slide-toggle>
            {{ 'PROFILE.BANK_DIRECT'| translate}}
        </div>

    </div>

    <div class="header" [ngClass]="(changeClass==1)?'bg-pm':''">
        <div class="leftHeaderContainer">

            <label for="banks"></label>
            <select *ngIf="seeBank" name="bank" id="banks" [(ngModel)]="bankId" (change)="selectBank($event)">
        <!-- [disabled]="bankPaymentMethod" [ngClass]="{'directPaymentStyle': bankPaymentMethod}" -->
        <option selected disabled [value]="null">{{'REPORTS_MESSAGES.SELECT_BANK' | translate}}</option>
        <option *ngFor="let bank of banks" value="{{bank.id}}">{{bank.name}}</option>
      </select>

            <label for="bankAccount"></label>
            <select *ngIf="bankId" [(ngModel)]="bankAccountId" name="bankAccount" id="bankAccount" (change)="selectBankAccount(true, $event)">
        <option selected disabled [value]="null">{{'REPORTS_MESSAGES.SELECT_ACCOUNT' | translate}}</option>
        <option *ngFor="let bankAccount of bankAccounts" value="{{bankAccount.id}}"> {{bankAccount['accountNumber']}}
        </option>
      </select>

            <div class="row wrapperCommission" *ngIf="bankAccountIdBool && bankId">
                <div class="col-md-4">
                    {{ 'DATA_TABLE.BANK_COMMISSION'| translate}}: {{bankCommission | percent:'1.2' }}
                </div>
                <div class="col-md-4">
                    {{ 'DATA_TABLE.FX_COMMISSION'| translate}}: {{fxCommission | percent:'1.2' }}
                </div>
                <div class="col-md-4">
                    {{ 'DATA_TABLE.RECHARGE_COST'| translate}}: {{rechargeCost | currency }}
                </div>
            </div>
        </div>

        <div class="rightHeaderContainer" *ngIf="bankAccountIdBool && bankId" [ngStyle]="{'height': bankABCMexico ? '120px' : 'auto' }">
            <div class="calculate-exchange-rate" *ngIf="buttonCalculateExchangeRate">

                <button class="btn2" (click)="sendCalcualteExchange()" [ngClass]="{'disabled':disabledButtonCalculateExchangeRate}" [disabled]="disabledButtonCalculateExchangeRate">{{ 'BUTTON_OPTION_INFO.CALCULATE_EXCHANGE_RATE' |
                    translate}}</button>
                <label class="comission_remite">{{ 'BUTTON_OPTION_INFO.COMMISSION_REMITE' | translate}}</label>
            </div>
            <div class="exchangeBox">
                <div class="leftBox">
                    <p *ngIf="!bankABCMexico">[USD]</p>
                    <p *ngIf="bankABCMexico">[MXN]</p>
                </div>
                <div class="foreign">
                    <p>[{{currencyCode}}]</p>
                    <label>
            <input type="number" class="rightBox" 
            [ngStyle]="{'cursor': bankABCMexico ? ' no-drop' : 'pointer' }"
            min="1" max="99999" [(ngModel)]='exchangeRate'
            (keypress)="validacionInput($event)" onpaste="return false"
              (ngModelChange)="sumTotalLocalCurrency(totalToProcess)" [disabled]="bankABCMexico">
          </label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isError" class="alertasFijas">{{'REPORTS_MESSAGES.NOT_REMITEE' | translate}}</div>
    <br/>
    <div class="processContainer" *ngIf="seeBank" [ngClass]="(changeClass==1)?'bg-pm':''">
        <div class="example-container mat-elevation-z8">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
            </div>

            <div class="example-table-container">
                <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows matSortActive="lastUpdated" matSortDirection="desc" class="mat-elevation-z8">

                    <ng-container matColumnDef="check">
                        <th mat-header-cell *matHeaderCellDef>
                            <label for="allCheck"></label>
                            <input type="checkbox" (change)="allCheckElement()" id="allCheck" />
                        </th>

                        <td mat-cell *matCellDef="let row">
                            <label for='{{row.id}}'></label>
                            <input type="checkbox" (change)="addCheckElement(row)" id='{{row.id}}' />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
                        <th mat-header-cell *matHeaderCellDef>{{columnNames.id}}</th>
                        <td mat-cell *matCellDef="let row">{{row?.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="merchant" *ngIf="columns.indexOf('merchant') !== -1">
                        <th mat-header-cell *matHeaderCellDef>{{columnNames.merchant}}</th>
                        <td mat-cell *matCellDef="let row">{{row['merchant']['company']}}</td>
                    </ng-container>

                    <ng-container matColumnDef="payee" *ngIf="columns.indexOf('payee') !== -1">
                        <th mat-header-cell *matHeaderCellDef>{{columnNames.payee}}</th>
                        <td mat-cell *matCellDef="let row">
                            <i-feather class="icon-style" [matTooltip]="row['payee']['user']['payeeAsCompany'] ? 'Business Accounts' : 'Payee'" [matTooltipPosition]="positionOptions" [name]="row['payee']['user']['payeeAsCompany'] ? 'home' : 'user'">
                            </i-feather>&nbsp; {{ row['payee']['user']['payeeAsCompany'] ? (row['payee']['company'] ? row['payee']['company'] : 'Profile not confirmed') : row['payee']['fullName']}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="lastUpdated" *ngIf="columns.indexOf('lastUpdated') !== -1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.lastUpdated}}</th>
                        <td mat-cell *matCellDef="let row">{{row['lastUpdated'] | date}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amountBeforeCommission" *ngIf="columns.indexOf('amountBeforeCommission') !== -1">
                        <th mat-header-cell *matHeaderCellDef>{{columnNames.amountBeforeCommission}} [{{environment.defaultCurrency}}]
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row['amountBeforeCommission'] | currency}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amountAfterCommission" *ngIf="columns.indexOf('amountAfterCommission') !== -1">
                        <th mat-header-cell *matHeaderCellDef>{{columnNames.amountAfterCommission}}</th>
                        <td mat-cell *matCellDef="let row">
                            {{calculateAfterCommission(row['merchant'], row['amountBeforeCommission']) | currency}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amountLocalCurrency">
                        <th mat-header-cell *matHeaderCellDef>{{columnNames.amountLocalCurrency}}</th>
                        <td mat-cell *matCellDef="let row">
                            {{(this.exchangeRate !== undefined ? calculateLocalCurrency(row['merchant'], row['amountBeforeCommission']) : 0)| currency}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>{{columnNames.action}}</th>
                        <td mat-cell *matCellDef="let row" [ngClass]="(changeClass==1)?'bg-pm':''">
                            <button class="openModalBtn" (click)="seeMerchantCommissionModal(row['merchant'])" *ngIf="row['merchant']['useMerchantCommission']">
                {{ 'BUTTON_OPTION_INFO.SEE_COMMISSION'| translate}}
              </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row" [class.use-merchant-commission]="row['merchant']['useMerchantCommission']"></tr>

                </table>

            </div>
        </div>

    </div>
</div>
<footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
    <div class="total" *ngIf="bankAccountId">
        <p>Total [USD] {{total | currency }}</p>
    </div>
    <div class="total" *ngIf="totalLocalCurrency > 0">
        <p>Total [{{currencyCode}}] {{totalLocalCurrency | currency }}</p>
    </div>
    <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
        <button *ngIf="bankAccountId" class="btn2" (click)="processPayments()"><i class="icofont-file-excel"></i>
      {{ 'BUTTON_OPTION_INFO.PROCESS_PAYMENT'| translate}}
    </button>
    </div>
</footer>