table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

tr.example-element-row:hover {
  background: #dcdcdc;
}

.icon-style{
  height: 15px;
  width: 15px;
  color: #9E9E9E;
}

.cancelCreated{
  font-family: roboto, serif;
  border-radius: 20px;
  border: none;
  background-color: #E57373;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: rgb(201, 80, 80);
  }

  &:focus {
    outline:none;
  }
}

.acceptCreated{
  font-family: roboto, serif;
  border-radius: 20px;
  border: none;
  background-color: #37a96e;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: #30925f;
  }

  &:focus {
    outline:none;
  }
}

.fundBtn{
  font-family: roboto, serif;
  border-radius: 20px;
  border: none;
  background-color: #14657b;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: #0c3a47;
  }

  &:focus {
    outline:none;
  }
}

td {
  a {
    cursor: pointer;
    color: #0C3A47;
    text-decoration: underline;

    &:hover {
      color: #0C3A47;
      text-decoration: underline;
    }
  }
}


.icon-disassociate {
  color: #9E9E9E;
  height: 25px;
  width: 25px;
  cursor: pointer;

  &:hover{
    color: rgb(201, 80, 80);
  }
}

th, td {
  &:first-of-type, &:last-of-type {
    padding-left: 15px !important;
  }

  &:not(:first-of-type) {
    padding-left: 10px !important;
  }
}

//MOBILE STYLES

@media (max-width: 820px) {
  th, td {
    white-space: nowrap;
  }
}
