<div [ngClass]="{'example-container_': menuCollapse, 'example-container': !menuCollapse }" class="mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="dataTable" matSort matSortDisableClear multiTemplateDataRows
           [matSortActive]="setMatSort()"
           matSortDirection="desc" class="mat-elevation-z8">

      <!-- Modal Related User Actions Column -->
      <ng-container matColumnDef="relatedUserModal">
        <th class="table-action" mat-header-cell *matHeaderCellDef>{{columnNames.relatedUserModal}}</th>
        <td class="table-action" mat-cell *matCellDef="let row">
          <i-feather name="list"
                     (click)="callOpenRelatedUserModal(isSuperOrAdmin() ? row?.id : row['extendedUser']['id'])"
                     style="cursor: pointer">
          </i-feather>
        </td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="company" *ngIf="columns.indexOf('company') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.company}}</th>
        <td mat-cell *matCellDef="let row">
          {{isSuperOrAdmin() ? row['company'] : row['extendedUser']['company']}}
        </td>
      </ng-container>

      <!-- FullName Column -->
      <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.fullName}}</th>
        <td mat-cell *matCellDef="let row">
          <i-feather *ngIf="roleFilterSelected === roles.PAYEE"
                     [matTooltip]="setValueForToolTipHandler(row)"
                     [matTooltipPosition]="positionOptions"
                     class="icon-style"
                     [name]="setValueForIconTypeHandler(row)">
          </i-feather>&nbsp;
          {{setValueForNameColumnHandler(row)}}
        </td>
      </ng-container>

      <!-- Nickname Column -->
      <ng-container matColumnDef="nickname" *ngIf="columns.indexOf('nickname') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.nickname}}</th>
        <td mat-cell *matCellDef="let row">
          {{row['nickname']}}
        </td>
      </ng-container>

      <!-- Alias Column -->
      <ng-container matColumnDef="alias" *ngIf="columns.indexOf('alias') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.alias}}</th>
        <td mat-cell *matCellDef="let row">
          {{setValueForAliasColumnHandler(row)}}
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.id}}</th>
        <td mat-cell *matCellDef="let row">
          {{setValueForIdNumberColumnHandler(row)}}
        </td>
      </ng-container>

      <!-- LoginName Column -->
      <ng-container matColumnDef="loginName" *ngIf="columns.indexOf('loginName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.loginName}}</th>
        <td mat-cell *matCellDef="let row">
          <a *ngIf="role !== roles.PAYEE"
             (click)="callOpenRelatedUserProfile(setValueForOpenRelatedUserProfileHandler(row))">
            {{setValueForEmailColumnHandler(row)}}
          </a>
          <p *ngIf="role === roles.PAYEE">
            {{setValueForEmailColumnHandler(row)}}
          </p>
        </td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country" *ngIf="columns.indexOf('country') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.country}}</th>
        <td mat-cell *matCellDef="let row">{{setValueForCountryColumnHandler(row)}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.status}}</th>
        <td class="table-status"
            mat-cell *matCellDef="let row"
            [style.color]="statusesColor[setValueForStatusColumnHandler(row)]">
          <span [matTooltip]="setValueForStatusReasonColumnHandler(row)"
             [matTooltipPosition]="positionOptions">
            {{statuses[setValueForStatusColumnHandler(row)]}}
          </span>
        </td>
      </ng-container>

      <!-- Balance Column (as Admin(super), Merchant view) -->
      <ng-container matColumnDef="balance" *ngIf="columns.indexOf('balance') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.balance}}</th>
        <td class="table-status" mat-cell *matCellDef="let row">{{row['balance'] | currency}}</td>
      </ng-container>

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="mobileNumber" *ngIf="columns.indexOf('mobileNumber') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.mobileNumber}}</th>
        <td class="table-status" mat-cell *matCellDef="let row">
          {{setValueForMobileNumberColumnHandler(row)}}
        </td>
      </ng-container>

      <!-- Payment Method Column ( as Admin(super), Payee view) -->
      <ng-container matColumnDef="paymentMethod" *ngIf="columns.indexOf('paymentMethod') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.paymentMethod}}</th>
        <td class="table-status" mat-cell *matCellDef="let row">
          <span *ngIf="row['useDirectPayment']">{{ 'TABLE.DIRECT_TRANSFER' | translate }}</span>
          <span *ngIf="!row['useDirectPayment']">{{ 'TABLE.RECHARGE_CARD' | translate }}</span>
        </td>
      </ng-container>

      <!-- Card Number Column (as Admin(super), Payee view) -->
      <ng-container matColumnDef="number" *ngIf="columns.indexOf('number') !== -1">
        <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.number}}</th>
        <td class="table-status" mat-cell *matCellDef="let row">
          {{row['useDirectPayment'] ? row['bankAccountNumber'] : row['cardNumber'] | formatCardNumber}}
        </td>
      </ng-container>

      <!-- Actions Column (Admin(Super), Reseller) -->
      <ng-container matColumnDef="action">
        <th class="table-action" mat-header-cell *matHeaderCellDef>{{columnNames.action}}</th>
        <td class="table-action" mat-cell *matCellDef="let row">

          <div class="action-icon-container" *ngIf="!isLoading">

            <div *ngIf="canSeeButtonAction(row, 'CHANGE_NICKNAME')"
                 (click)="callOpenChangeNicknameModal(row)"
                 [matTooltip]="'REPORTS_MESSAGES.CHANGE_NIKNAME'|translate"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style blue-icon fas fa-id-card-alt"></i>
            </div>

            <div *ngIf="canSeeButtonAction(row, 'FUND')"
                 (click)="callOpenFundModal(row)"
                 [matTooltip]="'REPORTS_MESSAGES.FUNDS'|translate"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style blue-icon fas fa-hand-holding-usd"></i>
            </div>

            <div *ngIf="canSeeButtonAction(row, 'ASSOCIATE_MERCHANT')"
                 (click)="callAssociateMerchantModal(row)"
                 [matTooltip]="'REPORTS_MESSAGES.LINK_TRADERS'|translate"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style green-icon fas fa-people-arrows"></i>
            </div>

            <div *ngIf="canSeeButtonAction(row, 'DISABLE')"
                 (click)="callOpenReasonModal(row, 'Disable')"
                 [matTooltip]="'REPORTS_MESSAGES.DISABLE'|translate"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style red-icon fas fa-user-lock"></i>
            </div>

            <div *ngIf="canSeeButtonAction(row, 'DELETE')"
                 (click)="callOpenReasonModal(row, 'Delete')"
                 [matTooltip]="'REPORTS_MESSAGES.DELETE'|translate"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style red-icon fas fa-user-times"></i>
            </div>

            <div *ngIf="canSeeButtonAction(row, 'ACTIVATE')"
                 (click)="callOpenReasonModal(row, 'Activate')"
                 [matTooltip]="'REPORTS_MESSAGES.ACTIVE' | translate"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style green-icon fas fa-user-check"></i>
            </div>

            <div *ngIf="canSeeButtonAction(row, 'ENABLE')"
                 (click)="callOpenReasonModal(row, 'Enable')"
                 [matTooltip]="'REPORTS_MESSAGES.ACTIVE' | translate"
                 [matTooltipPosition]="positionOptions">
              <i class="action-icon-style green-icon fas fa-user-check"></i>
            </div>

          </div>

          <i-feather name="user-x" class="icon-disassociate"
                     [matTooltip]="'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.REMOVE_ASSOCIATION' | translate"
                     [matTooltipPosition]="positionOptions"
                     *ngIf="canSeeButtonAction(row, 'REMOVE_ASSOCIATION')"
                     (click)="callRemoveAssociationConfirmationModal(row)">
          </i-feather>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row">
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>
