<div class="flex">
  <div class="pageTitleModal">{{'TITLES.STATUS_CHANGE' | translate}}</div>
  <div class="closeBtn">
    <i-feather name="x-circle" class="big" (click)="closeModal()"></i-feather>
  </div>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <div class="pageTitleModal"> {{'BUTTON_OPTION_INFO.ISSUE' | translate}}: <strong>'{{notification.subject}}'</strong></div>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="dataTable" matSort matSortDisableClear multiTemplateDataRows
           matSortActive="dateCreated"
           matSortDirection="desc">

      <!-- Date Column -->
      <ng-container matColumnDef="dateCreated" *ngIf="columns.indexOf('dateCreated') !== -1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.dateCreated}}</th>
        <td mat-cell *matCellDef="let row">{{row?.dateCreated | date:'medium'}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.status}}</th>
        <td mat-cell *matCellDef="let row" [style.color]="issueStatusColor[row?.status]">{{statuses[row?.status]}}</td>
      </ng-container>

      <!-- Reason Column -->
      <ng-container matColumnDef="reason" *ngIf="columns.indexOf('reason') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.reason}}</th>
        <td mat-cell *matCellDef="let row">{{row?.reason ? row?.reason : 'No status reason'}}</td>
      </ng-container>

      <!-- Assigned Column -->
      <ng-container matColumnDef="assigned" *ngIf="columns.indexOf('assigned') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.assigned}}</th>
        <td mat-cell *matCellDef="let row">{{row?.user?.fullName }}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"
          class="example-element-row">
      </tr>

    </table>
  </div>
  <mat-paginator [length]="totalElements" [pageSize]="pageSize"></mat-paginator>
</div>
