/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 800px;
  overflow: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.651);
    border-radius: 8px;
  }
  &::-webkit-scrollbar:vertical {
    width:8px;
  }
}

table {
  width: 100%;
  height: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-status {
  max-width: 64px;
}

.mat-column-dateCreated {
  max-width: 100px;
}

.mat-column-assigned {
  max-width: 100px;
}

.mat-column-reason {
  max-width: 300px;
  max-height: 40px;
  margin-right: 15px;
}

td.mat-column-assigned,
td.mat-column-reason,
td.mat-column-status,
th.mat-header-cell {
  text-align: center !important;
}

//------------

.example-card {
  margin-bottom: 15px;
}


.flex {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.pageTitleModal {
  font-size: 24px !important;
  margin-bottom: 8px !important;
}

.closeBtn {
  cursor: pointer;

  .big {
    height: 32px;
    width: 32px;

    &:hover{
      color: rgb(201, 80, 80);
    }
  }

}



.btnContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .btn{
    padding: 8px;
    margin-top: 8px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid transparent;
    margin-left: 16px;
  }

  .accept{
    width: 106px;
    height: 44px;
    background: #215361;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
    color: #ffffff;
  }

  .cancel{
    width: 124px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.14);
    border-radius: 41px;
  }
}
