<!-- ###### PAYEE COMPANY ###### -->
<form [formGroup]="payeeCompanyForm">
    <p class="rebibe_paymenet" *ngIf="!(extendedUser && extendedUser !== null && extendedUser.bankAccountNumber !== null && extendedUser.bankAccountNumber !== '') ">
        {{ 'TEXT.RECIBE_PAYMENT_NEED_TO_COMPLETE' | translate }}
    </p>
    <div class="full-width box">

        <!-- SUBTITLE -->
        <div style="margin-bottom: 5px;">
            <p class="subtitle tag">{{ 'PROFILE.COMPANY_INFO' | translate }}</p>
        </div>
        <!-- END SUBTITLE -->

        <!-- BOX CONTAINER -->
        <div class="">
            <div class="row">
                <!-- COMPANY NAME -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="companyName" class="label-form">{{ 'REPORTS_MESSAGES.COMPANY_NAME' | translate
                            }}</label>
                        <input formControlName="companyName" (keypress)="validacionInput($event, 'numerosYLetras')" [ngClass]="{'errorInput': companyName.invalid && payeeCompanyFormInvalid}" type="text" id="companyName" class="form-control" placeholder="" required [readonly]="canReadOnly('COMPANY_NAME')">
                    </div>
                </div>
                <!-- COUNTRY -->
                <div class="col-md-4">
                    <label for="country" class="label-form">{{ 'TEXT.COUNTRY' | translate }}</label>
                    <select class="form-control" id="country" name="country" formControlName="companyCountryPostal" (change)="onChangeCompanyCountry($event);">
                        <option selected value="">{{ 'TEXT.SELECT_COUNTRY_FROM_LIST' | translate }}</option>
                        <option *ngFor="let country of countrys" value="{{ country.id }}"> {{ country.name }}</option>
                    </select>
                </div>
                <!-- CITY -->
                <div class="col-md-4">
                    <!-- <label for="city" class="label-form">{{ 'PROFILE.CITY' | translate }}</label> -->
                    <!--   <app-autocomplete-input #CityAutocomplete id="city" [id]="'city'" [inputForm]="payeeCompanyForm"
                        [inputFormControlName]="'companyCityPostal'"
                        [elementPlaceholder]="'PLACEHOLDER.START_TYPING_CITY_NAME'|translate"
                        [countryId]="countryPostalId" [type]="autocompleteType.CITY"
                        [extendedUserConfirmedProfile]="userSessionService.haveStatus() && extendedUser.confirmedProfile"
                        [isModalView]="modalView" [isModifyMode]="modifyMode" [noElementSelect]="noPostalCitySelected"
                        [invalidInput]="payeeCompanyFormInvalid" [readonly]="canReadOnly('COMPANY_POSTAL')"
                        (elementChange)="noPostalCitySelected = false"
                        (setNoElementSelected)="noPostalCitySelected = $event" [changeCountry]="changeCountry">
                    </app-autocomplete-input> -->

                    <app-drow-box [inputForm]="payeeCompanyForm" [inputFormControlName]="'companyCityPostal'" [countryId]="countryPostalId" [type]="drownBoxType.CITY" [invalidInput]="payeeCompanyFormInvalid" [changeCountry]="changeCountry" [readonly]="canReadOnly('COMPANY_POSTAL')"
                        (elementChange)="noPostalCitySelected = false" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile">
                    </app-drow-box>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <!-- COMPANY TAX ID TYPE -->
                    <label for="taxIdType" class="label-form">TAX ID Type | Tipo de Tax id</label>
                    <select class="full-width height38 select-form" id="taxIdType" name="taxIdType" formControlName="companyTaxIdType" [ngClass]="{'errorInput': companyTaxIdType.invalid && payeeCompanyFormInvalid}">
                        <option disabled selected [ngValue]="null">{{ 'TEXT.SELECT_TYPE' | translate }}</option>
                        <option *ngFor="let type of legalIdTypesArr" [ngValue]="type.id">{{type.name}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <!-- COMPANY TAX ID -->
                    <label for="taxId" class="label-form">{{ 'TEXT.COMPANY' | translate }} TAX ID</label>
                    <input formControlName="companyTaxId" [ngClass]="{'errorInput': companyTaxId.invalid && payeeCompanyFormInvalid}" type="text" id="taxId" [maxlength]="countryPostalId === 66 ? '11' : countryPostalId === 77 ? '13' : '25'" class="form-control" (keypress)="validacionInput($event, 'numerosYletras', '-')"
                        placeholder="" required [readonly]="canReadOnly('COMPANY_TAX')">
                    <mat-error *ngIf="countryPostalId === 101">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.ONLY_DNI_PERU' | translate }}</mat-error>
                    <mat-error *ngIf="countryPostalId === 66 && companyTaxId.invalid && payeeCompanyFormInvalid">{{ 'TEXT.MUST_BE_DIGITS' | translate }}</mat-error>
                </div>
                <div class="col-md-4">
                    <label for="cDate" class="label-form">{{ 'PROFILE.CONSTITUTION_DATE' | translate }}</label>
                    <div class="row">
                        <div class="col-md-3">
                            <select id="cDate" class="form-control fechaNacimiento" placeholder="TEXT.DAY" [ngClass]="{'errorInput': companyConstitutionDate.invalid && payeeCompanyFormInvalid}" style="padding: 0px 0px; width: 125%;" name="day" [(ngModel)]="day" [ngModelOptions]="{standalone: true}"
                                [disabled]="canReadOnly('COMPANY_DATE')" required (change)="setBirth()" ng-disabled="userSessionService.haveStatus()">
                                <option disabled value="">{{'TEXT.DAY' | translate}}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select name="month" [(ngModel)]="month" style="padding: 0px 0px; width: 125%;" [ngModelOptions]="{standalone: true}" class="form-control" (change)="setBirth()" required ng-disabled="userSessionService.haveStatus()" [ngClass]="{'errorInput': companyConstitutionDate.invalid && payeeCompanyFormInvalid}"
                                [disabled]="canReadOnly('COMPANY_DATE')">
                                <option disabled value="">{{'TEXT.MONTH' | translate}}</option>
                                <option value="1">{{'TEXT.JANUARY'|translate}}</option>
                                <option value="2">{{'TEXT.FEBRUARY'|translate}}</option>
                                <option value="3">{{'TEXT.MARCH'|translate}}</option>
                                <option value="4">{{'TEXT.APRIL'|translate}}</option>
                                <option value="5">{{'TEXT.MAY'|translate}}</option>
                                <option value="6">{{'TEXT.JUNE'|translate}}</option>
                                <option value="7">{{'TEXT.JULY'|translate}}</option>
                                <option value="8">{{'TEXT.AUGUST'|translate}}</option>
                                <option value="9">{{'TEXT.SEPTEMBER'|translate}}</option>
                                <option value="10">{{'TEXT.OCTOBER'|translate}}</option>
                                <option value="11">{{'TEXT.NOVEMBER'|translate}}</option>
                                <option value="12">{{'TEXT.DECEMBER'|translate}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="year" [(ngModel)]="year" style="padding: 0px 0px;" [ngClass]="{'errorInput': companyConstitutionDate.invalid && payeeCompanyFormInvalid}" [ngModelOptions]="{standalone: true}" class="form-control anioNacimiento" (change)="setBirth()" ng-disabled="userSessionService.haveStatus()"
                                [disabled]="canReadOnly('COMPANY_DATE')">
                                <option disabled value="">{{'TEXT.YEAR' | translate}}</option>
                                <option *ngFor="let year of yearArray" [value]="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"> <label for="pNumber" class="label-form">{{ 'PROFILE.PHONE_NUMBER' | translate
                        }}</label>
                    <input formControlName="companyPhoneNumber" (keypress)="validacionInput($event, 'numeros')" maxlength="16" [ngClass]="{'errorInput': companyPhoneNumber.invalid && payeeCompanyFormInvalid}" type="text" id="pNumber" class="form-control margin-t-4" placeholder=""
                        required [readonly]="canReadOnly('COMPANY_PHONE')">
                </div>
                <div class="col-md-4">
                    <label for="cBussAdd" class="label-form">{{ 'REPORTS_MESSAGES.COMPANY_BUSINESS_ADDRESS' |
                        translate }}</label>
                    <input formControlName="companyPostalAddress" (keypress)="validacionInput($event, 'numerosYLetras')" onpaste="return false" [ngClass]="{'errorInput': companyPostalAddress.invalid && payeeCompanyFormInvalid}" type="text" id="cBussAdd" class="form-control"
                        placeholder="" required [readonly]="canReadOnly('COMPANY_POSTAL')">
                </div>
                <div class="col-md-4">
                    <div *ngIf="countryPostalId != 1 && countryPostalId != 2" class="mid-col">
                        <label for="cpBussAdd" class="label-form">{{ 'PROFILE.CP' | translate }}</label>
                        <input formControlName="companyCpPostalAddress" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" maxlength="10" [ngClass]="{'errorInput': companyCpPostalAddress.invalid && payeeCompanyFormInvalid}" type="text" id="cpBussAdd" class="form-control"
                            placeholder="" [readonly]="canReadOnly('COMPANY_CP')">
                    </div>
                </div>
            </div>
        </div>
        <!-- BOX CONTAINER END -->
    </div>

    <!-- BOX CONTAINER -->
    <div class="full-width box">

        <div style="margin-bottom: 10px;">
            <p class="subtitle tag">
                {{ 'PROFILE.LEGAL_REPRESENTATIVE_INFO' | translate }}
                <span class="fullName-form-style" *ngIf="userSessionService.haveStatus() && !modalView">
                    {{legalRepresentativeFirstName.value}} {{legalRepresentativeLastName.value}}
                </span>
            </p>
        </div>

        <!-- BOX CONTAINER -->
        <div class="">
            <div class="row">
                <div class="col-md-3">
                    <label for="fN" class="label-form">{{ 'PROFILE.FIRST_NAME' | translate }}</label>
                    <input formControlName="legalRepresentativeFirstName" type="text" id="fN" class="form-control" (keypress)="validacionInput($event, 'numerosYLetras')" placeholder="" required [readonly]="canReadOnly('LEGAL_USER_DATA')">
                </div>
                <div class="col-md-3"> <label for="lN" class="label-form">{{ 'TEXT.LAST_NAME' | translate }}</label>
                    <input formControlName="legalRepresentativeLastName" type="text" id="lN" class="form-control" placeholder="" (keypress)="validacionInput($event, 'numerosYLetras')" [readonly]="canReadOnly('LEGAL_USER_DATA')">
                </div>
                <div class="col-md-3">
                    <!-- LEGAL REPRESENTATIVE COUNTRY -->
                    <label for="legalCountry" class="label-form">{{ 'TEXT.COUNTRY' | translate }}</label>
                    <select [disabled]="canReadOnly('LEGAL_RESIDENCE')" class="form-control" id="legalCountry" name="legalCountry" formControlName="legalRepresentativeCountryResidence" [ngClass]="{'errorInput': legalRepresentativeCountryResidence.invalid && payeeCompanyFormInvalid}"
                        (change)="onChangeLegalRepresentativeCountry();">
                        <option value="">{{ 'TEXT.SELECT_COUNTRY_FROM_LIST' | translate }}</option>
                        <option *ngFor="let country of countrys" value="{{ country.id }}">{{ country.name }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <!-- ADDRESS -->
                    <label for="address" class="margin-t-22 label-form">{{ 'PROFILE.ADDRESS' | translate }}</label>
                    <input formControlName="legalRepresentativeResidenceAddress" (keypress)="validacionInput($event, 'numerosYLetras')" [ngClass]="{'errorInput': legalRepresentativeResidenceAddress.invalid && payeeCompanyFormInvalid}" type="text" id="address" class="form-control"
                        placeholder="" required [readonly]="canReadOnly('LEGAL_RESIDENCE')">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="countryPostalId != 1 && countryPostalId != 2">
                    <!-- CP -->
                    <label for="cpLegacy" class="margin-t-22 label-form">{{ 'PROFILE.CP' | translate }}</label>
                    <input formControlName="legalCPRepresentativeResidenceAddress" (keypress)="validacionInput($event, 'numeros')" maxlength="10" [ngClass]="{'errorInput': legalCPRepresentativeResidenceAddress.invalid && payeeCompanyFormInvalid}" type="text" id="cpLegacy"
                        class="form-control" placeholder="" [readonly]="canReadOnly('LEGAL_CP_RESIDENCE')">
                </div>
                <div class="col-md-3">
                    <!-- LEGAL REPRESENTATIVE CITY -->
                    <label for="legalCity" class="label-form">{{ 'PROFILE.CITY' | translate }}</label>
                    <input formControlName="legalRepresentativeCityResidence" [ngClass]="{'errorInput': legalRepresentativeCityResidence.invalid && payeeCompanyFormInvalid}" type="text" id="legalCity" class="form-control" placeholder="" [readonly]="canReadOnly('LEGAL_RESIDENCE')">
                </div>
                <div class="col-md-3">
                    <!-- EMAIL -->
                    <label for="email" class="label-form">{{ 'TEXT.EMAIL' | translate }}</label>
                    <input formControlName="legalRepresentativeEmail" type="text" id="email" class="form-control" placeholder="" readonly>
                </div>
                <div class="col-md-3">
                    <!-- MOBILE NUMBER -->
                    <label for="mNumber" class="label-form">{{ 'TEXT.MOBILE_NUMBER' | translate }}</label>
                    <input formControlName="legalRepresentativeMobileNumber" (keypress)="validacionInput($event, 'numeros')" [ngClass]="{'errorInput': legalRepresentativeMobileNumber.invalid && payeeCompanyFormInvalid}" type="text" maxlength="20" id="mNumber" class="form-control"
                        placeholder="" required [readonly]="canReadOnly('LEGAL_MOBILE_PHONE')">
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <!-- ID NUMBER -->
                    <label for="idNum" class="label-form">{{ 'TEXT.ID_NUMBER' | translate }}</label>
                    <input formControlName="legalRepresentativeIdNumber" [ngClass]="{'errorInput': legalRepresentativeIdNumber.invalid && payeeCompanyFormInvalid}" type="text" [maxlength]="countryPostalId === 66 ? '11' : countryPostalId === 77 ? '13' : '25'" class="form-control"
                        (keypress)="validacionInput($event, 'numerosyletras')" id="idNum" class="form-control" placeholder="" required>
                    <!-- [readonly]="canReadOnly('LEGAL_ID_NUMBER')" -->
                </div>
            </div>
        </div>
        <!-- BOX CONTAINER END -->
    </div>
    <!-- BOX CONTAINER END -->
</form>
<!-- ###### PAYEE COMPANY END ###### -->