<div class="message">
  <p class="title">{{data.reasonType}} issue</p>
  <div class="message">
    <p>{{ 'REPORTS_MESSAGES.ADD_STATUS_REASON_TO' | translate}} {{ data.reasonType.toLowerCase() }} issue: <strong>'{{data.notification.subject}}'</strong></p>
    <div>
      <textarea name="textarea"
                rows="5"
                cols="50"
                maxlength="250"
                [(ngModel)]="data.notification.statusReason"
                placeholder="{{data.reasonType === 'Reject' || data.reasonType === 'Cancel' ? 'Write a reason' : ''}}"></textarea>
    </div>

  </div>
  <div class="btnContainer">
    <button class="btn cancel" (click)="onNoClick()">{{ 'REPORTS_MESSAGES.CANCEL' | translate}}</button>
    <button class="btn accept"
            (click)="updateNotification()"
            [disabled]="data.notification.statusReason.length === 0 && data.reasonType === 'Reject'">{{ 'BUTTON_OPTION_INFO.SAVE' | translate}}
    </button>
  </div>
</div>
