<div>
  <p class="title">{{data.title}}</p>
  <div>
    <p>{{ 'REPORTS_MESSAGES.ADD_STATUS_REASON_TO' | translate}}</p>
    <p>{{data.reasonType}} {{data.entity.extendedUser.fullName}}</p>
  <div>
      <textarea name="textarea"
                rows="5"
                maxlength="250"
                cols="50"
                [(ngModel)]="data.entity.statusReason"
                placeholder="Write a reason"></textarea>
    </div>

  </div>
  <div class="btnContainer">
    <button class="btn cancel" (click)="onNoClick()">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
    <button class="btn accept"
            (click)="save()"
            [disabled]="data.entity.statusReason.length === 0">{{ 'BUTTON_OPTION_INFO.SAVE' | translate}}
    </button>
  </div>
</div>