<form [formGroup]="inputForm">
    <div *ngIf="type === 'CITY'" >
        <div class="container-input" [ngClass]="newCityInput ? 'w-40' : 'w-100'">
            <label for="city" class="label-form">{{ 'PROFILE.CITY' | translate }}</label>
            <select [formControlName]="inputFormControlName" class="full-width form-control" id="city"
            [ngClass]="{'errorInput': (drowbox.invalid && invalidInput )}" (change)="onChangeElement()">
            <option disabled selected [ngValue]="null">{{ 'TEXT.SELECT_CITY' | translate }}</option>
            <option *ngFor="let item of data" [ngValue]="item.id">{{item.name}}</option>
            <!-- <option  [ngValue]="0">{{ 'TEXT.ADD_CITY' | translate }}</option> -->
        </select>
        </div>
        <div *ngIf="newCityInput" class="container-input" style="width: 50%;">
            <label class="label-form">{{ 'TEXT.NEW_CITY' | translate }}</label>
            <input  maxlength="16" [(ngModel)]="newCityName"
                [ngClass]="{'errorInput': ((drowbox.invalid && invalidInput) || 
                (newCityName === '' || newCityName === null))}" type="text" [(ngModel)]="newCityName"
                class="form-control height38" />
        </div>
    </div>
</form>