<div [ngClass]="{'filterMasterContainer': collapse}">
    <div class="filterHeader" [ngClass]="(changeClass==1)?'bg-pm':''">
        <div class="filterTitle" (click)="handleClickFilterToggle(); mssgEmpty = false;">
            <i-feather class="filterIcon" name="filter"></i-feather>{{ 'BUTTON_OPTION_INFO.FILTER' | translate }}
        </div>
        <button class="btn2" (click)="cleanFilter()" *ngIf="countryFilter.length > 0 ||
                     idNumberArr.length > 0 ||
                     userName.length > 0 ||
                     namePayee.length > 0 ||
                     namePayeeCompany.length > 0 ||
                     onlyPayeeCompanyArr.length > 0 ||
                     companyArr.length > 0 ||
                     nicknameArr.length > 0 ||
                     nameStatus.length > 0 ||
                     emailArr.length > 0">
            {{ 'BUTTON_OPTION_INFO.CLEAN' | translate }}
        </button>
        <button class="btn2 btn3" (click)="applyFilter()" *ngIf="showApplyFilter">{{ 'BUTTON_OPTION_INFO.APPLY' |
            translate }}</button>
            <p class="message-error-empty" *ngIf="mssgEmpty">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.FILTER_EMPTY' | translate }}</p>
    </div>

    <div class="filterContainer" *ngIf="collapse">

        <label for="filters"></label>
        <select class="field-height-36 main-select" id="filters" name="filters" (change)="addFilter($event)">
            <option disabled selected>{{ 'BUTTON_OPTION_INFO.SELECT_FILTER' | translate }}</option>
            <option value="name" *ngIf="canNotSeeFilter('name')">{{ 'TEXT.NAME' | translate }}</option>
            <option value="company" *ngIf="canNotSeeFilter('company')">{{ 'TEXT.COMPANY' | translate }}</option>
            <option value="alias" *ngIf="canNotSeeFilter('Alias')">{{ 'TEXT.ALIAS' | translate }}</option>
            <option value="email" *ngIf="canNotSeeFilter('email')">{{ 'TEXT.EMAIL' | translate }}</option>
            <option value="country" *ngIf="canNotSeeFilter('country')">{{ 'TEXT.COUNTRY' | translate }}</option>
            <option value="status" *ngIf="canNotSeeFilter('status')">{{ 'TEXT.STATUS' | translate }}</option>
            <option value="nickname" *ngIf="canNotSeeFilter('nickname')">{{ 'TEXT.NICKNAME' | translate }}</option>
            <option value="idNumber" *ngIf="canNotSeeFilter('idNumber')">{{ 'TEXT.ID_NUMBER' | translate }}</option>
            <option value="payeeCompany" *ngIf="canNotSeeFilter('payeeCompany') && onlyPayeeCompanyArr.length === 0">
                {{ 'BUTTON_OPTION_INFO.DIFFERENTIATE_PAYEE' | translate }}
            </option>
        </select>

        <!-- NG-SWITCH -->
        <div class="filterName" [ngSwitch]="filterName">

            <div id="country" *ngSwitchCase="'country'">
                <form [formGroup]="countryForm" class="filter-wrapper">
                    <label for="countryFilter">{{ 'TEXT.COUNTRY' | translate }}</label>
                    <input type="text" id="countryFilter" formControlName="country" [matAutocomplete]="postalP"
                        [placeholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate" maxlength="30"
                        class="form-control field-height-36">
                    <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry"
                        (optionSelected)="onChangeCountry()">
                        <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
                            {{country.name}}
                        </mat-option>
                    </mat-autocomplete>
                </form>
            </div>

            <div class="filter-wrapper" id="status" *ngSwitchCase="'status'">
                <label for="statusFilter">{{ 'TEXT.STATUS' | translate }}</label>
                <select class="field-height-36" id="statusFilter" name="statusFilter" [(ngModel)]="statusId">
                    <option selected disabled value="">{{ 'STATUS.ALL_STATUSES' | translate }}</option>
                    <option *ngFor="let value of keys(statuses)" [value]="value">{{statuses[value]}}</option>
                </select>
            </div>

            <div class="filter-wrapper" id="company" *ngSwitchCase="'company'">
                <label for="companyInput">{{ 'TEXT.COMPANY' | translate }}</label>
                <input class="form-control field-height-36" id="companyInput" type="text" name="nameInput" 
                    maxlength="30" value="" [(ngModel)]="companyInput">
            </div>

            <div class="filter-wrapper" id="alias" *ngSwitchCase="'alias'">
                <label for="aliasInput">{{ 'TEXT.ALIAS' | translate }}</label>
                <input class="form-control field-height-36" id="aliasInput" type="text" name="nameInput" maxlength="30"
                    value="" [(ngModel)]="aliasInput">
            </div>

            <div class="filter-wrapper" id="nickname" *ngSwitchCase="'nickname'">
                <label for="nicknameInput">{{ 'TEXT.NICKNAME' | translate }}</label>
                <input class="form-control field-height-36" id="nicknameInput" type="text" name="nameInput"
                maxlength="30" value="" [(ngModel)]="nicknameInput">
            </div>

            <div class="filter-wrapper" class="payee-company-container" id="payeeCompany"
                *ngSwitchCase="'payeeCompany'">
                <label class="title" for="statusFilter">{{ 'TEXT.SEE' | translate }}</label>
                <section class="example-section example-payee-company">
                    {{ 'TEXT.PAYEE' | translate }}
                    <mat-slide-toggle class="example-margin" [checked]="checked" [disabled]="disabled"
                        [(ngModel)]="onlyPayeeCompany">
                        {{ 'TEXT.PAYEE' | translate }} {{ 'TEXT.COMPANY' | translate }}
                    </mat-slide-toggle>
                </section>
            </div>

            <div class="filter-wrapper" id="name" *ngSwitchCase="'name'">
                <span class="filter-wrapper-secondary" *ngIf="roleFilterSelected === roles.PAYEE">
                    <label for="nameFilter">{{ 'TEXT.WHO' | translate }}</label>
                    <select class="field-height-36" id="nameFilter" name="nameFilter" [(ngModel)]="nameFilter">
                        <option [value]="null" disabled selected>{{ 'TEXT.SELECT_OPTION' | translate }}</option>
                        <option value="payee">{{ 'TEXT.PAYEE' | translate }}</option>
                        <option value="payeeCompany">{{ 'TEXT.BUSINESS' | translate }}</option>
                    </select>
                </span>
                <label for="nameInput">{{
                    'TEXT.FULL_NAME' | translate }}</label>
                <input class="form-control field-height-36" id="nameInput" type="text" name="nameInput" maxlength="30"
                    value="" [(ngModel)]="nameInput">
            </div>

            <div class="filter-wrapper" id="idNumber" *ngSwitchCase="'idNumber'">
                <label for="idNumberInput">{{ 'TEXT.ID_NUMBER' | translate }}</label>
                <input class="form-control field-height-36" id="idNumberInput" type="text" name="idNumberInput" value="" maxlength="30"
                    [(ngModel)]="idNumberInput">
            </div>

            <div class="filter-wrapper" id="email" *ngSwitchCase="'email'">
                <label for="emailInput">{{'REPORTS_MESSAGES.EMAIL' | translate}}</label>
                <input class="form-control field-height-36" id="emailInput" type="text" name="emailInput" value="" maxlength="30"
                    [(ngModel)]="emailInput">
            </div>
        </div>
    </div>
    <div class="tagWrapper" *ngIf="collapse">

        <div class="tagContainer" *ngIf="companyArr.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('company')">x</p>
                <p>{{ 'TEXT.COMPANY' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let name of companyArr">
                <p class="cancel" (click)="deleteFilter('company',name)">x</p>
                <p>{{name}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="nicknameArr.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('nickname')">x</p>
                <p>{{ 'TEXT.NICKNAME' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let name of nicknameArr">
                <p class="cancel" (click)="deleteFilter('nickname',name)">x</p>
                <p>{{name}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="countryFilter.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('country')">x</p>
                <p>{{ 'TEXT.COUNTRY' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let count of countryFilter">
                <p class="cancel" (click)="deleteFilter('country',count)">x</p>
                <p>{{count.name}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="onlyPayeeCompanyArr.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('seeOnly')">x</p>
                <p>{{ 'TEXT.SEE_ONLY' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let obj of onlyPayeeCompanyArr">
                <p>{{obj.text}} </p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="userName.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('name')">x</p>
                <p>{{ 'TEXT.NAME' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let name of userName">
                <p class="cancel" (click)="deleteFilter('userName',name)">x</p>
                <p>{{name}} </p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="namePayee.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('payee')">x</p>
                <p>{{ 'TEXT.PAYEE' | translate }} {{ 'TEXT.NAME' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let name of namePayee">
                <p class="cancel" (click)="deleteFilter('payee',name)">x</p>
                <p>{{name}} </p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="namePayeeCompany.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('payeeCompany')">x</p>
                <p>{{ 'TEXT.BUSINESS_ACCOUNTS_NAME' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let name of namePayeeCompany">
                <p class="cancel" (click)="deleteFilter('payeeCompany',name)">x</p>
                <p>{{name}} </p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="nameStatus.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('status')">x</p>
                <p>{{ 'TEXT.STATUS' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let name of nameStatus">
                <p class="cancel" (click)="deleteFilter('status',name)">x</p>
                <p>{{statuses[name]}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="idNumberArr.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('idNumber')">x</p>
                <p>{{ 'TEXT.ID_NUMBER' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let id of idNumberArr">
                <p class="cancel" (click)="deleteFilter('idNumber',id)">x</p>
                <p>{{id}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="emailArr.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('email')">x</p>
                <p>{{ 'TEXT.EMAIL' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let email of emailArr">
                <p class="cancel" (click)="deleteFilter('email',email)">x</p>
                <p>{{email}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="AliasArr.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('alias')">x</p>
                <p>{{ 'TEXT.ALIAS' | translate }}</p>
            </div>
            <div class="tag childTag" *ngFor="let alias of AliasArr">
                <p class="cancel" (click)="deleteFilter('alias',alias)">x</p>
                <p>{{alias}}</p>
            </div>
        </div>
    </div>
</div>