<div [ngClass]="{'filterMasterContainer': collapse}">
    <div class="filterHeader" [ngClass]="changeClass == 1 ?'bg-pm':''">
        <div class="filterTitle" (click)="handleClickFilterToggle()">
            <i-feather class="filterIcon" name="filter"></i-feather> {{ 'BUTTON_OPTION_INFO.FILTER' | translate}}</div>
        <button class="btn2" (click)="cleanFilter()" *ngIf="countryArrayFilter.length > 0 || fromArrayFilter.length > 0 || statusArrayFilter.length > 0 || responsibleArrayFilter.length > 0
             || dateEqual.length > 0 || dateIsBefore.length > 0 || dateIsAfter.length > 0 || dateBetween.length > 0">
             {{ 'BUTTON_OPTION_INFO.CLEAR' | translate}}
    </button>
        <button class="btn2 btn3" (click)="applyFilter()" *ngIf="showApplyFilter"> {{ 'BUTTON_OPTION_INFO.APPLY' | translate}}</button>
        <p class="message-error-empty" *ngIf="mssgEmpty"> {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.FILTER_EMPTY' | translate }}</p>
    </div>

    <div class="filterContainer" *ngIf="collapse">

        <select class="field-height-36 main-select" id="filters" name="filters" (change)="addFilter($event)">
      <option disabled selected>{{ 'BUTTON_OPTION_INFO.SELECT_FILTER' | translate}}</option>
      <option value="id" *ngIf="isIssue">ID</option>
      <option value="from" *ngIf="isReceiver">{{ 'DATA_TABLE.FROM' | translate}}</option>
      <option value="country" *ngIf="isReceiver && !userSessionService.isSuperOrAdmin()">{{ 'TEXT.COUNTRY' | translate}}</option>
      <option value="status" *ngIf="isIssue">{{ 'TEXT.STATUS' | translate}}</option>
      <option value="responsible" *ngIf="isIssue">{{ 'DATA_TABLE.RESPONSIBL' | translate}}</option>
      <option value="date">{{ 'DATA_TABLE.DATE' | translate}}</option>
    </select>

        <!-- NG-SWITCH -->
        <div class="filterName" [ngSwitch]="filterName">

            <div id="country" *ngSwitchCase="'country'">
                <form class="filter-wrapper" [formGroup]="countryForm">
                    <label for="countryFilter">{{ 'PROFILE.COUNTRY' | translate}}</label>
                    <input type="text" id="countryFilter" formControlName="country" maxlength="30" [matAutocomplete]="postalP" [placeholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate" class="form-control field-height-36">
                    <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry" (optionSelected)="onChangeCountry()">
                        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                            {{country.name}}
                        </mat-option>
                    </mat-autocomplete>
                </form>
            </div>

            <div class="filter-wrapper" id="id" *ngSwitchCase="'id'">
                <label for="idInput">Id</label>
                <input class="form-control field-height-36" id="idInput" type="text" name="idInput" value="" [(ngModel)]="idInput" maxlength="30">
            </div>

            <div class="filter-wrapper" id="name" *ngSwitchCase="'from'">
                <label for="nameInput">{{ 'TEXT.FULL_NAME' | translate }}</label>
                <input class="form-control field-height-36" id="nameInput" type="text" name="nameInput" value="" [(ngModel)]="fromInput" maxlength="30">
            </div>

            <div class="filter-wrapper" id="responsible" *ngSwitchCase="'responsible'">
                <label for="responsibleInput">{{ 'DATA_TABLE.RESPONSIBL' | translate }} {{ 'REPORTS_MESSAGES.NAME' | translate }}</label>
                <input class="form-control field-height-36" id="responsibleInput" type="text" name="responsibleInput" value="" [(ngModel)]="responsibleInput" maxlength="30">
            </div>

            <div class="filter-wrapper" id="status" *ngSwitchCase="'status'">
                <label for="statusFilter">{{ 'REPORTS_MESSAGES.STATUS' | translate }}</label>
                <select class="field-height-36" id="statusFilter" name="statusFilter" [(ngModel)]="statusInput">
          <option value="" disabled>All statuses</option>
          <option *ngFor="let value of keys(issuesStatus)" [value]="value">{{issuesStatus[value]}}</option>
        </select>
            </div>

            <div class="dateBox filter-wrapper second-date-wrapper" id="date" *ngSwitchCase="'date'">
                <label for="dateFilter">{{ 'DATA_TABLE.DATE' | translate }}</label>
                <select class="field-height-36" id="dateFilter" name="dateFilter" (change)="selectDates()" [(ngModel)]="dateFilter">
          <option value="" disabled>{{ 'BUTTON_OPTION_INFO.SELECT_DATE' | translate }}</option>
          <option value="dateEqual">{{ 'BUTTON_OPTION_INFO.IS' | translate }}</option>
          <option value="dateIsBefore" *ngIf="dateIsBefore.length === 0">{{ 'BUTTON_OPTION_INFO.IS_BEFORE' | translate }}</option>
          <option value="dateIsAfter" *ngIf="dateIsAfter.length === 0">{{ 'BUTTON_OPTION_INFO.IS_AFTER' | translate }}</option>
          <option value="dateBetween">{{ 'BUTTON_OPTION_INFO.IS_BETWEN' | translate }}</option>
        </select>

                <input id="dateBeforeInput" type="text" class="form-control field-height-36" name="dateBefore" placeholder="YYYY-MM-DD" [(ngModel)]="dateBefore" (ngModelChange)="handleBeforeInBetweenDateChange()" [maxDate]="maxDateBS" [bsConfig]="datePickerConfig" bsValueChange
                    bsDatepicker>

                <div id="dateAfterSection" *ngIf="showDataBetween" class="align-row-y second-date">
                    and
                    <input class="form-control field-height-36 second-date" type="text" id="dateAfterInput" name="dateAfter" placeholder="YYYY-MM-DD" [minDate]="dateBeforeBS" [maxDate]="maxDateBS" [(ngModel)]="dateAfter" [bsConfig]="datePickerConfig" [isDisabled]="disabledEditAfterDate"
                        bsDatepicker>
                </div>
            </div>
        </div>
    </div>
    <div class="tagWrapper" *ngIf="collapse">

        <div class="tagContainer" *ngIf="countryArrayFilter.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('country')">x</p>
                <p>{{ 'TEXT.COUNTRY' | translate}}</p>
            </div>
            <div class="tag childTag" *ngFor="let count of countryArrayFilter">
                <p class="cancel" (click)="deleteFilter('country',count)">x</p>
                <p>{{count.name}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="idArrayFilter.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('id')">x</p>
                <p>ID</p>
            </div>
            <div class="tag childTag" *ngFor="let id of idArrayFilter">
                <p class="cancel" (click)="deleteFilter('id',id)">x</p>
                <p>{{id}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="fromArrayFilter.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('from')">x</p>
                <p>From</p>
            </div>
            <div class="tag childTag" *ngFor="let from of fromArrayFilter">
                <p class="cancel" (click)="deleteFilter('from',from)">x</p>
                <p>{{from}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="responsibleArrayFilter.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('responsible')">x</p>
                <p>Responsible</p>
            </div>
            <div class="tag childTag" *ngFor="let responsible of responsibleArrayFilter">
                <p class="cancel" (click)="deleteFilter('responsible',responsible)">x</p>
                <p>{{responsible}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="statusArrayFilter.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('status')">x</p>
                <p>Status</p>
            </div>
            <div class="tag childTag" *ngFor="let status of statusArrayFilter">
                <p class="cancel" (click)="deleteFilter('status',status)">x</p>
                <p>{{issuesStatus[status]}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="dateEqual.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('dateEqual')">x</p>
                <p>Date Equal</p>
            </div>
            <div class="tag childTag" *ngFor="let date of dateEqual">
                <p class="cancel" (click)="deleteFilter('dateEqual',date)">x</p>
                <p>{{date}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="dateIsBefore.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('dateIsBefore')">x</p>
                <p>Date Before</p>
            </div>
            <div class="tag childTag" *ngFor="let date of dateIsBefore">
                <p class="cancel" (click)="deleteFilter('dateIsBefore',date)"></p>
                <p>{{date}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="dateIsAfter.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('dateIsAfter')">x</p>
                <p>Date After</p>
            </div>
            <div class="tag childTag" *ngFor="let date of dateIsAfter">
                <p class="cancel" (click)="deleteFilter('dateIsAfter',date)">x</p>
                <p>{{date}}</p>
            </div>
        </div>

        <div class="tagContainer" *ngIf="dateBetween.length > 0">
            <div class="tag fatherTag">
                <p class="cancel" (click)="resetFilter('dateBetween')">x</p>
                <p>Date Between</p>
            </div>
            <div class="tag childTag" *ngFor="let date of dateBetween">
                <p class="cancel" (click)="deleteFilter('dateBetween',date)">x</p>
                <p>[{{date}}]</p>
            </div>
        </div>
    </div>
</div>