<app-message-notification #MessagesComp></app-message-notification>

<div class="bodyContent">
  <div class="fullWidth tableShadow">

    <mat-tab-group animationDuration="0ms" style="height: 100%; padding: 20px"
                   [selectedIndex]="selectedIndex.value"
                   (selectedIndexChange)="changeTab()">
      <mat-tab label="Reseller Commission">
        <ng-template mat-tab-label>
          {{ 'REPORTS_MESSAGES.RE_SELLET_COMISSION' | translate}}
        </ng-template>
        <div class="header">
          <div class="leftHeaderContainer">
            <form [formGroup]="countryForm">
              <label for="countryReSellerSearch">{{ 'REPORTS_MESSAGES.CHOOSE_COUNTRY' | translate}}</label>
              <input type="text"
                     class="countryInput"
                     id="countryReSellerSearch"
                     formControlName="country"
                     [matAutocomplete]="country"
                     [placeholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate">
              <mat-autocomplete #country="matAutocomplete" [displayWith]="displayCountry" (optionSelected)="onChangeCountry()">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                  {{country.name}}
                </mat-option>
              </mat-autocomplete>
            </form>
          </div>
        </div>

        <!-- TABLE -->
        <div *ngIf="countrySelected">
          <app-table-user-setting #ReSellerTable
                                  [roleFilterSelected]="roles.RESELLER"
                                  [countrySelected]="countrySelected"
                                  [menuCollapse]="menuCollapse.value"
                                  (openCommissionReSellerEditModal)="openCommissionReSellerEditModal($event)">
          </app-table-user-setting>
        </div>

      </mat-tab>

      <mat-tab label="Merchant Commission">
        <ng-template mat-tab-label>
          {{ 'REPORTS_MESSAGES.MERCHANT_COMISSION' | translate}}
        </ng-template>

        <div class="header">
          <div class="leftHeaderContainer">
            <form [formGroup]="countryForm">
              <label for="countrySearch">{{ 'REPORTS_MESSAGES.CHOOSE_COUNTRY' | translate}}</label>
              <input type="text"
                     class="countryInput"
                     id="countrySearch"
                     formControlName="country"
                     [matAutocomplete]="country"
                     [placeholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate">
              <mat-autocomplete #country="matAutocomplete" [displayWith]="displayCountry" (optionSelected)="onChangeCountry()">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                  {{country.name}}
                </mat-option>
              </mat-autocomplete>
            </form>
          </div>
        </div>

        <!-- TABLE -->
        <div *ngIf="countrySelected">
          <app-table-user-setting #MerchantTable
                                  [roleFilterSelected]="roles.MERCHANT"
                                  [countrySelected]="countrySelected"
                                  [menuCollapse]="menuCollapse.value"
                                  (openCommissionMerchantEditModal)="openCommissionMerchantEditModal($event)">
          </app-table-user-setting>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>