.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 16px 0;
}

.leftHeaderContainer {
  display: flex;
  align-items: center;
}

.countryInput {
  width: 210px;
  height: 36px;
  border: solid 1px rgb(169, 169, 169);
  margin: 0 16px;
  padding: 0 5px;
}

select {
  box-sizing: border-box;
  height: 36px;
  padding-left: 8px;
  margin-right: 16px;
  width: auto;
}

.label-text{
  width: 150px;
}

.bodyContent {
  height: calc(100vh - 180px);
  width: 100%;
  display: flex;
}

.tableShadow {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
