@import "ngx-material-pages_theme.scss";
//button:disabled,
//button[disabled]
body {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #0c3a47;
}

.emphasis-text {
    color: #82A5AF;
    font-size: 14px;
    transition: all 200ms ease-in-out;
    a {
        text-decoration: none !important;
        font-size: 15px;
        color: #82A5AF;
        transition: all 200ms ease-in-out;
        &:hover {
            color: #51c5e6 !important;
            cursor: pointer;
        }
    }
    &:hover {
        color: #C4C4C4;
        cursor: pointer;
    }
}

.pageTitle_ {
    margin: 0 !important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    color: #B4B4B4;
}

.whiteBack {
    &:hover {
        color: #51c5e6 !important;
        cursor: pointer;
    }
}

.mat-card-header-text {
    margin: 0 !important;
}

.mat-card-header {
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    p {
        margin: 0 !important;
    }
}

.fullWidth {
    width: 100%;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex {
    display: flex;
}

.center-y {
    align-items: center;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.superposition {
    position: relative;
    top: 49px;
    z-index: 100;
    right: 16px;
}

// .form-control:read-only {
//   background-color: #C7C8C8 !important;
//   border: none;
// }
.margin32 {
    margin: 32px 32px 150px 32px;
}

.margin-top-16 {
    margin-top: 16px;
}

.mat-dialog-container {
    background-color: #ffffff !important;
    color: #848383 !important;
    border-radius: 11px !important;
    font-family: Roboto, sans-serif !important;
    textarea {
        resize: none !important;
        border-radius: 5px;
        &:focus {
            outline: none !important;
            box-sizing: border-box !important;
            border: 1px solid rgb(30, 112, 134) !important;
        }
    }
}

.textDefault {
    font-size: 15px;
    font-weight: bold;
    color: #848383;
    .mail {
        color: #1d84a0;
    }
}

// Estilos ordenados en cascada - unificar masterPage
.masterPage {
    padding: 32px;
    width: calc(100% - 306px);
    position: relative;
    left: 0;
    margin-left: 305px;
    .pageTitle {
        margin-bottom: 16px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 30px;
        color: #B4B4B4;
    }
    .subtitle {
        margin-bottom: 16px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #B4B4B4;
        display: inline;
    }
    .datePicker {
        button {
            background-color: white;
            color: inherit;
            outline: none;
            display: contents;
            margin-left: 0;
            justify-content: initial;
            border-radius: unset;
            border: none;
            transition: all 200ms ease-in-out;
            &:hover {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}

.pmi-blue {
    background-color: #036f8d;
    color: #fff;
    &:hover {
        color: #ffffff;
    }
}

.align-row-y {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B4B4B4;
    display: inline;
}

.example-section {
    margin-left: 32px;
    color: #B4B4B4;
    font-weight: bold;
}

.masterPage_ {
    padding: 32px;
    width: calc(100% - 126px);
    position: relative;
    left: 0;
    margin-left: 126px;
    .pageTitle {
        margin-bottom: 16px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 30px;
        color: #B4B4B4;
    }
    .subtitle {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #B4B4B4;
        display: inline;
    }
    .datePicker {
        button {
            background-color: white;
            color: inherit;
            outline: none;
            display: contents;
            margin-left: 0;
            justify-content: initial;
            border-radius: unset;
            border: none;
            transition: all 200ms ease-in-out;
            &:hover {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}

.masterPage2 {
    width: calc(100% - 306px);
    padding: 32px;
    position: absolute;
    left: 0;
    margin-left: 305px;
    .pageTitle {
        margin-bottom: 16px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 30px;
        color: #B4B4B4;
    }
    .subtitle {
        margin-bottom: 16px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #B4B4B4;
        display: inline;
    }
}

.full-width {
    width: 100% !important;
}

.clickable {
    cursor: pointer;
    animation: all 300ms ease-in-out;
}

.chevron-hover {
    &:hover {
        color: #5f5f5f;
    }
}

.footer {
    position: fixed;
    height: 66px;
    right: 0;
    bottom: 0;
    display: flex;
    padding-right: 56px;
    flex: 1;
    width: calc(100% - 311px);
    background-color: #ffffff;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px -10px 29px rgba(0, 0, 0, 0.068);
    z-index: 1000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0c3a47 inset !important;
    -webkit-text-fill-color: white !important;
}

.mat-error {
    font-size: 12px;
}

.errorAutocomplete {
    color: red;
}

.normalAutocomplete {
    color: rgb(157, 163, 162);
}

.normalAutocomplete {
    color: #a9a9a9;
}

.errorAutocomplete {
    color: red;
}

// DATEPICKER ANGULAR MATERIAL STYLE
.mat-datepicker-toggle {
    color: #0C3A47 !important;
}

.mat-calendar-body-selected {
    background-color: #0C3A47 !important;
    color: white !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #0C3A47 !important;
    //background-color: #cf955e !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #14657b !important;
    //background-color: #cf955e !important;
}

//collapse styles
.masterPage3 {
    width: calc(100% - 126px);
    padding: 32px;
    position: absolute;
    left: 0;
    margin-left: 126px;
}

.footerCollapse {
    position: fixed;
    height: 66px;
    right: 0;
    bottom: 0;
    display: flex;
    padding-right: 56px;
    flex: 1;
    width: calc(100% - 126px) !important;
    background-color: #ffffff;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px -10px 29px rgba(0, 0, 0, 0.068);
}

// 1366 RESOLUTION
@media (max-width: 1500px) {
    .column {
        width: 100%;
        background-color: #fff;
    }
    .ocean-card {
        // height: 445px !important;
        display: flex;
        justify-content: center !important;
        align-content: center !important;
        color: rgb(204, 0, 255);
        font-family: 'roboto', sans-serif;
        margin: 15px 16px;
        border: solid 1px #C0C0C0;
        flex: 1;
        background-color: #e3e4e5;
        p {
            text-align: center;
            margin: 0;
        }
        .pText {
            font-size: 36px;
        }
        .sText {
            font-size: 18px;
            margin-bottom: 8px;
        }
    }
    .photoContainer {
        display: flex !important;
        justify-content: center !important;
        margin: 0 0 16px 0;
        height: 250px !important;
        .buttonsContainer {
            width: 250px;
            background-color: rgba(0, 0, 0, 0.178);
            display: flex;
            position: relative;
            bottom: 56px;
            padding: 8px 5px;
            justify-content: space-between;
            .editionBtn {
                background-color: rgb(19, 87, 106) !important;
                border: 1px #fff solid;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                .small {
                    height: 18px;
                    width: 18px;
                    color: #fff;
                }
            }
        }
    }
}

//MOBILE STYLES
@media (max-width: 820px) {
    body {
        width: 100%;
        height: 100vh;
    }
    .masterPage {
        width: 100%;
        margin-left: 0;
        padding: 15px 15px 40px;
    }
    .masterPage2 {
        width: 100%;
        padding: 16px;
        position: absolute;
        padding-bottom: 110px;
        margin-left: 0;
    }
    .Sidebar {
        display: none;
    }
    .cdk-overlay-pane {
        max-width: 95vw !important;
        width: 95% !important;
    }
    .footer {
        width: 100%;
        padding-right: 16px;
    }
    .footerCollapse {
        width: 100% !important;
    }
    .pageTitle {
        font-size: 22px !important;
        margin-bottom: 8px !important;
    }
    .mat-dialog-container {
        padding: 16px !important;
    }
}

.mat-tab-label {
    min-width: 60px !important;
    width: 100%;
    max-width: 160px;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #0C3A47 !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #0C3A47 !important;
}

// END DATEPICKER ANGULAR MATERIAL STYLE

/* Styles for the ink bar */

.mat-ink-bar {
    background-color: #0C3A47 !important;
}

// overwrite the checkbox background
.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #14657b !important;
}

// overwrite the ripple disabled
.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    opacity: 0.5;
}

//buttons
.ghost-round {
    cursor: pointer;
    background: none;
    border: 2px solid #FDDCBF;
    border-radius: 25px;
    color: #FDDCBF;
    font-size: 1.2rem;
    font-family: roboto, sans-serif;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover {
        background-color: #0A2F3A;
    }
}

.btn-container {
    display: flex;
    button {
        display: flex;
        align-items: center;
        margin-left: 16px;
        justify-content: space-around;
        border-radius: 25px;
        font-size: 14px;
        padding: 10px 24px;
        color: #ffffff;
        background-color: #0C3A47;
        border: none;
        transition: all 200ms ease-in-out;
        &:hover {
            background-color: rgb(8, 42, 51);
        }
        p {
            line-height: 16px !important;
            margin: 0 0 0 8px !important;
        }
        .icon {
            display: grid;
            height: 16px;
            width: 16px;
        }
    }
}

.rounded-btn {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #14657b;
    color: #ffffff !important;
}

.filterTitle {
    display: flex;
    margin-left: 24px;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 60px;
    color: #0c3a47;
    cursor: pointer;
    border-radius: 24px;
    padding: 0;
    .filterIcon {
        height: 16px;
        width: 16px;
        display: grid;
    }
}

.mat-dialog-container {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
}

.pageTitle_ {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    color: #B4B4B4;
}

// DATE PICKER COLOR CONFIGURATION
.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head,
.bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
    background-color: #0C3A47 !important;
}

// SCROLL TABLES
.example-container {
    position: relative;
    min-height: 200px;
    .example-table-container {
        position: relative;
        max-height: 362px;
        overflow: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(204, 204, 204, 0.651);
            border-radius: 8px;
        }
        &::-webkit-scrollbar:vertical {
            width: 8px;
        }
    }
}

.example-container_ {
    position: relative;
    min-height: 200px;
    .example-table-container {
        position: relative;
        max-height: 270px;
        overflow: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(204, 204, 204, 0.651);
            border-radius: 8px;
        }
        &::-webkit-scrollbar:vertical {
            width: 8px;
        }
    }
}

.simple {
    &:hover {
        text-decoration: none;
    }
}

.report-link {
    margin-bottom: 10px;
    text-align: center;
}

.example-radio-button {
    margin: 5px;
}

.margin-r-5 {
    margin-right: 5px !important;
}

button:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none !important;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

// USER FORMS STYLE
form {
    .mid-col {
        width: 48%;
    }
    .box-margin-top-modal {
        margin: 0 !important;
    }
    .box {
        border: solid 1px rgb(179, 179, 179);
        margin-top: 20px;
        padding: 20px;
        p {
            background-color: rgb(255, 255, 255);
            padding: 0 8px;
        }
    }
    .box-inner {
        display: flex;
        justify-content: space-around;
    }
    .spaced {
        justify-content: space-between;
    }
    .flex-row {
        display: flex;
    }
    .errorInput {
        outline-style: auto !important;
        outline: red;
    }
    .errorMessageInput {
        color: red;
        font-size: 12px;
    }
    input:focus {
        outline: none;
    }
    *:focus {
        outline: none;
    }
    [type="date"] {
        background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    }
    [type="date"]::-webkit-inner-spin-button {
        display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
    }
    select:disabled {
        background-color: #C7C8C8 !important;
        color: #555;
        opacity: 1;
        border-radius: 4px;
        height: 34px;
        padding: 6px 12px;
    }
    .select-form {
        border-radius: 4px;
        height: 34px !important;
        padding: 6px 12px;
    }
    select {
        background-color: white;
        border-color: #C7C8C8 !important;
    }
    input:disabled {
        background-color: #C7C8C8 !important;
    }
    .legendPayment {
        display: flex;
        align-items: center;
        border-bottom: 2px solid rgb(216, 216, 216);
        border-top: 2px solid rgb(216, 216, 216);
        background-color: #0c3a47;
        justify-content: center;
        padding: 5px 10px;
        p {
            margin: 10px 0;
            color: white;
            font-size: 15px;
            background-color: #0c3a47;
        }
    }
    .height38 {
        height: 38px;
        margin-bottom: 8px;
    }
    .height-select-34 {
        border-radius: 4px;
        height: 34px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        padding: 6px 9px;
    }
    .marginBotEmail {
        margin-bottom: 30px;
    }
    .margin-top-36 {
        margin-top: 36px;
    }
    .margin-top-35 {
        margin-top: 35px;
    }
    .margin-top-34 {
        margin-top: 34px;
    }
    .margin-top-19 {
        margin-top: 19px;
    }
    .margin-top-21 {
        margin-top: 21px !important;
    }
    .margin-top-20 {
        margin-top: 20px !important;
    }
    .margin-tb-15 {
        margin: 15px 0 !important;
    }
    .margin-top-15 {
        margin-top: 15px !important;
    }
    .margin-top-95 {
        margin-top: 95px !important;
    }
    .margin-top-94 {
        margin-top: 94px !important;
    }
    .payee-company-country-group {
        margin-bottom: 15px;
    }
    .payee-form-no-status-mt {
        margin-top: 157px;
        margin-bottom: 11px
    }
    .payee-form-status-mt {
        margin-top: 237px;
        margin-bottom: 11px
    }
    .payee-form-status-not-confirmed-mt {
        margin-top: 158px;
        margin-bottom: 11px
    }
    .payee-form-status-modal-mt {
        margin-top: 158px;
        margin-bottom: 11px
    }
    .label-form {
        font-size: 14px;
        color: #82A5AF;
        font-weight: bold;
    }
    .country-city-list-legend {
        color: #9C9C9C;
        display: block;
        font-size: 15px !important;
    }
    .clabe {
        width: 210px;
        padding-left: 30px;
    }
    .cbu {
        width: 237px;
        padding-left: 30px;
    }
}

.field-height-36 {
    min-width: 150px;
    max-width: 210px;
    width: 100%;
    border-radius: 4px;
    height: 36px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 6px 9px;
}

.custom-scroll.mat-autocomplete-panel {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(204, 204, 204, 0.651);
        border-radius: 8px;
    }
}

.mat-tooltip {
    font-size: 12px !important;
}

.fullName-form-style {
    color: #82A5AF !important;
    font-weight: bold !important;
}

.action-icon-container {
    display: flex;
    .action-icon-style {
        height: 25px;
        width: 25px;
        margin: 5px;
        cursor: pointer;
    }
    .red-icon {
        color: rgb(201, 80, 80);
    }
    .green-icon {
        color: #30925f;
    }
    .blue-icon {
        color: #14657b;
    }
    .orangered-icon {
        color: orangered;
    }
}

.change-method-legend {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #B4B4B4;
    display: inline;
}

.filter-input {
    width: 250px;
    height: 36px;
    border: solid 1px rgb(169, 169, 169);
    margin-right: 16px;
    padding: 0 5px;
}

.short-filter-input {
    // width: 135px;
    height: 36px;
    border: solid 1px rgb(169, 169, 169);
    margin-right: 16px;
    padding: 0 5px;
}

.current-email-error {
    margin-top: -18px;
    margin-left: 10px;
}

@media (max-width: 375px) {
    .mat-tab-label {
        padding: 0 !important;
    }
}

@media only screen and (min-width: 1900px) {
    .example-table-container {
        max-height: 630px!important;
    }
    .example-container_ {
        .example-table-container {
            max-height: 500px;
        }
    }
}

.mat-cell {
    font-size: 11px;
}

.main-select {
    font-size: 12px;
    height: 30px;
}

.field-height-36 {
    font-size: 12px!important;
    height: 30px;
}

tr.example-element-row {
    height: 35px!important;
}

// tr.mat-footer-row, tr.mat-row {
//   height: 35px!important;
// }
.containerOption {
    position: absolute;
    z-index: 99;
    width: 317px;
    max-height: 125px;
    overflow-y: auto;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    .option {
        color: rgba(0, 0, 0, 0.87);
        padding: 0px 16px;
        line-height: 48px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        background: white;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
    }
    .option:hover {
        background: lightgray;
    }
}

@media (max-width: 960px) {
    .form-field {
        margin-bottom: 30px;
    }
}

#launcher {
    bottom: 60px !important;
}

//VALIDATION
.message-error-empty {
    margin-top: 9px;
    color: red;
    margin-left: 20px;
    font-size: 12px;
    float: right;
    padding-right: 32px;
}

@media only screen and (max-width: 960px) {
    .masterPage2 .pageTitle {
        text-align: center;
    }
    .masterPage2 .subtitle {
        text-align: center !important;
    }
}

.alertasFijas {
    color: red;
    font-size: 15px;
    font-weight: bolder;
}