<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="pageTitle">{{ 'TITLES.PENDING_MERCHANTS' | translate }}</div>

  <div class="margin32">

    <div class="processContainer">
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
        </div>

        <div class="example-table-container">
          <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows
                 matSortActive="lastUpdated" matSortDirection="desc">

            <ng-container matColumnDef="check">
              <th mat-header-cell *matHeaderCellDef>
                <input type="checkbox"
                       (change)="allCheckElement()"
                       id="allCheck"
                       checked/></th>
              <td mat-cell *matCellDef="let row">
                <input type="checkbox" (change)="addCheckElement(row)" id='{{row.id}}' checked/>
              </td>
            </ng-container>

            <!-- Company Column -->
            <ng-container matColumnDef="company" *ngIf="columns.indexOf('company') !== -1">
              <th mat-header-cell *matHeaderCellDef>{{columnNames.company}}</th>
              <td mat-cell *matCellDef="let row">{{row?.company}}</td>
            </ng-container>

            <!-- TAX ID Column -->
            <ng-container matColumnDef="taxId" *ngIf="columns.indexOf('taxId') !== -1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.taxId}}</th>
              <td mat-cell *matCellDef="let row">{{row?.taxId}}</td>
            </ng-container>

            <!-- FullName Column -->
            <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.fullName}}</th>
              <td mat-cell *matCellDef="let row">{{row?.fullName}}</td>
            </ng-container>

            <!-- LoginName Column -->
            <ng-container matColumnDef="loginName" *ngIf="columns.indexOf('loginName') !== -1">
              <th mat-header-cell *matHeaderCellDef>{{columnNames.loginName}}</th>
              <td mat-cell *matCellDef="let row">{{row?.email}}</td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.id}}</th>
              <td mat-cell *matCellDef="let row">{{row?.idNumber}}</td>
            </ng-container>

            <!-- Mobile Number Column -->
            <ng-container matColumnDef="mobileNumber" *ngIf="columns.indexOf('mobileNumber') !== -1">
              <th class="table-status" mat-header-cell *matHeaderCellDef>{{columnNames.mobileNumber}}</th>
              <td class="table-status" mat-cell *matCellDef="let row">{{row?.mobileNumber}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
  <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
    <button class="btn" (click)="processUsers()">{{ 'BUTTON_OPTION_INFO.PROCCES_MERCHANTS' | translate }}</button>
  </div>
</footer>
