
/* Structure */
table {
  width: 100%;
}

.space-between{
  justify-content: space-between;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:hover {
  background: #dcdcdc;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.detail-card {
  background: #e6e6e6;
  border: solid 1px #B4B4B4;
  flex: 1 1 auto;
}

select{
  box-sizing: border-box;
  height: 36px;
  padding-left: 8px;
  width: 150px;
  margin-left: 32px;
}

.total{
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #B4B4B4;
  height: 100%;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(124, 124, 124);
  margin-right: 32px;
    p{
      margin: 0px;
      line-height: 32px;
    }
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
}
.exchangeBox{
  height: 36px;
  margin-left: 32px;
  width: 250px;
  border: 1px solid rgb(216, 216, 216);
  display: flex;

    .leftBox{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;;
      height: 100%;
      background-color: #0c3a47;
        P{
          color: #cf955e;
          font-size: 20px;
          margin: 0px;
        }
    }
    
    .foreign{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      width: 50%;

        input{
          text-align: end;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;

        }

        p{
          margin: 0px;
          color: #B4B4B4;
          font-size: 20px;
        }
    }
}
input{
  border: none;
  padding-left: 8px;
  width: 60px;

  &:focus{
    outline: none;
  }
}

.processContainer{
  height: 300px;
}

.wrapperCommission {
  display: flex;
  border-bottom: 1px solid rgb(216, 216, 216);
  border-top: 1px solid rgb(216, 216, 216);
  background-color: #0c3a47;
  width: 514px;
  height: 30px;
  margin-left: 32px;

  .elementCommission {
    display: flex;
    margin-left: 21px;
    margin-right: 15px;

    p{
      margin: 5px 0px;
      color: #cf955e;
      font-size: 13px;
    }
  }
}

.rightHeaderContainer{
  display: flex;
  align-items: center !important;

}
.leftHeaderContainer{
  display: flex;
  align-items: center;
}

.countryInput {
  width: 200px;
  height: 36px;
  border: solid 1px rgb(169, 169, 169);
  margin-right: 16px;
  padding: 0 5px;
}

.bg-pm {
  .btn{
    background-color: #4782d3!important;
    color: #ffffff;
  }
}