.dashboard-container {
  display: flex;
  justify-content: space-between;
  min-height: 75vh;
}

.cards {
  max-width: 40%;
  width: 100%;
}

.tables {
  max-width: 50%;
  width: 100%;
}

@media (max-width: 1200px) {
  .dashboard-container {
    flex-direction: column;
  }

  .cards {
    max-width: 99%;
  }
  
  .tables {
    max-width: 99%;
  }
}

@media (max-width: 820px) {
  .cards {
    max-width: 100%;
  }
  
  .tables {
    max-width: 100%;
  }
}