<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <div class="flex">
    <div class="pageTitle">{{'TITLES.DASHBOARD'| translate }}</div>
  </div>

  <!-- SUPER_ADMIN AND ADMIN -->
  <div class="row dashboard-container" *ngIf="userSessionService.isSuperOrAdmin()">

    <div class="col-md-3 col-sm-4">

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_REGISTER' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.PAYEE_REGISTER">
      </app-dashboard-card>

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_COMPLETED_PAYMENTS' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.PAYMENT_ACCEPTED">
      </app-dashboard-card>

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_MONETARY' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.PAYMENT_MONETARY">
      </app-dashboard-card>

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_METHOD_WITH_CARD' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.METHOD_CARD">
      </app-dashboard-card>

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_PAYMENT_METHOD' | translate" style="margin-bottom: 0 !important;"
        [extendedUser]="extendedUser" [cardType]="cardTypeEnum.METHOD_DT">
      </app-dashboard-card>
    </div>

    <div class="col-md-4 col-sm-5">

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_ACTIVE' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.PAYEE_ACTIVE">
      </app-dashboard-card>

      <!--  STATISTICS  -->
      <app-pie-graphic [idChart]="2" [title]="'DASHBOARD.MONTHLY_COMPLETED_PAYMENT' | translate"
        [chartType]="chartType.TRANSACTION" [chartSubType]="chartSubType.MONETARY_BY_COUNTRY" [isDashboard]="true"
        [showIntervals]="false" [role]="role" [legendToLeft]="true" [extendedUser]="extendedUser">
      </app-pie-graphic>

      <app-bar-graphic [idChart]="1" [title]="'DASHBOARD.MONTHLY_COMPLETED_MONETARY' | translate"
        [chartType]="chartType.TRANSACTION" [chartSubType]="chartSubType.MONETARY_AMOUNT_PAYMENT" [isDashboard]="true"
        [showIntervals]="false" [role]="role" [extendedUser]="extendedUser">
      </app-bar-graphic>
    </div>

    <div class="col-md-5 col-sm-6">

      <!--  TABLE  -->
      <app-dashboard-table></app-dashboard-table>

      <!--  NOTIFICATION ISSUE TABLE  -->
      <app-table [extendedUser]="extendedUser" [type]="'NOTIFICATION'" [subType]="'ISSUE'"
        [isReceiver]="userSessionService.isSuperOrAdmin()" [isDashboard]="true">
      </app-table>


    </div>

  </div>

  <!-- Reseller -->
  <div class="dashboard-container" *ngIf="userSessionService.isReSeller()">

    <div class="cards">

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_COMPLETED_COMISSION' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.RE_SELLER_COMMISSION">
      </app-dashboard-card>

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_COMPLETED_COMISSION' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.PAYMENT_MONETARY">
      </app-dashboard-card>

      <app-pie-graphic [idChart]="2" [title]="'DASHBOARD.MONTHLY_COMPLETED_PAYMENT' | translate"
        [chartType]="chartType.TRANSACTION" [chartSubType]="chartSubType.MONETARY_BY_COUNTRY" [isDashboard]="true"
        [showIntervals]="false" [role]="role" [legendToLeft]="true" [extendedUser]="extendedUser">
      </app-pie-graphic>

    </div>

    <div class="tables">
      <!--  PAYMENTS TABLE  -->
      <app-dashboard-table></app-dashboard-table>

      <!--  NOTIFICATION ISSUE TABLE  -->
      <app-table [extendedUser]="extendedUser" [type]="'NOTIFICATION'" [subType]="'ISSUE'"
        [isReceiver]="userSessionService.isSuperOrAdmin()" [isDashboard]="true">
      </app-table>
    </div>

  </div>

  <!-- MERCHANT -->
  <div class="dashboard-container" *ngIf="userSessionService.isMerchant()">

    <div class="cards">
      <div class="row">
        <div class="col-md-6">
          <app-dashboard-card [title]="'DASHBOARD.MONTHLY_ACTIVE' | translate" [extendedUser]="extendedUser"
            [cardType]="cardTypeEnum.PAYEE_ACTIVE">
          </app-dashboard-card>
        </div>
        <div class="col-md-6">
          <app-dashboard-card [title]="'DASHBOARD.MONTHLY_MERCHANT' | translate" [extendedUser]="extendedUser"
            [cardType]="cardTypeEnum.PAYMENT_MONETARY_MERCHANT">
          </app-dashboard-card>
        </div>
      </div>
      <app-pie-graphic [idChart]="2" [title]="'DASHBOARD.MONTHLY_COMPLETED_PAYMENT' | translate"
        [chartType]="chartType.TRANSACTION" [chartSubType]="chartSubType.MONETARY_BY_COUNTRY" [isDashboard]="true"
        [showIntervals]="false" [role]="role" [legendToLeft]="true" [extendedUser]="extendedUser">
      </app-pie-graphic>

    </div>

    <div class="tables">
      <!--  TABLE  -->
      <app-dashboard-table></app-dashboard-table>

      <!--  TABLE  -->
      <app-table [extendedUser]="extendedUser" [type]="'NOTIFICATION'" [subType]="'ISSUE'"
        [isReceiver]="userSessionService.isSuperOrAdmin()" [isDashboard]="true">
      </app-table>
    </div>

  </div>

  <!-- PAYEE -->
  <div class="dashboard-container" *ngIf="userSessionService.isPayee()">

    <div class="cards">

      <app-dashboard-card [title]="'DASHBOARD.MONTHLY_PAYMENT_VOLUME' | translate" [extendedUser]="extendedUser"
        [cardType]="cardTypeEnum.PAYMENT_MONETARY">
      </app-dashboard-card>

      <app-pie-graphic [idChart]="2" [title]="'DASHBOARD.MONTHLY_PAYMENT_AMOUNTS_COMPLETED_MERCAHNT' | translate"
        [chartType]="chartType.TRANSACTION" [chartSubType]="chartSubType.MONETARY_BY_MERCHANT" [isDashboard]="true"
        [showIntervals]="false" [role]="role" [legendToLeft]="true" [extendedUser]="extendedUser">
      </app-pie-graphic>

    </div>

    <div class="tables">
      <!--  TABLE  -->
      <app-dashboard-table></app-dashboard-table>

      <!--  ISSUE TABLE  -->
      <app-table [extendedUser]="extendedUser" [type]="'NOTIFICATION'" [subType]="'ISSUE'"
        [isReceiver]="userSessionService.isSuperOrAdmin()" [isDashboard]="true">
      </app-table>
    </div>

  </div>

</div>