<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
  <p class="pageTitle_">Generated user file</p>
  <div class="full-width flex-end"><button class="rounded-btn" (click)="refresh()"><i-feather name="refresh-ccw"></i-feather></button></div>
  <div class="tableContainer">
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
      </div>

      <div class="example-table-container">
        <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows
               matSortActive="dateCreated" matSortDirection="desc" class="mat-elevation-z8">

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>{{columnNames.action}}</th>
            <td mat-cell *matCellDef="let row">
              <i-feather name="download-cloud"></i-feather>
            </td>
          </ng-container>

          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef>{{columnNames.fileName}}</th>
            <td mat-cell *matCellDef="let row">
              <div class="fileBox">
                <a download="{{getFilePath(row?.fileName, 'downloadName')}}" target="_blank"
                   href="{{getFilePath(row?.fileName, 'pathLink')}}">
                   {{ row?.fileName ?  getFilePath(row?.fileName, 'fileName') : 'Processing...' }}
                </a>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.dateCreated}}</th>
            <td mat-cell *matCellDef="let row">{{row?.dateCreated | date:'MMM d, y, h:mm a'}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{columnNames.status}}</th>
            <td mat-cell *matCellDef="let row"
                [style.color]="statusesColor[row?.status]">{{statuses[row?.status]}}</td>
          </ng-container>

          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>{{columnNames.country}}</th>
            <td mat-cell *matCellDef="let row">{{row?.bank?.country?.name}}</td>
          </ng-container>

          <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef>{{columnNames.bank}}</th>
            <td mat-cell *matCellDef="let row">{{row?.bank?.name}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>
        </table>

        <mat-paginator (click)="changePaginationHandler()"
                       [length]="resultsLength"
                       [pageSize]="pageSize">
        </mat-paginator>

      </div>
    </div>
  </div>
</div>
