.pageTitle{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    color: #B4B4B4;
  }

.pageMasterContainer{
    padding: 32px;
}


/* Structure */

table{
    width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.table{
    background-color: #ffffff;
    font-family: Roboto;
    box-shadow: 0px 73px 90px rgba(0, 0, 0, 0.25);
    border-collapse: collapse !important;
    p{
        display: flex;
        align-items: center;
        margin: 0px;
        height: 36px;
    }

}
table th:first-child{
    width: 50px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;
    text-align: center;


}
table td:first-child{
    font-size: 23px;
    width: 50px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;
    color: #0C3A47;
    text-align: center;

}

table th:nth-child(2),
table td:nth-child(2) {
    width: 100px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;
}

table th:nth-child(3){

    border-top: none;
    border-bottom: solid 1px #D7D7D7;
}
table td:nth-child(3) {
    width: 150px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;

}

table th:nth-child(4),
table td:nth-child(4) {
    width: 80px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;
}

table th:nth-child(5),
table td:nth-child(5) {
    width: 80px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;
}

table th:nth-child(6),
table td:nth-child(6) {
    width: 100px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;

}

table th:last-child,
table td:last-child {
    width: 200px;
    border-top: none;
    border-bottom: solid 1px #D7D7D7;
}

.fileBox{
    height: auto;
    width: 95%;
    margin: 0 16px;
    border-radius: 5px;
    background-color: #DCF2DD;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

        a{
            color: #385F3A;
            font-size: 14px;
            font-family: roboto;
            margin: 0px;
            padding-left: 16px;
            font-weight: bold;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
}

.span{
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #D7D7D7;
    height: 20px ;
}

.clickable{
    cursor: pointer;
}

.verticalSeparator{
    color: #D7D7D7;
    text-align: center;
}

