<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
    <div class="pageTitle"> {{'TITLES.PAYMENT_IN_PROCESS'| translate }}</div>
    <div class="header">
        <div class="leftHeaderContainer">
            <label for="countryFilter" style="margin-right: 16px">{{'REPORTS_MESSAGES.CHOOSE_COUNTRY'| translate }}</label>
            <form [formGroup]="countryForm">
                <input type="text" class="countryInput" id="countryFilter" formControlName="countryPayee" [matAutocomplete]="postalP" [placeholder]="'BUTTON_OPTION_INFO.START_TYPING_COUNTR' | translate">
                <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry" (optionSelected)="onChangeCountry()">
                    <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
                        {{country.name}}
                    </mat-option>
                </mat-autocomplete>
            </form>

            <select *ngIf="seeBank" name="bank" id="banks" (change)="selectBank($event)">
        <option selected disabled>{{'REPORTS_MESSAGES.SELECT_BANK'| translate }}</option>
        <option *ngFor="let bank of banks" value="{{bank.id}}">{{bank.name}}</option>
      </select>

            <select *ngIf="bankId" name="bankAccount" id="bankAccount" (change)="selectBankAccount($event)">
        <option selected disabled>{{'REPORTS_MESSAGES.SELECT_ACCOUNT'| translate }}</option>
        <option *ngFor="let bankAccount of bankAccounts"
                value="{{bankAccount.id}}"> {{bankAccount.accountNumber}}</option>
      </select>
        </div>
    </div>


    <div class="margin-top-16" [ngClass]="(changeClass==1)?'bg-pm':''">

        <div class="processContainer" *ngIf="bankAccountId">
            <div class="example-container mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
                </div>

                <div class="example-table-container">
                    <table mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows matSortActive="lastUpdated" matSortDirection="desc" class="mat-elevation-z8">

                        <ng-container matColumnDef="check">
                            <th mat-header-cell *matHeaderCellDef>
                                <input type="checkbox" (change)="allCheckElement()" id="allCheck" /></th>
                            <td mat-cell *matCellDef="let row">
                                <input type="checkbox" (change)="addCheckElement(row)" id='{{row.id}}' />
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
                            <th mat-header-cell *matHeaderCellDef class="center">{{columnNames.id}}</th>
                            <td mat-cell *matCellDef="let row" class="center">{{row?.id}}</td>
                        </ng-container>

                        <ng-container matColumnDef="admin" *ngIf="columns.indexOf('admin') !== -1">
                            <th mat-header-cell *matHeaderCellDef class="center">{{columnNames.admin}}</th>
                            <td mat-cell *matCellDef="let row" class="center">{{row?.admin?.fullName}}</td>
                        </ng-container>

                        <ng-container matColumnDef="merchant" *ngIf="columns.indexOf('merchant') !== -1">
                            <th mat-header-cell *matHeaderCellDef class="center">{{columnNames.merchant}}</th>
                            <td mat-cell *matCellDef="let row" class="center">{{row?.merchant?.company}}</td>
                        </ng-container>

                        <ng-container matColumnDef="payee" *ngIf="columns.indexOf('payee') !== -1">
                            <th mat-header-cell *matHeaderCellDef>{{columnNames.payee}}</th>
                            <td mat-cell *matCellDef="let row">
                                <i-feather class="icon-style" [matTooltip]="row?.payee?.user?.payeeAsCompany ? 'Business Accounts' : 'Payee'" [matTooltipPosition]="positionOptions" [name]="row?.payee?.user?.payeeAsCompany ? 'home' : 'user'">
                                </i-feather>&nbsp; {{ row?.payee?.user?.payeeAsCompany ? (row?.payee?.company ? row?.payee?.company : 'Profile not confirmed') : row?.payee?.fullName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="lastUpdated" *ngIf="columns.indexOf('lastUpdated') !== -1">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnNames.lastUpdated}}</th>
                            <td mat-cell *matCellDef="let row">{{row?.lastUpdated | date}}</td>
                        </ng-container>

                        <ng-container matColumnDef="amountBeforeCommission" *ngIf="columns.indexOf('amountBeforeCommission') !== -1">
                            <th mat-header-cell *matHeaderCellDef>{{columnNames.amountBeforeCommission}} [{{environment.defaultCurrency}}]
                            </th>
                            <td mat-cell *matCellDef="let row"> {{row?.amountBeforeCommission | currency}}</td>
                        </ng-container>

                        <ng-container matColumnDef="amountAfterCommission" *ngIf="columns.indexOf('amountAfterCommission') !== -1">
                            <th mat-header-cell *matHeaderCellDef>{{columnNames.amountAfterCommission}}</th>
                            <td mat-cell *matCellDef="let row">{{ row?.amountAfterCommission | currency}}</td>
                        </ng-container>

                        <ng-container matColumnDef="amountLocalCurrency">
                            <th mat-header-cell *matHeaderCellDef>{{columnNames.amountLocalCurrency}}</th>
                            <td mat-cell *matCellDef="let row">{{ row?.amountLocalCurrency | currency}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row"></tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
    <div *ngIf="bankAccountId"><textarea class="reason-textarea" [placeholder]="'REPORTS_MESSAGES.STATUS_REASON' | translate" [(ngModel)]="statusReason"></textarea></div>
    <div class="btn-container" *ngIf="bankAccountId" [ngClass]="(changeClass==1)?'bg-pm':''">
        <button class="acceptCreated" (click)="changePaymentStatus('ACCEPT')">{{'BUTTON_OPTION_INFO.ACCEPT'| translate }}</button>
        <button class="cancelCreated" (click)="changePaymentStatus('REJECT')">{{'BUTTON_OPTION_INFO.REJECT'| translate }}</button>
    </div>
</footer>