/* Structure */

table {
    width: 100%;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-style {
    height: 15px;
    width: 15px;
    color: #9E9E9E;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:hover {
    background: #dcdcdc;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-description {
    padding: 16px;
}

.detail-card {
    background: #e6e6e6;
    border: solid 1px #B4B4B4;
    flex: 1 1 auto;
}

select {
    box-sizing: border-box;
    height: 36px;
    padding-left: 8px;
    width: 150px;
    margin-left: 32px;
}

.btn-container {
    display: flex;
    .cancelCreated {
        font-family: roboto, sans-serif;
        border-radius: 20px;
        border: none;
        background-color: rgb(201, 80, 80);
        color: #ffffff;
        font-size: 20px;
        padding: 6px 16px;
        margin-left: 8px;
        transition: all 300ms ease-in-out;
        &:hover {
            background-color: rgb(180, 61, 61);
        }
        &:focus {
            outline: none;
        }
    }
    .acceptCreated {
        font-family: roboto, sans-serif;
        border-radius: 20px;
        border: none;
        background-color: #3e9668;
        color: #ffffff;
        font-size: 20px;
        padding: 6px 16px;
        margin-left: 8px;
        transition: all 300ms ease-in-out;
        &:hover {
            background-color: #257e50;
        }
        &:focus {
            outline: none;
        }
    }
}

.total {
    display: flex;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    color: #B4B4B4;
    height: 100%;
    font-size: 30px;
    color: rgb(124, 124, 124);
    margin-right: 32px;
    p {
        margin: 0;
        line-height: 32px;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
}

.exchangeBox {
    height: 36px;
    margin-left: 32px;
    width: 250px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    .leftBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        ;
        height: 100%;
        background-color: #0c3a47;
        P {
            color: #cf955e;
            font-size: 20px;
            margin: 0;
        }
    }
    .foreign {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 50%;
        input {
            text-align: end;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        p {
            margin: 0;
            color: #B4B4B4;
            font-size: 20px;
        }
    }
}

input {
    border: none;
    padding-left: 8px;
    width: 60px;
    &:focus {
        outline: none;
    }
}

.processContainer {
    height: 300px;
}

.wrapperCommission {
    display: flex;
    border-bottom: 1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    background-color: #0c3a47;
    width: 514px;
    height: 30px;
    margin-left: 32px;
    .elementCommission {
        display: flex;
        margin-left: 21px;
        margin-right: 15px;
        p {
            margin: 5px 0;
            color: #cf955e;
            font-size: 13px;
        }
    }
}

.rightHeaderContainer {
    display: flex;
    align-items: center !important;
}

.leftHeaderContainer {
    display: flex;
    align-items: center;
}

.reason-textarea {
    border-radius: 4px;
    resize: none;
    width: 550px;
    height: 65px;
    margin-right: 20px;
}

.countryInput {
    height: 36px;
    width: 200px;
    border: solid 1px rgb(169, 169, 169);
    margin-right: 16px;
    padding: 0 5px;
}

.bg-pm {
    .leftBox {
        background-color: white !important;
        p {
            color: black !important;
        }
    }
    .wrapperCommission {
        background-color: #777;
        .elementCommission {
            p {
                margin: 5px 0px;
                color: #ffffff;
                font-size: 13px;
            }
        }
    }
    .cancelCreated {
        background-color: #777;
        color: #ffffff;
        &:hover {
            background-color: #777;
        }
    }
    .acceptCreated {
        background-color: #4782d3;
        color: #ffffff;
        &:hover {
            background-color: #4782d3;
        }
    }
}

.pageTitle {
    font-weight: bold;
}

.center {
    text-align: center;
}