// TABLA
table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}


tr.example-element-row:hover {
  background: #dcdcdc;
}

.example-element-row td {
  border-bottom-width: 0;
}


.mat-header-cell  {
  text-align: center !important;
  justify-content: center !important;
}

.mat-cell {
  text-align: center !important;
  justify-content:center !important;
}

.label-text{
  width: 150px;
}

.bodyContent {
  margin: 15px 0;
  height: calc(100vh - 240px);
  width: 100%;
  display: flex;
}

.tableShadow {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.openModalBtn{
  font-family: roboto, sans-serif;
  border-radius: 20px;
  border: none;
  background-color: #0c3a47;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: rgb(8, 42, 51);
  }

  &:focus {
    outline:none;
  }
}
