<!-- TABLE -->
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
  </div>

  <div class="example-table-container ">

    <table mat-table [dataSource]="dataTable" matSort matSortDisableClear multiTemplateDataRows
           matSortActive="lastUpdated" matSortDirection="desc" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.id}}</th>
        <td mat-cell *matCellDef="let row">{{row?.idNumber}}</td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="company" *ngIf="columns.indexOf('company') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.company}}</th>
        <td mat-cell *matCellDef="let row">{{row?.company}}</td>
      </ng-container>

      <!-- FullName Column -->
      <ng-container matColumnDef="fullName" *ngIf="columns.indexOf('fullName') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.fullName}}</th>
        <td mat-cell *matCellDef="let row">{{row?.fullName}}</td>
      </ng-container>

      <!-- Reseller Commission -->

      <!-- Reseller Fixed Commission -->
      <ng-container matColumnDef="commissionFixed" *ngIf="columns.indexOf('commissionFixed') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.commissionFixed}}</th>
        <td mat-cell *matCellDef="let row">
          {{row?.resellerFixedCommission ? (row?.resellerFixedCommission | currency) : 0}}
        </td>
      </ng-container>


      <!-- Reseller Percentage Commission -->
      <ng-container matColumnDef="commissionPercentage" *ngIf="columns.indexOf('commissionPercentage') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.commissionPercentage}}</th>
        <td mat-cell *matCellDef="let row">
          {{row?.resellerPercentageCommission ? (row?.resellerPercentageCommission | percent:'1.2') : 0}}
        </td>
      </ng-container>
      <!-- End Reseller Commission -->

      <!-- Bank Commission Column -->
      <ng-container matColumnDef="bankCommission" *ngIf="columns.indexOf('bankCommission') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.bankCommission}}</th>
        <td mat-cell *matCellDef="let row">{{(row?.bankCommission ? row?.bankCommission : 0) | percent:'1.2'}}</td>
      </ng-container>

      <!-- Fx Commission Column -->
      <ng-container matColumnDef="fxCommission" *ngIf="columns.indexOf('fxCommission') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.fxCommission}}</th>
        <td mat-cell *matCellDef="let row">{{(row?.fxCommission ? row?.fxCommission : 0) | percent:'1.2'}}</td>
      </ng-container>

      <!-- Recharge Cost Column -->
      <ng-container matColumnDef="rechargeCost" *ngIf="columns.indexOf('rechargeCost') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.rechargeCost}}</th>
        <td mat-cell *matCellDef="let row">{{(row?.rechargeCost ? row?.rechargeCost : 0) | currency}}</td>
      </ng-container>

      <!-- Use Merchant Commission Column -->
      <ng-container matColumnDef="useMerchantCommission" *ngIf="columns.indexOf('useMerchantCommission') !== -1">
        <th mat-header-cell *matHeaderCellDef>{{columnNames.useMerchantCommission}}</th>
        <td mat-cell *matCellDef="let row">{{row?.useMerchantCommission ? 'YES' : 'NO'}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th class="table-action" mat-header-cell style="width: 300px !important;"
            *matHeaderCellDef>{{columnNames.action}}</th>
        <td class="table-action" mat-cell *matCellDef="let row">
          <button class="openModalBtn"
                  (click)="callOpenCommissionEditModal(row)">{{ 'BUTTON_OPTION_INFO.EDIT' | translate}}</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" class="example-element-row">
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>