<form [formGroup]="bankForm">
    <div *ngIf="bankPaymentMethod">
        <label class="subtitle">{{ 'TEXT.BANK_INFORMATION' | translate }}</label>
        <!-- ID 1 = COLOMBIA -->
        <div [ngSwitch]="countryPostalId">
            <div class="row" *ngSwitchCase="1" style="margin-bottom: 33px;">
                <div class="row">
                    <div class="col-md-3">
                        <label for="bank" class="label-form">{{ 'DATA_TABLE.BANK' | translate }}</label>
                        <select formControlName="bank" class="full-width height38" name="bank" id="bank" [ngClass]="{'errorInput': bank.invalid && bankFormInvalid}">
                            <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate }}
                            </option>
                            <option [selected]="bank.id == extendedUser?.bankAccountNumber" *ngFor="let bank of banks" [ngValue]="bank.id">
                                {{bank.name}}</option>
                            </select>
                    </div>
                    <div class="col-md-3 bank-city">
                        <!-- <label for="city" class="label-form">{{ 'PROFILE.CITY' | translate }}</label> -->
                        <!-- <app-autocomplete-input #CityAutocomplete id="city"
                                            [elementPlaceholder]="'PLACEHOLDER.START_TYPING_CITY_NAME' | translate" [inputForm]="bankForm"
                                            [inputFormControlName]="'bankCity'" [countryId]="countryPostalId" [type]="autocompleteType.CITY"
                                            [invalidInput]="bankFormInvalid"
                                            [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile"
                                            [noElementSelect]="noPostalCitySelected" [invalidInput]="payeeFormInvalid"
                                            (elementChange)="noPostalCitySelected = false" (setNoElementSelected)="noPostalCitySelected = $event"
                                            [changeCountry]="changeCountry">
                                          </app-autocomplete-input> -->

                        <app-drow-box [inputForm]="bankForm" [inputFormControlName]="'bankCity'" [countryId]="countryPostalId" [type]="drownBoxType.CITY" [invalidInput]="bankFormInvalid" [changeCountry]="changeCountry" (elementChange)="noPostalCitySelected = false" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile">
                        </app-drow-box>
                    </div>
                    <div class="col-md-3">
                        <label for="bankAccountType" class="label-form">{{ 'PROFILE.BANK_ACCOUNT_TYPE' | translate
                            }}</label>
                        <select formControlName="bankAccountType" class="full-width height38" name="bankAccountType" id="bankAccountType" maxlength="14" [ngClass]="{'errorInput': bankAccountType.invalid && bankFormInvalid}">
                            <option *ngFor="let value of keys(accountType)" [value]="value">{{accountType[value]}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="bankAccountNumber" class="label-form">{{ 'PROFILE.BANK_ACCOUNT' | translate
                            }}</label>
                        <input formControlName="bankAccountNumber" maxlength="16" id="bankAccountNumber" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': bankAccountNumber.invalid && bankFormInvalid}" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile"
                            type="text" class="form-control height38" />
                        <mat-error class="errorMsg" *ngIf="bankAccountNumber.invalid && bankFormInvalid">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_BANK_FORM_COLOMBIA' | translate }}
                        </mat-error>
                    </div>
                </div>
            </div>
            <!-- inicio Perú -->
            <div class="row" *ngSwitchCase="101" style="margin-bottom: 33px;">

                <div class="row">

                    <div class="col-md-3">
                        <label for="bank" class="label-form">{{ 'DATA_TABLE.BANK' | translate }}</label>
                        <select (change)="onchangeBanco($event.target.value)" formControlName="bank" class="full-width height38" name="bank" id="bank" [ngClass]="{'errorInput': bank.invalid && bankFormInvalid}">
                            <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate }}
                            </option>
                            <option [selected]="bank.id == extendedUser?.bankAccountNumber" *ngFor="let bank of banks"
                                [ngValue]="bank.id">{{bank.name}}</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="bankAccountType" class="label-form">{{ 'PROFILE.BANK_ACCOUNT_TYPE' | translate
                            }}</label>
                        <select (change)="onchangeTipoCuenta($event.target.value)" formControlName="bankAccountType" class="full-width height38" name="bankAccountType" id="bankAccountType" maxlength="14" [ngClass]="{'errorInput': bankAccountType.invalid && bankFormInvalid}">
                            <option *ngFor="let value of keys(accountType)" [value]="value">{{accountType[value]}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="bankAccountNumber" class="label-form">{{ 'PROFILE.BANK_ACCOUNT' | translate
                            }}</label>
                        <input formControlName="bankAccountNumber" [maxlength]="maxcuenta" [minLength]="maxcuenta" id="bankAccountNumber" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': bankAccountNumber.invalid && bankFormInvalid}"
                            [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile" type="text" class="form-control height38" />
                        <mat-error class="errorMsg" *ngIf="bankAccountNumber.invalid && bankFormInvalid">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.MAX_BANK_ACOUNT_PERU' | translate}}{{maxcuenta}}{{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                        </mat-error>
                    </div>
                </div>
            </div>
            <!-- fin Perú -->



            <!-- inicio Venezuela -->



            <div class="row" *ngSwitchCase="115" style="margin-bottom: 33px;">

                <div class="row">

                    <div class="col-md-3">
                        <label for="bank" class="label-form">{{ 'DATA_TABLE.BANK' | translate }}</label>
                        <select formControlName="bank" class="full-width height38" name="bank" id="bank" [ngClass]="{'errorInput': bank.invalid && bankFormInvalid}">
                                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate }}
                                        </option>
                                        <option [selected]="bank.id == extendedUser?.bankAccountNumber" *ngFor="let bank of banks"
                                            [ngValue]="bank.id">{{bank.name}}</option>
                                    </select>
                    </div>

                    <div class="col-md-3">
                        <label for="bankAccountType" class="label-form">{{ 'PROFILE.BANK_ACCOUNT_TYPE' | translate
                                        }}</label>
                        <select formControlName="bankAccountType" class="full-width height38" name="bankAccountType" id="bankAccountType" maxlength="14" [ngClass]="{'errorInput': bankAccountType.invalid && bankFormInvalid}">
                                        <option *ngFor="let value of keys(accountType)" [value]="value">{{accountType[value]}}
                                        </option>
                                    </select>
                    </div>

                    <div class="col-md-3">
                        <label for="bankAccountNumber" class="label-form">{{ 'PROFILE.BANK_ACCOUNT' | translate
                                        }}</label>
                        <input formControlName="bankAccountNumber" maxlength=20 minlength=20 id="bankAccountNumber" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': bankAccountNumber.invalid && bankFormInvalid}" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile"
                            type="text" class="form-control height38" />
                        <mat-error class="errorMsg" *ngIf="bankAccountNumber.invalid && bankFormInvalid">
                            {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.MAX_BANK_ACOUNT_PERU' | translate}} 20 {{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.DIGITS' | translate}}
                        </mat-error>
                    </div>
                </div>
            </div>



            <!-- fin Venezuela -->





            <div class="full-width flex-row" *ngSwitchCase="2">
                <!-- ID 2 = MEXICO -->
                <div class="field">
                    <label for="clabe" class="label-form">{{ 'TEXT.CLABE' | translate }}</label>
                    <input formControlName="clabeBankAccountNumber" [ngClass]="{'errorInput': clabeBankAccountNumber.invalid && bankFormInvalid}" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile"
                        type="text" id="clabe" maxlength="18" class="form-control height38 clabe" />
                    <p *ngIf="clabeBankAccountNumber.invalid && bankFormInvalid" class="errorMessage">
                        {{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.CLABE_18_NUMBERS' | translate}}
                    </p>
                </div>
            </div>
            <div class="full-width flex-row" *ngSwitchCase="66">
                <!-- ID 66 = ARGENTINA -->
                <div class="field">
                    <label for="cbu" class="label-form">CBU / CVU</label>
                    <input formControlName="cbuBankAccountNumber" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': cbuBankAccountNumber.invalid && bankFormInvalid}" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile"
                        type="text" id="cbu" maxlength="22" class="form-control height38 cbu" />
                    <p *ngIf="cbuBankAccountNumber.invalid && bankFormInvalid" class="errorMessage">
                        {{'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.CBU_MUST_HAVE_NUMBERS' | translate}}
                    </p>
                </div>
            </div>
            <div class="full-width flex-row" *ngSwitchCase="74">
                <!-- ID 74 = BRAZIL -->
                <div class="field">
                    <label for="bank" class="label-form">{{ 'DATA_TABLE.BANK' | translate }}</label>
                    <select formControlName="bank" class="full-width height38" name="bank" id="bank" [ngClass]="{'errorInput': bank.invalid && bankFormInvalid}">
                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate }}
                        </option>
                        <option *ngFor="let bank of banks" [ngValue]="bank.id">{{bank.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="bankBranch" class="label-form">{{ 'TEXT.BANK_BRANCH' | translate }}</label>
                    <input formControlName="bankBranch" id="bankBranch" maxlength="4" name="bankBranch" [ngClass]="{'errorInput': bankBranch.invalid && bankFormInvalid}" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile" type="text"
                        class="form-control height38">
                    <mat-error class="errorMsg" *ngIf="bankBranch.invalid && bankFormInvalid">
                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.NUMBER_BANK_BRANCH' | translate }}
                    </mat-error>
                </div>
                <div class="field">
                    <label for="bankAccountType" class="label-form">{{ 'PROFILE.BANK_ACCOUNT_TYPE' | translate
                        }}</label>
                    <select formControlName="bankAccountType" class="full-width height38" name="bankAccountType" id="bankAccountType" [ngClass]="{'errorInput': bankAccountType.invalid && bankFormInvalid}">
                        <option *ngFor="let value of keys(accountType)" [value]="value">{{accountType[value]}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="bankAccountNumber" class="label-form">{{ 'PROFILE.BANK_ACCOUNT' | translate }}</label>
                    <input formControlName="bankAccountNumber" id="bankAccountNumber" minlength="6" maxlength="13" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': bankAccountNumber.invalid && bankFormInvalid}" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile"
                        type="text" class="form-control height38">
                    <mat-error class="errorMsg" *ngIf="bankAccountNumber.invalid && bankFormInvalid">
                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.NUMBER_BANK_COMPANY_BRAZIL' | translate }}
                    </mat-error>
                </div>
            </div>
            <div class="full-width flex-row" *ngSwitchCase="77">
                <!-- ID 77 = CHILE -->
                <div class="field">
                    <label for="bankAccountType" class="label-form">{{ 'PROFILE.BANK_ACCOUNT_TYPE' | translate
                        }}</label>
                    <select formControlName="bankAccountType" class="full-width height38" name="bankAccountType" id="bankAccountType" maxlength="14" [ngClass]="{'errorInput': bankAccountType.invalid && bankFormInvalid}">
                        <option *ngFor="let value of keys(accountType)" [value]="value"
                            [selected]="value == extendedUser?.bankAccountType">{{accountType[value]}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="bank" class="label-form">{{ 'DATA_TABLE.BANK' | translate }}</label>
                    <select formControlName="bank" [ngClass]="{'errorInput': bank.invalid }" class="full-width height38" name="bank" id="bank">
                        <option disabled selected [ngValue]="null">{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate }}
                        </option>
                        <option [selected]="bank.id == extendedUser?.bankAccountNumber" *ngFor="let bank of banks"
                            [ngValue]="bank.id">{{bank.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="bankAccountNumber" class="label-form">{{ 'PROFILE.BANK_ACCOUNT' | translate }}</label>
                    <input formControlName="bankAccountNumber" maxlength="13" id="bankAccountNumber" (keypress)="validacionInput($event, 'numeros')" onpaste="return false" [ngClass]="{'errorInput': bankAccountNumber.invalid }" [readonly]="userSessionService.haveStatus() && !modifyMode && extendedUser.confirmedProfile"
                        type="text" class="form-control height38">
                    <mat-error class="errorMsg" *ngIf="bankAccountNumber.invalid">
                        {{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.COMPLETE_RUT_10' | translate }}
                    </mat-error>
                </div>
            </div>
        </div>
        <div class="legendPayment" *ngIf="countryPostalId === 1 && modifyMode">
            <!-- ID 1 = Colombia -->
            <p>{{ 'BUTTON_OPTION_INFO.DIRECT_TRANSFER' | translate }}</p>
        </div>
    </div>
    <!---->
    <div *ngIf="!bankPaymentMethod">
        <div class="full-width flex-row spaced">
            <div class="col-4 form-group">
                <label for="cardNumber" *ngIf="seeCardNumber('PAYEE')">{{ 'PROFILE.CARD_NUMBER' | translate }}</label>
                <label for="cardNumber" *ngIf="seeCardNumber('ADMIN')">{{ 'PROFILE.CARD_NUMBER' | translate }}</label>
                <ng-container>
                    <div>
                        <p>Da clic en el siguiente botón para agregar los datos necesarios para tramitar tu tarjeta:</p>
                        <button class="btn" (click)="openDialogFormPaymentCard()">Tramita tu tarjeta</button>
                    </div>
                </ng-container>
                <!-- CARD NUMBER FOR PAYEE VIEW-->
                <!-- <input *ngIf="seeCardNumber('PAYEE')" formControlName="cardNumber" type="text" maxlength="19" id="cardNumber"
          class="form-control" style="width: 170px !important;" readonly> -->
                <!-- END
                  CARD NUMBER FOR PAYEE VIEW-->
                <!-- CARD NUMBER FOR ADMIN(SUPER) VIEW-->
                <!-- <input *ngIf="seeCardNumber('ADMIN') && !modifyMode" formControlName="cardNumber" type="text" maxlength="19"
          style="width: 200px !important;padding-left: 20px;" class="form-control" placeholder=""
          [readonly]="!modifyMode">
        <input *ngIf="seeCardNumber('ADMIN') && modifyMode" formControlName="cardNumber" type="text"
          style="width: 200px !important;padding-left: 20px;" maxlength="19" class="form-control"
          [value]="cardNumber.value | formatCardNumber"
          [ngClass]="{'errorInput': cardNumberError || cardNumberLettersError}"> -->
                <!-- END CARD NUMBER FOR ADMIN(SUPER) VIEW-->
            </div>
        </div>
        <div class="legendPayment" *ngIf="seeCardInProcessLegend()">
            <p>{{ 'BUTTON_OPTION_INFO.PROCESS_ACQUIRIND_CARD' | translate }}</p>
        </div>
    </div>
</form>