.flex-row {
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-width: 230px;
  flex: 1;
  margin-right: 1%;
  margin-bottom: 15px;
}

.cbu,
.clabe {
  max-width: 50%;
  width: 100%;
}

.subtitle {
  display: inline-block;
}

.height38 {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 0 8px;
  margin-bottom: 0;
}

@media (max-width: 565px) {
  .cbu,
  .clabe {
    max-width: 100%;
  }

  .bank-city {
    margin-bottom: 30px;
  }
}

.bank-city {
     margin-bottom: 30px;
  }

.button-card-payment {
  background-color: lightgray;
}

.card-class{
  font-size: 78px;
  color: cadetblue;
  cursor: pointer;
}

.btn{
  height: 2em;
  color: #235e6f;
  border: 1px solid #235e6f;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 300 !important;
  margin: 0 16px;
  line-height: 0;
  transition: all 200ms ease-in-out;

  &:hover{
    -webkit-box-shadow: 0 0 7px -2px rgba(112,112,112,1);
    -moz-box-shadow: 0 0 7px -2px rgba(112,112,112,1);
    box-shadow: 0 0 7px -2px rgba(112,112,112,1);
  }
}

.errorMessage {
  color: red;
  font-size: 12px;
} 

.errorMsg {
  width: 100%;
  height: 0px;
}

.bank-city {

  margin-bottom: 30px;

}