/* Structure */

table {
    width: 100%;
}

.theme-dark-blue {
    background-color: #0C3A47 !important;
}

.container-filter-header {
    display: flex;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

.example-element-row:hover {
    background: #dcdcdc;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-description {
    padding: 8px;
}

.filterContainer {
    padding-top: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tableContainer {
    margin-bottom: 100px;
}

.tagWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .tag {
        z-index: 1000;
        color: #ffffff;
        height: 25px;
        display: flex;
        align-items: center;
        padding: 4px 6px;
        margin-right: 4px;
        border-radius: 5px;
        &:last-child {
            margin-right: 0;
        }
        p {
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            margin: 0;
        }
        .cancel {
            margin-right: 3px;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            margin-right: 4px;
        }
         :first-of-type {
            margin-left: 0px;
        }
         :last-of-type {
            margin-right: 0px;
        }
    }
    .fatherTag {
        background-color: #45acc9;
        color: #ffffff;
    }
    .childTag {
        border: 1px solid #45acc9;
        color: rgb(117, 117, 117);
    }
}

.tagContainer {
    display: flex;
    margin-right: 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: #0C3A47;
    border: 2px solid #0C3A47;
    border-radius: 24px;
    padding: 0px 16px;
    line-height: 0;
    height: 48px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.24);
    &:hover {
        -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.68);
        -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.68);
    }
}

.dateBox {
    display: flex;
    align-items: center;
}

.btn2 {
    height: 2em;
    color: #0C3A47;
    border: 1px solid #0C3A47;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0 28px;
    font-size: 14px;
    font-weight: 300 !important;
    margin: 0px 16px;
    line-height: 0;
    transition: all 200ms ease-in-out;
    &:hover {
        -webkit-box-shadow: 0px 0px 7px -2px rgba(112, 112, 112, 1);
        -moz-box-shadow: 0px 0px 7px -2px rgba(112, 112, 112, 1);
        box-shadow: 0px 0px 7px -2px rgba(112, 112, 112, 1);
    }
}

.btn3 {
    background-color: #0C3A47;
    color: #ffffff;
}

.filterHeader {
    display: flex;
    align-items: center;
}

.filterName {
    flex: 1;
    label {
        margin: 0px;
        margin-right: 8px;
    }
}

.filterMasterContainer {
    -webkit-box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.24);
    margin-bottom: 16px;
    padding: 10px 24px;
}

.main-select {
    margin-right: 15px;
    margin-bottom: 16px;
}

.filter-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    select+input {
        margin-left: 16px;
    }
    .second-date {
        flex: 3;
        margin-left: 8px;
        input {
            margin-left: 8px;
        }
    }
}

.second-date-wrapper {
    select,
    input {
        flex: 2;
        min-width: 100px;
    }
}

.fullwidth {
    padding: 24px 56px;
}

.mat-column-expandedDetail {
    background: #FBF4EE;
}

.example-expanded-row {
    background: #FBF4EE;
}

.detail-card {
    flex: 1 1 auto;
    width: 858px;
    left: 454px;
    top: 381px;
    background: #EFE9E4;
    border-radius: 4px;
    border: solid 1px #B4B4B4;
    border-top: none;
    margin-bottom: 27px;
}

.detail-container {
    margin: 25px;
    .detail-row {
        margin-bottom: 3px;
    }
    .note-textarea {
        border-radius: 4px;
        resize: none;
        height: 75px;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
}

.icon-style {
    height: 15px;
    width: 15px;
    color: #9E9E9E;
}

.automatic-payment {
    width: 75%;
    border-radius: 5px;
    text-align: center;
    p {
        color: #0C3A47;
        font-size: 15px;
        display: inline-block;
        line-height: normal;
        margin: 0;
        font-weight: bold;
    }
}

.cancelCreated {
    font-family: roboto, sans-serif;
    border-radius: 20px;
    border: none;
    background-color: #E57373;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 8px;
    transition: all 300ms ease-in-out;
    &:hover {
        background-color: rgb(201, 80, 80);
    }
    &:focus {
        outline: none;
    }
}

.acceptCreated {
    font-family: roboto;
    border-radius: 20px;
    border: none;
    background-color: #37a96e;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 8px;
    transition: all 300ms ease-in-out;
    &:hover {
        background-color: #30925f;
    }
    &:focus {
        outline: none;
    }
}

.text-paddingLeft {
    padding-left: 70px;
}

.disabled-button {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #8f8f8f !important;
    cursor: default !important;
    &:hover {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
}

//COLLAPSE STYLE
th,
td {
    &:first-of-type,
    &:last-of-type {
        padding-left: 15px !important;
    }
    &:not(:first-of-type) {
        padding-left: 10px !important;
    }
}

//MOBILE STYLES
@media (max-width: 820px) {
    .filterName {
        width: 100%;
    }
    .field-height-36 {
        max-width: 100%;
        margin-right: 0;
    }
    .btn2 {
        flex: 1;
        margin: 0;
    }
    .filterMasterContainer {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 15px;
        padding: 10px;
    }
    .main-select {
        margin-right: 0;
    }
    .filterName {
        label {
            margin: 0px;
            margin-bottom: 8px;
        }
    }
    .filter-wrapper {
        flex-direction: column;
        align-items: flex-start;
        select+input {
            margin-left: 0;
            margin-top: 8px;
        }
        .second-date {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 0;
            input {
                margin-left: 0;
                margin-top: 3px;
            }
        }
    }
    .filterContainer {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    .dateBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    th,
    td {
        white-space: nowrap;
    }
    .tagContainer {
        margin-bottom: 8px;
    }
    button+button {
        margin-left: 5px;
    }
}

.example-payee-company {
    margin-left: 0 !important;
    display: flex;
    align-content: center;
    align-items: center;
    height: 45px;
    font-size: 12px;
}

.payee-company-container {
    display: flex;
    .title {
        display: flex;
        align-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin-right: 25px;
    }
}

.bg-pm {
    .theme-dark-blue {
        background-color: #4782d3;
    }
    .btn {
        background-color: #4782d3 !important;
        color: #ffffff;
        border: 1px solid #4782d3;
    }
    .btn2 {
        background-color: #4782d3 !important;
        color: #ffffff;
        border: 1px solid #4782d3;
    }
    .btn3 {
        background-color: #4782d3;
        color: #fff;
    }
    .cancelCreated {
        background-color: #777;
        color: #ffffff;
        &:hover {
            background-color: #777;
        }
    }
    .acceptCreated {
        background-color: #4782d3;
        color: #ffffff;
        &:hover {
            background-color: #4782d3;
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        -webkit-appearance: menulist-button !important;
        line-height: 36px !important;
    }
}


/* .action-icon-container {
    // display: block;
} */

mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
    padding-left: 4px;
}

mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
    padding-right: 4px;
}


/* mat-footer-row,
mat-row {
    min-height: 0px;
} */

.example-detail-row {
    min-height: 0px !important;
}

.columna4 {
    flex: 0 0 4%;
}

.columna5 {
    flex: 0 0 5%;
}

.columna10 {
    flex: 0 0 10%;
}

.columna15 {
    flex: 0 0 15%;
}

.columna20 {
    flex: 0 0 20%;
}

.columna25 {
    flex: 0 0 25%;
}

.center {
    text-align: center;
    place-content: center;
}

.left {
    text-align: left;
    place-content: flex-start;
}

.action-icon-container {
    display: flex;
}

@media screen and (max-width: 960px) {
    .btn-container button .icon {
        display: grid;
        height: 25px;
        width: 25px;
    }
    .btn-container button p {
        line-height: 16px !important;
        margin: 0 0 0 0px !important;
    }
    .action-icon-container {
        display: flex;
    }
    .col-1,
    .col-2,
    .col-3,
    .col-6,
    .col-7,
    .col-9 {
        // -ms-flex: 0 0 25%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .media,
    .mediaTitle {
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .action-icon-container {
        place-content: end;
    }
    .dimension {
        width: 25%;
        text-align: right;
    }
    button {
        margin-left: 0px;
    }
    .btn-container button {
        border-radius: 1px;
        place-content: center;
    }
    .footer {
        position: fixed;
        height: 15%;
        display: block;
        padding-right: 10px;
    }
    .btn-container {
        // display: block;
        margin-top: 27px;
    }
    .btn2 {
        height: 4em;
        width: 100%;
        padding: 0 0px;
        margin-left: 5px;
    }
    .example-container .example-table-container {
        position: unset;
        max-height: unset;
    }
    .example-container {
        position: unset;
        min-height: unset;
    }
    mat-header-cell {
        color: white;
    }
    .textarea {
        text-align: end;
        max-width: 100% !important;
        width: 75%;
        font-size: 12px;
    }
    .col10center,
    .col10left,
    .col15center,
    .col15left,
    .col25center,
    .col25left {
        text-align: right;
        place-content: end;
    }
    .left,
    .center {
        text-align: right;
        place-content: end;
    }
    .centerAct {
        text-align: center !important;
        place-content: center !important;
    }
    .mat-table {
        border: 0;
        vertical-align: middle
    }
    .mat-table caption {
        font-size: 11px;
    }
    .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
        min-height: 10px;
    }
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        // height: 30px;
        min-height: 45px;
        margin-bottom: 1%;
    }
    .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
        margin-top: 1%;
    }
    mat-cell:first-of-type,
    mat-footer-cell:first-of-type,
    mat-header-cell:first-of-type {
        padding-left: 0px !important;
    }
    mat-cell:last-of-type,
    mat-footer-cell:last-of-type,
    mat-header-cell:last-of-type {
        padding-right: 0px;
    }
    mat-cell {
        margin-left: 5px;
        margin-right: 5px;
    }
}