<app-message-notification #MessagesComp></app-message-notification>
<div class="masterPage2" [ngClass]="{'masterPage3' : menuCollapse.value}">
    <div class="flex">
        <div class="pageTitle"> {{'TITLES.LATEST_PAYMENTS'| translate }}</div>
    </div>

    <!-- FILTROS -->
    <div [ngClass]="{'filterMasterContainer': collapse}">
        <div class="row" [ngClass]="(changeClass==1)?'bg-pm':''">
            <div class="col-md-12">
                <div class="container-filter-header">
                    <div class="filterTitle" (click)="handleClickFilterToggle()">
                        <i-feather class="filterIcon" name="filter"></i-feather>
                        {{ 'BUTTON_OPTION_INFO.FILTER' | translate}}
                    </div>
                    <button class="btn2" (click)="cleanFilter()" *ngIf="countryFilter.length > 0 || nameAdmin.length > 0 || nameMerchant.length > 0
                   || namePayee.length > 0 || nameStatus.length > 0 || namePayeeCompany.length > 0
                   || dateEqual.length > 0 || dateIsBefore.length > 0 || dateIsAfter.length > 0
                   || dateBetween.length > 0 || onlyPayeeCompanyArr.length > 0 || nicknameArr.length > 0
                   || emailArr.length > 0 || idTransaction.length > 0">
                        {{ 'BUTTON_OPTION_INFO.CLEAN' | translate}}</button>
                    <button class="btn2 btn3" (click)="applyFilter()" *ngIf="showApplyFilter">{{
                        'BUTTON_OPTION_INFO.APPLY' |
                        translate}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="filterContainer row" *ngIf="collapse">
                    <div class="col-md-4">
                        <select class="field-height-36 main-select" id="filters" name="filters" (change)="addFilter($event)">
                            <option disabled selected>{{ 'BUTTON_OPTION_INFO.SELECT_FILTER'| translate}}</option>
                            <option value="country">{{ 'REPORTS_MESSAGES.COUNTRY'| translate}}</option>
                            <option value="status">{{ 'REPORTS_MESSAGES.STATUS'| translate}}</option>
                            <option value="date">{{ 'REPORTS_MESSAGES.DATE'| translate}}</option>
                            <option value="name">{{ 'REPORTS_MESSAGES.NAME'| translate}}</option>
                            <option value="nickname" *ngIf="userSessionService.isMerchant()">{{ 'TEXT.NICKNAME' |
                                translate }}
                            </option>
                            <option value="payeeCompany"
                                *ngIf="this.onlyPayeeCompanyArr.length === 0 && role !== roles.PAYEE">
                                {{ 'REPORTS_MESSAGES.DIFFERENTIATE_PAYEE'| translate}}
                            </option>
                            <option value="email">{{ 'TEXT.EMAIL'| translate}}</option>
                            <option value="idTransaction">{{ 'TEXT.ID_TRANSACTION'| translate}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <!-- NG-SWITCH -->
                        <div class="filterName" [ngSwitch]="filterName">
                            <div id="country" *ngSwitchCase="'country'">
                                <form [formGroup]="countryForm" class="filter-wrapper">
                                    <label for="countryFilter">{{ 'REPORTS_MESSAGES.COUNTRY'| translate}}</label>
                                    <input type="text" id="countryFilter" maxlength="30" formControlName="countryPayee" [matAutocomplete]="postalP" (keypress)="validacionInput($event, 'letras')" [placeholder]="'BUTTON_OPTION_INFO.START_TYPING_COUNTR' | translate" class="form-control field-height-36">
                                    <mat-autocomplete #postalP="matAutocomplete" [displayWith]="displayFnPayeeCountry" (optionSelected)="onChangeCountry()">
                                        <mat-option *ngFor="let country of filteredPayeeCountries | async" [value]="country">
                                            {{country.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </form>
                            </div>

                            <div class="payee-company-container filter-wrapper" id="payeeCompany" *ngSwitchCase="'payeeCompany'">
                                <label class="title" for="statusFilter">{{ 'BUTTON_OPTION_INFO.SEE'| translate}}</label>
                                <section class="example-section example-payee-company">
                                    {{ 'ERROR_MESSAGES.PAYEE'| translate}}
                                    <mat-slide-toggle class="example-margin" [checked]="checked" [disabled]="disabled" [(ngModel)]="onlyPayeeCompany">
                                        {{ 'BUTTON_OPTION_INFO.PAYEE_CAOMPANY_CAPITAL_LETTERS'| translate}}
                                    </mat-slide-toggle>
                                </section>
                            </div>

                            <div class="filter-wrapper" id="status" *ngSwitchCase="'status'">
                                <label for="statusFilter">{{ 'REPORTS_MESSAGES.STATUS'| translate}}</label>
                                <select id="statusFilter" name="statusFilter" [(ngModel)]="statusId" class="field-height-36">
                                    <option value="">{{ 'STATUS.ALL_STATUSES'| translate}}</option>
                                    <option *ngFor="let value of arrayStatusTraductor" [value]="value.key">
                                        {{(value.name).value}}</option>
                                </select>
                            </div>

                            <div class="filter-wrapper" id="name" *ngSwitchCase="'name'">
                                <label for="nameFilter">{{ 'BUTTON_OPTION_INFO.WHO' | translate }}</label>
                                <select id="nameFilter" name="nameFilter" [(ngModel)]="nameFilter" class="field-height-36">
                                    <option [value]="null" disabled selected>{{'TEXT.SELECT_OPTION'| translate}}
                                    </option>
                                    <option *ngFor="let who of whoArr" [value]="who.value">{{who.title}}</option>
                                </select>
                                <input class="form-control field-height-36" id="nameInput" type="text" name="nameInput" value="" [(ngModel)]="nameInput" maxlength="30">
                            </div>

                            <div class="filter-wrapper" id="nickname" *ngSwitchCase="'nickname'">
                                <label for="nicknameInput">{{ 'TEXT.NICKNAME' | translate }}</label>
                                <input class="form-control field-height-36" maxlength="30" id="nicknameInput" type="text" name="nicknameInput" value="" [(ngModel)]="nicknameInput" maxlength="100" (keypress)="validacionInput($event, 'numerosYLetras')">
                            </div>

                            <div class="filter-wrapper" id="email" *ngSwitchCase="'email'">
                                <label for="emailInput">{{ 'TEXT.EMAIL' | translate }}</label>
                                <input class="form-control field-height-36" id="emailInput" type="text" name="emailInput" value="" [(ngModel)]="emailInput" maxlength="30">
                            </div>

                            <div class="filter-wrapper" id="idTransaction" *ngSwitchCase="'idTransaction'">
                                <label for="idTransactionInput">{{ 'TEXT.ID_TRANSACTION' | translate }}</label>
                                <input class="form-control field-height-36" id="idTransactionInput" type="text" name="idTransactionInput" value="" [(ngModel)]="idTransactionInput" maxlength="30" (keypress)="validacionInput($event, 'numeros')">
                            </div>

                            <div class="dateBox filter-wrapper second-date-wrapper" id="date" *ngSwitchCase="'date'">
                                <label for="dateFilter">{{ 'REPORTS_MESSAGES.DATE'| translate}}</label>
                                <select id="dateFilter" name="dateFilter" (change)="selectDates()" [(ngModel)]="dateFilter" class="field-height-36">

                                    <option value="" disabled>{{ 'REPORTS_MESSAGES.DATE'| translate }}</option>
                                    <option value="dateEqual">{{ 'BUTTON_OPTION_INFO.IS'| translate }}</option>
                                    <option value="dateIsBefore" *ngIf="dateIsBefore.length === 0">{{
                                        'BUTTON_OPTION_INFO.IS_BEFORE'|
                                        translate
                                        }}</option>
                                    <option value="dateIsAfter" *ngIf="dateIsAfter.length === 0">{{
                                        'BUTTON_OPTION_INFO.IS_AFTER'|
                                        translate }}
                                    </option>
                                    <option value="dateBetween">{{ 'BUTTON_OPTION_INFO.IS_BETWEN'| translate }}</option>

                                </select>

                                <input id="dateBeforeInput" class="form-control field-height-36" name="dateBefore" placeholder="YYYY-MM-DD" [(ngModel)]="dateBefore" (ngModelChange)="handleBeforeInBetweenDateChange()" type="text" [maxDate]="maxDateBS" bsValueChange value="" [bsConfig]="datePickerConfig"
                                    bsDatepicker>

                                <div id="dateAfterSection" *ngIf="showDataBetween" class="align-row-y second-date">
                                    and
                                    <input class="form-control field-height-36" id="dateAfterInput" name="dateAfter" type="text" [minDate]="dateBeforeBS" [maxDate]="maxDateBS" value="" [(ngModel)]="dateAfter" placeholder="YYYY-MM-DD" [bsConfig]="datePickerConfig" bsDatepicker [isDisabled]="disabledEditAfterDate">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tagWrapper" *ngIf="collapse">

                    <div class="tagContainer" *ngIf="countryFilter.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('country')">x</p>
                            {{ 'REPORTS_MESSAGES.COUNTRY'| translate}}
                        </div>
                        <div class="tag childTag" *ngFor="let count of countryFilter">
                            <p class="cancel" (click)="deleteFilter('country',count)">x</p>
                            <p>{{count.name}}</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="onlyPayeeCompanyArr.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('seeOnly')">x</p>
                            <p>{{ 'TEXT.SEE_ONLY'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let obj of onlyPayeeCompanyArr">
                            <p>{{obj.text.value | json}} </p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="nicknameArr.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('nickname')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.NICKNAME'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let name of nicknameArr">
                            <p class="cancel" (click)="deleteFilter('nickname',name)">x</p>
                            <p>{{name}}</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="nameAdmin.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('admin')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.ADMIN'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let name of nameAdmin">
                            <p class="cancel" (click)="deleteFilter('admin',name)">x</p>
                            <p>{{name}} </p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="nameMerchant.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('merchant')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.MERCHANTS_CPMPANY_NAME'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let name of nameMerchant">
                            <p class="cancel" (click)="deleteFilter('merchant',name)">x</p>
                            <p>{{name}} </p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="namePayeeCompany.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('payeeCompany')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.PAYEES_COMPANY_NAME'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let name of namePayeeCompany">
                            <p class="cancel" (click)="deleteFilter('payeeCompany',name)">x</p>
                            <p>{{name}} </p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="namePayee.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('payee')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.PAYEES_NAME'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let name of namePayee">
                            <p class="cancel" (click)="deleteFilter('payee',name)">x</p>
                            <p>{{name}} </p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="nameStatus.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('status')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.STATUS'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let name of nameStatus">
                            <p class="cancel" (click)="deleteFilter('status',name)">x</p>
                            <p>{{ statuses[name]}}</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="dateEqual.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('dateEqual')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.DATE_EQUAL'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let date of dateEqual">
                            <p class="cancel" (click)="deleteFilter('dateEqual',date)">x</p>
                            <p>{{date}}</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="dateIsBefore.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('dateIsBefore')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.DATE_BEFORE'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let date of dateIsBefore">
                            <p class="cancel" (click)="deleteFilter('dateIsBefore',date)"></p>
                            <p>{{date}}</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="dateIsAfter.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('dateIsAfter')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.DATE_AFTER'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let date of dateIsAfter">
                            <p class="cancel" (click)="deleteFilter('dateIsAfter',date)">x</p>
                            <p>{{date}}</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="dateBetween.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('dateBetween')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.DATE_BETWEEN'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let date of dateBetween">
                            <p class="cancel" (click)="deleteFilter('dateBetween',date)">x</p>
                            <p>[{{date}}]</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="emailArr.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('email')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.EMAIL'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let email of emailArr">
                            <p class="cancel" (click)="deleteFilter('email',email)">x</p>
                            <p>{{email}}</p>
                        </div>
                    </div>

                    <div class="tagContainer" *ngIf="idTransaction.length > 0">
                        <div class="tag fatherTag">
                            <p class="cancel" (click)="resetFilter('transactionID')">x</p>
                            <p>{{ 'REPORTS_MESSAGES.ID_TRANSACTION'| translate}}</p>
                        </div>
                        <div class="tag childTag" *ngFor="let transaction of idTransaction">
                            <p class="cancel" (click)="deleteFilter('transactionID',transaction)">x</p>
                            <p>{{transaction}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END FILTROS -->

    <!-- COMIENZO TABLA -->
    <div [ngClass]="{'example-container_': collapse, 'example-container': !collapse }" class="mat-elevation-z8 example-container_">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isErrorOccurred">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isErrorOccurred">{{errorMessage}}</div>
        </div>


        <div class="example-table-container" [ngClass]="(changeClass==1)?'bg-pm':''">
            <mat-table [dataSource]="data" matSort matSortDisableClear multiTemplateDataRows matSortActive="lastUpdated" matSortDirection="desc" class="mat-elevation-z8">

                <ng-container matColumnDef="expandedDetail">
                    <mat-cell *matCellDef="let row" [attr.colspan]="columns.length">
                        <div class="example-element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="detail-card">
                                <div class="detail-container">
                                    <div>
                                        <div class="row detail-row">
                                            <div class="col-3">{{detailNames.dateCreated}}: <span class="font-weight-bold">{{row?.dateCreated
                                                    | date:'MMM d, y, h:mm a'}}</span></div>
                                            <div class="col-9">{{detailNames.statusReason}}: <span class="font-weight-bold">{{row?.statusReason}}</span></div>
                                        </div>
                                        <div class="row detail-row" *ngIf="role===roles.ADMIN  || role===roles.SUPER_ADMIN">
                                            <div class="col-3">{{detailNames.bankCommission}}: <span class="font-weight-bold">{{row?.amountBeforeCommission ?
                                                    defaultCurrency : ''}}
                                                    {{(row?.amountBeforeCommission * row?.bankCommission) |
                                                    currency}}</span>
                                            </div>
                                            <div class="col-3">{{detailNames.fxCommission}}: <span class="font-weight-bold">{{row?.amountBeforeCommission ?
                                                    defaultCurrency : ''}}
                                                    {{(row?.amountBeforeCommission * row?.fxCommission) |
                                                    currency}}</span>
                                            </div>
                                            <div class="col-3">{{detailNames.rechargeCost}}: <span class="font-weight-bold">{{row?.rechargeCost ? defaultCurrency :
                                                    ''}} {{row?.rechargeCost |
                                                    currency}}</span>
                                            </div>
                                            <div class="col-3">{{detailNames.exchangeRate}}: <span *ngIf="row?.exchangeRate">{{defaultCurrency}} 1.00 ~=
                                                    [{{row?.currency?.code}}
                                                    ] {{row?.exchangeRate | currency }}</span></div>
                                        </div>
                                        <div class="row detail-row">
                                            <div class="col-6">
                                                <textarea class="note-textarea" [placeholder]="'REPORTS_MESSAGES.NOTES' | translate" [(ngModel)]="row.notes" (click)="updateNote(row)" readonly [disabled]="userSessionService.loadUserStatus() === 'REJECTED'"></textarea>
                                            </div>
                                            <div class="col-6" *ngIf="role===roles.ADMIN  || role===roles.SUPER_ADMIN">
                                                <div class="detail-row">{{detailNames.amountAfterCommission}}:<span class="font-weight-bold">{{row?.amountAfterCommission ?
                                                        defaultCurrency : ''}}
                                                        {{row?.amountAfterCommission | currency}}</span>
                                                </div>
                                                <div class="detail-row">{{detailNames.bankReference}}: <span class="font-weight-bold">{{row?.bankReference}}</span></div>
                                                <div class="detail-row">{{detailNames.description}}: <span class="font-weight-bold">{{row?.description}}</span></div>
                                            </div>
                                            <div class="col-6" *ngIf="role===roles.PAYEE  || role===roles.MERCHANT">
                                                <div class="detail-row">{{detailNames.description}}: <span class="font-weight-bold">{{row?.description}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="historical-table" *ngIf="statuses[row?.status]!=statuses.CREATED && (role===roles.ADMIN || role===roles.SUPER_ADMIN || role===roles.MERCHANT) && row?.transactionStatusChanges">
                                        <mat-table [dataSource]="row?.transactionStatusChanges" matSort matSortDisableClear multiTemplateDataRows class="mat-elevation-z8">
                                            <ng-container matColumnDef="fecha">
                                                <mat-header-cell class="col25" *matHeaderCellDef mat-sort-header> {{'REPORTS_MESSAGES.DATE'| translate}} </mat-header-cell>
                                                <mat-cell class="col25left" *matCellDef="let row" [attr.data-label]="'REPORTS_MESSAGES.DATE'| translate">
                                                    {{row.dateCreated | date:'MMM d, y, h:mm a'}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="usuario">
                                                <mat-header-cell class="col25" *matHeaderCellDef mat-sort-header> {{'TITLES.USERS'| translate}} </mat-header-cell>
                                                <mat-cell class="col25left" *matCellDef="let row" [attr.data-label]="'TITLES.USERS'| translate">
                                                    {{row.user?.fullName}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="estatus">
                                                <mat-header-cell class="col25" *matHeaderCellDef mat-sort-header> {{'REPORTS_MESSAGES.STATUS'| translate}} </mat-header-cell>
                                                <mat-cell class="col25left" *matCellDef="let row" [attr.data-label]="'REPORTS_MESSAGES.STATUS'| translate" [style.color]="statusesColor[row?.status]">
                                                    {{statuses[row.status]}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="razonestatus">
                                                <mat-header-cell class="col25" *matHeaderCellDef mat-sort-header> {{'BUTTON_OPTION_INFO.STATUS_REASON'| translate}} </mat-header-cell>
                                                <mat-cell class="col25left" *matCellDef="let row" [attr.data-label]="'BUTTON_OPTION_INFO.STATUS_REASON'| translate">
                                                    {{row?.reason ? row?.reason : 'No status reason'}}
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="columnsHistory"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: columnsHistory;">
                                            </mat-row>
                                        </mat-table>

                                        <!-- <div class="row">
                                            <div class="col-2 text-center font-weight-bold mediaTitle">{{ 'REPORTS_MESSAGES.DATE'| translate}}
                                            </div>
                                            <div class="col-2 text-center font-weight-bold mediaTitle">{{ 'TITLES.USERS'| translate}}
                                            </div>
                                            <div class="col-1 text-center font-weight-bold mediaTitle">{{ 'REPORTS_MESSAGES.STATUS'| translate}}</div>
                                            <div class="col-7 text-paddingLeft font-weight-bold mediaTitle">{{ 'BUTTON_OPTION_INFO.STATUS_REASON'| translate}}
                                            </div>

                                        </div>
                                        <div>
                                            <div class="row" *ngFor="let statusChange of row?.transactionStatusChanges">
                                                <div class="col-2 text-center media">{{statusChange?.dateCreated | date:'MMM d, y, h:mm a'}}</div>
                                                <div class="col-2 text-center media">{{statusChange?.user?.fullName}}</div>
                                                <div class="col-1 text-center media" [style.color]="statusesColor[statusChange?.status]">
                                                    {{statuses[statusChange?.status]}}</div>
                                                <div class="col-7 text-paddingLeft media">{{statusChange?.reason ? statusChange?.reason : 'No status reason'}}
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id" *ngIf="columns.indexOf('id') !== -1">
                    <mat-header-cell class="table-id columna5 center" *matHeaderCellDef mat-sort-header>{{columnNames.id}}</mat-header-cell>
                    <mat-cell class="table-id columna5 center" *matCellDef="let row" [attr.data-label]="columnNames.id">{{row?.id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="admin" *ngIf="columns.indexOf('admin') !== -1">
                    <mat-header-cell class="table-admin center" *matHeaderCellDef>{{columnNames.admin}}</mat-header-cell>
                    <mat-cell class="table-admin center" *matCellDef="let row" [attr.data-label]="columnNames.admin">{{row?.admin?.fullName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="merchant" *ngIf="columns.indexOf('merchant') !== -1">
                    <mat-header-cell class="table-merchant center" *matHeaderCellDef>{{columnNames.merchant}}</mat-header-cell>
                    <mat-cell class="table-merchant center" *matCellDef="let row" [attr.data-label]="columnNames.merchant">{{row?.merchant?.company}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="payee" *ngIf="columns.indexOf('payee') !== -1">
                    <mat-header-cell class="table-payee center" *matHeaderCellDef>{{columnNames.payee}}</mat-header-cell>
                    <mat-cell class="table-payee center" *matCellDef="let row" [attr.data-label]="columnNames.payee">
                        <i-feather class="icon-style" [matTooltip]="row?.payee?.user?.payeeAsCompany ? 'Business Accounts' : 'Payee'" [matTooltipPosition]="positionOptions" [name]="row?.payee?.user?.payeeAsCompany ? 'home' : 'user'">
                        </i-feather>&nbsp; {{ row?.payee?.user?.payeeAsCompany ? (row?.payee?.company ? row?.payee?.company : 'TEXT.PROFILE_NOT_CONFIRMED' | translate) : row?.payee?.fullName}}
                    </mat-cell>
                </ng-container>

                <!-- Nickname Column -->
                <ng-container matColumnDef="nickname" *ngIf="columns.indexOf('nickname') !== -1">
                    <mat-header-cell *matHeaderCellDef class="center">{{columnNames.nickname}}</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="center" [attr.data-label]="columnNames.nickname">
                        {{row?.extendedUserRelation?.nickname}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="commissionPaid" *ngIf="columns.indexOf('commissionPaid') !== -1">
                    <mat-header-cell class="table-country center" *matHeaderCellDef>{{columnNames.commissionPaid}}</mat-header-cell>
                    <mat-cell class="table-country center" *matCellDef="let row" [attr.data-label]="columnNames.commissionPaid">
                        {{row.status === status.REJECTED || row.status === status.CANCELLED || row.status === status.FAILED ? 'N/A' : getReSellerCommissionPaid(row) | currency}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="country" *ngIf="columns.indexOf('country') !== -1">
                    <mat-header-cell class="table-country center" *matHeaderCellDef>{{columnNames.country}}</mat-header-cell>
                    <mat-cell class="table-country center" mat-cell *matCellDef="let row" [attr.data-label]="columnNames.country">{{row?.currency?.country?.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateCreated" *ngIf="columns.indexOf('dateCreated') !== -1">
                    <mat-header-cell class="table-dateCreated center" *matHeaderCellDef mat-sort-header>
                        {{columnNames.dateCreated}}
                    </mat-header-cell>
                    <mat-cell class="table-dateCreated center" mat-cell *matCellDef="let row" [attr.data-label]="columnNames.dateCreated">{{row?.dateCreated | date:'MMM d, y, h:mm a'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lastUpdated" *ngIf="columns.indexOf('lastUpdated') !== -1">
                    <mat-header-cell class="table-lastUpdated center" *matHeaderCellDef mat-sort-header>
                        {{columnNames.lastUpdated}}
                    </mat-header-cell>
                    <mat-cell class="table-lastUpdated center" mat-cell *matCellDef="let row" [attr.data-label]="columnNames.lastUpdated">{{row?.lastUpdated | date:'MMM d, y, h:mm a'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status" *ngIf="columns.indexOf('status') !== -1">
                    <mat-header-cell class="table-status center" *matHeaderCellDef>{{columnNames.status}}</mat-header-cell>
                    <mat-cell class="table-status center" *matCellDef="let row" [attr.data-label]="columnNames.status" [style.color]="statusesColor[row?.status]">
                        {{statuses[row?.status]}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="statusReason" *ngIf="columns.indexOf('statusReason') !== -1">
                    <mat-header-cell class="table-statusReason center" *matHeaderCellDef>{{columnNames.statusReason}}</mat-header-cell>
                    <mat-cell class="table-statusReason center" *matCellDef="let row" [attr.data-label]="columnNames.statusReason">{{row?.statusReason}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="amountBeforeCommission" *ngIf="columns.indexOf('amountBeforeCommission') !== -1">
                    <mat-header-cell class="table-amountBC center" *matHeaderCellDef>{{columnNames.amountBeforeCommission}} [{{userSessionService.useEuroCoin() ? 'EUR' : environment.defaultCurrency}}]
                    </mat-header-cell>
                    <mat-cell class="table-amountBC center" *matCellDef="let row" [attr.data-label]="columnNames.amountBeforeCommission">
                        {{userSessionService.useEuroCoin() ? (row?.amountBeforeCommission | currency: 'EUR') : (row?.amountBeforeCommission | currency)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="bankCommission" *ngIf="columns.indexOf('bankCommission') !== -1">
                    <mat-header-cell class="table-banckCommision center" *matHeaderCellDef>{{columnNames.bankCommission}}
                    </mat-header-cell>
                    <mat-cell class="table-banckCommision center" *matCellDef="let row" [attr.data-label]="columnNames.bankCommission">{{row?.bankCommission | currency }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fxCommission" *ngIf="columns.indexOf('fxCommission') !== -1">
                    <mat-header-cell class="table-fxCommission center" *matHeaderCellDef>{{columnNames.fxCommission}}</mat-header-cell>
                    <mat-cell class="table-fxCommission center" *matCellDef="let row" [attr.data-label]="columnNames.fxCommission">{{row?.fxCommission | currency }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rechargeCost" *ngIf="columns.indexOf('rechargeCost') !== -1">
                    <mat-header-cell class="table-rechargeCost center" *matHeaderCellDef>{{columnNames.rechargeCost}}</mat-header-cell>
                    <mat-cell class="table-rechargeCost center" *matCellDef="let row" [attr.data-label]="columnNames.rechargeCost">{{row?.rechargeCost | currency }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="amountAfterCommission" *ngIf="columns.indexOf('amountAfterCommission') !== -1">
                    <mat-header-cell class="table-amountAC center" *matHeaderCellDef>{{columnNames.amountAfterCommission | currency }}
                    </mat-header-cell>
                    <mat-cell class="table-amountAC center" mat-cell *matCellDef="let row" [attr.data-label]="columnNames.amountAfterCommission">{{row?.amountAfterCommission | currency }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="amountLocalCurrency" *ngIf="columns.indexOf('amountLocalCurrency') !== -1">
                    <mat-header-cell class="table-amountLC center" *matHeaderCellDef>{{columnNames.amountLocalCurrency}}
                    </mat-header-cell>
                    <mat-cell class="table-amountLC center" mat-cell *matCellDef="let row" [attr.data-label]="columnNames.amountLocalCurrency">{{row?.amountLocalCurrency ? '[' + row?.currency?.code + ']' : ''}} {{row?.amountLocalCurrency | currency }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell class="table-action columna15 center" *matHeaderCellDef>{{columnNames.action}}</mat-header-cell>
                    <mat-cell class="table-action columna15 center" mat-cell *matCellDef="let row" [attr.data-label]="columnNames.action">
                        <div class="action-icon-container">

                            <div class="dimension" (click)="openReasonModal(row, 'Accept')" *ngIf="canSeeButtonHandle('accept', row)" [matTooltip]="'REPORTS_MESSAGES.ACCEPT' | translate" [matTooltipPosition]="positionOptions">
                                <i class="action-icon-style green-icon far fa-check-square"></i>
                            </div>

                            <div class="dimension" (click)="openReasonModal(row, 'Cancel')" *ngIf="canSeeButtonHandle('cancel', row)" [matTooltip]="'REPORTS_MESSAGES.CANCEL' | translate" [matTooltipPosition]="positionOptions">
                                <i class="action-icon-style orangered-icon fas fa-ban"></i>
                            </div>

                            <div class="dimension" (click)="openReasonModal(row, 'Reject')" *ngIf="canSeeButtonHandle('reject', row)" [matTooltip]="'REPORTS_MESSAGES.REJECT' | translate" [matTooltipPosition]="positionOptions">
                                <i class="action-icon-style red-icon far fa-window-close"></i>
                            </div>

                            <div class="dimension" (click)="openReasonModal(row, 'Reverse')" *ngIf="canSeeButtonHandle('reverse', row)" [matTooltip]="'REPORTS_MESSAGES.REVERSE' | translate" [matTooltipPosition]="positionOptions">
                                <i class="action-icon-style blue-icon fas fa-retweet"></i>
                            </div>

                            <div class="automatic-payment no-select" *ngIf="seeAutomaticPaymentLegendHandler(row)" [matTooltip]="'REPORTS_MESSAGES.PAYMENTS_MADE_BT_STP_CHANGE_STATUS' | translate" [matTooltipPosition]="positionOptions">
                                <p>{{ 'BUTTON_OPTION_INFO.NEW_PAYMENT'| translate}}</p>
                            </div>

                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="expandAction">
                    <mat-header-cell *matHeaderCellDef class="columna4 center">{{columnNames.expandAction}}</mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row" style="padding: 0" [attr.data-label]="columnNames.expandAction" class="columna4 center">
                        <i-feather style="cursor: pointer;color: #757575;" *ngIf="expandedElement !== row" name="chevron-down" (click)="expandedElement = (expandedElement === row ? null : row)">
                        </i-feather>
                        <i-feather style="cursor: pointer;color: #757575;" *ngIf="expandedElement === row" name="chevron-up" (click)="expandedElement = (expandedElement === row ? null : row)">
                        </i-feather>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns" class="example-element-row" [class.example-expanded-row]="expandedElement === row">
                </mat-row>
                <mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
            </mat-table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
    </div>

    <footer class="footer" [ngClass]="{'footerCollapse' : menuCollapse.value}">
        <div class="btn-container" [ngClass]="(changeClass==1)?'bg-pm':''">
            <button *ngIf="userSessionService.isMerchant() && !userSessionService.isDisabled()" (click)="handleClickNewPaymentButton()" class="btn2 btn3" [ngClass]="{'disabled-button': accountBalance.value < 100}">
                <i class="icofont-plus"></i>
                {{ 'BUTTON_OPTION_INFO.NEW_PAYMENT'| translate}}
            </button>

            <button class="btn2 btn3" *ngIf="userSessionService.isSuperOrAdmin() && !userSessionService.isDisabled()" (click)="handleClickStatusChangeButton() ">
                <i-feather class="icon" name="refresh-ccw"></i-feather>
                <p>{{ 'BUTTON_OPTION_INFO.CHANGE_STATUS_PAYMENT'| translate}}</p>
            </button>

            <button class="btn2 btn3" *ngIf="userSessionService.isSuperOrAdmin() && !userSessionService.isDisabled()" (click)="handleClickProcessedFileButton()">
                <i-feather class="icon" name="file"></i-feather>
                <p>{{ 'BUTTON_OPTION_INFO.STATUS_PAYMENT'| translate}}</p>

            </button>

            <button class="btn2 btn3" *ngIf="userSessionService.isSuperOrAdmin() && !userSessionService.isDisabled()" (click)="handleClickProcessPaymentButton()">
                <i-feather class="icon" name="file-plus"></i-feather>
                <p>{{ 'BUTTON_OPTION_INFO.PROCESS_PAYMENT'| translate}}</p>

            </button>
        </div>
    </footer>
</div>