<div class="msg-container">
    <p *ngIf="role === roles.PAYEE" >Su usuario ha sido creado, ingrese a través de la web para configurar su perfil.</p>
    <p *ngIf="role !== roles.PAYEE">Your user has been created, please enter in to the web site to configure your profile.</p>
</div>