<app-message-notification #MessagesComp></app-message-notification>
<div class="bodyContent">
  <div class="fullWidth tableShadow">

    <mat-tab-group animationDuration="0ms" style="height: 100%; padding: 20px"
                   [selectedIndex]="selectedIndex.value">
      <mat-tab label="Change Commission">
        <ng-template mat-tab-label>
          {{ 'TITLES.CHANCE_COMISSION' | translate}}
        </ng-template>

        <div class="headerBank">
          <div class="leftHeaderContainer">
            <form [formGroup]="countryForm">
              <label for="countrySearch">{{ 'REPORTS_MESSAGES.CHOOSE_COUNTRY' | translate}}</label>
              <input type="text"
                     class="countryInput"
                     id="countrySearch"
                     formControlName="country"
                     [matAutocomplete]="country"
                     [placeholder]="'PLACEHOLDER.START_TYPING_COUNTRY_NAME'|translate">
              <mat-autocomplete #country="matAutocomplete" [displayWith]="displayCountry"
                                (optionSelected)="onChangeCountry()">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                  {{country.name}}
                </mat-option>
              </mat-autocomplete>
            </form>
            <div>
              <select *ngIf="countrySelected && seeBank" name="bank" id="banks" (change)="selectBank($event)">
                <option selected disabled>{{ 'REPORTS_MESSAGES.SELECT_BANK' | translate}}</option>
                <option *ngFor="let bank of banks" value="{{bank.id}}">{{bank.name}}</option>
              </select>

              <select *ngIf="bankId" name="bankAccount" id="bankAccount" (change)="selectBankAccount($event)">
                <option selected disabled>{{ 'REPORTS_MESSAGES.SELECT_ACCOUNT' | translate}}</option>
                <option *ngFor="let bankAccount of bankAccounts" value="{{bankAccount.id}}"> {{bankAccount.accountNumber}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div  [ngClass]="(changeClass==1)?'bg-pm':''">
          <div *ngIf="bankAccountId">
            <mat-card class="commissionCard">
              <mat-card-header>
                <mat-card-title style="font-size: 30px">{{bankAccount.bank.name}}</mat-card-title>
                <mat-card-subtitle style="font-size: 17px">{{bankAccount.accountNumber}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="elementCommission">
                  <div class="col-8">
                    <p>{{ 'DATA_TABLE.BANK_COMMISSION' | translate}} [%]</p>
                  </div>
                  <div class="col-4" *ngIf="!viewEditBankCommission">
                    <p><strong>{{bankCommission}}</strong></p>
                  </div>
                  <div class="col-4" *ngIf="viewEditBankCommission">
            <span class="input-wrapper">
              <input type="number"
                     min="0" max="100"
                     step=".01"
                     class="commissionInput"
                     [ngClass]="{'stepErrorPercent': errorInput('BANK_COMMISSION')}"
                     [(ngModel)]="bankCommission">
              </span>
                  </div>
                </div>
                <mat-error *ngIf="errorInput('BANK_COMMISSION')">Bank commission required and positive</mat-error>
                <div class="elementCommission">
                  <div class="col-8">
                    <p>{{ 'DATA_TABLE.FX_COMMISSION' | translate}} [%]</p>
                  </div>
                  <div class="col-4" *ngIf="!viewEditBankCommission">
                    <p><strong>{{fxCommission}}</strong></p>
                  </div>
                  <div class="col-4" *ngIf="viewEditBankCommission">
            <span class="input-wrapper">
              <input type="number"
                     min="0" max="100"
                     step=".01"
                     class="commissionInput"
                     [ngClass]="{'stepErrorPercent': errorInput('FX_COMMISSION')}"
                     [(ngModel)]="fxCommission">
            </span>
                  </div>
                </div>
                <mat-error *ngIf="errorInput('FX_COMMISSION')">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.FX_COMISSION_REQUIRED_AND_POSITIVE' | translate}}</mat-error>
                <div class="elementCommission">
                  <div class="col-8">
                    <p>{{ 'DATA_TABLE.RECHARGE_COST' | translate}} [USD]</p>
                  </div>
                  <div class="col-4" *ngIf="!viewEditBankCommission">
                    <p><strong>{{rechargeCost}}</strong></p>
                  </div>
                  <div class="col-4" *ngIf="viewEditBankCommission">
            <span class="input-wrapper">
              <input type="number"
                     min="0"
                     step="1"
                     class="commissionInput"
                     [ngClass]="{'stepErrorCurrency': errorInput('RECHARGE_COST')}"
                     [(ngModel)]="rechargeCost">
            </span>
                  </div>
                </div>
                <mat-error *ngIf="errorInput('RECHARGE_COST')">{{ 'ERRORS_WARNINGS_SUCCESS_NOTIFICATION_CARDS.FX_COMMISSION' | translate}}</mat-error>
              </mat-card-content>
              <div class="btn-container margin-top-16 flex-end" [ngClass]="(changeClass==1)?'bg-pm':''">
                <button class="btn2 btn3" *ngIf="!viewEditBankCommission" (click)="handleClickEditBankCommission('edit')">{{ 'BUTTON_OPTION_INFO.EDIT' | translate}}</button>
                <button class="btn2 btn3" *ngIf="viewEditBankCommission" (click)="handleClickEditBankCommission('save')">{{ 'BUTTON_OPTION_INFO.SAVE' | translate}}</button>
                <button class="btn2 btn3" *ngIf="viewEditBankCommission" (click)="handleClickEditBankCommission('cancel')">{{ 'BUTTON_OPTION_INFO.CANCEL' | translate}}</button>
              </div>
            </mat-card>

          </div>

        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>





