.header {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 16px 0;
}

.headerBank {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 16px 0;
}

.leftHeaderContainer {
  display: flex;
  align-items: center;
}

.countryInput {
  width: 210px;
  height: 36px;
  border: solid 1px rgb(169, 169, 169);
  margin: 0 16px;
  padding: 0 5px;
}

select {
  box-sizing: border-box;
  height: 36px;
  padding-left: 8px;
  margin-right: 16px;
  width: auto;
}

.commissionCard {
  max-width: 30%;
  margin-top: 30px;
}

.flexEnd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.elementCommission {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(216, 216, 216);
  border-top: 2px solid rgb(216, 216, 216);
  background-color: #0c3a47;

  p {
    margin: 10px 0;
    color: #cf955e;
    font-size: 15px;
  }
}

.commissionInput {
  text-align: end;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 10px;
}

.input-wrapper {
  border: solid 1px #5e5d5d !important;
  background-color: white;
  display: flex;

  input {
    border: none;
  }
}

.stepErrorCurrency {
  border-bottom: 2px solid #E57373 !important;
  border-top: 2px solid #E57373 !important;
  border-right: 2px solid #E57373 !important;
}

.stepErrorPercent {
  border-bottom: 2px solid #E57373 !important;
  border-top: 2px solid #E57373 !important;
  border-left: 2px solid #E57373 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 5px;
}

.openModalBtn{
  font-family: roboto, sans-serif;
  border-radius: 20px;
  border: none;
  background-color: #0c3a47;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px;
  margin-left: 8px;
  transition: all 300ms ease-in-out;

  &:hover{
    background-color: rgb(8, 42, 51);
  }

  &:focus {
    outline:none;
  }
}

.bg-pm {
  .openModalBtn{
    background-color: #4782d3!important;
    color: #ffffff;
  }
  .btn2 {
    background-color: #4782d3 !important;
    color: #ffffff;
    border: 1px solid #4782d3;
  }
  .btn3 {
    background-color: #4782d3;
    color: #fff;
  }
  .elementCommission{
    background-color: #777!important;
    border: 1px solid #777;
    p {
      color: #777
    }
  }
}

.bodyContent {
  height: calc(100vh - 180px);
  width: 100%;
  display: flex;
}

.tableShadow {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
